*{
	box-sizing: border-box;
}
input[type=number] {-moz-appearance: textfield;}

.page-header .skip-links .account-cart-wrapper .customer-menu,
.page-header .skip-links .account-cart-wrapper .store-language-container {
	display: inline-block;
	padding: 5px 10px;
	cursor: pointer;
}
.page-header .skip-links .account-cart-wrapper .logged-in {
	transition: all 0.7s ease;
}
.page-header .skip-links .account-cart-wrapper .logged-in ul {

	height: 0;
	overflow: hidden;
	transition: all 0.5s ease;
}
::-webkit-inner-spin-button { -webkit-appearance: none;}
::-webkit-outer-spin-button { -webkit-appearance: none;}
.customer-account .my-account #form-validate .fieldset .fields .input-box  #telephone {
	-moz-appearance: textfield;
}
.page-header .skip-links .account-cart-wrapper .logged-in ul.active{
	height: 190px;
}
.page-header .skip-links .account-cart-wrapper .logged-in.active{
	background-color: #fff;
	box-shadow: 1px 1px 5px #000;
}
.page-header .skip-links .account-cart-wrapper .customer-menu {
	font-family: 'proxima nova regular';
	font-size: 14px;
	line-height: 20px;
	color: #595959;
}
.page-header .skip-links .account-cart-wrapper .logged-in a {
	font-weight: bold;
}
.customer-account .main-container .sidebar .block-title {
	padding: 0 20px;
	background-color: #f2f2f2;
}
.customer-account .main-container .sidebar .block-title span {
	font-family: 'proxima nova semibold';
	font-size: 18px;
	line-height: 52px;
	color: #3c3c3c;
	display: block;
	font-weight: bold;
}
.customer-account .main-container .sidebar .block-content {
	padding: 0 0 0 30px;
}
.customer-account .main-container .sidebar .block-content ul li a {
	font-family: 'proxima nova regular';
	font-size: 18px;
	line-height: 48px;
	color: #3c3c3c;
	text-transform: capitalize;
}
.customer-account .main-container .sidebar .block-content  ul li.current a strong {
	color: #159867;
}
.customer-account .main-container .sidebar .block-content  ul li a {
	text-decoration: none;
}
.customer-account .main-container .sidebar .block-content  ul li{
	position: relative;
}
.customer-account .main-container .sidebar .block-content  ul li:before{
	display: block;
	background: url('../images/list-icon.png') top left no-repeat;
	width: 11px;
	height: 11px;
	background-size: cover;
	position: absolute;
	top: 17px;
	left: -20px;
	content: "";
}
.customer-account .main-container .sidebar {
	padding-right: 0px;
}
.customer-account .main-container .sidebar .block-content  ul li:hover a {
	color: #159867;
}
 .breadcrumbs li a,
.breadcrumbs li strong{
	font-family: 'proxima nova regular';
	font-size: 14px;
	line-height: 20px;
	color: #8c8c8c;
}
.customer-account .main-container .col-main {
	padding-left: 50px;
}
.customer-account .main-container .col-main .my-account .page-title h1,
.customer-account .main-container .col-main .my-account .scaffold-form .fieldset h2 ,
.wishlist-index-share .col-main .my-account #form-validate .fieldset .legend,
.customer-account .main-container .col-main .page-title  h1,
.catalogsearch-result-index .main-container .col-main .page-title  h1,
.catalogsearch-result-index .main-container .sidebar .block-title  span {
	font-family: 'proxima nova regular' !important;
	font-size: 18px;
	line-height: 30px;
	color: #333333;
	font-weight: bold;
	margin-bottom: 20px;
}
.wishlist-index-index  .col-main #tabsandcontent #wishlist-view-form thead tr th {
	font-family: 'proxima nova semibold';
	font-size: 16px;
	line-height: 30px;
	color: #414141;
}
.wishlist-index-index  .col-main #tabsandcontent #wishlist-view-form tbody tr td strong {
	display: block;
	margin: 10px 0px;
	font-family: 'proxima nova semibold';
	font-size: 16px;
	line-height: 30px;
	color: #414141;
}
.wishlist-index-index  .col-main #tabsandcontent #wishlist-view-form tbody tr td p strong {
	font-family: 'proxima nova semibold';
	font-size: 16px;
	line-height: 30px;
	color: #414141;
}
.customer-account .page-title h1,
.catalog-category-view  .page-title h1{
	display: inline-block;
	width: auto;
	padding-bottom: 0px;
	border-bottom: 4px solid #159867 !important;
}
.customer-account .my-account .my-wishlist .page-title {
	text-align: left;
}
.customer-account .main-container .col-main .my-account .scaffold-form .fieldset .form-list  {
	font-family: 'proxima nova regular' !important;
	font-size: 18px;
	line-height: 30px;
	color: #333333;	
}
.customer-account .main-container .col-main .my-account .scaffold-form .fieldset .form-list label,
.wishlist-index-share .col-main .my-account #form-validate .fieldset ul li label {
	font-family: 'proxima nova semibold' !important;
}
.wishlist-index-share .col-main .my-account #form-validate .buttons-set p.required {
	display: none;
}
.customer-account .main-container .col-main .my-account .scaffold-form .fieldset .form-list .customer-dob label {
	width: 100%;
	text-align: center;
}
.customer-account .main-container .col-main .my-account .scaffold-form .fieldset .form-list .customer-dob .dob-month {
	width: 65px;
}
.customer-account .main-container .col-main .my-account .scaffold-form .fieldset .form-list .customer-dob .dob-day{
	width: 45px;
}
.customer-account .main-container .col-main .my-account .scaffold-form .fieldset .form-list .customer-dob .dob-year{
	width: 50px;
}
.customer-account .main-container .col-main .my-account .scaffold-form .fieldset .form-list .control input.checkbox{
	margin-top: 15px ;
}
.customer-account .main-container .col-main .my-account .scaffold-form .buttons-set .button span {
	font-family: 'proxima nova semibold';
	font-size:  18px;
	line-height: 36px;
	color: #fff;
}
.buttons-set  .back-link a {
	font-family: 'proxima nova regular';
	font-size:  14px;
	line-height: 14px;
}
.customer-account .my-account .my-wishlist #wishlist-view-form .clean-table thead tr {
	background-color: #f2f2f2;
}
.customer-account .my-account .my-wishlist #wishlist-view-form .clean-table thead tr th {
	color: #3c3c3c;
	font-size: 18px;
	line-height: 50px;
	font-family: 'proxima nova semibold';
}
.customer-account .my-account .my-wishlist #wishlist-view-form .clean-table tbody td .product-name a {
	font-family: 'proxima nova semibold';
	font-size:  16px;
	line-height: 30px;
	color: #414141;
}
.customer-account .my-account .my-wishlist #wishlist-view-form .clean-table tbody td .regular-price .price{
	font-family: 'proxima nova semibold';
	font-size:  16px;
	line-height: 36px;
	color: #159867;
}
.customer-account .my-account .my-wishlist #wishlist-view-form .clean-table tbody td .cart-cell .btn-cart {
	position: relative;
}
.customer-account .my-account .my-wishlist #wishlist-view-form .clean-table tbody td .cart-cell .btn-cart:before{
	content: '';
	display: block;
	position: absolute;
	top: 10px;
	left: 20px;
	background: url('../images/addToCart-icon.png') top left no-repeat;
	width: 26px;
	height: 22px;
	background-size: cover;
}
.customer-account .my-account .my-wishlist #wishlist-view-form .clean-table tbody td .cart-cell .btn-cart span{
	padding-left: 10px;
}
.customer-account .my-account .my-wishlist #wishlist-view-form .clean-table tbody td.customer-wishlist-item-cart {
	width: 200px;
}
.customer-account .my-account .my-wishlist #wishlist-view-form .clean-table tbody td {
	vertical-align: middle;
}
.customer-account .my-account .my-wishlist #wishlist-view-form .clean-table tbody td.customer-wishlist-item-info textarea {
	float: left;
}
.customer-account .my-account .my-wishlist #wishlist-view-form .clean-table tbody td.customer-wishlist-item-info .item-manage{
	float: left;
	margin: 0 0 0 5px;
	padding-top: 0px;
}
.customer-account .my-account .my-wishlist #wishlist-view-form .clean-table tbody td.customer-wishlist-item-info .item-manage button{
	padding: 2px 5px;
}
.customer-account .my-account .my-wishlist #wishlist-view-form .buttons-set .btn-update {
	line-height: 27px;
}
.sales-order-history .col-main .data-table thead tr th,
.sales-order-cancellation .col-main .data-table thead tr th {
	width: 16%;
	font-family: 'proxima nova semibold';
}
.sales-order-history .col-main .my-account .div-search .input-search,
.sales-order-history .col-main .my-account .div-search .btn-search{
	display: inline-block;
}
.sales-order-history  .my-account .div-search .btn-search {
	width: 30px;
	height: 30px;
	vertical-align: top;
	background-color: #159867;
}
.sales-order-history  .my-account .div-search .btn-search a i {
	position: relative;
}
.sales-order-history  .my-account .div-search .btn-search a i:before {
	color: #FFF;
	position: absolute;
	top: -8px;
	left: 7px;
	display: block;
	font-size: 18px;
}
.sales-order-history .col-main .data-table,
.sales-order-cancellation .col-main .data-table{
	border: 1px solid silver;
}
.customer-message-inbox .col-main .my-account .message-action{
	margin: 35px 5px;
}
 
.sales-order-view .col-main .my-account .order-info {
	font-family: 'proxima nova semibold';
	font-size: 18px;
	line-height: 50px;
	background-color: #f4f4f4;
	padding: 0 0 0 20px;
}
.sales-order-view .col-main .my-account > p {
	font-family: 'proxima nova semibold';
	line-height: 18px;
	line-height: 50px;
}
.sales-order-view .col-main .my-account .order-info-box {
	padding-left: 20px;
}
.sales-order-view .col-main .my-account .order-info-box .col-1.box:before{
	display: table;
	content: '';
}
.sales-order-view .col-main .my-account .order-info-box .col-1 .box:after{
	display: table;
	content: '';
	clear: both;
}
.sales-order-view .col-main .my-account .order-details .data-table  .first  {
	font-family: 'proxima nova semibold';
}
.sales-order-view .col-main .my-account .order-details .data-table  tbody .border .item-options {
	margin-left: 0px;
}
.checkout-cart-index .display-single-price #shopping-cart-table tbody tr .product-cart-info .product-name a:hover {
	color: #159867;
}
.review-customer-index #my-reviews-table tbody .first td {
    font-family: 'proxima nova semibold';
    background: #f4f4f4;
    text-align: center;
}
.review-customer-index #my-reviews-table tbody tr.first td:first-child {
	border-right: 1px solid silver;
}
.review-customer-index #my-reviews-table tbody tr td {
	border: 1px solid silver;
	vertical-align: middle;
	font-family: 'proxima nova regular';
}

.count-container .amount strong{
	font-family: 'proxima nova regular';
}
.review-customer-index #my-reviews-table tbody tr td h2 a:hover{
	color: #159867;
}
.review-customer-index #my-reviews-table tbody tr td:first-child {
	border-right: 1px solid transparent;
}
.customer-address-index .col-main .my-account .title-buttons {
	text-align: left;
	position: static;
}
.customer-address-index .col-main .my-account .title-buttons button {
	padding: 0px;
	bottom: 70px;
	top: inherit;
	left: 0;
	right: inherit;
}
.customer-address-index .col-main .my-account .title-buttons button > span{
	position: relative;
	background: #159867;
	color: #fff;
	display: block;
	padding:0px 20px 0 40px;
	transition: all 0.3s ease;
}
.customer-address-index .col-main .my-account  {
	position: relative;
}
.customer-address-index .col-main .my-account .title-buttons button >span:hover {
	background: #128258;
}
/*.customer-address-index .col-main .my-account .title-buttons button span:hover:before {
	background: url('../images/add-icon.png') top left no-repeat;
}*/
.customer-address-index .col-main .my-account .title-buttons button >span:before{
	content: "";
	display: block;
	width: 20px;
	height: 19px;
	background-size: cover;
	background: url('../images/add-icon-2.png') top left no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	left: 10px;
}
.customer-address-index .col-main .my-account .addresses-list ol li:last-child {
	margin-bottom: 70px;
}
.customer-address-index .col-main .my-account .addresses-list h2 {
	 font-family: 'proxima nova semibold' !important;
	color: #252525;
	font-size: 18px;
	line-height: 36px;
}
.customer-address-index .col-main .my-account .addresses-list ol li address {
	font-size: 16px;
	line-height: 30px;
	font-family: 'proxima nova regular';
	color: #111111;
	padding-left: 20px;
}
.customer-address-index .col-main .my-account .addresses-list ol li address label{
	font-weight: bold;
	color: #000;
	font-size: 16px;
}
.customer-account .sidebar #reorder-validate-detail .block-content .actions .btn-cart {
	background: #159867;
	color: #fff;
}
.customer-account .my-account .dashboard .box-content p ,
.customer-account .my-account .dashboard .box-content address {
	font-size: 14px;
	line-height: 30px;
	font-family: 'proxima nova regular';
	color: #111111;
	font-style: normal;
}
.customer-account .sidebar #reorder-validate-detail .block-content .actions .btn-cart:hover{
	background: #128258;	
}
.newsletter-manage-index  .my-account .page-title h1 {
	margin-bottom: 0px;
}
.newsletter-manage-index  .my-account form .fieldset{
	margin-top: 0px;
}
.newsletter-manage-index  .my-account form .fieldset .form-list li:last-child label {
    padding: 6px 10px 6px 15px;
}
.newsletter-manage-index  .my-account form .fieldset .form-list label {
	font-family: 'proxima nova semibold';
    font-size: 16px;
    line-height: 36px;
    color: #3c3c3c;
    font-weight: bold;
}
.newsletter-manage-index  .my-account form .fieldset .form-list label em {
	color: red;
}
.newsletter-manage-index  .my-account form .buttons-set button{
	float: left;
}
 .pager .pages ol li a {
	border-radius: 0px;
	padding: 0px;
}
 .pager .pages ol li{
	margin: 0 2px;
}

 .pager .pages ol li.current {
	background-color: #159867;
}
 .pager .pages ol li.current a {
	color: #fff;
}
 .pager .count-container .limiter select {
 	height: 30px;
 }
.blog-index-list .sidebar .block-content h5,
.blog-post-view .sidebar .block-content h5,
.blog-cat-view .sidebar .block-content h5 {
    font-family: 'proxima nova semibold';
    font-size: 18px;
    line-height: 52px;
    color: #3c3c3c;
    font-weight: 700;
    background-color: #f2f2f2;
    padding: 0 20px;
    border: 1px solid #e1e1e1;
    margin-bottom: 0px;
}
.blog-index-list .sidebar .block-content div ul,
.blog-post-view .sidebar .block-content div ul,
.blog-cat-view .sidebar .block-content div ul {
	padding: 0 20px 0 10px;
    border: 1px solid #e1e1e1;

}
.blog-index-list .sidebar .block-content .menu-categories ul li a:before,
.blog-post-view .sidebar .block-content .menu-categories ul li a:before,
.blog-cat-view .sidebar .block-content .menu-categories ul li a:before{
	content: "\f054";
	font-family: "FontAwesome";
	font-size: 16px;
	line-height: 36px;
	color: #3c3c3c;
	margin-right: 10px;
	transition: all 0.3s ease;
}
.blog-index-list .sidebar,
.blog-post-view .sidebar,
.blog-cat-view .sidebar {
	padding: 0px;
}
.blog-index-list .sidebar .block-content .menu-recent ul li,
.blog-post-view .sidebar .block-content .menu-recent ul li,
.blog-cat-view .sidebar .block-content .menu-recent ul li {
	 border-bottom: 1px solid #e1e1e1 !important;
	 padding: 20px 0 10px 0;
}
.blog-index-list .sidebar .block-content .menu-recent ul li a.thumbnail,
.blog-post-view .sidebar .block-content .menu-recent ul li a.thumbnail,
.blog-cat-view  .sidebar .block-content .menu-recent ul li a.thumbnail {
	width: 25%;
	display: inline-block;
	 border: 1px solid #e1e1e1 !important;
	 border-radius: 0px !important;
}
.blog-index-list .sidebar .block-content .menu-recent ul li a:last-child,
.blog-post-view .sidebar .block-content .menu-recent ul li a:last-child,
.blog-cat-view  .sidebar .block-content .menu-recent ul li a:last-child {
	width: 70%;
	display: inline-block;
	vertical-align: top;
}

.blog-index-list .sidebar .block-content div ul li .thumbnail,
.blog-post-view  .sidebar .block-content div ul li .thumbnail,
.blog-cat-view  .sidebar .block-content div ul li .thumbnail {
	border: none;
	margin-bottom: 0px;
}
.blog-index-list .sidebar .block-content .menu-categories,
.blog-post-view .sidebar .block-content .menu-categories,
.blog-cat-view  .sidebar .block-content .menu-categories,
.blog-index-list  .sidebar .block-content .menu-recent,
.blog-post-view  .sidebar .block-content .menu-recent,
.blog-cat-view   .sidebar .block-content .menu-recent{
	padding: 0px;
	margin: 15px  0px;
}
.blog-index-list .sidebar .block-content div ul li a,
.blog-post-view  .sidebar .block-content div ul li a,
.blog-cat-view .sidebar .block-content div ul li a,
.blog-index-list .sidebar .block-content div ul li a,
.blog-post-view  .sidebar .block-content div ul li a,
.blog-cat-view   .sidebar .block-content div ul li a {
	font-family: 'proxima nova regular';
	font-size: 16px;
	line-height: 24px;
	color: #3c3c3c;
	transition: all 0.3s ease;

}
.blog-index-list .sidebar .block-content div ul li a:hover,
.blog-post-view  .sidebar .block-content div ul li a:hover,
.blog-cat-view  .sidebar .block-content div ul li a:hover,
.blog-index-list .sidebar .block-content div ul li a:hover:before,
.blog-post-view .sidebar .block-content div ul li a:hover:before,
.blog-cat-view  .sidebar .block-content div ul li a:hover:before{
	text-decoration:  none;
	color: #128258;
}
.blog-index-list .sidebar .block-title,
.blog-post-view .sidebar .block-title,
.blog-cat-view .sidebar .block-title {
	display: none;
}
.blog-index-list .col-main .postWrapper .post-thumbnail,
.blog-post-view .col-main .postWrapper .post-thumbnail,
.blog-cat-view .col-main .postWrapper .post-thumbnail{
	padding: 20px;
}
.col-main .postWrapper .post-thumbnail a img,
.col-main .postWrapper .postContent p img {
	max-width: 100% !important;
}
.col-main .postWrapper .postTitle .post-in-wrap a:hover {
	color: #159867 !important;
}
.blog-index-list .col-main h2,
.blog-post-view .col-main h2,
.blog-cat-view .col-main h2 {
	font-size: 30px;
	line-height: 52px;
	color: #3c3c3c;
	 font-family: 'proxima nova semibold';
}
.blog-index-list .col-main .toolbar .pager,
.blog-post-view .col-main .toolbar .pager,
.blog-cat-view .col-main .toolbar .pager {
	margin: 0px;
}
.blog-index-list .col-main .postWrapper .postTitle h2,
.blog-post-view .col-main .postWrapper .postTitle h2,
.blog-cat-view .col-main .postWrapper .postTitle h2 {
	border-bottom:  1px solid #e1e1e1;
}
.blog-index-list .col-main .postWrapper .postTitle h2 a,
.blog-post-view .col-main .postWrapper .postTitle h2 a,
.blog-cat-view .col-main .postWrapper .postTitle h2 a{
	 font-family: 'proxima nova semibold';
	 font-size: 30px;
	 line-height: 30px;
	 color: #3c3c3c;
}
.postWrapper .postTitle h2 a:hover{
	color: #128258 !important;
}
.blog-index-list .col-main,
.blog-post-view .col-main,
.blog-cat-view  .col-main {
	padding: 0 0 0 50px;
}
.blog-index-list .col-main .postWrapper .postTitle h2 a:hover,
.blog-post-view .col-main .postWrapper .postTitle h2 a:hover,
.blog-cat-view .col-main .postWrapper .postTitle h2 a:hover{
	text-decoration: none;
}
.blog-index-list .col-main .postWrapper .postTitle .post-in-wrap a,
.blog-post-view .col-main .postWrapper .postTitle .post-in-wrap a,
.blog-cat-view  .col-main .postWrapper .postTitle .post-in-wrap a {
	font-family: 'proxima nova regular';
	color: #3c3c3c;
	line-height: 36px;
	font-size: 14px;
}
.blog-index-list .col-main .postWrapper .postTitle .post-in-wrap,
.blog-post-view .col-main .postWrapper .postTitle .post-in-wrap,
.blog-cat-view .col-main .postWrapper .postTitle .post-in-wrap {
	display: inline-block;
	margin-right: 30px;
} 
.blog-index-list .col-main .postWrapper .postTitle h3:last-child,
.blog-post-view .col-main .postWrapper .postTitle h3:last-child,
.blog-cat-view .col-main .postWrapper .postTitle h3:last-child{
	display: inline-block;
	font-family: 'proxima nova regular';
	color: #3c3c3c;
	line-height: 36px;
	font-size: 14px;
}
.blog-index-list .col-main .postWrapper .postTitle .post-in-wrap:before,
.blog-post-view .col-main .postWrapper .postTitle .post-in-wrap:before,
.blog-cat-view .col-main .postWrapper .postTitle .post-in-wrap:before{
	margin-right: 10px;
	font-family: "FontAwesome";
	content: "\f114";
	color: #3c3c3c;
	line-height: 36px;
	font-size: 14px;
}

.blog-index-list .col-main .postWrapper .postTitle h3:last-child:before,
.blog-post-view .col-main .postWrapper .postTitle h3:last-child:before,
.blog-cat-view  .col-main .postWrapper .postTitle h3:last-child:before{
	font-family: "FontAwesome";
	content: "\f073";
	color: #3c3c3c;
	line-height: 36px;
	font-size: 14px;
	margin-right: 10px;
}
.blog-index-list .col-main .postWrapper .post-teaser .postContent,
.blog-post-view .col-main .postWrapper .postContent ,
.blog-cat-view  .col-main .postWrapper .postContent  {
	font-family: 'proxima nova regular';
	line-height: 30px;
	font-size: 16px;
	color: #3c3c3c;
	 
}
.blog-index-list .col-main .postWrapper .post-teaser .postContent a,
.blog-cat-view .col-main .postWrapper .post-teaser .postContent a{
	display: none;
}
.blog-index-list .col-main .postWrapper .post-teaser .post-readmore a,
.blog-cat-view .col-main .postWrapper .post-teaser .post-readmore a{
	font-family: 'proxima nova regular';
	line-height: 24px;
	font-size: 14px;
	color: #8c8c8c;
	padding: 10px 20px;
	border:  1px solid #e1e1e1;
	background-color: #ebebeb;
	transitions: all 0.3s ease;
}
.blog-index-list .col-main .postWrapper .post-teaser .post-readmore a:hover,
.blog-cat-view .col-main .postWrapper .post-teaser .post-readmore a:hover{
	text-decoration: none;
	background-color: #e1dfdf;
}
.blog-post-view  .main-container  .postContent  p img {
	padding: 0 20px;
}

.vendorspage-index-index .sidebar .block-title ,
.vendorspage-rating-index .sidebar .block-title ,
.vendorspage-map-index .sidebar .block-title ,
.vendorspage-category-view .sidebar .block-title ,
.advancedfaq-home-index .sidebar .block-title ,
.advancedfaq-home-index .sidebar .block-title ,
.advancedfaq-new-index .sidebar .block-title ,
.advancedfaq-search-index .sidebar .block-title ,
.vendorscms-page-view .sidebar .block-title  {
	display: block;
	font-family: 'proxima nova semibold';
	font-weight: bold;
	line-height: 52px;
	font-size: 18px;
	color: #3c3c3c;
	background-color: #f2f2f2;
	padding: 0 20px;
}
.vendorspage-index-index .sidebar .block-title strong span,
.vendorspage-map-index .sidebar .block-title strong span,
.vendorspage-category-view .sidebar .block-title strong span,
.vendorspage-rating-index .sidebar .block-title strong span,
.advancedfaq-home-index .sidebar .block-title strong span,
.advancedfaq-new-index .sidebar .block-title strong span,
.advancedfaq-search-index .sidebar .block-title strong span,
.vendorscms-page-view .sidebar .block-title strong span{
	display: block;
	font-family: 'proxima nova semibold';
	font-weight: bold;
	line-height: 52px;
	font-size: 18px;
	color: #3c3c3c;
	background-color: #f2f2f2;
}
.vendorspage-index-index .sidebar .block-content,
.vendorspage-category-view .sidebar .block-content,
.vendorspage-rating-index .sidebar .block-content,
.vendorspage-map-index .sidebar .block-content,
.advancedfaq-home-index .sidebar .block-content,
.advancedfaq-new-index .sidebar .block-content,
.advancedfaq-search-index .sidebar .block-content,
.vendorscms-page-view .sidebar .block-content {
	text-align: center;
}
.vendorspage-index-index .sidebar .block-content ul,
.vendorspage-category-view .sidebar .block-content ul,
.vendorspage-rating-index .sidebar .block-content ul,
.vendorspage-map-index .sidebar .block-content ul,
.advancedfaq-home-index .sidebar .block-content ul,
.advancedfaq-new-index .sidebar .block-content ul,
.advancedfaq-search-index .sidebar .block-content ul,
.vendorscms-page-view .sidebar .block-content ul {
	text-align: center;
}
.vendorspage-index-index .sidebar .block-content ul .left a,
.vendorspage-index-index .sidebar .block-content ul .left a ,
.vendorspage-rating-index .sidebar .block-content ul .left a ,
.vendorspage-map-index .sidebar .block-content ul .left a,
.advancedfaq-home-index .sidebar .block-content ul .left a,
.advancedfaq-new-index .sidebar .block-content ul .left a,
.advancedfaq-search-index .sidebar .block-content ul .left a,
.vendorscms-page-view .sidebar .block-content ul .left a {
    font-family: 'proxima nova regular';
    font-size: 14px !important;
    line-height: 20px !important;
    color: #838383 !important;
}
.vendorspage-index-index .sidebar .block-content ul li,
.vendorspage-rating-index .sidebar .block-content ul li,
.vendorspage-map-index .sidebar .block-content ul li,
.vendorspage-category-view .sidebar .block-content ul li,
.advancedfaq-home-index .sidebar .block-content ul li,
.advancedfaq-new-index .sidebar .block-content ul li,
.advancedfaq-search-index .sidebar .block-content ul li,
.vendorscms-page-view .sidebar .block-content ul li{
	font-family: 'proxima nova semibold';
}
.vendorspage-index-index .sidebar .block-content ul.merchant-profile-address ,
.vendorspage-category-view .sidebar .block-content ul.merchant-profile-address ,
.vendorspage-map-index .sidebar .block-content ul.merchant-profile-address ,
.vendorspage-rating-index .sidebar .block-content ul.merchant-profile-address,
.advancedfaq-home-index .sidebar .block-content ul.merchant-profile-address,
.advancedfaq-new-index .sidebar .block-content ul.merchant-profile-address,
.advancedfaq-search-index .sidebar .block-content ul.merchant-profile-address,
.vendorscms-page-view .sidebar .block-content ul.merchant-profile-address {
	text-align: left;
}

.vendorspage-index-index .sidebar .block-content ul.merchant-profile-address li:before,
.vendorspage-map-index .sidebar .block-content ul.merchant-profile-address li:before,
.vendorspage-rating-index .sidebar .block-content ul.merchant-profile-address li:before,
.vendorspage-category-view .sidebar .block-content ul.merchant-profile-address li:before,
.advancedfaq-home-index .sidebar .block-content ul.merchant-profile-address li:before,
.advancedfaq-new-index .sidebar .block-content ul.merchant-profile-address li:before,
.advancedfaq-search-index .sidebar .block-content ul.merchant-profile-address li:before,
.vendorscms-page-view .sidebar .block-content ul.merchant-profile-address li:before{
	font-family: "FontAwesome";
	content: '\f111';
	font-size: 7px;
	line-height: 24px;
	color: #3c3c3c !important;
	margin-right: 10px;
	display: inline-block;
}
.vendorspage-index-index .sidebar .block-content ul li label,
.vendorspage-category-view .sidebar .block-content ul li label,
.vendorspage-map-index .sidebar .block-content ul li label,
.vendorspage-rating-index  .sidebar .block-content ul li label,
.advancedfaq-home-index  .sidebar .block-content ul li label,
.advancedfaq-new-index  .sidebar .block-content ul li label,
.advancedfaq-search-index  .sidebar .block-content ul li label,
.vendorscms-page-view  .sidebar .block-content ul li label{
	font-family: 'proxima nova semibold';
 	font-size: 16px;
 	line-height: 30px;
 	color: #3d3d3d;
 	margin-right: 10px;
 }
 .advancedfaq-home-index  .sidebar .block-content .vendors-review-block ,
 .advancedfaq-new-index  .sidebar .block-content .vendors-review-block,
 .advancedfaq-search-index  .sidebar .block-content .vendors-review-block {
 	display: none;
 }
 .vendorspage-index-index .vendor-simple-nav li a,
.vendorspage-map-index .vendor-simple-nav li a,
.vendorspage-rating-index .vendor-simple-nav li a,
 .vendorspage-category-view .vendor-simple-nav li a,
.advancedfaq-home-index .vendor-simple-nav li a,
.advancedfaq-new-index .vendor-simple-nav li a,
.advancedfaq-search-index .vendor-simple-nav li a,
 .vendorscms-page-view .vendor-simple-nav li a{
    font-family: 'proxima nova regular';
    font-size: 16px;
    color: #3c3c3c;
    line-height: 30px;
    position: relative;
    display: block;
    transition: all 0.3s ease;
 }
  .vendorspage-index-index .sidebar,
.vendorspage-rating-index .sidebar,
.vendorspage-map-index .sidebar,
 .vendorspage-category-view .sidebar ,
.advancedfaq-home-index .sidebar ,
.advancedfaq-new-index .sidebar ,
.advancedfaq-search-index .sidebar ,
 .vendorscms-page-view .sidebar {
  	padding-right: 0px;
  }
  /*.category-products li .product-info .ratings {
 	position: static !important;
 }*/
 .category-products li .product-info .price-box {
  		display: inline-block;
  		width:60%;
  }

 .category-products li .product-info .ratings {
		display: inline-block;
  		width: 38%;
 }
  .category-products .products-grid .item .product-info .ratings {
  	vertical-align: top;
  }
   .category-products .products-grid .item .product-info {
   	/*padding-bottom: */
   }
 .category-products .products-grid .item .product-info .product-name a{
	font-family: 'proxima nova semibold' !important; 
 	font-size: 16px !important;
 	line-height: 24px !important;
 	color: #3c3c3c !important;
 	border: none;
 }
 .catalogsearch-result-index .sidebar #reorder-validate-detail .actions .btn-cart:hover {
 	background-color: #128258;
 }
 .catalogsearch-result-index .sidebar #reorder-validate-detail .actions .btn-cart {
 	background-color: #159867;
 	color: #fff;
 }
 .catalogsearch-resultblock-title-index .sidebar .block-content #narrow-by-list dt {
	font-family: 'proxblock-titleima nova semibold';
    font-size: 18px;
    color: #3c3c3c;
    line-height: 54px;
    padding-left: 20px;
 }
 .catalogsearch-result-index .sidebar .block-content .currently ol li .value {
	color: #128258;.
    font-family: 'proxima nova regular';
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
 }
  .catalogsearch-result-index .sidebar .block-content .currently ol li .label {
  	color: #3c3c3c;.
    font-family: 'proxima nova regular';
    font-size: 14px;
    line-height: 24px;
  }
 .catalogsearch-result-index .sidebar .block-content .currently .block-subtitle {
 	font-family: 'proxima nova regular';
    font-size: 16px;
    line-height: 24px;
    color: #333;
 }
 .sticky-newsletter .sticky-newsletter-content .block-subscribe #newsletter-validate-detail .form-list .validation-advice {
 	display: none;
 }
 .no-touch .product-image:hover {
    border-color: #128258;
}
  .catalogsearch-result-index .sidebar .block-content #narrow-by-list dd ol li a
  {
  	font-family: 'proxima nova regular';
    font-size: 16px;
    color: #3c3c3c;
    line-height: 30px;
    position: relative;
    padding-left: 30px;
  }
   .catalogsearch-result-index .sidebar.col-right .block-content #recently-viewed-items  li .product-details p a {
   	font-family: 'proxima nova regular';
    font-size: 14px;
    color: #3c3c3c;
    line-height: 24px;
   }
   .catalogsearch-result-index .block-wishlist .block-content .item .product-details .btn-remove:after,
   .catalogsearch-result-index .col-wrapper .col-left .block-content .currently ol li .btn-remove:after {
		color: #159867;
   }
   .catalogsearch-result-index .block-wishlist .block-content .item .product-details .btn-remove:hover,
   .catalogsearch-result-index .col-wrapper .col-left .block-content .currently ol li .btn-remove:hover {
		background-color: #159867;

   }
   .catalogsearch-result-index .block-wishlist .block-content .item .product-details .btn-remove:hover:after,
   .catalogsearch-result-index .col-wrapper .col-left .block-content .currently ol li .btn-remove:hover:after  {
		color: #fff;
   }
   .catalogsearch-result-index .block-wishlist .block-content .item .product-details .product-name a{
   	font-family: 'proxima nova regular';
    font-size: 14px;
    color: #3c3c3c;
    line-height: 24px;
   }
   .catalogsearch-result-index .sidebar.col-right .block-content #recently-viewed-items  li .product-details p {
   	padding: 0px;
   }
  .catalogsearch-result-index .sidebar .block-content #narrow-by-list dd ol li a:hover,
   .catalogsearch-result-index .sidebar.col-right .block-content #recently-viewed-items  li .product-details p a:hover,
   .catalogsearch-result-index .block-wishlist .block-content .item .product-details .product-name a:hover
   {
  	text-decoration: none;
  	color: #159867;
  }
  .catalogsearch-result-index .sidebar .block-content #narrow-by-list dd ol li a:before{
  	content: "\f054";
    position: absolute;
    top: 4px;
    left: 14px;
    font-family: 'FontAwesome';
    font-size: 8px;
  }
  .catalogsearch-result-index .category-products .price-box .special-price {
  	padding-left: 0px;
  }
 .catalogsearch-result-index .category-products .price-box  .price {
 	font-size: 18px;
 	display: inline-block;
 	text-align: left;
 	line-height: 27px;
	font-family: 'proxima nova semibold' !important; 
 }
 .catalogsearch-result-index .category-products .price-box .old-price .price {
	font-size: 16px;
 	line-height: 27px;
 	display: inline-block;
 	text-align: left;
  }
 .vendorspage-index-index .vendor-simple-nav li a:hover,
.vendorspage-rating-index .vendor-simple-nav li a:hover,
.vendorspage-map-index .vendor-simple-nav li a:hover,
 .vendorspage-category-view .vendor-simple-nav li a:hover,
 .vendorspage-category-view .vendor-simple-nav li a:hover{
	text-decoration: none;
 }
 .vendorspage-index-index .vendor-simple-nav li a:hover span,
.vendorspage-category-view .vendor-simple-nav li a:hover span,
.vendorspage-map-index .vendor-simple-nav li a:hover span,
.vendorspage-rating-index .vendor-simple-nav li a:hover span,
.vendorscms-page-view .vendor-simple-nav li a:hover span,
 .vendorspage-index-index .vendor-simple-nav li a:hover:before,
.vendorspage-map-index .vendor-simple-nav li a:hover:before,
.vendorspage-rating-index .vendor-simple-nav li a:hover:before,
.vendorspage-category-view .vendor-simple-nav li a:hover:before,
.vendorscms-page-view .vendor-simple-nav li a:hover:before{
 	color: #159867;
 }
 .vendorspage-index-index .vendor-simple-nav li a span,
.vendorspage-rating-index .vendor-simple-nav li a span,
.vendorspage-map-index .vendor-simple-nav li a span,
 .vendorspage-category-view .vendor-simple-nav li a span,
 .vendorscms-page-view .vendor-simple-nav li a span{
	display: inline-block;

 }
.vendorspage-index-index .vendor-simple-nav li a:before,
.vendorspage-map-index .vendor-simple-nav li a:before,
.vendorspage-rating-index .vendor-simple-nav li a:before,
.vendorspage-category-view .vendor-simple-nav li a:before,
.vendorscms-page-view .vendor-simple-nav li a:before{
	content: "\f054";
	top: 4px;
	left: 14px;
	font-family: "FontAwesome";
	font-size: 8px;
	line-height: 24px;
	margin-right: 10px;
	display: inline-block;
}
.vendorspage-index-index .vendor-simple-nav li ul li a:before,
.vendorspage-map-index .vendor-simple-nav li ul li a:before,
.vendorspage-rating-index .vendor-simple-nav li ul li a:before,
.vendorspage-category-view .vendor-simple-nav li ul li a:before,
.vendorspage-category-view .vendor-simple-nav li ul li a:before{
	content: '\f111';
	font-size: 7px;
	line-height: 24px;
	margin-right: 10px;
}
.vendorspage-index-index .sidebar .block-poll,
.vendorspage-map-index .sidebar .block-poll,
.vendorspage-rating-index .sidebar .block-poll,
.vendorspage-category-view .sidebar .block-poll,
.advancedfaq-home-index .sidebar .block-poll,
.advancedfaq-new-index .sidebar .block-poll,
.advancedfaq-search-index .sidebar .block-poll,
.vendorscms-page-view .sidebar .block-poll {
    border: 1px solid #e1e1e1;
}
.vendorspage-category-view .sidebar .block-poll .block-content,
.vendorspage-map-index .sidebar .block-poll .block-content,
.vendorspage-rating-index .sidebar .block-poll .block-content,
.vendorspage-index-index .sidebar .block-poll .block-content,
.vendorscms-page-view .sidebar .block-poll .block-content {
	padding: 20px !important;
}
.vendorspage-index-index .sidebar .vendor-category-wrap,
.vendorspage-map-index .sidebar .vendor-category-wrap,
.vendorspage-rating-index .sidebar .vendor-category-wrap,
.vendorspage-category-view .sidebar .vendor-category-wrap,
.vendorscms-page-view .sidebar .vendor-category-wrap {
	 border: 1px solid #e1e1e1; 
}
.vendorspage-index-index .sidebar .vendor-simple-nav,
.vendorspage-map-index .sidebar .vendor-simple-nav,
.vendorspage-rating-index .sidebar .vendor-simple-nav,
.vendorspage-category-view .sidebar .vendor-simple-nav ,
.vendorscms-page-view .sidebar .vendor-simple-nav {
	padding: 10px 20px;
}
.vendorspage-index-index .category-products .products-grid li a,
.vendorspage-category-view .category-products .products-grid li a {
	 border: 1px solid #e1e1e1;
}
 .customer-account .col-main {
	padding: 0 10px 0 50px !important;
}
 
.vendorspage-index-index .category-products .products-grid .item .product-info .price-box .special-price .price,
.vendorspage-category-view .category-products .products-grid .item .product-info .price-box .special-price .price {
	font-family: 'proxima nova regular';
	font-size: 18px;
	line-height: 30px;
	color: #159867;
}
.category-products .item  .price-box .special-price .discount-percent {
	font-family: 'proxima nova regular';
	font-size: 16px;
	line-height: 30px;
	color: #ffffff;
	padding: 5px 10px;
	background-color: #ff6021;
}
 .category-products .products-grid .item .product-info .price-box .old-price .price {
	font-family: 'proxima nova regular';
	font-size: 16px;
	line-height: 30px;
}
.category-products .products-list .product-shop .product-name a {
	font-family: 'proxima nova semibold';
	font-size: 18px;
	line-height: 24px;
	color: #3c3c3c;
}
.category-products .products-list .product-shop .product-secondary .vendor-link br {
	display: none;
}
.category-products .products-list .product-shop .product-secondary .vendor-link {
	font-family: 'proxima nova regular' ;
	font-size: 16px ;
	line-height: 36px ;
	color:#4a4a4a;
}
.category-products .products-list .product-shop .price-box .regular-price .price {
	font-family: 'proxima nova regular' ;
	font-size: 18px ;
	line-height: 30px ;
	color:#159867;
}
.category-products .products-list .product-shop .availability,
.category-products .products-list .product-shop .desc,
.category-products .products-list .product-shop .desc ul li
 {
	font-family: 'proxima nova regular' ;
	font-size: 16px ;
	line-height: 24px ;
	color:#3c3c3c;
}
 .category-products .products-list .item .product-shop .desc  ul li {
 	border: none;
 	padding: 5px 0px !important;
 }
 .category-products .products-list li {
 	border-bottom: 1px dashed #ededed;
 	padding: 20px 0 !important;
 }
.vendorspage-index-index .form-new-message,
.vendorspage-rating-index .form-new-message,
.vendorspage-map-index .form-new-message,
.vendorspage-category-view .form-new-message,
.vendorscms-page-view .form-new-message {
	background-color: #f2f2f2;
	box-shadow: 1px 1px 5px #3c3c3c;
	padding: 10px;
}
.vendorspage-index-index .sidebar .block-content ul .message-link a img,
.vendorspage-rating-index .sidebar .block-content ul .message-link a img,
.vendorspage-category-view .sidebar .block-content ul .message-link a img,
.vendorspage-map-index .sidebar .block-content ul .message-link a img,
.vendorscms-page-view .sidebar .block-content ul .message-link a img {
	display: none;
}
.sidebar .block-poll .block-content ul .message-link a {
	display: block;
	width: 100%;
	font-family: 'proxima nova semibold';
 	font-size: 18px;
 	line-height: 36px;
 	color: #fff;
 	background-color: #159867;
 	padding: 10px 0px;
 	text-transform: uppercase;
 	transition: all 0.3s ease;
}
.sidebar .block-poll .block-content ul .message-link a:hover {
	text-decoration: none;
	background-color: #128258;
 }
.category-products .sorter {
	padding-left: 20px;
}
.category-products .pager {
	margin: 0px;
}
.catalogsearch-result-index .category-products .toolbar {
	    padding: 18px 10px 0px 10px;
}
.toolbar {
	background: none;
}
.category-products .sorter .sort-by select{
	height: 30px;
}
.vendorspage-index-index .sidebar .block-content ul.vendorsmessage-profile-block ,
.vendorspage-rating-index .sidebar .block-content ul.vendorsmessage-profile-block ,
.vendorspage-category-view .sidebar .block-content ul.vendorsmessage-profile-block ,
.vendorspage-map-index .sidebar .block-content ul.vendorsmessage-profile-block,
.vendorscms-page-view .sidebar .block-content ul.vendorsmessage-profile-block
{
	display: none;
}
.vendorspage-index-index .sidebar .block-content .vendors-review-block,
.vendorspage-rating-index .sidebar .block-content .vendors-review-block ,
.vendorspage-category-view .sidebar .block-content .vendors-review-block ,
.vendorspage-map-index .sidebar .block-content .vendors-review-block,
.vendorscms-page-view .sidebar .block-content .vendors-review-block {
	display: none ;
}
.vendorspage-index-index .sidebar .block-content .vendors-message-outer ul.vendorsmessage-profile-block ,
.vendorspage-rating-index .sidebar .block-content .vendors-message-outer ul.vendorsmessage-profile-block ,
.vendorspage-category-view .sidebar .block-content .vendors-message-outer ul.vendorsmessage-profile-block ,
.vendorspage-map-index .sidebar .block-content .vendors-message-outer ul.vendorsmessage-profile-block,
.vendorscms-page-view .sidebar .block-content .vendors-message-outer ul.vendorsmessage-profile-block
{
	display: block;
	padding-top: 10px;
}
.store-language-container.active{
	background-color: #fff;
	box-shadow: 1px 1px 5px #000;
}
.store-language-container .sbHolder a {
	display: block;
}
.vendorspage-index-index .sidebar .block-title .row .vendors-rating-outer ul li .rating-box,
.vendorspage-rating-index .sidebar .block-title .row .vendors-rating-outer ul li .rating-box,
.vendorspage-category-view .sidebar .block-title .row .vendors-rating-outer ul li .rating-box,
.vendorspage-map-index  .sidebar .block-title .row .vendors-rating-outer ul li .rating-box,
.vendorscms-page-view  .sidebar .block-title .row .vendors-rating-outer ul li .rating-box {
	width: 80px;
	height: 15px;
	background: url('../images/rating-star-empty.png') top left 100% no-repeat;
	margin:0px 5px;
}
.vendorspage-index-index .sidebar .block-title .row .vendors-rating-outer ul li .rating-box .rating,
.vendorspage-rating-index .sidebar .block-title .row .vendors-rating-outer ul li .rating-box .rating,
.vendorspage-category-view .sidebar .block-title .row .vendors-rating-outer ul li .rating-box .rating,
.vendorspage-map-index .sidebar .block-title .row .vendors-rating-outer ul li .rating-box .rating,
.vendorscms-page-view .sidebar .block-title .row .vendors-rating-outer ul li .rating-box .rating
 {
    	height: 15px;
    background: url("../images/rating-star-full.png") 0 0/auto 100% no-repeat;
}
.vendorspage-map-index .sidebar .block-title .row .vendors-rating-outer ul li .left a,
.vendorspage-rating-index .sidebar .block-title .row .vendors-rating-outer ul li .left a,
.vendorspage-category-view .sidebar .block-title .row .vendors-rating-outer ul li .left a,
.vendorspage-map-index .sidebar .block-title .row .vendors-rating-outer ul li .left a,
.vendorscms-page-view .sidebar .block-title .row .vendors-rating-outer ul li .left a{
	font-family: 'proxima nova regular';
    font-size: 16px!important;
    line-height: 20px!important;
    color: #838383!important;
}
 
.vendorspage-index-index .sidebar .block-title .row .col-md-6,
.vendorspage-rating-index .sidebar .block-title .row .col-md-6 ,
.vendorspage-category-view .sidebar .block-title .row .col-md-6 ,
.vendorspage-map-index .sidebar .block-title .row .col-md-6,
.vendorscms-page-view .sidebar .block-title .row .col-md-6 {
	width: 100%;
}
.vendorspage-index-index .sidebar .block-title .row .vendors-rating-outer ul li ,
.vendorspage-rating-index .sidebar .block-title .row .vendors-rating-outer ul li ,
.vendorspage-category-view .sidebar .block-title .row .vendors-rating-outer ul li ,
.vendorspage-map-index .sidebar .block-title .row .vendors-rating-outer ul li,
.vendorscms-page-view .sidebar .block-title .row .vendors-rating-outer ul li {
	width: 100%;
}
/*.vendorspage-index-index .sidebar .block-content ul li .left:last-child{
	display: none !important;
}*/
.vendorspage-index-index .sidebar .block-title .row .vendors-rating-outer ul li .rating-box,
.vendorspage-rating-index .sidebar .block-title .row .vendors-rating-outer ul li .rating-box ,
.vendorspage-category-view .sidebar .block-title .row .vendors-rating-outer ul li .rating-box ,
.vendorspage-map-index .sidebar .block-title .row .vendors-rating-outer ul li .rating-box,
.vendorscms-page-view  .sidebar .block-title .row .vendors-rating-outer ul li .rating-box {
	display: inline-block;
}
.vendorspage-index-index .sidebar .block-title .row .vendors-rating-outer ul li .left,
.vendorspage-rating-index .sidebar .block-title .row .vendors-rating-outer ul li .left ,
.vendorspage-category-view .sidebar .block-title .row .vendors-rating-outer ul li .left ,
.vendorspage-map-index .sidebar .block-title .row .vendors-rating-outer ul li .left,
.vendorscms-page-view  .sidebar .block-title .row .vendors-rating-outer ul li .left {
	display: inline-block;
}
 .vendorspage-rating-index .col-main {
 	padding-left: 50px;
 }
 .vendorspage-rating-index .col-main .box-reviews h2 {
 	font-family: 'proxima nova regular'!important;
    font-size: 18px !important;
    line-height: 30px;
    color: #333 !important;
    font-weight: 700;
 }

 .vendorspage-rating-index .col-main .box-reviews dl dt {
 	font-family: 'proxima nova regular'!important;
    font-size: 14px !important;
    line-height: 30px;
    color: #333 !important;
 }

  .vendorspage-rating-index .col-main .box-reviews dl .ratings-table tbody tr th {
  	width: 100px;
  	font-family: 'proxima nova regular'!important;
    font-size: 14px !important;
    line-height: 20px;
    color: #333 !important;
	font-weight: bold;

  }
.vendorspage-rating-index .col-main .box-reviews .form-add #review-form h3 {
    font-family: 'proxima nova regular'!important;
    font-size: 14px!important;
    line-height: 30px;
    color: #333!important;
	font-weight: bold;
	margin: 10px 0px;
}
.vendorspage-rating-index .col-main .box-reviews .form-add #review-form h4 {
	color: #333;
	font-family: 'proxima nova regular'!important;
    font-size: 14px!important;
	margin: 10px 0px;

}
.vendorspage-rating-index .col-main .box-reviews .form-add #review-form h3 span {
	color: #159867;
	font-family: 'proxima nova regular'!important;
    font-size: 16px!important;
}
.vendorspage-rating-index .col-main .box-reviews .form-add form .data-table,
.vendorspage-rating-index .col-main .box-reviews .form-add form .form-list {
	width: 50%;
	display: inline-block;
}
.vendorspage-rating-index .col-main .box-reviews .form-add form .data-table tbody tr th {
	font-family: 'proxima nova regular'!important;
    font-size: 16px!important;
    line-height: 30px;
    color: #333!important;
    font-weight: 700;
}
.vendorspage-rating-index .col-main .box-reviews .form-add form .data-table thead tr .nobr {
	font-family: 'proxima nova regular'!important;
    font-size: 16px!important;
    line-height: 30px;
    color: #333!important;
    font-weight: 700;

}
.vendorspage-rating-index .col-main .box-reviews .form-add form .form-list li label {
    font-family: 'proxima nova semibold' !important;
    font-size: 16px;
    line-height: 30px;
    color: #3d3d3d;
    margin-right: 10px;
}
.vendorspage-rating-index .col-main .box-reviews .form-add form .buttons-set .button {
	float: left;
	margin: 0px;
}


 #tabs .ui-tabs-nav li {
	width: 25%;
	margin:0px;
	border: none;
	padding: 0 10px;
	background-color: transparent;
}
.cms-sell-on-duukaan  #tabs .ui-tabs-nav {
	box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
	padding: 0px;
}
.cms-sell-on-duukaan  #tabs .ui-tabs-nav li a {
	display: block;
	width: 100%;
	padding:  10px;
	font-family: 'proxima nova semibold';
    font-size: 18px;
    line-height: 26px;
    color: #5c5c5c;
    font-style: normal;
    background-color: #eeeeee;
	text-transform: uppercase;
    text-align: center;
}
.cms-sell-on-duukaan #tabs .ui-tabs-nav li:first-child {
	padding: 0 10px 0px 0px;
}
.cms-sell-on-duukaan #tabs .ui-tabs-nav li:last-child {
	padding: 0 0px 0px 10px;
}
.cms-sell-on-duukaan  #tabs .ui-tabs-nav li.ui-tabs-active{

	border: none;
}
.cms-sell-on-duukaan  #tabs .ui-tabs-nav li.ui-tabs-active a{
	color: #fff;
}
.cms-sell-on-duukaan  #tabs {
	border: none;
}
.cms-sell-on-duukaan #tabs .ui-tabs-nav{
	background-color: transparent;
	border: none;
}
.cms-sell-on-duukaan  #tabs .ui-tabs-nav li.ui-tabs-active a{
		background-color: #159867;

}
.cms-sell-on-duukaan #why-afrique-mall {
	padding: 30px 50px;
}
.cms-sell-on-duukaan #why-afrique-mall .whyDuukaan .peek-block {
	width: 70%;
	margin: auto;
	padding: 50px 0;
}
.cms-sell-on-duukaan #why-afrique-mall .whyDuukaan .peek-block h3 {
	font-family: 'proxima nova regular';
    font-size: 36px;
    line-height: 52px;
    color: #474746;
    text-align: center;
}
.cms-sell-on-duukaan #why-afrique-mall .whyDuukaan .peek-block .items .item {
	margin: 20px  0px;
}
.cms-sell-on-duukaan #why-afrique-mall .whyDuukaan .peek-block .items .item.first {
	width: 32%;
	display: inline-block;
	text-align: center;
}
.cms-sell-on-duukaan #why-afrique-mall .whyDuukaan .peek-block .items .item.second {
	width: 49%;
	display: inline-block;
	text-align: center;	
}
.cms-sell-on-duukaan #why-afrique-mall .whyDuukaan .peek-block .items .item.first .icon,
.cms-sell-on-duukaan #why-afrique-mall .whyDuukaan .peek-block .items .item.first .content{
	width: 49%;
	display: inline-block;
	vertical-align: middle;
}
.cms-sell-on-duukaan #why-afrique-mall .whyDuukaan .peek-block .items .item .icon img {
	max-width: 100%;
}

.cms-sell-on-duukaan #why-afrique-mall .whyDuukaan .peek-block .items .item .content{
	font-family: 'proxima nova regular';
    font-size: 22px;
    line-height: 30px;
    color: #00b050;
}
.cms-sell-on-duukaan #why-afrique-mall .whyDuukaan .peek-block .items .item.second .icon,
.cms-sell-on-duukaan #why-afrique-mall .whyDuukaan .peek-block .items .item.second .content{
	width: 30%;
	display: inline-block;
	vertical-align: middle;
}
.cms-sell-on-duukaan #why-afrique-mall .whyDuukaan  .main-content p {
	font-family: 'proxima nova regular';
    font-size: 16px;
    line-height: 30px;
    color: #1b1b1b;
    font-style: normal;
}
.cms-sell-on-duukaan #joining-afrique-mall {
	padding: 50px 0px 0 0 ;
}
/*.cms-sell-on-duukaan #faq{
 	padding: 50px 50px 0 50px;
}*/
.cms-sell-on-duukaan #faq .row .Faq-block .Faq-title{
	position: relative;
	padding-left: 15px;
	font-family: 'proxima nova regular';
    font-size: 16px;
    line-height: 48px;
    color: #1f1f1f;
}
.cms-sell-on-duukaan #faq .row .Faq-block .Faq-title:hover{
	text-decoration: none;
	color: #159867;
}
.cms-sell-on-duukaan #faq .row .Faq-block .Faq-title.active{
	color: #159867;
	font-weight: bold;
}
.cms-sell-on-duukaan #faq .row .Faq-block .Faq-title.active:before {
	background: url('../images/active.png') top left no-repeat;
}
.cms-sell-on-duukaan #faq .row .Faq-block .Faq-title:before{
	display: block;
	content: "";
	background: url('../images/deactive.png') top left no-repeat;
	width: 9px;
	height: 9px;
	background-size: 100% 100%;
	position: absolute;
	top: 4px;
	left: 0px;
	transition: all 0.4s ease;
}
.cms-sell-on-duukaan #faq .row .Faq-block .Faq-content  {
	padding-left: 15px;
}
.cms-sell-on-duukaan #faq .row .Faq-block .Faq-content .Item-content ,
.cms-sell-on-duukaan #faq .row .Faq-block .Faq-content .return {
	width: 50% !important;
	float: left;
}
.cms-sell-on-duukaan #faq .row .Faq-block .Faq-content .Item-content p {
	font-family: 'proxima nova regular';
    font-size: 15px;
    line-height: 24px;
    color: #1f1f1f;
    font-style: normal;
    padding-right: 50px;
}
.cms-sell-on-duukaan #faq .row .Faq-block .Faq-content .return tr td {
	font-family: 'proxima nova regular';
    font-size: 15px;
    line-height: 24px;
    color: #1f1f1f;
    border: 1px solid #1e1e1e;
    padding: 5px;
    text-align: center;
}
.cms-sell-on-duukaan #faq .row .Faq-block .Faq-content .return tr.bold{
	font-weight: bold;
}
.cms-sell-on-duukaan #faq .row .Faq-block .Faq-content .return tr.bold .title {
	color: red;
}
.cms-sell-on-duukaan #faq .row .Faq-block .Faq-content .return tr .align-left{
	text-align: left;
}

.catalog-product-view .product-view .tab-content #specification  h3{
	font-family: 'proxima nova semibold';
    font-size: 18px;
    line-height: 48px;
    color: #333333;
    margin-bottom: 0px;
}
.catalog-product-view .product-view .tab-content #specification .tab-pane-content .row .label {
	background-color: #f5f5f5;
}
.catalog-product-view .product-view .tab-content #specification .tab-pane-content .row .label ,
.catalog-product-view .product-view .tab-content #specification .tab-pane-content .row .value {
 
	font-family: 'proxima nova regular';
    font-size: 16px;
    line-height: 32px;
    color: #333333;
    border-radius: 	0px;
    padding: 0px 0 0 20px;
    font-weight: normal;
    text-align: 	left;

}
 .catalog-product-view .product-view .tab-content #specification .tab-pane-content .row .col-md-6 .row {
	border: 1px solid #e8e8e8;

 }
 .aw-base-mini .head h4
 {
 	font-family: 'proxima nova semibold';
    font-size: 24px;
    line-height: 30px;
    color: #494949;
    padding: 20px 0;
 }
 .catalog-category-view .main-container .block-title span {
 	font-family: 'proxima nova semibold';
    font-size: 24px;
    line-height: 30px;
    color: #494949;
    padding: 20px 0;
    display: block;
 }
.category-products .products-list

 .aw-base-mini .aw-content .bx-controls .bx-controls-direction a:before ,
 .block-content .bx-wrapper .bx-controls .bx-controls-direction a:before {	
	top: 0;
	content: "";
	display: block;
 }
  .aw-base-mini .aw-content .bx-controls .bx-controls-direction a.bx-next,
  .block-content .bx-wrapper .bx-controls .bx-controls-direction a.bx-next{
  	right: -30px;
  	border: 1px solid #f3f3f3;
  	
  }
.aw-base-mini .aw-content .bx-controls .bx-controls-direction a.bx-next:before,
.block-content .bx-wrapper .bx-controls .bx-controls-direction a.bx-next:before {
 	 background: url('../images/dropdown-btn.png') top left no-repeat;
	background-size: 100% 100%;
	width: 10px;
	height: 7px;
 	transform: rotate(-90deg);
	position: absolute;
	top: 50%;
	margin-top: -3px;
	left: 50%;
	margin-left: -5px;
 }
 .aw-base-mini .aw-content .bx-controls .bx-controls-direction a.bx-prev,
.block-content .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev{
  	left: -40px;
  	border: 1px solid #f3f3f3;
  }
.aw-base-mini .aw-content .bx-controls .bx-controls-direction a.bx-prev:before,
.block-content .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev:before {
	 background: url('../images/dropdown-btn.png') top left no-repeat;
	background-size: 100% 100%;
	width: 10px;
	height: 7px;
	transform: rotate(90deg);
	position: absolute;
	top: 50%;
	margin-top: -3px;
	left: 50%;
	margin-left: -5px;

 }
 .products-grid > li {
 	clear: none !important;
 }
 .bx-wrapper {
  	max-width: 100% !important;
  }
  .bx-wrapper .bx-controls  .bx-default-pager {
  	display: none;
  }
 .bx-wrapper .bx-viewport {
 	box-shadow: none !important;
 	height: auto !important;
 }
 .catalog-product-view  .aw-box  {
 	margin: auto;
 	display: inherit;
 	width: 100%;
 }
 .bx-wrapper .bx-viewport .Slider li .product-info {
  	padding-bottom: 0px;
  }
   .bx-wrapper .bx-viewport .Slider li .product-info .product-name a,
   .bx-wrapper .bx-viewport ol li .product-info .product-name a {
 	font-family: 'proxima nova semibold';
    font-size: 16px;
    line-height: 24px;
    color: #3c3c3c;
 }
  .bx-wrapper .bx-viewport .Slider li .product-info .price-box .price,
  .bx-wrapper .bx-viewport ol li .product-info .price-box .price {
  	font-family: 'proxima nova semibold';
    font-size: 18px;
    line-height: 24px;
    color: #159867;
  }
  .bx-wrapper .bx-viewport .Slider li .product-info .price-box .special-price {
  	padding-right: 10px;
  }
  .bx-wrapper .bx-viewport .Slider li .product-info .price-box .old-price .price{
	 	font-family: 'proxima nova semibold';
	    font-size: 18px;
	    line-height: 24px;
	    color: #838383;
   }
    .bx-wrapper .bx-viewport .Slider li .product-info .price-box .special-price .discount-percent {
	   	font-family: 'proxima nova semibold';
	    font-size: 14px;
	    line-height: 30px;
	    color: #FFF;
	    display: inline-block;
	    background-color: #ff6021;
	    padding: 0 5px; 

   }
   .customer-account .data-table tbody  tr td {
   		font-family: 'proxima nova regular';
   	font-size: 14px;
   }
   .customer-account .data-table tbody  tr td.status em{
   	font-style: normal;
   }
.wishlist-index-index .col-main #wishlist-view-form .data-table tbody .product-name a {
 	font-family: 'proxima nova semibold';
    font-size: 16px;
    line-height: 30px;
    color: #414141;
}
.wishlist-index-index .col-main #wishlist-view-form .data-table tbody .price-box .price {
	font-family: 'proxima nova semibold';
    font-size: 16px;
    line-height: 30px;
    color: #159867;
}
.wishlist-index-index .col-main button span {
	background-color:  transparent !important;
}
.wishlist-index-index .col-main button:hover {
	background-color: #128258;
}
.wishlist-index-index .col-main .button-set-table {
	margin: 0px;
}
 .wishlist-index-index .col-main button {
		font-family: 'proxima nova semibold' !important;
	    font-size: 14px;
	    line-height: 30px;
	    height: 30px;
	    min-width: 90px;
	    margin: 5px !important;
	    color: #FFF;
	   background-color: #159867;
 }
 .wishlist-index-index .col-main .mwishlists .page-title h1 {

 }
  .wishlist-index-index .col-main input[type="text"],
  .wishlist-index-index .col-main select {
  	min-height: 40px;
  }
  .wishlist-index-index .col-main select {
		min-width: 192px;
	    margin: 5px !important;
  }
  #search_mini_form .form-search .sbHolder {
  	width:  155px;
  	position: absolute;
  	top: 0px;
  	z-index: 99999;
  	right: 42px;
  	padding-left: 15px;
	border: 1px solid silver;
	background-color: #fff;
  }
  
   #search_mini_form .form-search .sbHolder .sbOptions li a {
   		font-family: 'proxima nova regular' !important;
	    font-size: 14px;
	    color:#414141; 
	    line-height: 30px;
	    height: 30px;
   }
  #search_mini_form .form-search .button span span{
  	display: block;
	text-indent: -9999px;
  }
  #search_mini_form .form-search .button {
  	background: url('../images/search.png') top left no-repeat;
  	width: 42px;
  	height: 35px;
  	background-color: #159867;
  	position: absolute;
  	top: 0px;
  	right: 0px;
  }

#search_mini_form .form-search .sbHolder .sbToggle {
	float: right;
	padding: 12px;
	color: #333333;
	font-weight: bold;
}
#search_mini_form .form-search .sbHolder a {
	text-decoration: none !important;
}
#search_mini_form .form-search .sbHolder .sbSelector {
		font-family: 'proxima nova semibold';
    font-size: 16px;
    line-height: 38px;
    color: #333333;
}
/* #header-search #search_mini_form .form-search #search {
  padding-right: 270px;
 }*/

 #header-search #search_mini_form .form-search .sbHolder {
  width: auto;
  max-width: 220px;
  padding-right: 40px; }

  #header-search #search_mini_form .form-search .sbSelector,
  #header-search #search_mini_form .form-search .sbFocus {
   white-space: nowrap;
  }

  #header-search #search_mini_form .form-search .sbToggle {
   position: absolute;
   top: 0;
   right: 0;
   outline: none !important;
  }

  #header-search #search_mini_form .form-search .sbSelector {
   overflow: hidden;
   text-overflow: ellipsis;
   max-width: 100%;
   display: inline-block;
   line-height: 1;
   vertical-align: middle;
   padding: 11px 0;
  }
#search_mini_form .form-search {
	position: relative;
}

.search-autocomplete .ajaxsearch li a:before{
	display: table;
	content: "";
}
.search-autocomplete .ajaxsearch li a:after{
	display: table;
	content: "";
	clear: both;
}
.search-autocomplete .ajaxsearch li {
	transition: all 0.3s ease;
}
.search-autocomplete .ajaxsearch li:hover {
	background-color: #f5f4f4;
}
.search-autocomplete .ajaxsearch li a {
	font-family: 'proxima nova semibold' !important;
    font-size: 14px;
    line-height: 20px;
    color: #159867;
    font-weight: bold;
}
.ajaxsearch .preview > a:hover{ 
	text-decoration: none !important;
}
.ajaxsearch .suggest,
.ajaxsearch .suggest span{
	background-color: #159867 !important;
	color: #fff !important;
	font-family: 'proxima nova semibold' !important;
    font-size: 18px;
    line-height: 24px;
}
.ajaxsearch .suggest:hover {
	color: #fff;
}
.search-autocomplete .ajaxsearch li a:hover  {
	color: #128258;

}
.search-autocomplete {
	z-index: 99999;
}
.search-autocomplete .ajaxsearch li a img {
	margin-right: 10px;
}
.search-autocomplete:before{
	    border-bottom: 7px solid #159867 !important;
}
.search-autocomplete ul {
	border: 1px solid #159867 !important;
}
 
.main-container .category-products .products-list .item a {
	width: 20%;

}
.main-container .category-products .products-list .item a img {
	width: 100%;
}
.category-search-select{
	display: none;
}
.vendor-featured-product .products-grid li {
	padding: 0 10px;
    margin: 0px;
}
 
.vendor-featured-product .products-grid-2 li {
    width: 50%;   
}
.vendor-featured-product .products-grid-3 li {
    width: 33.33%;
  
}
.vendor-featured-product .products-grid-4 li {
    width: 25%;
 
}
.vendor-featured-product .products-grid-5 li {
    width: 20%;
}
.vendorscms-page-view .col-main .vendor-std .easyslideslider-id .section {
	position: static;
}
.vendor-featured-product .item .product-info .price-box-price {
	width: 56%;
	display: inline-block;
}
.vendor-featured-product .item .product-info .ratings {
	display: inline-block;
	width: 40%;
}
 .easyslide-controls-wrapper{
 	display: none;
 }
.vendorscms-page-view .col-main .vendor-std .easyslideslider-id{
	margin-bottom: 40px;
}
.product-info .ratings {
    margin: 4px 0;
}
.vendorscms-page-view .col-main .vendor-std .easyslideslider-id,
.vendorscms-page-view .col-main .vendor-std .easyslideslider-id .scroller,
.vendorscms-page-view .col-main .vendor-std .easyslideslider-id .section,
.vendorspage-rating-index .easyslideslider-id  {
	width: 100% !important;
	height: auto !important;
}
.vendorspage-rating-index .easyslideslider-id .scroller {
	width: 100% !important;
}
.vendorscms-page-view .sidebar .nav-container .vendor-nav:before,
.vendorspage-rating-index .sidebar .nav-container .vendor-nav:before,
.vendorspage-map-index .sidebar .nav-container .vendor-nav:before,
.vendorspage-category-view .sidebar .nav-container .vendor-nav:before,
.vendorspage-index-index .sidebar .nav-container .vendor-nav:before{
	content: "";
	display: table;
}
.vendorscms-page-view .sidebar .nav-container .vendor-nav:after,
.vendorspage-rating-index .sidebar .nav-container .vendor-nav:after,
.vendorspage-map-index .sidebar .nav-container .vendor-nav:after,
.vendorspage-category-view .sidebar .nav-container .vendor-nav:after,
.vendorspage-index-index .sidebar .nav-container .vendor-nav:after{
	content: "";
	display: table;
	clear: both;
}
.vendorscms-page-view .sidebar .nav-container,
.vendorspage-rating-index .sidebar .nav-container,
.vendorspage-map-index .sidebar .nav-container,
.vendorspage-category-view .sidebar .nav-container,
.vendorspage-index-index .sidebar .nav-container {
	margin: 20px 0px;
    border: 1px solid #e1e1e1;
}
.vendorscms-page-view .sidebar .nav-container .vendor-nav ,
.vendorspage-rating-index .sidebar .nav-container .vendor-nav ,
.vendorspage-map-index .sidebar .nav-container .vendor-nav ,
.vendorspage-category-view .sidebar .nav-container .vendor-nav ,
.vendorspage-index-index .sidebar .nav-container .vendor-nav {
	width: 100%;
 
}
.vendorscms-page-view .sidebar .nav-container .vendor-nav >li:last-child ,
.vendorspage-rating-index .nav-container .vendor-nav >li:last-child ,
.vendorspage-map-index .sidebar .nav-container .vendor-nav >li:last-child ,
.vendorspage-category-view .sidebar .nav-container .vendor-nav >li:last-child ,
.vendorspage-index-index .sidebar .nav-container .vendor-nav >li:last-child {
	display: none;
}
.vendorscms-page-view .sidebar .nav-container .vendor-nav li .shown-sub ,
.vendorspage-rating-index .sidebar .nav-container .vendor-nav li .shown-sub ,
.vendorspage-map-index .sidebar .nav-container .vendor-nav li .shown-sub ,
.vendorspage-category-view .sidebar .nav-container .vendor-nav li .shown-sub ,
.vendorspage-index-index .sidebar .nav-container .vendor-nav li .shown-sub {
	z-index: 9999 !important;
	display: block;

}
.vendorscms-page-view .sidebar .nav-container .vendor-nav li  a:hover,
.vendorspage-rating-index .sidebar .nav-container .vendor-nav li  a:hover,
.vendorspage-map-index .sidebar .nav-container .vendor-nav li  a:hover,
.vendorspage-category-view .sidebar .nav-container .vendor-nav li  a:hover,
.vendorspage-index-index .sidebar .nav-container .vendor-nav li  a:hover,
.vendorscms-page-view .sidebar .vertical-nav-container ul li a:hover ,
.vendorspage-rating-index .sidebar .vertical-nav-container ul li a:hover ,
.vendorspage-map-index .sidebar .vertical-nav-container ul li a:hover ,
.vendorspage-category-view .sidebar .vertical-nav-container ul li a:hover ,
.vendorspage-index-index .sidebar .vertical-nav-container ul li a:hover {
	color: #128258;
}

.vendorscms-page-view .sidebar .nav-container .vendor-nav li  a ,
.vendorspage-rating-index .sidebar .nav-container .vendor-nav li  a ,
.vendorspage-map-index .sidebar .nav-container .vendor-nav li  a ,
.vendorspage-category-view .sidebar .nav-container .vendor-nav li  a ,
.vendorspage-index-index .sidebar .nav-container .vendor-nav li  a ,
.vendorscms-page-view .sidebar .vertical-nav-container ul li a,
.vendorspage-rating-index .sidebar .vertical-nav-container ul li a,
.vendorspage-map-index .sidebar .vertical-nav-container ul li a,
.vendorspage-category-view .sidebar .vertical-nav-container ul li a,
.vendorspage-index-index .sidebar .vertical-nav-container ul li a{
	font-family: 'proxima nova regular';
    font-size: 16px;
    color: #3c3c3c;
    line-height: 30px;
    position: relative;
    display: block;
    transition: all .3s ease;
    font-weight: normal;
} 
#header .skip-links:before{
	display: table;
	content: "";
}
#header .skip-links:after{
	display: table;
	content: "";
	clear: both;
}
#co-billing-form .form-list .input-box, #co-shipping-form .form-list .input-box {
    float: right;
    width: 80%;
    padding: 0;
}
.checkout-monepage-index .col-main .page-title h1 {
    display: inline-block;
    width: auto;
    padding-bottom: 0;
    border-bottom: 4px solid #159867!important;
    font-size: 24px;
    font-weight: 600;
    color: #636363;
    padding-top: 20px;
}

.package-table-outer {
    max-width: 1200px;
    margin: 50px auto 20px;

}
.package-table-outer h3 {
    font-family: 'proxima nova regular';
    font-size: 36px;
    line-height: 36px;
    color: #1f1f1f;
    text-align: center;
    margin-bottom: 30px;
}
/*.package-table-outer .group-package {
    margin-top: 40px;
}
.package-table-outer .group-package .free-package {
	text-align: center;
}
.package-table-outer .group-package .free-package h4 {
    font-family: 'proxima nova bold';
    font-size: 24px;
    line-height: 36px;
    color: #1f1f1f;
    text-align: center
}
.package-table-outer .group-package .free-package a {
    display: inline-block;
    margin: auto;
    padding: 0 40px;
    background-color: #159867;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    transition: all 0.3s ease;
}
.package-table-outer .group-package .free-package a:hover {
	text-decoration: none;
    background-color: #128258;
}
.package-table-outer .group-package .basic-package,
.package-table-outer .group-package .premium-package {
    margin-top: 15px;
    background-color: #f1f1f1;
}
.package-table-outer .group-package .basic-package,
.package-table-outer .group-package .premium-package, 
.package-table-outer .group-package .standard-package {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    padding-bottom: 20px;
    border: 1px solid #ece8e8;
}

.package-table-outer .group-package .basic-package .package-title,
.package-table-outer .group-package .premium-package .package-title {
    background-color: #555;
}
.package-table-outer .group-package .package-title {
    font-family: 'proxima nova regular';
    font-size: 24px;
    line-height: 45px;
    color: #fff;
    text-align: center;
}
.package-table-outer .group-package .package-content ul {
    padding: 10px 20px;
    margin-bottom: 20px;
}
 .package-table-outer .group-package .basic-package,
 .package-table-outer .group-package .premium-package {
    margin-top: 15px;
    background-color: #f1f1f1;
}
.package-table-outer .group-package .standard-package .package-title {
    background-color: #159867;
}
.package-table-outer .group-package .standard-package .package-content {
	margin-bottom: 35px;
}
.package-table-outer .group-package .package-content ul li {
    font-family: 'proxima nova regular';
    font-size: 18px;

    height: 48px;
    color: #040404;
    font-style: normal;
}
.package-table-outer .group-package .package-content ul li label {
	width:50%;
	float: left;
}
.package-table-outer .group-package .package-content ul li span {
    margin-left: 00px;
    width: 50%;
	float: left;
}
.package-table-outer .group-package .package-action {
    text-align: center;
}
.package-table-outer .group-package .package-action a {
    padding: 5px 30px;
    border: 1px solid #159867;
    color: #159867;
}
.package-table-outer .group-package .package-action a:hover {
    text-decoration: none;
    background-color: #e2dede;
}*/
.package-table-outer .group-package table tr:first-child th.premium-package,
.package-table-outer .group-package table tr:first-child th.standard-package,
.package-table-outer .group-package table tr:first-child th.basic-package {
	 font-family: 'proxima nova regular';
    font-size: 22px;
    line-height: 60px;
    padding: 0 10px;
	text-transform: uppercase;
    color: #fff;
    border: 1px solid #c3c3c3; 
    text-align: center;
    width:20%;
}
.package-table-outer .group-package table tr th.standard-package,
.package-table-outer .group-package table tr td.standard-package {
	background-color: #c3ecdd;
}
.package-table-outer .group-package table tr th.premium-package,
.package-table-outer .group-package table tr td.premium-package,
.package-table-outer .group-package table tr th.basic-package,
.package-table-outer .group-package table tr td.basic-package {
	background-color: #f1f1f1;

}	
.package-table-outer .group-package table tr:last-child td.premium-package,
.package-table-outer .group-package table tr:last-child td.basic-package{
	background-color: transparent;
}
.package-table-outer .group-package table tr:last-child td {
	padding: 10px 0;
}
.package-table-outer .group-package table tr:last-child td.standard-package {
	border-radius: 0px 0px 5px 5px;
}
.package-table-outer .group-package table tr:last-child td.free-member a:hover{
	background-color:#128258;
}
.package-table-outer .group-package table tr:last-child td.free-member a {
	color: #fff;
	background-color: #159867;
	transition: all 0.3s ease;
}
.package-table-outer .group-package table tr:last-child td a:hover{
	/*text-decoration: .package-table-outer .group-package table tr:last-child td anone;*/
}
.package-table-outer .group-package table tr:last-child td a:hover{
	background-color: #f3f1f1;
}

.package-table-outer .group-package table tr:last-child td a {
	font-size: 18px;
	display: inline-block;
	padding: 0 15px;
	text-decoration: none;
	border: 1px solid #159867;
	line-height: 33px;
	background-color: #fff;
	font-family: 'proxima nova semibold';
	color: #159867;
	transition: all 0.3s ease;
}
.package-table-outer .group-package table tr:last-child td {
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-top: 1px solid #c3c3c3;
	border-bottom: 1px solid transparent;
}
.package-table-outer .group-package tbody tr td .y-icon:before{
	content: "\f00c";
	font-size: 24px;
	color: #159867;
	font-family: 'FontAwesome';
}
.package-table-outer .group-package tbody tr td:first-child {
	text-align: left;
	font-size: 22px;
	line-height: 50px;
	font-family: 'proxima nova semibold';
	color: #393939;
	padding: 0  20px;
}
.package-table-outer .group-package tbody tr td .n-icon:before{
	content: "\f00d";
	font-size: 24px;
	color: red;
	font-family: 'FontAwesome';
}
.package-table-outer .group-package table {
    border: 1px solid #c3c3c3; 
    text-align: center;
    width: 100%;
}
.package-table-outer .group-package table thead tr:first-child th:first-child {
	font-size: 24px;
	line-height: 50px;
	font-family: 'proxima nova semibold';
	color: #393939;
	padding-left: 20px;
	text-align: left;
	font-weight: bold;
}
.package-table-outer .group-package table tr td{
	font-size: 22px;
	line-height: 50px;
	font-family: 'proxima nova regular';
	color: #393939;
}
.package-table-outer .group-package table tr td,
.package-table-outer .group-package table tr  th{
    border: 1px dashed #c3c3c3; 

}
.package-table-outer .group-package table tr:first-child th.free-member{
	font-family: 'proxima nova regular';
    font-size: 22px;
    line-height: 50px;
    padding: 0 10px;
	text-transform: uppercase;
    color: #1f1f1f;
    border: 1px dashed #c3c3c3; 
    text-align: center;
    width: 20%;
}
.package-table-outer .group-package table tr:first-child th.premium-package,
.package-table-outer .group-package table tr:first-child th.basic-package {
	background-color: #555555;
}
.package-table-outer .group-package table tr th {
	text-align: center;
	font-family: 'proxima nova bold';
    font-size: 22px;
    line-height: 60px;
    padding: 0 5px;
    font-weight: bold;
}
.package-table-outer .group-package table tr:first-child th.standard-package {
	background-color: #159867;
}


.vendorsrma-rma-customer-list .my-account .my-request .my-request-table thead tr th {
    background-color: #f4f4f4;
}
.vendorsrma-rma-customer-list .my-account .my-request .my-request-table tbody tr{
	background: none;
}
.vendorsrma-rma-customer-list .my-account .my-request .my-request-table tbody tr:hover{
	background-color: transparent !important;
}
.vendorsrma-rma-customer-list .my-account .my-request .my-request-table {
	    border: 1px solid silver;
}
.vendorsrma-rma-customer-list .my-account .my-request .my-request-table tbody tr td {
	border-bottom: inherit;
	border-right: inherit;
}
.vendorsrma-rma-customer-list .my-account .my-request .my-request-table td, 
.vendorsrma-rma-customer-list .my-account .my-request .my-request-tableth {
    padding: 10px;
    vertical-align: top;
}
.vendorsrma-rma-customer-list .my-account .my-request .my-request-table thead tr th{
	width: 16%;
    font-family: 'proxima nova semibold';

}
.vendorsrma-rma-customer-list .my-account .my-request .my-request-table thead th, 
.vendorsrma-rma-customer-list .my-account .my-request .my-request-table tbody td {
    border-bottom: 1px solid silver !important;
    border-right: transparent;

}
.cms-sell-on-duukaan  .desktop{
	display: block;
}
.cms-sell-on-duukaan  .desktop img{
	width: 100%;
}
.cms-sell-on-duukaan  .mobile{
	display: none;
}
.package-table-outer .group-package .package-content .package-price .price-box .regular-price .price {
		font-family: 'proxima nova semibold' !important;
	    font-size: 26px;
	    line-height: 36px;
	    color: #555555;
	    text-align: center;
	    display: block;
	    padding: 20px 0px;
}
.advancedfaq-home-index .col-main {
	padding-left: 50px;
}
.advancedfaq-home-index .col-main .kbase-block-title {
	border:none;
	padding: 0px;
}
.advancedfaq-home-index .col-main .kbase-block-title #search_mini_form .form-search .button,
.advancedfaq-new-index .col-main .kbase-block-title #search_mini_form .form-search .button,
.advancedfaq-search-index .col-main .kbase-block-title #search_mini_form .form-search .button,
.advancedfaq-home-index .col-main .kbase-block-title #search_mini_form .form-search .search-autocomplete,
.advancedfaq-search-index .col-main .kbase-block-title #search_mini_form .form-search .search-autocomplete,
.advancedfaq-new-index .col-main .kbase-block-title #search_mini_form .form-search .search-autocomplete {
	display: none;
}
.advancedfaq-home-index .col-main .kbase-block-title .faq-search ,
.advancedfaq-search-index .col-main .kbase-block-title .faq-search ,
.advancedfaq-new-index .col-main .kbase-block-title .faq-search {
	display: inline-block;
	vertical-align: top;
}
.advancedfaq-home-index .col-main .kbase-block-title .faq-search h2,
.advancedfaq-search-index .col-main .kbase-block-title .faq-search h2,
.advancedfaq-new-index .col-main .kbase-block-title .faq-search h2{
	display: inline-block;
	width: auto;
	padding-right: 20px;
}
.advancedfaq-home-index .col-main .kbase-block-title .faq-search #search_mini_form,
.advancedfaq-search-index .col-main .kbase-block-title .faq-search #search_mini_form,
.advancedfaq-new-index .col-main .kbase-block-title .faq-search #search_mini_form{
	display: inline-block;
	float: none;
}
.advancedfaq-home-index .col-main .kbase-block-title .new-faq,
.advancedfaq-search-index .col-main .kbase-block-title .new-faq,
.advancedfaq-new-index .col-main .kbase-block-title .new-faq {
	display: inline-block;
}
.advancedfaq-home-index .col-main .kbase-block-title .new-faq a,
.advancedfaq-search-index .col-main .kbase-block-title .new-faq a,
.advancedfaq-new-index .col-main .kbase-block-title .new-faq a {
	margin-top: 0px;
	background-color: #159867;
}
.advancedfaq-home-index .col-main .kbase .title a,
.advancedfaq-new-index .col-main .kbase .title a,
.advancedfaq-search-index .col-main .kbase .title a{
	color: #333333;
}
.advancedfaq-home-index .col-main .kbase .title a:hover,
.advancedfaq-new-index .col-main .kbase .title a:hover,
.advancedfaq-search-index .col-main .kbase .title a:hover {
	color: #128258;
}
.advancedfaq-home-index .col-main .kbase .content-faq-list .content-faq .accordion ,
.advancedfaq-new-index .col-main .kbase .content-faq-list .content-faq .accordion,
.advancedfaq-search-index .col-main .kbase .kbase-listing-full .content-faq .accordion  {
	height: auto;
}
.advancedfaq-home-index .col-main .kbase .content-faq-list .content-faq .accordion-open span ,
.advancedfaq-new-index .col-main .kbase .content-faq-list .content-faq .accordion-open span ,
.advancedfaq-search-index .col-main .kbase .kbase-listing-full .content-faq .accordion-open span  {
	padding: 0 20px;
	color: #159867;
}
.advancedfaq-home-index .col-main .kbase .content-faq-list .content-faq .container .content .kbase-article-footer,
.advancedfaq-new-index .col-main .kbase .content-faq-list .content-faq .container .content .kbase-article-footer,
.advancedfaq-search-index .col-main .kbase .kbase-listing-full .content-faq .container .content .kbase-article-footer {
	background: transparent;
	border: none;
}
.sales-order-voucher .my-account #my-orders-table thead tr th {
	font-family: 'proxima nova semibold';
}
.sales-order-voucher .my-account #my-orders-table {
	border: 1px solid silver;

}
.cms-no-route .main-container .std p:first-child,
.cms-no-route .main-container .std br,
.cms-no-route .main-container .std h1,
.cms-no-route .main-container .std .widget-new-products  {
	display: none;
}
.cms-no-route .main-container .std p strong{
	display: block;
	font-size: 46px !important;
	line-height: 60px;
	font-family: 'proxima nova semibold';
	font-style: normal;
	color: #159867;
}
.cms-no-route .main-container .std p {
	font-size: 24px !important;
	line-height: 48px;
	font-family: 'proxima nova semibold';
	font-style: normal;
	color: #333333;
	margin-bottom:0px;

}
.cms-no-route .main-container .std p a {
	text-decoration: none;
}
.cms-no-route .main-container .std p a:hover {
	color: #128258;
}
.cms-no-route .main-container .std h2 {
	font-family: 'proxima nova semibold' !important;
	font-size: 24px;
	font-style: normal;
	color: #333333;
}
.cms-no-route .main-container .std {
	padding: 50px 0px;
}
.newsletter-manage-index .my-account #form-validate {
	padding-bottom: 30px;
}
.newsletter-manage-index .my-account #form-validate .buttons-set .button {
	margin-left: 0px;
}
.message-sending {
    top: 70px;  
}
.review-customer-view .product-review .product-img-box p.label {
	color:  #159867;
	border-bottom: none;
	padding-left: 20px;
}
.review-customer-view .product-review .product-img-box  a.product-image{
	width: 50%;
	float: left;
}
.review-customer-view .product-review .product-img-box .ratings{
	width: 50%;
	float: left;
	padding-left: 20px;
}
.review-customer-view .product-review .product-details .product-name {
	color: #159867;
}
.review-customer-view .product-review .product-details {
	width: 50%;
	float: left;
}
@media screen and ( max-width: 1600px){
	.category-products li .product-info .price-box {
		display: inline-block;
		width: 80%;
	}
}
@media screen and ( max-width: 1366px){
	.category-products li .product-info .price-box {
		display: inline-block;
		width: 95%;
	}
	.package-table-outer .group-package table tr:first-child th.free-member{
	    width: 20%;
	}
	.package-table-outer .group-package table tr:first-child th.basic-package, .package-table-outer .group-package table tr:first-child th.premium-package, .package-table-outer .group-package table tr:first-child th.standard-package {
	    font-size: 20px;
	}
}
@media screen and ( max-width: 1110px){ 
 	.package-table-outer .group-package table tr:last-child td a {
	    padding: 0 10px;
	}
	.products-grid .product-name, .products-list .product-name {
		min-height: 75px;
	}
	.customer-account .main-container .sidebar .block-title {
	    padding: 0px 10px;
	}
	.customer-account .main-container .sidebar .block-content ul li a {
	    font-size: 14px;
	    line-height: 30px;
	}
	.customer-account .main-container .sidebar .block-content ul li:before {
	    top: 10px;
	}
	.customer-account .main-container .sidebar .block-title span {
	    font-size: 16px;
	}
	/*.package-table-outer .group-package .basic-package,
	.package-table-outer .group-package .premium-package, 
 	.package-table-outer .group-package .standard-package {
   		width: 30%;
	    display: inline-block;
	    vertical-align: top;
	    margin: 0 10px;
	    padding-bottom: 20px;
	}
	.package-table-outer .group-package .package-content ul li {
	    font-size: 14px; 
	}
	.package-table-outer .group-package .package-title {
	    font-size: 18px; 
	}*/
	.cms-sell-on-duukaan #why-afrique-mall .whyDuukaan .peek-block {
	    width: 100%;
	}
	.category-products li .product-info .ratings {
	    width: 100%;
	}
	.category-products li .product-info .ratings .rating-box{
		margin: 0px;
	}
	.package-table-outer .group-package table tr:last-child td a {
	    font-size: 16px;
	}
}

@media screen and ( max-width: 800px){
	.customer-account .main-container .main .sidebar {
		width: 100%;
	}
	.customer-account .main-container .main .sidebar .block-title {
		padding: 0px;
	}
	.customer-account .main-container .main .sidebar .block-title strong:after, 
	.customer-account .main-container .main .sidebar .block-title.active strong:after{
		right: 10px !important;
		left: inherit;
	}
	.customer-account .main-container .main .col-main {
		width: 100%;
	}
	.customer-account .main-container .main .col-main .scaffold-form .fieldset .form-list .input-box input {
		width: 100%;
	}
	.customer-account .main-container .main .col-main .scaffold-form .fieldset p {
		display: none;
	}
	.customer-account .col-main {
	    padding: 0 15px !important;
	}
/*	.customer-account .wrapper {
	    padding: 0px 20px 0 50px;
	}*/
	.customer-account .main-container .sidebar .block-content {
	    padding: 20px;
	}
	.customer-account .main-container .sidebar .block-content ul li:before {
	    left: -15px; 
	}
	.customer-account .main-container .sidebar .block-content ul li a {
	    font-size: 18px;
	    line-height: 30px;
	}
	.customer-account .main-container .col-left-first .block-content {
		padding: 10px 30px;
	}
	.customer-account .main-container .col-main .my-account .page-title h1, .customer-account .main-container .col-main .my-account .scaffold-form .fieldset h2, .wishlist-index-share .col-main .my-account #form-validate .fieldset .legend {
	   font-size: 16px;	
		margin-bottom: 10px;
	}
	body.customer-account .my-account .fieldset {
	    margin-top: 0px;
	    margin-bottom: 30px;
	}
	.sidebar .block:not(.block-layered-nav) .block-title > strong,
	.sidebar .block:not(.block-layered-nav) .block-title.active > strong {
    	padding: 7px 10px 7px 15px;
	}
	.catalog-category-view .main-container .col-main {
		width: 100%;
	}
	.category-products .sorter {
	     padding-left: 00px; 
	}
	footer .main-container .col-sm-3,
	footer .main-container .col-sm-9 {
		width: 100%;
	}
	footer {
		padding: 20px 55px;
	}
	/*.customer-account .wrapper {
	    padding: 0 20px 0 35px;
	}*/
	footer:before{
		background-color: inherit;
	}
	#header-search:before{
		display: table;
		content: ""
	}
	#header-search:after{
		display: table;
		content: "";
		clear: both;
	}

	#header-search {
		margin-right: 0px;
		width: 100%;
		padding: 20px 0px;
	}
	#header-search #search_mini_form,
	#search {
		width: 100%;
	}
	 .page-header {
		margin-bottom: 60px;
	 }
	#search_mini_form .form-search .sbHolder {
		/*position: static;
		width: 100%;
		margin-top: 10px;
		background-color: #149867;*/
		display: none;
		z-index: 99999;
	}
	#search_mini_form .form-search .sbHolder .sbSelector {
		display: block;
		text-transform: uppercase;
		color: #fff;

	}
	#search_mini_form .form-search .sbHolder .sbToggle {
		position: relative;
	}
	#search_mini_form .form-search .sbHolder .sbToggle:before{
		content: "";
	}
	#search_mini_form .form-search .sbHolder .sbToggle:after{
		background: url('../images/cate_search.png');
		display: block;
		content: "";
		width: 17px;
		height: 16px;
		position: absolute;
		top: 10px;
		left: 0px;
	}
	#search_mini_form .form-search .sbHolder .sbToggle.sbToggleOpen:after {
		background: url('../images/cate_close.png');
	}
	#search_mini_form .form-search .sbHolder .sbOptions li a {
		color: #fff;
		display: block;
	}
	.blog-cat-view .sidebar .block-title, .blog-index-list .sidebar .block-title, .blog-post-view .sidebar .block-title {
	    display: block;
	}
	.blog-index-list .main-container .col-main,
	.blog-cat-view .main-container .col-main ,
	.blog-post-view .main-container .col-main {
		padding: 0px;
		width: 100%;
	}
	.blog-index-list .main-container .sidebar,
	.blog-cat-view .main-container .sidebar,
	.blog-post-view  .main-container .sidebar{
		width: 100%;
	}
	.blog-index-list .main-container .sidebar .block-title strong,
	.blog-cat-view .main-container .sidebar .block-title strong,
	.blog-post-view .main-container .sidebar .block-title strong{
		background-color: #ececec;
		background-image: none;
 	}
 	 
 	.vendorspage-index-index .main-container .sidebar .block-title,
 	.vendorspage-rating-index .main-container .sidebar .block-title {
 		background-color: #ececec;
 	}
 	.vendorspage-index-index .main-container .sidebar .block-title strong span ,
 	.vendorspage-rating-index .main-container .sidebar .block-title strong span {
 		background-color: transparent;
 	}
	.vendorspage-index-index .main-container .sidebar .block-title strong,
	.vendorspage-rating-index .main-container .sidebar .block-title strong,
	.vendorspage-index-index .main-container .sidebar .block-title.active strong,
	.vendorspage-rating-index .main-container .sidebar .block-title.active strong {
		border: none;
		background: none;
	}
	.blog-index-list .main-container .sidebar .block-title strong:after,
	.blog-cat-view .main-container .sidebar .block-title strong:after,
	.blog-post-view .main-container .sidebar .block-title strong:after,
	.vendorspage-index-index .main-container .sidebar .block-title strong:after,
	.vendorspage-rating-index .main-container .sidebar .block-title strong:after{
		border-right: 10px solid transparent;
		border-left: 10px solid transparent;
		border-top: 10px solid #159867;
		left: inherit;
		right: 10px;
		margin-top: -6px;
	}
	.blog-index-list .main-container .sidebar .block-title.active strong:after,
	.blog-cat-view .main-container .sidebar .block-title.active strong:after,
	.blog-post-view .main-container .sidebar .block-title.active strong:after,
	.vendorspage-index-index .main-container .sidebar .block-title.active strong:after,
	.vendorspage-rating-index .main-container .sidebar .block-title.active strong:after
	{
		border-right: 10px solid transparent;
		border-left: 10px solid transparent;
		border-bottom: 10px solid #159867;
		border-top: none;
		left: inherit;
		right: 10px;
		margin-top: -6px;
	}
	.blog-index-list .main-container .sidebar .block-title strong span,
	.blog-cat-view .main-container .sidebar .block-title strong span,
	.blog-post-view .main-container .sidebar .block-title strong span {
		display: block;
		line-height: 55px;
		font-size: 17px;
		font-weight: bold;
	}
	.blog-index-list .col-main .toolbar .sorter ,
	.blog-cat-view .col-main .toolbar .sorter ,
	.blog-post-view .col-main .toolbar .sorter,
	.blog-index-list .col-main .toolbar .pager,
	.blog-cat-view  .col-main .toolbar .pager,
	.blog-post-view .col-main .toolbar .pager {
		width: 49%;
		display: inline-block;
		float: none;
		margin: 5px 0px;
	}
	.blog-index-list .sidebar .block-content,
	.blog-cat-view .sidebar .block-content ,
	.blog-post-view .sidebar .block-content {
		padding: 0px !important;
	}
	/*.package-table-outer .group-package .basic-package,
	.package-table-outer .group-package .premium-package, 
	.package-table-outer .group-package .standard-package {
	    width: 100%;
	    display: block;     
	    margin: 10px 0px;
	}
	
	.package-table-outer .group-package .package-content ul li {
	    font-size: 18px;
	}*/

	.cms-sell-on-duukaan  #tabs .ui-tabs-nav li {
	    width: 100%;
	    padding: 0px;
	}
	.cms-sell-on-duukaan  #tabs .ui-tabs-nav li:last-child,
	.cms-sell-on-duukaan  #tabs .ui-tabs-nav li:first-child {
	    padding: 0;
	}
	.cms-sell-on-duukaan #faq .row .Faq-block .Faq-title {
    	line-height: 32px; 
	}
	.cms-sell-on-duukaan #faq .row .Faq-block .Faq-content .Item-content, .cms-sell-on-duukaan #faq .row .Faq-block .Faq-content .return {
	    width: 100%!important;
	    float: left;
	}
	.cms-sell-on-duukaan #faq .row .Faq-block .Faq-content .Item-content, .cms-sell-on-duukaan #faq .row .Faq-block .Faq-content {
		overflow-x: auto; 
	}
	.cms-sell-on-duukaan #why-afrique-mall ,
	.cms-sell-on-duukaan #how-it-work {
	    padding: 0px;
	}
 	.review-customer-index .my-account #my-reviews-table{
 		padding-top: 60px
 	}
 	.review-customer-index .my-account #my-reviews-table, 
	.review-customer-index .my-account #my-reviews-table td,
	.review-customer-index .my-account #my-reviews-table tr,
	.review-customer-index .my-account #my-reviews-table tbody {
		display: block;
	}
	.review-customer-index #my-reviews-table tbody .first td {
	    background: none; 
	    padding: 0px;
	}
	.review-customer-index #my-reviews-table tbody .first td .title-product ,
	.review-customer-index #my-reviews-table tbody .first td .title-name ,
	.review-customer-index #my-reviews-table tbody .first td .title-review ,
	.review-customer-index #my-reviews-table tbody .first td .title-date ,
	.review-customer-index #my-reviews-table tbody .first td .title-action {
		background-color: #f4f4f4;
		padding: 10px;
	}
	.review-customer-index #my-reviews-table tbody .first td .product-name,
	.review-customer-index #my-reviews-table tbody .first td .nobr{
		padding: 20px;
		display: block;
		margin: 0px;
	}
	.review-customer-index #my-reviews-table tbody .first td {
		min-height: 70px;
	}
	.vendorspage-index-index .col-main,
	.vendorspage-rating-index .col-main,
	.vendorspage-map-index .col-main,
	.vendorspage-category-view .col-main,
	.vendorspage-index-index .sidebar,
	.vendorspage-rating-index .sidebar,
	.vendorspage-map-index .sidebar,
	.vendorspage-category-view .sidebar{
		width: 100% !important;
	}
	.vendorspage-index-index .category-products .category-products .products-grid .item .product-info {
		padding: 20px;
	}
	.page-header {
		margin-bottom: 20px;
	}
	#header-nav {
	    background-color: transparent;
	}
	.page-header {
		border-bottom: none;
	}
	.vendorspage-rating-index .col-main {
	    padding-left: 0px;
	}
	.cms-sell-on-duukaan #tabs .ui-tabs-nav li a {
	    text-transform: capitalize;
	}
	.cms-no-route .main-container .std p strong {
	    font-size: 30px!important;
	    line-height: 40px;
	}
	.cms-no-route .main-container .std p {
	    font-size: 26px!important;
	    line-height: 40px;
	    margin-bottom: 20px;
	}
	.cms-no-route .main-container .std h2 {
		font-size: 24px;
	}
	.cms-no-route .main-container .std p {
  		font-size: 24px!important;
	}
	.package-table-outer .group-package table tr:last-child td a {
	    font-size: 14px;
	}
	.review-customer-view .product-review .product-details {
	    padding-left: 20px;
	}
	.customer-account .main-container .sidebar .block-title, .package-table-outer .group-package table tr:last-child td a {
	    padding: 0 5px;
	}
	.package-table-outer .group-package table tr:first-child th.free-member {
	    width: 20%;
	}
	.customer-account .main-container .sidebar .block-content ul li:before {
	    top: 14px;
	}
	.cms-sell-on-duukaan  #tabs .ui-tabs-nav li a {
	    text-align: left;
	}
}
@media screen and ( max-width: 750px){
	.package-table-outer .group-package {
		overflow-x: auto; 
	}
	.package-table-outer .group-package table {
		min-width: 750px;
	}
}
@media screen and ( max-width: 600px){
	footer {
		padding:20px;
	}
	.customer-account .col-main {
		padding: 0px !important;
	}
	.wishlist-index-index .main-container .col-main .page-title #wishlist-view input {
		width: 100% !important;
	}
	.wishlist-index-index .main-container .col-main .page-title #wishlist-view button {
		margin: 5px 0px !important;
		width: 100%; 
	}
	.wishlist-index-index .main-container .col-main #tabsandcontent .iwishtabs #mwishlist-mobile-view .wishlist-items .product-image{
		float: none;
		display: block;
	}
	.wishlist-index-index .main-container .col-main #tabsandcontent .iwishtabs #mwishlist-mobile-view .wishlist-items .product-image{
		max-width: 100%;
		text-align: center;
	}
	.wishlist-index-index .main-container .col-main #tabsandcontent .iwishtabs #mwishlist-mobile-view .wishlist-items .wishlist-item-details {
		margin-left: 0px;
	}
	.wishlist-index-index .main-container .col-main #tabsandcontent .iwishtabs #mwishlist-mobile-view .wishlist-items .wishlist-item-details h2,
	.wishlist-index-index .main-container .col-main #tabsandcontent .iwishtabs #mwishlist-mobile-view .wishlist-items .wishlist-item-details p	{
		text-align: center;
	}	
	.wishlist-index-index .main-container .col-main #tabsandcontent .iwishtabs #mwishlist-mobile-view .wishlist-items .wishlist-item-details div {
		width: 100%;
	}
	.wishlist-index-index .main-container .col-main #tabsandcontent .iwishtabs #mwishlist-mobile-view  button,
	.wishlist-index-index .main-container .col-main #tabsandcontent .iwishtabs #mwishlist-mobile-view .wishlist-items .wishlist-item-details .input-text{
		margin: 5px 0px 0 0 !important;
		width: 49% !important;
		display: inline-block;
		 
	}
	.wishlist-index-index .main-container .col-main select {
		width: 100% !important;
		margin: 5px  0px !important;
	}
	.wishlist-index-index .main-container .col-main #tabsandcontent .iwishtabs #mwishlist-mobile-view  button span {
		font-size: 13px;
	}
	.cms-sell-on-duukaan #why-afrique-mall .whyDuukaan .peek-block .items .item.first,
	.cms-sell-on-duukaan #why-afrique-mall .whyDuukaan .peek-block .items .item.second,
	.cms-sell-on-duukaan #why-afrique-mall .whyDuukaan .peek-block .items .item.second .content, 
	.cms-sell-on-duukaan #why-afrique-mall .whyDuukaan .peek-block .items .item.second .icon,
	.cms-sell-on-duukaan #why-afrique-mall .whyDuukaan .peek-block .items .item.first .content,
	.cms-sell-on-duukaan #why-afrique-mall .whyDuukaan .peek-block .items .item.first .icon {
	    width: 100%;
	    display: block;
	}
	.form-new-message {
	    position: fixed;
	    width: 100%;
	    bottom: 0;
	    right: 0;
	    margin: 0;
	    z-index: 9999;
	}
	.sales-order-voucher .my-account .data-table,
	.sales-order-voucher .my-account .data-table tbody,
	.sales-order-voucher .my-account .data-table tbody tr{
		display: block;
		width: 100%;
	}
	.sales-order-voucher .my-account .data-table tbody tr td {
		width: 100%;
		display: block;
		padding: 0 0px 10px 0;
		text-align: center;
	}
	.sales-order-voucher .my-account .data-table tbody tr td  div {
		padding: 10px 0px 0px 0;
		margin-bottom: 10px;
		background-color: #f2f2f2;
		border-bottom: 1px solid silver;
		border-top: 1px solid silver;
	}
	.review-customer-view .product-review .product-img-box a.product-image {
	    width: 100%;
	    float: left;
	    text-align: center;
	}
	.review-customer-view .product-review .product-img-box p.label {
	    padding-left: 0px;
	}
	.review-customer-view .product-review .product-img-box .ratings {
	    width: 100%;
	    padding-left: 0;
	}
	.review-customer-view .product-review .product-details {
	    padding-left: 0px;
	     width: 100%;
    	float: left;
	}
	 
}

	
@media screen and ( max-width: 460px){
	.blog-index-list .col-main .toolbar .sorter ,
	.blog-cat-view .col-main .toolbar .sorter ,
	.blog-post-view .col-main .toolbar .sorter,
	.blog-index-list .col-main .toolbar .pager,
	.blog-cat-view  .col-main .toolbar .pager,
	.blog-post-view .col-main .toolbar .pager {
		width: 100%;
		display: block;
		float: left;
		margin: 5px 0px;
	}
	.cms-sell-on-duukaan .col-main .std .desktop{
		display: none;
	}
	.cms-sell-on-duukaan .col-main .std .mobile{
		display: block;
	}
}
@media screen and ( max-width: 320px){
	.products-grid > li {
	    width: 45%;
	}
}	