body.cms-merchant-term-and-conditions .main .col-main {
  padding: 0 0 0 60px; }
  body.cms-merchant-term-and-conditions .main .col-main .page-title .link-rss {
    display: none; }
  body.cms-merchant-term-and-conditions .main .col-main .page-title .kb-category-title h2 {
    font-family: "proxima nova semibold";
    font-size: 30px;
    color: #3c3c3c;
    font-style: normal; }
  body.cms-merchant-term-and-conditions .main .col-main .cms-term-and-conditions .show-all {
    display: block !important;
    height: auto !important;
  }
  body.cms-merchant-term-and-conditions .main .col-main .cms-term-and-conditions ul li a.active.show-all-title {
    font-family: "proxima nova semibold";
    color: #3c3c3c;
    font-weight: normal;
  }
  body.cms-merchant-term-and-conditions .main .col-main .cms-term-and-conditions {
    padding: 0 60px 0 0;
    margin-left: 0 !important; }
    body.cms-merchant-term-and-conditions .main .col-main .cms-term-and-conditions .rma-title-paragraph {
      border-bottom: 2px solid #159867;
      margin-bottom: 20px; }
      body.cms-merchant-term-and-conditions .main .col-main .cms-term-and-conditions .rma-title-paragraph h2 {
        margin-bottom: 0;
        font-size: 24px;
        font-family: "proxima nova semibold";
        color: #159867;
        font-style: normal;
        line-height: 50px;
        text-decoration: none;
        text-transform: capitalize; }
        body.cms-merchant-term-and-conditions .main .col-main .cms-term-and-conditions .rma-title-paragraph h2 a {
          text-decoration: underline; }
    body.cms-merchant-term-and-conditions .main .col-main .cms-term-and-conditions ul {
      margin-left: 0 !important; }
      body.cms-merchant-term-and-conditions .main .col-main .cms-term-and-conditions ul li {
        list-style-type: none;
        position: relative; }
        body.cms-merchant-term-and-conditions .main .col-main .cms-term-and-conditions ul li a {
          padding-left: 30px; }
          body.cms-merchant-term-and-conditions .main .col-main .cms-term-and-conditions ul li a:before {
            content: "\f101";
            font-family: 'FontAwesome';
            font-size: 18px;
            position: absolute;
            display: block;
            color: #159867;
            top: 0;
            left: 0; }
        /*  body.cms-merchant-term-and-conditions .main .col-main .cms-term-and-conditions ul li a.active {
            color: #159867;
            font-size: 18px; }
          body.cms-merchant-term-and-conditions .main .col-main .cms-term-and-conditions ul li a.active:before {
            content: "\f103";
            font-family: 'FontAwesome';
            font-size: 18px;
            position: absolute;
            display: block;
            top: 0;
            left: 0; }*/
    body.cms-merchant-term-and-conditions .main .col-main .cms-term-and-conditions .faq-title {
      font-size: 16px;
      font-family: "proxima nova semibold";
      color: #3c3c3c;
      font-style: normal;
      line-height: 50px;
      text-decoration: none; }
    body.cms-merchant-term-and-conditions .main .col-main .cms-term-and-conditions .article-content {
      display: none;
      font-size: 16px;
      font-family: "proxima nova regular";
      color: #3c3c3c;
      font-style: normal;
      line-height: 24px;
      padding-bottom: 25px;
      padding-left: 40px; }
      body.cms-merchant-term-and-conditions .main .col-main .cms-term-and-conditions .article-content td, body.cms-merchant-term-and-conditions .main .col-main .cms-term-and-conditions .article-content th {
        padding: 5px;
        font-size: 16px;
        font-family: "proxima nova regular";
        color: #3c3c3c;
        font-style: normal;
        line-height: 24px; }
      body.cms-merchant-term-and-conditions .main .col-main .cms-term-and-conditions .article-content p {
        font-size: 16px;
        font-family: "proxima nova regular";
        color: #3c3c3c;
        font-style: normal;
        line-height: 24px;
        margin: 0 0 5px; }
body.cms-merchant-term-and-conditions .main .col-main table td {
  padding: 10px;
}
body.cms-merchant-term-and-conditions .main .col-main table td p {
  margin-bottom: 0;
}