<form onsubmit="" action="<?php echo $this->getCreateBoxUrl() ?>" method="post" id="ves-start-chat-live">
    <div>
        <ul class="form-list">
            <li class="fields user-name" style="<?php echo Mage::getSingleton('customer/session')->getCustomer()->getId() ? 'display:none'  : 'display:block' ?>">
                <label for="ves-livechat-chat-name" class="required"><em>*</em><?php echo $this->__('Name') ?></label>
                <div class="input-box">
                    <input type="text" name="name" id="ves-livechat-chat-name" value="<?php  echo  $this->getCustomerName() ?>" title="<?php echo $this->__('Name') ?>" class="input-text required-entry" <?php if($this->getSessionBox()) echo "readonly" ?>/>
                </div>
            </li>
            <li class="fields user-email" style="<?php echo Mage::getSingleton('customer/session')->getCustomer()->getId() ? 'display:none'  : 'display:block' ?>">
                <label for="ves-livechat-chat-email" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                <div class="input-box">
                    <input type="text" name="email" id="ves-livechat-chat-email" value="<?php  echo  $this->getCustomerEmail() ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text validate-email required-entry" <?php if($this->getSessionBox()) echo "readonly" ?>/>
                </div>
            </li>
            <li class="fields user-info" style="<?php echo Mage::getSingleton('customer/session')->getCustomer()->getId() ? 'display:block'  : 'display:none' ?>">
                <div class="header-info">
                    <?php echo $this->__("Hello there!") ?>
                    <?php if(!Mage::getSingleton('customer/session')->getCustomer()->getId()):?>
                        <div class="content-info-right"><a href="javascript:void(0)" onclick="ChatOption.showEditInfoUser()"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."ves_vendors/livechat/edit_info.gif" ?>"></a></div>
                    <?php endif ?>
                </div>
                <div class="content-info">
                    <div class="content-info-left">
                        <div class="left-info"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."ves_vendors/livechat/avatar.jpg" ?>"></div>
                        <div class="right-info">
                            <p><strong id="ves-livechat-chat-name-text"><?php  echo  $this->getCustomerName() ?></strong></p>
                            <p id="ves-livechat-chat-email-text" style="overflow:hidden; white-space:nowrap; text-overflow:ellipsis;"><?php  echo  $this->getCustomerEmail() ?></p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </li>
            <li class="fields">
                <label for="chat-question" class="required"><em>*</em><?php echo $this->__('Message') ?></label>
                <div class="input-box">
                    <textarea name="question" placeholder="This is the message" id="chat-question" class="input-text required-entry"></textarea>
                </div>
            </li>
        </ul>
        <input type="hidden" name="vendor_id" value="<?php echo $this->getVendorId() ?>">
        <input type="hidden" name="customer_id" value="<?php echo $this->getCustomerId() ?>" id="ves_vendors_livechat_customer_id">
    </div>
    <div class="button-set">
        <button class="button" style="" onclick="createForm.submit()" type="button" title="Close">
                    <span>
                    <span><?php echo $this->__("Start Chatting") ?></span>
                    </span>
        </button>
    </div>
</form>
<script type="text/javascript">
    //<![CDATA[

    var createForm = new VarienForm('ves-start-chat-live', true);
    createForm.submit = function() {
        var form = createForm.form;
        if (createForm.validator.validate()) {
            loadingBox.show();
            loadingBox.show();
            createForm.form.request({
                method: 'post',
                onSuccess: function(transport) {
                    try {
                        if (transport.responseText.isJSON()) {
                            var response = transport.responseText.evalJSON();
                            if(!$("ves_vendors_livechat_customer_id").value){
                                var email = $("ves-livechat-chat-email").value;
                                var name = $("ves-livechat-chat-name").value;
                                ChatOption.setCookie(name,email,null);
                            }
                            if(response.success){
                                var session = response.session_id.split('||');
                                if(response.box) {

                                    $$(".ves-livechat-box-create").each(function(node){
                                        node.hide();
                                    });

                                    $("ves-livechat-support").insert({bottom:response.box});
                                    livechat.optionStyleSingelBox(session[0]);
                                    control.createBox(session[0],session[1]);
                                    msgTypeObject[session[0]] = new MessageTypePing(control);
                                    livechat.box_session.push(response.session_id);
                                }
                                else{
                                    if($("ves-tabs-chatlive-"+session[0]+" .content").visible() == true){
                                        $("ves-tabs-chatlive-"+session[0]+" .content").show();
                                    }
                                }
                                loadingBox.close();
                                livechat.setStyleBox();
                                livechat.optionStyleBox();
                                ChatOption.setStorageClickBox('<?php echo $this->getVendorId() ?>',"true");
                                ChatOption.setStorage(session[0]);
                            }else{
                                loadingBox.close();
                                if(response.msg) alert(response.msg);
                            }
                        }
                    }catch(e){console.log(e);}
                }
            });
             }
    }.bind(createForm);
</script>