
<div id="ves-livechat-support" style="display: none">
     <div style="display: none" class="ves-tabs-chatlive ves-livechat-box-hidden-list" onclick="ChatOption.showHiddenList(this)" rel="0">
            <?php echo $this->__("...."); ?>
            <div class="list-hidden">
                <ul style="display: none;">
                </ul>
            </div>
     </div>
     <?php echo $this->getDisplayBoxHtml() ?>
</div>



<script type="text/javascript">
    var time = <?php echo Mage::helper("vendorslivechat")->getRunTimeAjax() ?>;
    var livechat ;
    var audio;
    var checkTypeing;
    var control ;
    var msgTypeObject;
    var messageArray = <?php echo $this->getMessageBox() ?>;
    var commandArray = <?php echo $this->getCommands() ?>;
    var AUDIO_SOUND = '<?php echo Mage::helper("vendorslivechat")->getAudioUrl() ?>';
    var UPDATE_TIME_SESSION = '<?php echo Mage::helper("vendorslivechat")->getUrl("vendorslivechat/customer/updatetime") ?>';
    var AVATAR_URL = '<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."ves_vendors/livechat/avatar.jpg" ?>';
    Event.observe(window,"load",function(){
         $("ves-livechat-support").show();
         livechat = new VesBoxChat('<?php echo $this->getVendorId() ?>',messageArray,commandArray,'<?php echo Mage::helper("vendorslivechat")->getUrl("vendorslivechat/customer/process") ?>','<?php echo Mage::helper("vendorslivechat")->getUrl("vendorslivechat/customer/deletebox") ?>','<?php echo Mage::helper("vendorslivechat")->getUrl("vendorslivechat/customer/updateshowbox") ?>');
         audio = ChatOption.getStatusAudio();
         ChatOption.setStorage();
         ChatOption.getNumberElementBox();
         control = new ChatControl('<?php echo Mage::helper("vendorslivechat")->getUrl("vendorslivechat/customer/control") ?>');
         msgTypeObject = ChatOption.getObjectMsgType('<?php echo $this->getObjectMessageType() ?>',control);
         if (window.addEventListener) {
            window.addEventListener("storage", storageEventHandler, false);
         } else {
            window.attachEvent("onstorage", storageEventHandler);
         }
         function storageEventHandler(event) {
            if (!event) { event = window.event; }
            if (event.key == 'ves-livechat-support') {
                  var value = localStorage.getItem(event.key);
            	  $('ves-livechat-support').innerHTML = JSON.parse(value);
            	  livechat.optionStyleBox();
                  ChatOption.getNumberElementBox();
            }
             if (event.key == 'ves-livechat-support-create') {
                 var sesision = localStorage.getItem(event.key);
                 msgTypeObject[sesision] = new MessageTypePing(control);
             }
             if (event.key == 'ves-livechat-support-click-box-<?php echo $this->getVendorId() ?>'){
                 var newValue = localStorage.getItem(event.key);
                 if(newValue == "true"){
                    if($("ves-tabs-chatlive-start-<?php echo $this->getVendorId() ?>")) $("ves-tabs-chatlive-start-<?php echo $this->getVendorId() ?>").hide();
                 }
                 else{
                     if($("ves-tabs-chatlive-start-<?php echo $this->getVendorId() ?>")){
                         ChatOption.closeBox();
                         $("ves-tabs-chatlive-start-<?php echo $this->getVendorId() ?>").show();
                     }
                 }
             }

         }
    });
  



</script>
