<?php
if (!$slides = $this->getItems()->getData()) :
    return;
endif;
?>

<?php
    $slider = $this->getBanner()->getData();
    $width  = $slider['width'];
    $height = $slider['height'];
    $easyslide_id = $slider['banner_id'];
?>

<?php if ($slider['template'] == '0') : ?>
    <div class="easyslideslider-id" id="easyslideslider-<?php echo $easyslide_id; ?>" style='position: relative; <?php echo "width:".$width."px; height:".$height."px"; ?>'>
        <div class="scroller" style='<?php echo "width:".$width."px; height:".$height."px"; ?>'>
            <div class="content">
                <?php $i = 0; foreach ($slides as $slide): ?>
                    <div class="section" id="section<?php echo ++$i ?>" style="width:<?php echo $width ?>px; height:<?php echo $height ?>px">
                        <a href="<?php echo $slide['url'] ?>" class="easyslide-link <?php echo $this->getSlideClassName($slide) ?>">
                            <?php
                                if (strncmp($slide["filename"],'http', 4) == 0) {
                                    $image_src = $slide["filename"];
                                } else {
                                    $image_src = $this->getImageUrl($slide["filename"]) ;
                                }
                            ?>
                            <img src="<?php echo $image_src; ?>" alt="<?php echo $this->escapeHtml($slide['title']) ?>"/>
                        </a>
                        <?php if (!empty($slide['description']) && $slider["display_description"] == 1) : ?>
                            <div class="easyslide-description <?php echo $this->getDescriptionClassName($slide['desc_pos']); ?> <?php echo $this->getBackgroundClassName($slide['background']); ?>"><?php echo $this->filterDescription($slide['description']) ?></div>
                        <?php endif; ?>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>

        <div class="easyslide-controls-wrapper">
            <div class="easyslide-controls">
            <?php if ($slider["controls_type"] == 'number'):
                $slcount = count($slides);

                for ($i = 0; $i < $slcount; $i++):
                    echo '<a href="#section'.($i+1).'" title="Slide '.($i+1).'" class="easyslide-num">'.($i+1).'</a>';
                endfor;
            else: ?>
                <a href="#" class="easyslideprev" title="Previous"></a>
                <a href="#" class="easyslidestop" title="Stop"></a>
                <a href="#" class="easyslideplay" title="Play"></a>
                <a href="#" class="easyslidenext" title="Next"></a>
            <?php endif; ?>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    //<![CDATA[
    var new_glider = new VesEasyslider('easyslideslider-<?php echo $easyslide_id; ?>', {
        duration  : <?php echo $slider['duration'];?>,
        autoGlide : <?php echo (int)$slider['autoglide'];?>,
        frequency : <?php echo $slider['frequency'];?>,
        effectType: '<?php echo $slider['easing']; ?>'
    });
    //]]>
    </script>
<?php elseif ($slider['template'] == '1') : ?>
    <?php
        if (!Mage::registry('tm.load.jquery')) :
            echo $this->getLayout()->getBlock('vendor.load.jquery')->toHtml();
            Mage::register('tm.load.jquery', 1);
            ?>
            <script type="text/javascript">
                if (typeof jQuery === 'undefined') {
                    alert('jQuery library is not found. Please enable it from VesEasyslider configuration');
                }
            </script>
            <script type="text/javascript" src="<?php echo $this->getSkinUrl('ves_bannermanager/css/nivo/jquery.nivo.slider.js'); ?>"></script>
            <?php
        endif;
    ?>
    <?php $theme = 'theme-' . $slider['theme'] ?>
    <div class="slider-wrapper <?php echo $theme ?>">
        <div id="slider-<?php echo $easyslide_id; ?>" class="nivoSlider">
            <?php $i = 0; foreach ($slides as $slide): ?>
                <a href="<?php echo $slide['url'] ?>" class="easyslide-link <?php echo $this->getSlideClassName($slide) ?>">
                    <?php
                        if (strncmp($slide["filename"],'http', 4) == 0) {
                                    $image_src = $slide["filename"];
                                } else {
                                    $image_src = $this->getImageUrl($slide["filename"]) ;
                        }
                    ?>
                    <img src="<?php echo $image_src; ?>" alt="<?php echo $this->escapeHtml($slide['image']) ?>" <?php if (!empty($slide['description'])) : ?> title="#htmlcaption<?php echo $i; ?>" <?php endif; ?> />
                </a>
                <?php $i++; ?>
            <?php endforeach; ?>
        </div>
    </div>

    <?php $i = 0; foreach ($slides as $slide): ?>
        <?php if (!empty($slide['description']) &&  $slider["display_description"] == 1) : ?>
            <div class="nivo-html-caption" id="htmlcaption<?php echo $i; ?>"><?php echo $this->filterDescription($slide['description']) ?></div>
        <?php endif; $i++;?>
    <?php endforeach; ?>

    <?php $nivoEffect = implode(',', $slider['nivoeffect']); ?>
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('#slider-<?php echo $easyslide_id; ?>').nivoSlider({
                'effect': '<?php echo $nivoEffect ?>',
                'slices': <?php echo $slider['slices'] ?>, // For slice animations
                'boxCols': <?php echo $slider['boxCols'] ?>, // For box animations
                'boxRows': <?php echo $slider['boxRows'] ?>, // For box animations
                'animSpeed': <?php echo $slider['animSpeed'] ?>, // Slide transition speed
                'pauseTime': <?php echo $slider['pauseTime'] ?>, // How long each slide will show
                'directionNav': <?php echo $slider['directionNav'] ?>, // Next & Prev navigation
                'controlNav': <?php echo $slider['controlNav'] ?>, // 1,2,3... navigation
                'pauseOnHover': <?php echo $slider['pauseOnHover'] ?>, // Stop animation while hovering
                'manualAdvance': <?php echo $slider['manualAdvance'] ?>, // Force manual transitions
                'prevText': '<?php echo Mage::helper('bannermanager')->__('Prev') ?>',
                'nextText': '<?php echo Mage::helper('bannermanager')->__('Next') ?>'
            });
        });
    </script>
<?php endif; ?>
