<div class="ves-livechat-container">
    <section class="livechat-tabs">
        <?php echo $this->getChildHtml("livechat-content") ?>
    </section>
    <section class="livechat-side">
            <?php echo $this->getChildHtml("livechat-side") ?>
    </section>
</div>
<script type="text/javascript">
    var radio = new Array();
    $$('.livechat-tabs .tab a').each(function(c){
        if($(c).hasClassName("checked")) {
            var position = $(c).readAttribute("rel");
            $$(".chat-content .content-"+position).invoke('addClassName',"active");
        }
        radio.push($(c).readAttribute("rel"));
    });

    $$('.livechat-tabs .tab a').each(function(c){
        $(c).observe("click",function(e){
            var position = $(c).readAttribute("rel");
            for (var i=0;i<radio.length;i++){
                if(position != radio[i]){
                    $$(".chat-content .content-"+radio[i]).invoke('removeClassName',"active");
                    $$(".livechat-tabs .tab .tab-selector-"+radio[i]).invoke('removeClassName',"checked");
                    if($("main-user-info-tab-"+radio[i])) $("main-user-info-tab-"+radio[i]).hide();
                }
            }
            if($(c).hasClassName("blink")) $(c).removeClassName("blick");
            $$(".chat-content .content-"+position).invoke('addClassName',"active");
            $$(".livechat-tabs .tab .tab-selector-"+position).invoke('addClassName',"checked");
            if($("main-user-info-tab-"+position)) $("main-user-info-tab-"+position).show();
        });
    });
</script>