<?php if($this->checkEnableLiveChatGroupVendor()) : ?>
<div id="ves-livechat-support" style="display: none">
	<div style="display: none" class="ves-tabs-chatlive ves-livechat-box-hidden-list" onclick="ChatOption.showHiddenList(this)" rel="0">
            <?php echo $this->__("...."); ?>
            <div class="list-hidden">
                <ul style="display: none;">
                </ul>
            </div>
     </div>
    <?php echo $this->getDisplayBoxHtml() ?>
</div>
<div id="ves_livechat_loading" class="ves_livechat-loading-box" style="display: none;"><img src="<?php echo $this->getSkinUrl('ves_vendors/images/livechat/loading.gif')?>" /><br /></div>
<div id="ves_livechat_overlay" class="ves_livechat-overlay" style="display: none;"></div>
<script type="text/javascript">
    var checkTypeing;
    var messageArray = <?php echo $this->getMessageBox() ?>;
    var audio ;
    var UPDATE_TIME_SESSION = '<?php echo Mage::helper("vendorslivechat")->getUrl("vendors/livechat_box/updatetime") ?>';
    var AUDIO_SOUND = '<?php echo Mage::helper("vendorslivechat")->getAudioUrl() ?>';
    var AVATAR_URL = '<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."ves_vendors/livechat/avatar.jpg" ?>';
    var livechat ;
    var control;
    var commandArray = <?php echo $this->getCommands() ?>;
    var msgTypeObject ;
    Event.observe(window,"load",function(){
         $("ves-livechat-support").show();
         control = new ChatControl('<?php echo Mage::helper("vendorslivechat")->getUrl("vendors/livechat_box/control") ?>');
         livechat = new VesBoxChat(messageArray,commandArray,'<?php echo Mage::helper("vendorslivechat")->getUrl("vendors/livechat_box/process") ?>','<?php echo Mage::helper("vendorslivechat")->getUrl("vendors/livechat_box/deletebox") ?>','<?php echo Mage::getUrl("vendors/livechat_box/updateshowbox") ?>','<?php echo Mage::helper("vendorslivechat")->getUrl("vendors/livechat_box/addtab") ?>','<?php echo Mage::helper("vendorslivechat")->getUrl("vendors/livechat_box/updatestatusbox") ?>',control);
         msgTypeObject = ChatOption.getObjectMsgType('<?php echo $this->getObjectMessageType() ?>',control);
         audio = ChatOption.getStatusAudio();
         ChatOption.setStorage();
         if (window.addEventListener) {
            window.addEventListener("storage", storageEventHandler, false);
         } else {
            window.attachEvent("onstorage", storageEventHandler);
         }

         function storageEventHandler(event) {
            if (!event) { event = window.event; }
            var newValue = localStorage.getItem(event.key);
            if (event.key == 'ves-livechat-support-vendors') {
                $('ves-livechat-support').innerHTML = JSON.parse(newValue);
                livechat.optionStyleBox();
            }
         }
         
    });

    var loadingBox = new LiveChatLoadingBox('ves_livechat_loading','ves_livechat_overlay');
    var loadingBoxContent = new LiveChatLoadingBox('ves_livechat_content_loading','ves_livechat_content_overlay');

</script>

<?php endif ?>