<!--@subject {{var store.getFrontendName()}}: New Order # {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"var order.getBillingAddress().format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.getShippingAddress().format('html')":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0" style="color:#3f3f3f;">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0" style="display: block; width:100%; ">
                <tr>
                    <td class="email-heading" style="padding: 0px;; box-sizing:border-box;background: none; width:100%;text-align:left; border-right: 1px dashed transparent;">
                        <h1 >Thank you for your order from {{var store.getFrontendName()}}.</h1>
                        <p>Once your package ships we will send an email with a link to track your order. Your order summary is below. Thank you again for your business.</p>
                         <p style="font-size: 16px; line-height:24px; font-weight:bold;"> Your Order:  <span style="color: #159867;">#{{var order.increment_id}}</span> <span style="font-size: 13px;font-weight: normal;">(placed on {{var order.getCreatedAtFormated('long')}})</span></p><br/>
                         <h4 style="margin: 0px;">Order Questions?</h4>
                        <p style="margin-top:0px;">
                            {{depend store_phone}}
                            <b>Call Us:</b>
                            <a href="tel:{{var phone}}">{{var store_phone}}</a><br>
                            {{/depend}}
                            {{depend store_hours}}
                            <span class="no-link">{{var store_hours}}</span><br>
                            {{/depend}}
                            {{depend store_email}}
                            <b>Email:</b> <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                            {{/depend}}
                        </p>
                    </td>    
                </tr>
            </table>
        </td>
    </tr>
   <!--  <tr>
        <td class="order-details">
            <h3>Your order <span class="no-link">#{{var order.increment_id}}</span></h3>
            <p>Placed on {{var order.getCreatedAtFormated('long')}}</p>
        </td>
    </tr> -->
    <tr class="order-information">
        <td>
            {{if order.getEmailCustomerNote()}}
            <table cellspacing="0" cellpadding="0" class="message-container">
                <tr>
                    <td>{{var order.getEmailCustomerNote()}}</td>
                </tr>
            </table>
            {{/if}}
            {{layout handle="sales_email_order_items" order=$order}}
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="address-details" style="padding: 20px 0; margin-right:20px;">
                        <h6 style="font-weight: bold; font-size: 18px; color:#3f3f3f !important;">Bill to:</h6>
                        <p><span class="no-link">{{var order.getBillingAddress().format('html')}}</span></p>
                    </td>
                    {{depend order.getIsNotVirtual()}}
                    <td class="address-details" style="padding: 20px 0; margin-right:20px;">
                        <h6 style="font-weight: bold; font-size: 18px; color:#3f3f3f !important;">Ship to:</h6>
                        <p><span class="no-link">{{var order.getShippingAddress().format('html')}}</span></p>
                    </td>
                    {{/depend}}
                </tr>
                <tr>
                    {{depend order.getIsNotVirtual()}}
                    <td class="method-info" style="padding: 20px 0; margin-right:20px;">
                        <h6 style="font-weight: bold; font-size: 18px; color:#3f3f3f !important;">Shipping method:</h6>
                        <p>{{var order.shipping_description}}</p>
                    </td>
                    {{/depend}}
                    <td class="method-info" style="padding: 20px 0; margin-right:20px;">
                        <h6 style="font-weight: bold; font-size: 18px; color:#3f3f3f !important;">Payment method:</h6>
                        {{var payment_html}}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
