<?php 
/**
 * Mageplaza_Kb extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Mageplaza
 * @package        Mageplaza_Kb
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Category Article list template
 *
 * @category    Mageplaza
 * @package     Mageplaza_Kb
 * @author      Ultimate Module Creator
 */
?>
<?php $_articles = $this->getArticles(); ?>
<?php if ($_articles->getSize() > 0) :?>
<?php /*
    <div class="page-title article-title">
    <h2><?php echo Mage::helper('mageplaza_kb')->__('FAQ') ?></h2>
</div> */ ?>
<div class="articles-list-container">
    <div class="articles-box">
        <ul class="kb-articles-listing">
            <?php foreach($_articles as $_article):?>
                <?php // echo $_article->getArticleUrl();?>
                <li><a class="faq-title" ><?php echo $_article->getName();?></a>
                    <div class="article-content">
                        <?php echo $_article->getContent(); ?>
                    </div>
                </li>
            <?php endforeach;?>
        </ul>
    </div>

</div>
<?php endif;?>
