<?php $orders=Mage::registry('order'); ?>

<div id="result_order_box" class="result_order_box">
    <ul>
        <?php
        if(count($orders) >= 1){
            foreach ($orders as $order): ?>
                <li><a onClick="return requestOption.findOrder(this.innerHTML,<?php  echo $order->getData('entity_id')  ?>)"><?php echo $order->getData('increment_id') ?></a></li>
            <?php endforeach;
            ?>
            <li class="total"><?php echo $this->__('total records found: ').count($orders) ; ?></li>
        <?php
        }
        else{
            ?>
            <div class="total"><?php echo $this->__('total records found: 0') ; ?></div>
        <?php
        }
        ?>
    </ul>
</div>
