<h2 style="text-align: center;font-size: 24px;padding-top: 24px;"><?php echo $this->__('Payment cancelled') ?></h2>
<p style="text-align: center;font-size: 14px;padding-top: 10px;"><?php echo $this->__('Click <a href="%s">here</a> to continue shopping.', Mage::helper('core')->quoteEscape($this->getContinueShoppingUrl())) ?></p>