<?php
/*$order = new Mage_Sales_Model_Order();
$orderId = Mage::getSingleton('checkout/session')->getLastRealOrderId();
$order->loadByIncrementId($orderId);*/
$payment_info = Mage::registry( 'payment_info' );
?>
<h2><?php echo $this->__('Payment with Jambopay') ?></h2>
<p>You will be redirect to Jambopay</p>
<form id="jambopay-redirect-form" method="post" action="<?php echo $payment_info['gateway_url']; ?>">
    <?php /*<input type="submit" value="<?php echo $this->__('Make Payment') ?>" /> */ ?>
    <input type="hidden" name="jp_item_type" value="cart"/>
    <input type="hidden" name="jp_item_name" value="<?php echo $payment_info['store_name']; ?>"/>
    <input type="hidden" name="order_id" value="<?php echo $payment_info['order_id']; ?>"/>
    <input type="hidden" name="jp_business" value="<?php echo $payment_info['business_email']; ?>"/>
    <input type="hidden" name="jp_payee" value="<?php echo $payment_info['customer_email']; ?>"/>
    <input type="hidden" name="jp_amount_1" value="<?php echo $payment_info['amount']; ?>"/>
    <input type="hidden" name="jp_amount_2" value="0"/>
    <input type="hidden" name="jp_amount_5" value="0"/>
    <input type="hidden" name="jp_shipping" value=""/>
    <input type="hidden" name="jp_rurl" value="<?php echo Mage::helper('jambopaypaymentmethod')->getResponseUrl(); ?>"/>
    <input type="hidden" name="jp_furl" value="<?php echo Mage::helper('jambopaypaymentmethod')->getFailUrl(); ?>"/>
    <input type="hidden" name="jp_curl" value="<?php echo Mage::helper('jambopaypaymentmethod')->getCancelUrl(); ?>"/>
    <?php /*<input type="image" src="https://www.jambopay.com/jambohelp/jambo/rsc/checkout.png"/> */ ?>
   <img src="<?php echo $this->getSkinUrl('images/jambopay.gif'); ?>" />

</form>

<script type="text/javascript">
    $j(document).ready(function(){
       $j('#jambopay-redirect-form').submit();
    });

</script>