// Vendor
//@import "vendor/font-awesome-4.6/scss/font-awesome";
//@import "vendor/font-awesome-4.6/css/font-awesome.css";
// Utilities
@import "utilities/variables";
@import "utilities/scut";
// Vendors
@import "vendor/mCustomScrollbar";
// Partials
@import "partials/common";
@import "partials/footer";
@import "partials/home-latest-deal";
@import "partials/home-featured-categories";
@import "partials/product-details";
@import "partials/cart";
@import "partials/shopper-login";
@import "partials/shopper-register";
@import "partials/shopper-account";
@import "partials/sendfriend";
@import "partials/popup-login-sell-on-duukaan";
.tab-content .image img {
  max-width: 100%;
}

.form-list .control label {
  padding: 6px 10px 3px 40px;
}

// Fix Issue: Header
.store-language-container {
  padding: 0;
  .goog-te-gadget-simple {
    border: none;
    background-color: transparent;
    padding: 0;
    .goog-te-menu-value span:nth-of-type(2) {
      display: none;
    }
  }
}

.store-language-container .form-language .sbHolder {
  position: relative;
  width: auto;
  padding-right: 15px;
  .fa-angle-down {
    position: absolute;
    top: 0;
    right: 2px;
    &:before {
      position: static;
    }
  }
}

.magestore-bannerslider {
  padding-left: 16%;
}

@media screen and (max-width: 1200px) {
  .magestore-bannerslider {
    padding-left: 0;
  }
}

@media screen and (max-width: 770px) {
  .block-layered-nav .block-content > dl > dt:after {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .account-cart-wrapper {
    right: 10px;
  }
}

@media screen and (max-width: 450px) {
  .cart-table .btn-update,
  .cart-table .btn-continue {
    width: 100%;
  }
}
