/* Utilities*/
@import "utilities/variables";
@import "utilities/scut";
@import "partials/common";
@import "partials/sticky-newsletter";
@import "partials/header";
@import "partials/about-us";
@import "partials/contact-us";
@import "partials/faq";
@import "partials/return-policy";
@import "partials/faq-categories";
@import "partials/faq-search";
@import "partials/faq-article-detail";
@import "partials/term-and-conditions";
@import "partials/home-cart";
@import "partials/shipping-policy";
@import "partials/returns-and-refunds";
@import "partials/categories-listview";
@import "partials/categories-gridview";
@import "partials/register-vendor";

/*mobile responsive*/
@import "partials/mobile-header";
@import "partials/mobile-categories-listview";
@import "partials/mobile-about-us";
@import "partials/mobile-faq";
@import "partials/mobile-contact-us";
@import "partials/mobile-term-and-conditions";
@import "partials/mobile-shipping-policy";
@import "partials/mobile-return-policy";
@import "partials/mobile-home-cart";
@import "partials/mobile-faq-search";
@import "partials/mobile-returns-and-refunds";
@import "partials/mobile-faq-item";
@import "partials/mobile-sticky-newsletter";
@import "partials/mobile-categories-gridview";


//  Css print
@media print{a[href]:after{content:none}}

@media print {
   .sticky-newsletter, .product-shipping-info, .skip-content{
       display:none;
    }
    .product-img-box { 
        width: 8.5in;
        height: 11in;
    }
    .more-views{
    	display: none;
    }

}

.my-request-table colgroup{
	width: 40%;
}





#one-step-checkout-form .checkout-review-load .data-table td .price{
	padding-right: 10px !important;
}

@media screen and (max-width: 450px){
	#one-step-checkout-form .checkout-review-load .data-table td .price{
		padding-right: 0px !important;
	}

	//fix detail page dropdown review icon
	#customer-reviews .review-summary-table tbody th{
		width: 30%;
		padding-left: 5px;
	}

	// fix img description to larger on mobile
	#description{
		.tab-pane-content{
			p{
				img{
					width: 100%;
				}
			}
		}
	}
	// fix
	.request-information .group-select .label {
    	text-align: left;
	}

	//fix checkout vendor
	#co-billing-form .form-list li label{
		width: 100%;
	}

	#co-billing-form .form-list .input-box input[type=text],#co-billing-form .form-list .input-box select, .checkout-monepage-index form .input-box input:not([type=checkbox]):not([type=radio]):not([type=file]) {
		width: 100%;
	}


	

}


.control-qty img{
	vertical-align: top !important;
}

#one-step-checkout-form .checkout-review-load .data-table{
	width: 100% !important;
}

#one-step-checkout-form .checkout-review-load .data-table tbody th{
	padding: 10px 10px !important;
}

.col-main .messages{
	text-align: center;
}
body{background-color: #fff !important;}
#control_overlay{
	z-index: 999999 !important;
}
.wrapper{
	max-width: 1920px;
	padding: 0 44px;
	background: #fff !important;
}

.page{
	background-color: #fff !important;
}

#header{
	width: 100%;
	max-width: 1920px;
}

.main-container{
	width: 100%;
	max-width: 1920px;
	padding: 0;
}

.logo{
	padding: 30px 0 20px 5px;
}

.page-header{
	padding: 0;
}

.logo .large{
	width: 300px;
	height: 110px;
}

.products-grid .product-name, .products-list .product-name{
	min-height: 50px;
}


/* ==loi khi truong hop chi hien thi 1 cot (col-main)
.main .col-left{
	padding: 0;
	width: 16% !important;
}

.main .col-main{
	width: 83% !important;
}*/

@media screen and (max-width: 800px){
		.main .col-left{
		padding: 0;
		width: 100% !important;
	}

	.main .col-main{
		width: 100% !important;
	}
}


/*logout page*/
body.customer-account-logoutsuccess .col-main{padding: 20px 20px;}


/*return policy*/
.request-information{
	overflow-x: auto;
}
.review-title{
	padding-top: 20px;
}

 body.review-product-view .col-right{padding-top: 20px;}

.col-main .product-review .page-title{
	padding-top: 20px;
}

.label-pro-sale{
	z-index: 9;
}

/*review product list*/
 body.review-product-list{
 	.product-view .add-to-cart-wrapper{
 		float: left;
 	}
 }

/*fixbug height message*/
@media screen and (max-width: 800px){
	body.vendorsrma-rma-customer-view .message-box .header_link{
		 .message-box .header_link{
		 	height: auto;
		 }
	}

	.login-action.col2-set .col-1{
		width: 100%;
		text-align: center;
	}
	.customer-account-login .registered-users .forgot-password-link{
		float:none !important;
	}
}

/*fixbug my oder*/

body.customer-account .data-table span.nobr a{
	white-space: nowrap !important;
}
@media screen and (max-width: 500px)
{
	body.customer-account{
		.data-table td, .data-table th{
			padding: 4px;
		}
	}
}

//fix line height
.catalog-category-view #products-list .product-secondary .product-shipping-info .product-shipping-info-list .vendor-link, .vendorspage-index-index #products-list .product-secondary .product-shipping-info .product-shipping-info-list .sold-available .vendor-link{
	line-height: 1;
	padding: 0 !important;
}

.catalog-category-view #products-list .product-secondary .product-shipping-info .product-shipping-info-list .vendor-link, .vendorspage-index-index #products-list .product-secondary .product-shipping-info .product-shipping-info-list .fulfilled-available .vendor-link{
	line-height: 1;
	padding: 0 !important;
}

#products-list .product-secondary .product-shipping-info .product-shipping-info-list .fulfilled-available{
	padding: 10px 0 !important;
}

.main-container .main .col-main .category-products .products-list .item .product-shop .f-fix .product-secondary .product-shipping-info .product-shipping-info-list .fulfilled-available:before{
	top: 8px !important;
}

.main-container .main .col-main .category-products .products-list .item .product-shop .f-fix .product-secondary .product-shipping-info .product-shipping-info-list .sold-available:before{
	top: 8px !important;
}


// ===fix email cut
@media screen and (max-width: 500px){
	.message-box .header_link{
		height: 35px;
	}
}


// ===fix popup sell on duukaan
.b-modal.__b-popup1__{
	z-index: 9999999 !important;
}

#messages-popup-vendor-login{
	z-index: 9999999 !important;
}

// === fix width left-menu the same the first menu item

.vendorspage-index-index {
	.main .col-left{
		padding: 0;
		width: 16% !important;
	}
}
.vendorspage-index-index {
	.main .col-main{
		width: 83% !important;
	}
}

// === fix bug title left column dropdown
@media screen and (max-width: 1365px){
	body.catalog-category-view .main-container .main .col-left .block-layered-nav .block-content #narrow-by-list dt{
		font-size: 16px;
		padding-left: 10px;
	}
}

//=== fix bug layout new select language

.skiptranslate.goog-te-gadget{
	overflow: hidden;
	margin-top: 5px;
	height: 25px;
}
 @media screen and (max-width: 400px){
 	.account-cart-wrapper{
 		top: 0;
 	}
 	.logo{
 		padding: 45px 0 20px 5px;
 	}
 	#header .page-header-container #header-search .header-search-icon{
 		top: 85px;
 	}
 }

@media screen and (max-width: 350px){
	.page-header .skip-links .account-cart-wrapper .store-language-container{
		padding: 5px 5px !important;
		width: 42%;
	}
}


