<?php $address_list = "";?>
<div class="box-collateral box-map" id="vendor-map">
	<h2><?php echo $this->__('Vendor Map') ?></h2>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<?php echo Mage::getStoreConfig('vendors/vendors_map/api_code') ?>&v=3.17.15&sensor=true&libraries=places"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl('js').'ves_vendors/map/map.js' ?>"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl('js').'ves_vendors/map/upload/jquery-1.8.2.min.js' ?>"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl('js').'ves_vendors/map/jquery.colorbox-min.js' ?>"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl('js').'ves_vendors/map/upload/jquery.noconflict.js' ?>"></script>
	<?php
        echo $this->getScriptHtml()
	?>
		<script type="text/javascript">
					//<![CDATA[
						var initPosition = new google.maps.LatLng(<?php echo $this->getDefaultLocationLat() ?>, <?php echo $this->getDefaultLocationLng() ?>);
						//var initPosition = new google.maps.LatLng((typeof(lat)!="undefined")?lat:59.32522, (typeof(lng)!="undefined")?lng:18.07002);
						var markers = new Array();
						var new_markers = null;
                        var edit_marker = null;
				        var infowindow;
						var map;
						var editMap = null;
						var JS_PATH = '<?php echo Mage::getBaseUrl('js') ?>';
						var DELETE_MARKER_URL = '<?php echo $this->getUrl("vendors/vendor_map/delete") ?>';
						var LOAD_FORM_EDIT_URL = '<?php echo $this->getUrl("vendors/vendor_map/loadform") ?>';
						var directionDisplay;
						var directionsService = new google.maps.DirectionsService();
						var geocoder;
						var customer_marker = null;
						var customer_marker_check = true;
						var default_location = false;
						Event.observe(window,"load",function(){
							 $$('#address_list input[type="radio"]:checked').each(function(c){
							      $(c).checked = false;
							 });
							initializeGoogleMap(); 
							<?php if(Mage::helper("vendorsmap")->getDefaultLocation()): ?>
                                google.maps.event.addListener(map, 'tilesloaded', function() {
                                    setDefaultMarkerMap('<?php echo Mage::helper("vendorsmap")->getDefaultLocation() ?>');
                                    google.maps.event.clearListeners(map,"tilesloaded");
                                });

							 	default_location = '<?php echo Mage::helper("vendorsmap")->getDefaultLocation() ?>';
							<?php endif;?>
						});
		</script>
	 <div class="map-box-containt">
	 	<div class="map-list-box">
	  		<h2 class="title-list"><?php echo $this->__("Select a store") ?></h2>
		   	<div  id="address_list" class="address-list" style="display:none">
					<?php echo $this->getListAddressHtml(); ?>
			</div>
		</div>
	 	<div class="map-search-box">
	 				<?php echo $this->__('Search Location')?>:  <input id="searchTextField" type="text" size="40" />
	 	</div>
		<div class="clear"></div>
    	<div id="map_canvas" style="width: 100%; height: 500px; overflow: hidden;"></div>
    	<?php 
			$logo = $this->getVendor() ? Mage::getBaseUrl('media').$this->getVendor()->getLogo():'';
		?>
		<input type="hidden" name="vendor[logo_url]" id="logo_url" value="<?php echo $logo ?>"/>
	</div>
</div>
<script type="text/javascript">
	$$('.map-list-box .address-list').each(function(div){
		div.observe('mouseover',function(){
			div.previous().addClassName("active");
			$("address_list").show();
		});
		
		div.observe('mouseout',function(){
			div.previous().removeClassName("active");
			$("address_list").hide();
		});
	});

	$$('.map-list-box .title-list').each(function(div){
		div.observe('mouseover',function(){
			div.addClassName("active");
			$("address_list").show();
		});

		div.observe('mouseout',function(){
			div.removeClassName("active");
			$("address_list").hide();
		});
	});
</script>