<?php if($this->isEnable()):?>
<ul>
	<li>
		<div class="left"><a href="<?php echo Mage::helper('vendorspage')->getUrl($this->getVendor(),'map')?>" class="view-on-map"><?php echo $this->__("View On Map");?></a></div>
	</li>
</ul>
<?php endif ?>