.pricecomparison-container{position: relative;border-top: 1px solid #d3d3d3;margin-top: 20px; padding-top: 20px;margin-bottom: 20px;}
.pricecomparison-table-container{overflow: hidden;width: auto; height: auto;position: relative;}
.pricecomparison-pager{text-align: center;border-top: 1px solid #d3d3d3;position: relative;}
.pricecomparison-pager a{cursor: pointer;display: inline-block;text-align: center;text-transform:uppercase; background: #565656;color: #FFF; text-decoration: none;padding: 10px 10px 12px; border-left: 1px solid #d3d3d3; border-right: 1px solid #d3d3d3;border-bottom: 1px solid #d3d3d3;
border-bottom-left-radius: 4px;-moz-border-bottom-left-radius: 4px;-webkit-border-bottom-left-radius: 4px;-ms-border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;-moz-border-bottom-right-radius: 4px;-webkit-border-bottom-right-radius: 4px;-ms-border-bottom-right-radius: 4px;}
.pricecomparison-pager a:before, .pricecomparison-pager a:after{border: medium solid transparent;content: " "; width: 0; height: 0;position: absolute;}
.pricecomparison-pager a:after{border-bottom-color: #fff;border-width: 6px;left: 100%;margin-left: -6px;left: 50%;transform: rotateX(180deg);bottom: 0px;}
.pricecomparison-pager.showing a:after{transform: none;top: -2px;}
.pricecomparison-pager.showing a{padding-top: 12px;}


.pricecomparison-table{border: 1px solid #d3d3d3;width: 100%;}
.pricecomparison-table td {border: 0 none;}
.pricecomparison-table .remove-link{position: absolute; top: -10px; right: -10px; background: #FFF1F1;border: 1px solid #d3d3d3;padding: 0px 10px;}
.pricecomparison-table .remove-link a{text-decoration: none;color: #FF0000;}

.pricecomparison-table td,.pricecomparison-table th{padding: 10px;}
.pricecomparison-table th,.pricecomparison-table td{border-bottom: 1px solid #d3d3d3;border-right: 1px solid #d3d3d3;}
.pricecomparison-logo{border: 1px solid #d3d3d3;border-radius: 5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;-ms-border-radius: 5px;}
.pricecomparison-table .seller-name{font-weight: bold; text-decoration: none; font-size: 14px;color: #565656;}
.pricecomparison-table .seller-name:hover{text-decoration: underline;}
.pricecomparison-table th.sortable{cursor: pointer;}
.pricecomparison-table th.sortable:hover{background-color: #dfdfdf;}
.pricecomparison-table th.selected{background:#868686 !important; color: #FFF;}
.pricecomparison-table th.selected:AFTER {display: inline-block; width: 12px; height: 12px; background: url(icons.png) no-repeat;content: "";margin-left: 5px;}
.pricecomparison-table th.selected.asc:AFTER{background-position: -47px 2px;}
.pricecomparison-table th.selected.desc:AFTER{background-position: -30px 2px;}

.pricecomparison-table .out-of-stock{color: #FF0000;}