blockquote{
   background: url("../images/quote_mark.gif") no-repeat scroll right top #FDFDFD;
    border: 1px solid #D4E1E7;
    margin-top: 10px;
    padding: 10px;
	 min-height: 30px;
	}
#content_message_reply_tbl{width: 100%}