<?php 
/**
 * Mageplaza_Kb extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Mageplaza
 * @package        Mageplaza_Kb
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Article list template
 *
 * @category    Mageplaza
 * @package     Mageplaza_Kb
 * @author      Ultimate Module Creator
 */
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_articles = $this->getArticles(); ?>
<div class="page-title article-title base-default-template-mageplaza_kb-article-list">
    <?php if (Mage::helper('mageplaza_kb/article')->isRssEnabled()) : ?>
        <a href="<?php echo Mage::helper('mageplaza_kb/article')->getRssUrl();?>" class="link-rss"><?php echo Mage::helper('mageplaza_kb')->__('Subscribe to RSS Feed')?></a>
    <?php endif;?>
    <h1><?php echo Mage::helper('mageplaza_kb')->__('Articles') ?></h1>
</div>
<?php if ($_articles->getSize() > 0) :?>
    <?php echo $this->getPagerHtml(); ?>
    <div class="article-list-container">
    <?php foreach ($_articles as $_article) : ?>
        <div class="article-list-item">
            <a href="<?php echo $_article->getArticleUrl()?>">
                <?php echo $_article->getName();?>
            </a><br />
        </div>
    <?php endforeach;?>
    </div>
    <?php echo $this->getPagerHtml(); ?>
<?php else : ?>
    <?php echo Mage::helper('mageplaza_kb')->__('There are no articles at this moment');?>
<?php endif;?>
