<?php
/**
 * Mageplaza_Kb extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @category       Mageplaza
 * @package        Mageplaza_Kb
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */
/**
 * Article list template
 *
 * @category    Mageplaza
 * @package     Mageplaza_Kb
 * @author      Ultimate Module Creator
 */
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $_articles = $this->getArticles(); ?>
<div class="page-title article-title">
    <h1><?php echo Mage::helper('mageplaza_kb')->__('Search for');?>: '<?php echo $this->getQuery();?>'</h1>
</div>

<div class="faq-search-result">
    <?php if ($_articles->getSize() > 0) :?>
        <div class="article-list-container">
            <ul class="kb-articles-listing">
                <?php foreach ($_articles as $_article) : ?>
                    <li>
                        <a class="faq-title" ><?php echo $_article->getName();?></a>
                        <div class="article-content">
                            <?php echo $_article->getContent(); ?>
                        </div>
                    </li>

                <?php endforeach;?>
            </ul>

        </div>
        <?php echo $this->getPagerHtml(); ?>
    <?php else : ?>
        <?php echo Mage::helper('mageplaza_kb')->__('There are no FAQ that match to your query');?>
    <?php endif;?>

</div>
