<?php
?>
<div class="faq-search-form-container">
    <h3>How can we help you?</h3>
    <form id="faq_search_form" action="<?php echo $this->getResultUrl() ?>" method="get">
        <div class="faq-search-form">
            <div class="row">
                <div class="col-md-4">
                    <p>Enter search keywords or phrase</p>
                </div>
                <div class="col-md-8">
                    <input id="search" type="text" name="q" value="" class="input-text" maxlength="100"
                           placeholder="<?php echo $this->__('Search ...'); ?>"/>
                    <input class="button" type="submit" name="submit" value="Submit" />
                    <!--            <div id="search_autocomplete" class="search-autocomplete"></div>-->
                </div>

            </div>
        </div>
    </form>

</div>