<?php $_categories = $this->getCategories(); ?>

<?php if ($_categories->getSize() > 0) : ?>
    <div class="block block-list block-viewed">
        <div class="block-title">
            <strong><span><?php echo $this->__('BROWSE TOPIC') ?></span></strong>
        </div>
        <div class="block-content">
            <ol id="recently-viewed-items">
                <?php foreach ($_categories as $_category) : ?>
                    <?php
                    if(strpos($_category->getCategoryUrl(), 'main-faq') !== false || $_category->getName() == "FAQ")
                        continue;
                    ?>
                    <li class="item">
                        <p class="product-name"><a href="<?php echo $_category->getCategoryUrl() ?>"><?php echo $_category->getName(); ?></a></p>
                    </li>
                <?php endforeach; ?>
            </ol>
        </div>
    </div>


<?php endif; ?>