<?php $_product = $this->getProduct();?>
<?php $_vendor	= $this->getVendor();?>
<ul>
	<li>
        <div class="ratings">
    		<div class="rating-box">
    			<div style="width:<?php echo $this->getRatingScore()?>%;" class="rating"></div>
    		</div>
    		<div><a target="_blank" href="<?php echo Mage::helper('vendorspage')->getUrl($this->getVendor(),'rating')?>"><?php echo $this->__('(%s Reviews)',$this->getReviewCount());?></a></div>
    	</div>
	</li>
</ul>