	<tr id="file0">
		<td class="label"><label for="filename"><?php echo $this->__('(File').Mage::helper('vendorsrma/config')->maxSizeUpload().'Mb)'?><?php echo $this->__('(Allow extension :')?><?php echo Mage::helper('vendorsrma/config')->fileExtension()." )" ?></label></td>
		<td class="value">
    			<input type="file" id="notefilename0" name="notefilename0" value="" style="margin-right:-3px"/>
    			<input type="hidden" id="filenameNote" name="note[filenamenote]" value="0">

			<?php echo $this->getAddButtonHtml() ?>
			  <script type="text/javascript">
            //<![CDATA[
            var dataForm = new varienForm('request-note-form', true);

            //console.log("test");
            var pendingCall = { timeStamp: null, procID: null };
            var lastId = 1;
            var filename=new Array('0');
            /* ajax find order increment ID */

            var requestOption = function() {
                return {
                   	 del : function(obj) {
                         if( confirm('Are you sure ?') ) {
                             var fileRow = document.getElementById('file'+obj);
                             fileRow.remove();
                             for (x in filename){
                                 if(obj == filename[x]) filename.splice(x,1);
                             }
                             document.getElementById('filenameNote').value=filename;
                         }
                     },
                     addNew : function(obj) {
                         var id = this.createId();
                         var fileRow = document.getElementById('file'+obj);
                         var fileTable = fileRow.parentNode.parentNode;
                         var newRow = fileTable.insertRow(fileTable.rows.length);
                         newRow.innerHTML=this.getTemplateNew(id);
                         newRow.id='file'+id;
                         filename.push(id);
                         document.getElementById('filenameNote').value=filename;
                     },
                     getTemplateNew : function(id) {
                         return '<td class="lable"></td>'
                         + '<td class="value">'
                         + '<input type="file" value="" name="notefilename'+ id + '" id="notefilename'+ id + '">'
                         + '<button class="scalable delete delete-file-button" id="deletefile_button" type="button" onclick="requestOption.del('+ id + ')"><span></span></button>'
                     },
                     add : function(obj) {
                         var id = this.createId();
                         var file = document.getElementById('file'+obj);
                         var fileParent = file.parentNode;
                         var newDiv = fileParent.insert({ 'bottom' : this.getTemplate(id) });
                         filename.push(id);
                         document.getElementById('filenameNote').value=filename;
                     },
                     getTemplate : function(id) {
                         return  '<div id="file'+id+'" >'
                         +'<input type="file" value="" name="notefilename'+ id + '" id="notefilename'+ id + '">'
                         + '<button class="scalable delete delete-file-button" id="deletefile_button" type="button" onclick="requestOption.del('+ id + ')"><span></span></button>'
                         +'<div>'
                     },
                     createId : function () {
                         return lastId++;
                     },
                }
            }();
            //]]>
        </script>				
		</td>
	</tr>
