<div class="page-title">
    <h1><?php echo $this->__('Checkout') ?></h1>
</div>
<script type="text/javascript" src="<?php echo $this->getJsUrl('varien/accordion.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/opcheckout.js') ?>"></script>
<?php
    if(!Mage::getSingleton('customer/session')->isLoggedIn()) :
?>
     <?php echo $this->getChildHtml('login') ?>

<?php
    else :

?>
        <div class="row step-billing">
            <div class="col-md-6 left-col">
                <div class="billing-infomation">
                    <h3><?php echo $this->__('BILLING DETAIL'); ?></h3>
                    <?php echo $this->getChildHtml('billing') ?>
                </div>

            </div>
            <div class="col-md-6 right-col">

                <div class="shipping-infomation" style="display: none">
                    <h3><?php echo $this->__('SHIPPING DETAIL'); ?></h3>
                    <?php  echo $this->getChildHtml('shipping'); ?>
                </div>
            </div>
        </div>
        <div class="step-action">
            <button data-step="billing" class="button continue-checkout">CONTINUE CHECKOUT</button>

        </div>
           <div class="col-md-6 right-col">
                <div class="review-infomation">
                    <h3><?php echo $this->__('YOUR ORDER'); ?></h3>
                    <?php  echo $this->getChildHtml('custom_review_checkout_block') ?>
                </div>
                <div class="shipping-method-infomation">
                    <h3><?php echo $this->__('SELECT DELIVERY TYPES'); ?></h3>
                    <?php  echo $this->getChildHtml('shipping_method'); ?>
                </div>
                <?php //  echo $this->getChildHtml('custom_checkout_shipping_method_additional'); ?>
                <div class="payment-method-infomation">
                    <h3><?php echo $this->__('Payment Method'); ?></h3>
                    <?php  echo $this->getChildHtml('custom_checkout_payment_methods'); ?>
                </div>
                <div class="checkout-action-infomation">
                    <button class="place-order button" id="checkout-playorder">PLACE ORDER</button>
                </div>
            </div>



<?php
    endif;
?>

<script type="text/javascript">
    //<![CDATA[
    var accordion = new Accordion('checkoutSteps', '.step-title', true);
    <?php if($this->getActiveStep()): ?>
    accordion.openSection('opc-<?php echo $this->getActiveStep() ?>');
    <?php endif ?>
    var checkout = new Checkout(accordion,{
        progress: '<?php echo $this->getUrl('checkout/onepage/progress') ?>',
        review: '<?php echo $this->getUrl('checkout/onepage/review') ?>',
        saveMethod: '<?php echo $this->getUrl('checkout/onepage/saveMethod') ?>',
        failure: '<?php echo $this->getUrl('checkout/cart') ?>'}
    );
    //]]>
</script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/custom-checkout.min.js') ?>"></script>