<!--@subject Password Reset Confirmation for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0" >
    <tr>
        <td class="action-content" style="padding: 0px;">
             <h1 style="font-weight: normal; font-size:16px; line-height: 28px;color:#333333;margin-top:0px">Dear <span style="font-weight:bold;">{{htmlescape var=$customer.name}},</span></h1>
            <p style=" font-size:13px; line-height: 24px;color:#333333;">There was recently a request to change the password for your account.</p>
            <p style=" font-size:13px; line-height: 24px;color:#333333;">If you requested this password change, please reset your password here:</p>
            <table cellspacing="0" cellpadding="0" class="action-button" style="display: inline-block;">
                <tr>
                    <td>
                        <a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}" style="text-decoration: none; display: inline-block; color: #fff; background-color: #159867; font-size:12px; line-height: 24px;padding:0px 30px;box-sizing: border-box;"><span style="line-height: 40px">Reset Password</span></a>
                    </td>
                </tr>
            </table>
            <p style="  font-size:13px; line-height: 24px;color:#333333;">If you did not make this request, you can ignore this message and your password will remain the same.</p>
        </td>
    </tr>
</table>



{{template config_path="design/email/footer"}}
