<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content" style="padding:0px;">
            <h1 style=" font-weight: bold; font-size:24px; line-height: 28px;color:#333333;margin-top:0px;">Welcome to {{var store.getFrontendName()}}.</h1>
            <p style=" font-weight: normal; font-size:13px; line-height: 24px;color:#333333;">To log in when visiting our site just click <a href="{{store url="customer/account/"}}" style="font-weight:bold; font-size: 13px; line-height: 18px; color:#159867; text-decoration:none;">Login</a> or <a href="{{store url="customer/account/"}}" style="font-weight:bold; font-size: 13px; line-height: 18px; color:#159867; text-decoration:none;">My Account</a> at the top of every page, and then enter your email address and password.</p>
            <p class="highlighted-text" style=" font-size: 13px; line-height: 13px; color:#333333;padding:15px 20px;box-sizing: border-box; background-color:#f0f0f0; border: 1px solid #e1e1e1;">
                Use the following values when prompted to log in:<br/>
                <strong style="margin:0 0 10px 0; line-height:40px;"><label for="" style="font-weight:bold;">Email</strong>: <span class="email" style="color:#159867; padding-left: 10px;font-weight:bold;">{{var customer.email}}</span><br/>
                <strong style="margin:0;"><label for="" style="font-weight:bold;">Password</strong>: {{htmlescape var=$customer.password}}
            </p>
            <p style=" font-weight: normal;font-size:13px; line-height: 24px;color:#333333;">When you log in to your account, you will be able to do the following:</p>
            <ul style="font-weight: bold;font-size:13px; line-height: 24px;color:#333333;">
                <li>Proceed through checkout faster when making a purchase</li>
                <li>Check the status of orders</li>
                <li>View past orders</li>
                <li>Make changes to your account information</li>
                <li>Change your password</li>
                <li>Store alternative addresses (for shipping to multiple family members and friends!)</li>
            </ul>
            <p style=" font-weight: normal;font-size:13px; line-height: 24px;color:#333333;">
                <strong style="font-weight:bold;">If you have any questions, please feel free to contact us at </strong>
                <a href="mailto:{{var store_email}}" style="font-weight:bold; font-size: 13px; line-height: 24px; color:#159867; text-decoration:none;">{{var store_email}}</a>
                {{depend store_phone}} or by phone at <a href="tel:{{var phone}}">{{var store_phone}}</a>{{/depend}}.
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
