<!--@subject New password for {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$user.name":"Admin Name",
"htmlescape var=$password":"Admin Password",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
        	 <h1 style="font-weight: normal; font-size:16px; line-height: 28px;color:#333333;margin-top:0px">Dear <span style="font-weight:bold;">{{htmlescape var=$user.name}},</span></h1>
            <p><strong>Your new password is:</strong> {{htmlescape var=$password}}</p>
            <p>You can change your password at any time by logging into <a href="{{store url="adminhtml/system_account/"}}">your account</a>.</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
