<!--@subject Newsletter subscription success @-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h4 style="  font-size:13px; line-height: 24px;color:#333333;margin:0px;">Dear Customer,</h4>
            <h4 style="  font-size:13px; line-height: 24px;color:#333333;margin:0px;">You have been successfully subscribed to the newsletter.</h4>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
