<!--@subject Take a look at {{var customer.name}}'s wishlist @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var message":"Wishlist Message",
"var items":"Wishlist Items"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="action-content">
                        <h1><span style="color: #333333;">Hey, take a look at my wishlist from {{var store.getFrontendName()}}.</span></h1>
                        <table cellspacing="0" cellpadding="0" class="message-container">
                            <tr>
                                <td style="color: #333333;">{{var message}}</td>
                            </tr>
                        </table>
                        {{var items}}
                        {{depend salable}}
                        <p  style="color: #333333;"><strong><a href="{{var addAllLink}}">Add all items to shopping cart</a></strong> |
                        {{/depend}}
                        <strong style="color: #333333;"><a href="{{var viewOnSiteLink}}">View all wishlist items</a></strong></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
