
.ves-livechat-box-hidden-list{
    width: 25px !important;
    padding: 5px;
    padding-left: 30px;
    background: url("../../images/livechat/livechat.png") no-repeat scroll 5px center #e5e5e5;
    cursor: pointer;
    box-sizing:content-box!important;

}

.ves-livechat-box-hidden-list .list-hidden{position: relative}
.ves-livechat-box-hidden-list .list-hidden ul{
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #C0C3CA;
    bottom: 27px;
    z-index: 1000;
    position: absolute;
    right: -5px;
    width: 180px;
}
.ves-livechat-box-hidden-list .list-hidden ul li{
    padding: 5px;
}
.ves-livechat-box-hidden-list .list-hidden ul li:hover{
    background: none repeat scroll 0 0 #3b5998;
    color:#ffffff;
}
.ves-tabs-chatlive {
    width: 280px;
    position:fixed;
    bottom:0;
    right:20px;
    border-top: 1px solid #C0C3CA;
    border-right: 1px solid #C0C3CA;
    border-left: 1px solid #C0C3CA;
    z-index: 999;
}

.ves-tabs-chatlive .top-bar ,.ves-tabs-chatlive .ves-livechat-box-button {
    background: #3B5998;
    color: white!important;
    padding: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.ves-livechat-box-create{
    width: auto;
}
.ves-tabs-chatlive .ves-livechat-box-button,.ves-livechat-box-create .top-bar{
    background: none repeat scroll 0 0 #8cb458;
}


.ves-tabs-chatlive .top-bar h2{
    color: white!important;
}
.ves-tabs-chatlive .top-bar h1 , .ves-tabs-chatlive .ves-livechat-box-button h1{
    display: inline;
    font-size: 13px;
    color: white!important;
    text-transform: none;
    font: 13px/1.5em Arial,Helvetica,sans-serif;
    font-weight: bold;
}
.ves-tabs-chatlive .ves-livechat-box-button h1{
    padding-right: 20px;
}

.ves-tabs-chatlive .top-bar .left {
    float: left;
}
.ves-tabs-chatlive .top-bar .left .icon-status{margin-top: 5px;}
.ves-tabs-chatlive .top-bar .right {
    float: right;
    width: 45px;
}
.ves-tabs-chatlive .top-bar .right .status-audio-on{
    background: url("../../images/livechat/status-audio-volume-high-icon.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}
.ves-tabs-chatlive .top-bar .right .status-audio-off{
    background: url("../../images/livechat/status-audio-volume-muted-icon.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}
.ves-tabs-chatlive .top-bar .right .icon-audio{
    display: block;
    float: left;
    height: 20px;
    margin-right: 8px;
    width: 25px;
}
.ves-tabs-chatlive .ves-livechat-box-button .icon-message{
    float: left;
    display: block;
    height: 20px;
    width: 20px;
    margin-right: 15px;
    margin-left:5px;

}

.ves-tabs-chatlive .ves-livechat-box-button .icon-offline{
    background: url("../../images/livechat/message-icon.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}

.ves-tabs-chatlive .ves-livechat-box-button .icon-online{
    background: url("../../images/livechat/chat-icon.png") no-repeat scroll left center rgba(0, 0, 0, 0);
}

.ves-tabs-chatlive .top-bar .right .icon-closed{
    background: url("../../images/livechat/closed.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    display: block;
    height: 16px;
}
.ves-tabs-chatlive .top-bar > * {
    position: relative;
}
.ves-tabs-chatlive .top-bar::before {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: -100%;
    /*
    opacity: 0.25;
    background: radial-gradient(#ffffff, #000000);
    */


}
.ves-tabs-chatlive .content{padding:0px;}
.ves-tabs-chatlive .discussion {
    list-style: none;
    background: #e5e5e5;
    margin: 0;
    padding: 0 0 50px 0;
    min-height:250px;
    height: auto;
    box-sizing: border-box;
}
.ves-tabs-chatlive .discussion li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}
.ves-tabs-chatlive .discussion li.note{text-align: center;display:block}
.ves-tabs-chatlive .discussion .avatar {
    width: 40px;
    position: relative;
}
.ves-tabs-chatlive .discussion .avatar img {
    display: block;
    width: 100%;
}
.ves-tabs-chatlive .discussion .messages{width: auto}
.ves-tabs-chatlive .other .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.ves-tabs-chatlive .self {
    justify-content: flex-end;
    align-items: flex-end;
}
.ves-tabs-chatlive .self .messages {
    order: 1;
    border-bottom-right-radius: 0;
    background: #DBEDFE;
}
.ves-tabs-chatlive .self .messages,.ves-tabs-chatlive .other .messages{
    margin: 0;
}
.ves-tabs-chatlive .self .avatar {
    order: 2;
}
.ves-tabs-chatlive .self .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.ves-tabs-chatlive .messages {
    background: white;
    padding: 7px !important;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.ves-tabs-chatlive .messages p {
    border-left: 8px solid rgba(63, 148, 148, 0.1);
    font-family: Cambria,Georgia,serif;
    font-size: 13px;
    font-style: italic;
    line-height: 22px;
    margin: 0;
    padding-left: 15px;
    text-align: left;
}
.ves-tabs-chatlive .messages .title{
    display: block;
    font-weight: bold;
    font-style: normal;
}
.ves-tabs-chatlive .messages time {
    font-size: 0.6rem;
    color: #ccc;
}

@keyframes pulse {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}
.ves-tabs-chatlive .message{height:250px;overflow: auto;}
.ves-tabs-chatlive .reply{border-top:1px solid #C0C3CA;background: none repeat scroll 0 0 #FFFFFF;overflow: hidden}
.ves-tabs-chatlive .reply textarea{box-sizing: content-box;padding:5px;border:none;width:100%;height:20px;resize: none;outline: none;}
.ves-tabs-chatlive .discussion li.typing p{
    color: #3B5998;
    font-style: italic;
    text-align: center;
    width: 100%;
}
.ves-tabs-chatlive .discussion li p{
    font-size: 13px;
}
.ves-tabs-chatlive .reply textarea.disabled {
    background: url("../../images/livechat/textareabg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.clear{clear: both}

.ves-tabs-chatlive .ves_livechat_box_confirm{background: none repeat scroll 0 0 #f5f5f5;
    border: 1px solid #dddddd;
    display: block;
    left: 30px;
    padding:15px;
    position: absolute;
    text-align: center;
    top: 130px;
    z-index: 99999999;
}
.ves-tabs-chatlive .ves_livechat_box_confirm .button{
    background: none repeat scroll 0 0 #3399cc;
    border: 0 none;
    color: #ffffff;
    display: inline-block;
    font-family: "Raleway","Helvetica Neue",Verdana,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    padding: 7px 15px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}
.ves-tabs-chatlive .ves_livechat_box_confirm .closed{
    background: none repeat scroll 0 0 #da4f49;
}
.hidden-button{display:none!important;}
.livechat-btn-offline{  background: url("../../images/livechat/offline.png") no-repeat scroll left center rgba(0, 0, 0, 0);padding-left:20px;}
.livechat-btn-online{  background: url("../../images/livechat/online.png") no-repeat scroll left center rgba(0, 0, 0, 0);padding-left:20px;}