.block-content .ves-livechat-status{
    margin-top: 10px;
    height: 30px;
}
.block-content .ves-livechat-status a{
    padding: 6px 30px;
    display: block;
    font-size: 13px;
    text-decoration: none;
    color : #0ca2d1;
}
.block-content .ves-livechat-offline{
     background: url("../../images/livechat/offline.png") no-repeat scroll center left;
}
.ves-tabs-chatlive .ves-livechat-offline{
    background: url("../../images/livechat/status-offline.png") no-repeat scroll center left;
}
.block-content .ves-livechat-online{
    background: url("../../images/livechat/online.png") no-repeat scroll center left;
}
.ves-tabs-chatlive .ves-livechat-online{
    background: url("../../images/livechat/status-online.png") no-repeat scroll center left;
}
.block-content .ves-livechat-invisible{
    background: url("../../images/livechat/invisible.png") no-repeat scroll center left;
}
.ves-tabs-chatlive .ves-livechat-invisible{
    background: url("../../images/livechat/status-offline.png") no-repeat scroll center left;
}
.block-content .ves-livechat-busy{
    background: url("../../images/livechat/busy.png") no-repeat scroll center left;
}
.ves-tabs-chatlive .ves-livechat-busy{
    background: url("../../images/livechat/status-busy.png") no-repeat scroll center left;
}
.ves-tabs-chatlive .ves-livechat-offline , .ves-tabs-chatlive .ves-livechat-online ,.ves-tabs-chatlive .ves-livechat-invisible,.ves-tabs-chatlive .ves-livechat-busy{
    display: block;
    float: left;
    height: 16px;
    margin-right: 5px;
    width: 16px;
}
.ves_livechat-loading-box{display: block;  position: absolute; top: 45%; left: 45%; text-align: center;z-index: 99999999;}
.ves_livechat-overlay{display: block; width: 100%; height: 100%; position: absolute;top: 0; left: 0; background: #222;opacity: 0.3;z-index: 99999998;}

.form-livechat-box-create-box-content .header-box {
    background: none repeat scroll 0 0 #4C66A4;
}

.form-livechat-box-create-box-content .header-box h2 {
    color: #FFFFFF;
    margin: 0;
    padding: 5px;
    text-align: left;
}

.form-livechat-box-create-box-content .content-box {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 30px 30px 0;
    z-index: 100000;
}
.form-livechat-box-create-box-content .content-box textarea{height:40px;width: 97%;padding: 4px;}
.form-livechat-box-create-box-content .content-box .input-box{width: 100%}
.form-livechat-box-create-box-content .content-box .input-box input{height: 22px;width: 97%;padding: 4px;}
.form-livechat-box-create-box-content .content-box .button-set{margin-top:20px;}
.form-livechat-box-create-box-content .content-box .button-set button{
    border:none;
    width: 100%;
    background: none repeat scroll 0 0 #3B5998;
}
.form-livechat-box-create-box-content .content-box .button-set button > span{
    padding:5px;
}
.form-livechat-box-create-box-content .content-box .button-set button  span{
    background: none repeat scroll 0 0 #3B5998;
    border:none;
}


@-webkit-keyframes blink {
    50% { background: rgba(207, 54, 44, 1); }
}

@-moz-keyframes blink {
    50% { background: rgba(207, 54, 44, 1); }
}

@keyframes blink {
    50% { background: rgba(207, 54, 44, 1); }
}

.ves_list_blink{
    -webkit-animation-direction: normal;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: linear;

    -moz-animation-direction: normal;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-timing-function: linear;

    animation-direction: normal;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: blink;
    animation-timing-function: linear;
}

.ves-tabs-chatlive .blink {
    -webkit-animation-direction: normal;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: linear;

    -moz-animation-direction: normal;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-timing-function: linear;

    animation-direction: normal;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: blink;
    animation-timing-function: linear;
    /*
    background-image: url("../../images/livechat/blink.png");
    background-repeat: no-repeat;
    background-position: 5px 5px!important;

    padding-left: 40px;
    */
}
.ves-livechat-box-create .content-box{padding: 10px 20px 20px 20px;background: #E5E5E5;height: auto;color:#666}
.ves-livechat-box-create .content-box .button-set{margin-top: 20px;text-align: right}
.ves-livechat-box-create .content-box .button-set button span{display: block;padding:0px 5px; background: none repeat scroll 0 0 #8cb458;border: medium none;height: 35px;line-height: 35px}
.ves-livechat-box-create .content-box .button-set button{background:none;border:none;overflow:hidden;padding:0px}
.ves-tabs-chatlive .top-bar .typicons-times{text-indent:0px ;background:none;}
.ves-livechat-box-create .content-box .input-text{/*width:230px;*/}
.ves-livechat-box-create .content-box .user-info{text-align: left;}
.ves-livechat-box-create .content-box .content-info{padding: 5px;background: #f5f5f5}
.ves-livechat-box-create .content-box .content-info-left{/*float: left;width: 240px*/}
.ves-livechat-box-create .content-box .content-info-right{float: right;}
.ves-livechat-box-create .content-box .left-info{float:left;padding: 5px;}
.ves-livechat-box-create .content-box .left-info img{width: 40px;}
.ves-livechat-box-create .content-box .right-info{float:right;width: 175px;}
.ves-livechat-box-create .content-box .header-info{font-weight: bold;margin-bottom:10px;margin-top:10px;}