
<?php
/**
 * @see Mage_Bundle_Block_Adminhtml_Sales_Order_View_Items_Renderer
 */
?>

<?php $_item = $this->getItem() ?>
<?php $items = array_merge(array($_item), $_item->getChildrenItems()); ?>
<?php $_count = count ($items) ?>
<?php $_index = 0 ?>
<?php $qty = Mage::registry("ves_qty_rma"); ?>
<?php $_prevOptionId = '' ?>


<?php foreach ($items as $_item): ?>
    <?php $this->setPriceDataObject($_item) ?>
    <?php $attributes = $this->getSelectionAttributes($_item) ?>
    <?php if ($_item->getParentItem()): ?>
        <?php if ($_prevOptionId != $attributes['option_id']): ?>
            <tr>
                <td><img src="<?php echo Mage::helper('catalog/image')->init($_item->getProduct(), 'thumbnail')->resize(70); ?>" alt="<?php echo $this->escapeHtml($this->getProductName()) ?>" /></td>
                <td><div class="option-label"><?php echo $attributes['option_label'] ?></div></td>
                <td>&nbsp;</td>
            </tr>
            <?php $_prevOptionId = $attributes['option_id'] ?>
        <?php endif; ?>
    <?php endif; ?>
    <tr<?php echo (++$_index==$_count)?' class="border"':'' ?>>
    <?php if (!$_item->getParentItem()): ?>
        <td><img src="<?php echo Mage::helper('catalog/image')->init($_item->getProduct(), 'thumbnail')->resize(70); ?>" alt="<?php echo $this->escapeHtml($this->getProductName()) ?>" /></td>
        <td>
            <h5 class="title">
                <span id="order_item_<?php echo $_item->getId() ?>_title"><?php echo $this->escapeHtml($_item->getName()) ?></span>
            </h5>
            <div>
                <strong><?php echo $this->helper('vendorsrma')->__('SKU') ?>:</strong>
                <?php echo implode('<br />', Mage::helper('catalog')->splitSku($this->escapeHtml($_item->getSku()))); ?>
            </div>
        </td>
        <td>&nbsp;</td>
    <?php else: ?>
        <td></td>
        <td><div class="option-value"><?php echo $this->getValueHtml($_item)?></div></td>
        <td class="a-center last">

            <?php if($_item->getData("allow_per_item_order")): ?>
                <input id="orderitem-count<?php echo $_item->getId() ?>" class="ves-items-count" type="text" value="<?php echo $_item->getData("qty_rma")  ?>" name="orderitems[<?php echo $_item->getId() ?>]">
            <?php else: ?>
                <label><?php echo $_item->getData("qty_rma") ?></label>
                <input id="orderitem-count<?php echo $_item->getId() ?>" class="ves-items-count" type="hidden" value="<?php echo $_item->getData("qty_rma")  ?>" name="orderitems[<?php echo $_item->getId() ?>]">
            <?php endif;?>

            <?php if ($_item->getData("request_rma")) : ?>
                <p><?php echo Mage::helper("vendorsrma")->__("Other RMA for this product:") ?></p>
                <ul>
                    <?php foreach($_item->getData("request_rma") as $request): ?>
                        <?php foreach($request as $key=>$value): ?>
                            <li><a href="<?php echo $this->getUrl("*/rma_request/edit",array("id"=>$key)) ?>" target="_blank"><?php echo "#".$value ?></a> </li>
                        <?php endforeach; ?>
                    <?php endforeach; ?>
                </ul>
            <?php endif ?>
            <input id="orderitem-count<?php echo $_item->getId() ?>-maxcount" type="hidden" value="<?php echo (int)($_item->getData("qty_rma")) ?>">
        </td>
    <?php endif; ?>
        </tr>
<?php endforeach; ?>
