
<?php $_item = $this->getItem();?>
<?php $qty = Mage::registry("ves_qty_rma"); ?>
<?php $this->setPriceDataObject($_item) ?>
<tr class="border">
    <td><img src="<?php echo Mage::helper('catalog/image')->init($_item->getProduct(), 'thumbnail')->resize(70); ?>" alt="<?php echo $this->escapeHtml($this->getProductName()) ?>" /></td>
    <td>
        <?php if ($this->canDisplayContainer()): ?>
        <div id="<?php echo $this->getHtmlId() ?>" class="item-container">
            <?php endif; ?>
            <div class="item-text">
                <?php echo $this->getColumnHtml($_item, 'name') ?>
            </div>
            <?php if ($this->canDisplayContainer()): ?>
        </div>
    <?php endif ?>
    </td>

    <td class="a-center last">
        <?php if($_item->getData("allow_per_item_order")): ?>
         <input id="orderitem-count<?php echo $_item->getId() ?>" class="ves-items-count" type="text" value="<?php echo $_item->getData("qty_rma")  ?>" name="orderitems[<?php echo $_item->getId() ?>]">
        <?php else: ?>
          <label><?php echo $_item->getData("qty_rma") ?></label>
          <input id="orderitem-count<?php echo $_item->getId() ?>" class="ves-items-count" type="hidden" value="<?php echo $_item->getData("qty_rma")  ?>" name="orderitems[<?php echo $_item->getId() ?>]">
        <?php endif;?>
        <?php if ($_item->getData("request_rma")) : ?>
            <p><?php echo Mage::helper("vendorsrma")->__("Other RMA for this product:") ?></p>
            <ul>
                <?php foreach($_item->getData("request_rma") as $request): ?>
                    <?php foreach($request as $key=>$value): ?>
                        <li><a href="<?php echo $this->getUrl("*/rma_request/edit",array("id"=>$key)) ?>" target="_blank"><?php echo "#".$value ?></a> </li>
                    <?php endforeach; ?>
                <?php endforeach; ?>
            </ul>
        <?php endif ?>
        <input id="orderitem-count<?php echo $_item->getId() ?>-maxcount" type="hidden" value="<?php echo (int)($_item->getData("qty_rma")) ?>">
    </td>
</tr>
