
<?php $_order = $this->getOrder() ?>
<div class="grid np">
    <div class="hor-scroll">
        <table cellspacing="0" class="data order-tables">
            <col width="1" />
            <col />
            <col width="1" />
            <thead>
            <tr class="headings">
                <th><?php echo $this->helper('vendorsrma')->__('Image') ?></th>
                <th><?php echo $this->helper('vendorsrma')->__('Product') ?></th>
                <th class="a-center"><?php echo $this->helper('vendorsrma')->__('Qty RMA') ?></th>
            </tr>
            </thead>
            <?php $_items = $this->getItemsCollection() ?>
            <?php $i=0;foreach ($_items as $_item):?>
                <?php if ($_item->getParentItem()) continue; else $i++;?>
                <tbody class="<?php echo $i%2?'even':'odd' ?>">
                <?php echo $this->getItemHtml($_item) ?>
                <?php echo $this->getItemExtraInfoHtml($_item) ?>
                </tbody>
            <?php endforeach; ?>
        </table>
    </div>
</div>
<br />
