.map-box-containt{
	margin-top:10px;
}
.box-collateral h2 {
    border-bottom: 1px solid #E5DCC3;
    color: #E26703;
    font-size: 15px;
    font-weight: bold;
    margin: 0 !important;
    padding: 0 0 1px;
}
.box-collateral .map-list-box h2{
	color: #555555;
	border:none;
	text-transform: uppercase;
    font-size: 13px;
}
#address_list{margin-bottom:10px;background:#F8F7F5;  overflow: auto;  max-height: 500px;font-size: 13px;}
#address_list ul li{border-bottom:1px solid #CDCDCD;padding:10px;cursor:pointer;}
#address_list ul li:hover{ color: #D96708}
#address_list ul li.last{border:none}
#address_list ul li.active{background:#ffffff}

#address_list .radio-button{ margin-bottom: 10px;  overflow: hidden; display: inline-flex;}
#address_list .radio-button span{color:#3399cc;padding-left: 5px;font-weight: bold;/*background: url("images/marker.png") no-repeat left center;*/}
#address_list .radio-button img{vertical-align: middle;padding-left: 10px}
#address_list .radio-button input{vertical-align: middle}
#address_list .details-address{margin-left: 10px}
#address_list .details-address-logo{float:left;width:50px}
#address_list .details-address-content{float:right;width:190px}
#address_list .details-address-content p{color: #636363}
#address_list .details-address-content .view{font-weight: bold}

.box-map .map-box-containt{margin-bottom:15px;float:right;width:100%;}
.box-map .map-box-containt .map-list-box{margin-bottom:15px;float:left;width:300px;margin-right:10px;  position: absolute; z-index: 99999; height: 30px;}
.box-map .map-box-containt .map-search-box{
	float:right;  
	height: 35px;
}
.box-map .clear{clear:both}
.box-map .map-box-containt .map-list-box .title-list{
	background:url("../images/map/left.png") no-repeat scroll left center;cursor:pointer;
    height: 35px;
    padding: 12px 0 0 20px;
} 

.box-map .map-box-containt .map-list-box .active{
	background:url("../images/map/down.png") no-repeat scroll left center;
}
.content-map{
	position: relative;
}
.vendor-map .left-map{
	margin-bottom:15px;
	float:left;
	width:25%;
	margin-right:10px;
}
.vendor-map .right-map{
	margin-bottom:15px;
	float:right;
	width:74%;
}
.vendor-map .vendor_address_list{margin-bottom:10px;}
.header-map{margin:20px 0px;}
.search-map{
	margin-bottom:20px;
	background: none repeat scroll 0 0 #f5f5f5;
    border: 1px solid #cccccc;
    padding: 10px;
}
.search-map .search-map-left{
	float:left;
	width:40%
}
.search-map .search-map-right{
	float:right;
	width:60%
}
.search-map .search-map-field{float:left;  width:25%;margin-bottom: 10px;}
.search-map .search-map-button{}
.search-map p{margin-bottom:10px;}
.search-map .input-text{}
.search-map .input-text  , .search-map .select{
    -moz-appearance: none;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid silver;
    border-radius: 2px;
    font-size: 15px;
    height:30px;
    width: 90%;
}
.vendor-map .vendor_address_list{margin-bottom:10px;background:#F8F7F5;font-size:13px;max-height:500px;overflow:auto;}
.vendor-map .vendor_address_list ul li{border-bottom:1px solid #CDCDCD;padding:10px;cursor:pointer;}
.vendor-map .vendor_address_list ul li:hover{ color: #D96708}
.vendor-map .vendor_address_list ul li.last{border:none}
.vendor-map .vendor_address_list ul li.active{background:#ffffff}
.vendor-map .vendor_address_list ul li span{font-weight: bold;}

.ves_map_loading{display: block; width: 250px; padding: 20px 0;  position: absolute; top: 40%; left: 50%;text-align: center;z-index: 99999999;}
.ves_map_overlay{display: block; width: 100%; height: 100%; position: absolute;top: 0; left: 0; background: #222;opacity: 0.2;z-index: 99999998;}

.vendor-map .view-link {
	display: block;
    margin-top: 10px;
    text-align: right;
}
.vendor-map h3,.map-box-containt h3{font-size: 14px;}

.view-on-map{background:url("../images/map/map.png") no-repeat scroll left center;padding-left: 20px}