<?php

/** @var $this VES_Vendors_Block_Page_Header */
?>
<?php

$current_vendor = Mage::getSingleton('vendors/session')->getVendor();
$logoUrl = Mage::getStoreConfig('vendors/config/logo') ? Mage::getBaseUrl('media') . 'ves_vendors/' . Mage::getStoreConfig('vendors/config/logo') : $this->getSkinUrl('ves_vendors/images/logo.png');
$vendor_upload_logo = $current_vendor->getLogo();
//var_dump($vendor_upload_logo);
if($vendor_upload_logo != null) {
	$logoUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$current_vendor->getLogo();
}
?>
<div class="header-top">
	<?php  ?>
	<a href="<?php echo $this->getHomeLink() ?>">
		<img src="<?php echo $logoUrl ?>" alt="<?php echo $this->__('Marketplace Logo') ?>" class="logo"/></a>
	<div class="header-right">
		<?php echo $this->getChildHtml('toplinks'); ?>
	</div>
</div>
