<div class="vendor-review">
	<?php if($this->isShow()):?>
		<ul class="messages">
			<li class="success-msg"><ul>
			<?php foreach($this->getCustomerRatingLinks() as $_id=>$_link):  ?>
				<?php
					$vendor_title = $_link['vendor']->getTitle();
					if($vendor_title == null) $vendor_title = $_link['vendor']->getVendorId();
				?>
				<li>
					<span>
					<?php echo $this->__('Click <a id="review_link_%s" href="%s">%s</a> to write review for order #%s', $_link['order_id'], $_link['link'], $vendor_title, $_link['order_ic']) ?>
					<?php echo $this->__(' | ')?><a href="javascript:void(0);" onclick="hideMessage('<?php echo $_link['order_id']?>')"><?php echo $this->__('Hide')?></a>
					</span>
				</li>
			<?php endforeach;?>
			</ul></li>
		</ul>
	<?php endif; ?>
</div>
<script>
         function hideMessage(order) {
        	 new Ajax.Request('<?php echo $this->getHiddenUrl()?>', {
     			method: 'post',
     			parameters: {
					order: order,
     			},
     			onSuccess: function(response) {
         			var messageObj = $('review_link_'+order).up(1);
         			messageObj.fade({duration:1.0,afterFinish:function(){
             			messageObj.remove();
             			if(!$$('.vendor-review .success-msg li').size()){
                 			$$('.vendor-review').first().remove();
             			}
             		}});
     			}
     		});
         }
</script>