<?php
$catalogSearchHelper =  $this->helper('catalogsearch');
?>
<form id="search_mini_form" action="<?php echo $this->helper('catalogsearch')->getResultUrl() ?>" method="get">
    <div class="form-search">
        <label for="search"><?php echo $this->__('Search:') ?></label>
        <input id="search" placeholder="I'm looking for..." type="text" name="<?php echo $this->helper('catalogsearch')->getQueryParamName() ?>" value="<?php echo $this->helper('catalogsearch')->getEscapedQueryText() ?>"  class="input-text" />
        <?php
        $exclude_categories = KA_CustomBlock_Helper_Data::getExcludeCategories();
        //var_dump($exclude_categories);
        $categories = Mage::getModel('catalog/category')
            ->getCollection()
            ->addAttributeToSelect('*')
            ->addAttributeToFilter('level', array('eq'=>2));
        if(!empty($exclude_categories)) {
            foreach($exclude_categories as $id) {
                if(intval($id) > 0) {
                    $categories->addAttributeToFilter('entity_id', array('neq' => $id));
                }
            }
        }
        $categories->addIsActiveFilter();
        $search_cat = '';
        if(!empty($categories)) :
            $search_cat .= '<select class="category-search-select" name="cat">';
            $search_cat .= '<option value="">All Categories</option>';
            foreach ($categories as $category) :
                $selected = '';
                if(isset($_GET['cat']) && $_GET['cat'] == $category->getId()) {
                    $selected = 'selected';
                }
                $search_cat .= '<option '.$selected.' value="'.$category->getId().'">'.$category->getName().'</option>';
            endforeach;
            $search_cat .= '</select>';
        endif;
        echo $search_cat;
        ?>

        <button type="submit" title="<?php echo $this->__('Search') ?>" class="button"><span><span><?php echo $this->__('Search') ?></span></span></button>
        <div id="search_autocomplete" class="search-autocomplete"></div>
<!--
        <script type="text/javascript">
        //<![CDATA[
            var searchForm = new Varien.searchForm('search_mini_form', 'search', '<?php echo $this->__('Search entire store here...') ?>');
            searchForm.initAutocomplete('<?php echo $this->helper('searchautocomplete')->getSuggestUrl() ?>', 'search_autocomplete');
        //]]>
        </script>
-->
        <script type="text/javascript">
        //<![CDATA[
            var searchForm = new Varien.searchForm('search_mini_form', 'search', '<?php echo $this->__('Search entire store here...') ?>');
            searchForm.initAutocomplete('<?php echo $this->helper('searchautocomplete')->getSuggestUrl() ?>', 'search_autocomplete');
        //]]>
        </script>

    </div>
</form>

<?php echo Mage::helper('searchautocomplete')->getStyle(); ?>
