<?php $maps = $this->getMapCollection() ;
$i=0;
?>
<ul>
	<?php foreach($maps as $map):
		$position = explode("|", $map->getData("position"));
	?>
		<li>
				<div id="box-map-<?php echo $map->getId() ?>" >
                                <div class="radio-button">
                                    <input type="radio" name="map_address" onclick ="findMapAddress('<?php echo $position[0] ?>','<?php echo $position[1] ?>','<?php echo $i?>')" value="<?php echo $i?>">
                                    <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."ves_vendors/map/marker.png" ?>" />
                                    <span><?php echo $map->getData("title") ;?></span>
                                </div>
                                <div class="details-address">
                                        <div id="map-thumbnail-logo-<?php echo $i ?>" class="details-address-logo">
                                            <a class="map-colorbox-logo" href="<?php echo $this->getUrlImage($map->getId());?>"><img src="<?php echo $this->getUrlImage($map->getId());?>" width="50px" height="50px"></a>
                                        </div>
                                        <div class="details-address-content">
                                            <p class="view">
                                                <span><?php echo $map->getData("address") ?></span>,
                                                <span><?php echo $map->getData("city") ?></span>,
                                                <?php if($map->getData("region_id")):  ?>
                                                    <span><?php echo $this->getRegionName($map->getData("region_id")) ?></span>,
                                                <?php endif ?>
                                                <?php if($map->getData("region")):  ?>
                                                    <span><?php echo $map->getData("region") ?></span>,
                                                <?php endif ?>
                                                <span><?php echo $this->getCountryName($map->getData("country_id")) ?></span>
                                            <p>
                                                <?php echo $this->__("Phone : ") ?>
                                                <?php echo $map->getData("telephone")  ?>
                                            </p>
                                            <p>
                                                <?php echo $this->__("Zip : ") ?>
                                                <?php echo $map->getData("postcode")  ?>
                                            </p>
                                            <p>
                                                <?php echo $this->getTypeNameMap($map->getData("attribute"))  ?>
                                            </p>
                                        </div>
                                    <div style="clear:both"></div>
                                </div>
								<div style="clear:both"></div>
								<div class="details-button">
                                    <input type="hidden" name="vendor[logo_url]" id="logo_url_<?php echo $i ?>" value="<?php echo $this->getUrlImage($map->getId());?>"/>
                                    <a href="javascript:void(0)" onclick="showFormEdit('<?php echo $map->getId() ?>','<?php echo $i; ?>')" ><?php echo $this->__("Edit") ?></a>
                                    <a href="javascript:void(0)" onclick="deleteMarker('<?php echo $map->getId() ?>','<?php echo $i; ?>')" ><?php echo $this->__("Delete") ?></a>
							    </div>
						<div style="clear:both"></div>
				</div>
				<div  style="display:none;" id="box-map-edit-<?php echo $map->getId(); ?>">

		</div>
	</li>
	<?php 
	$i++;
	endforeach;?>
</ul>
<script type="text/javascript">
    $j(".map-colorbox-logo").colorbox({rel:'map-colorbox-logo'});
</script>