<?php $messages = $this->getMessages() ?>
<div class="content content-<?php echo $this->getSessionId() ?>">
        <div class="box-content-message">
            <ol class="discussion">
                <li id="ves_livechat_message_note_<?php echo $this->getSessionId() ?>" class="note">
                    <p><?php echo $this->getSessionBox()->getName().$this->__(" is now in Chat with you.") ?></p>
                </li>
                <?php foreach($messages as $message ) : ?>
                    <li class="<?php echo $this->getClassNameMessageBox($message->getData("type")) ?>" id="ves-content-message-<?php echo $message->getId() ?>">
                        <div class="avatar">
                            <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."ves_vendors/livechat/avatar.jpg" ?>"/>
                        </div>
                        <div class="messages">
                            <p>
                                <span class="title"><?php echo $message->getData("send_by") ?> : </span>
                                <?php echo $message->getContent() ?>
                            </p>
                            <time datetime="<?php echo $message->getData("created_time") ?>"><?php echo Mage::getModel('core/date')->date("F j, Y, g:i a",$message->getData("created_time") );?></time>
                        </div>
                    </li>
                <?php endforeach; ?>
            </ol>
        </div>
        <div class="box-content-reply">
            <div class="reply-top">
                <textarea name="<?php echo $this->getVendorsName() ?>" cols="3" <?php if($this->getStatusSessionBox()) echo 'class="disabled"'." disabled" ; ?> id="chat_message_<?php echo $this->getSessionId() ?>" autocomplete="off"></textarea>
                <script type="text/javascript">
                    $('chat_message_<?php echo $this->getSessionId() ?>').observe('keypress', keypressHandler);
                    function keypressHandler (event){
                        var value = $('chat_message_<?php echo $this->getSessionId() ?>').value;
                        // alert(value);
                        var key = event.which || event.keyCode;
                        switch (key) {
                            default:
                                ChatOption.msgType('<?php echo $this->getSessionId() ?>',value,control);
                                break;
                            case Event.KEY_RETURN:
                                event.preventDefault();
                                control.replyMessage('<?php echo $this->getSessionId() ?>',false);
                                var object = msgTypeObject[<?php echo $this->getSessionId() ?>];
                                object.setIsTypeing(false);
                                object.setUpdatedTypeing(false);
                                break;
                        }
                    }
                </script>
            </div>
            <?php if(!$this->getStatusSessionBox()) :?>
                <div class="reply-bottom">
                    <button class="scalable reply" style="" onclick="control.replyMessage('<?php echo $this->getSessionId() ?>',false)" type="button" title="Reply"><span><span><?php echo Mage::helper("vendorslivechat")->__("Reply") ?></span></span></button>
                </div>
            <?php endif ?>
        </div>
</div>
