<div class="tab">
    <a href="javascript:void(0)" rel="<?php echo $this->getSessionId() ?>" id="tab-<?php echo $this->getSessionId() ?>" class="tab-selector-<?php echo $this->getSessionId() ?> blink" ><?php echo $this->getBoxName() ?></a>
</div>