<?php $geo = $this->getGeoIp() ?>
<tr class="blink" id="ves_livechat_visitor_<?php echo $this->getSessionId() ?>" onclick="ChatOption.viewBox('<?php echo $this->getSessionId() ?>')">
    <td><?php echo $this->getSessionId() ?></td>
    <td><?php echo $this->getBoxName() ?></td>
    <td><?php echo $this->getBoxEmail() ?></td>
    <td><?php echo $this->getBoxIp() ?></td>
    <td><img src="<?php echo $geo->getFlags()?>" class="icon-country" style="float:left;margin:0px 10px 0px 0px"/><span><?php echo $geo->getCountryName() ?></span></td>
    <td><?php echo $geo->getCity() ?></td>
    <td><?php echo Mage::getModel('core/date')->date("F j, Y, g:i a",$this->getSessionBox()->getData("created_time")) ?></td>
</tr>