<div class="notification-global">
  <strong class="label"><?php echo $this->__('Shipping')?></strong>
  <?php echo $this->__('You need to set up your shipping fees to start selling your products. <a href="%s">Setup shipping rates now</a>.',Mage::getUrl('vendors/config/index',array('section'=>'shipping')))?>
</div>