<div id="loading-mask-request" style="display:none">
<p id="loading_mask_loader" class="loader">
<img alt="Loading..." src="<?php echo $this->getSkinUrl('images/ajax-loader-tr.gif', array('_secure'=>true)); ?>">
<br>
	<?php echo $this->__('Please wait...')?>
	</p>
</div>