<?php $messages=$this->getMessage();?>
<div class="request-information">
<?php $count=0;?>
<?php foreach($messages as $message):?>
<?php $count++;?>
<div class="message-box <?php echo $this->getClassType($message) ?> <?php if($count==sizeof($messages)) echo 'message-box-last arrow_up_ticket'?>" >
	<div class="message-header inner-head">
		<a href="javascript:void(0)" class="header_link <?php echo $this->getClassHeaderLink() ?>">
			<span class="label">
				<?php echo $message->getData('from') ?>
				<span>
				<?php if( sizeof(unserialize($message->getAttachment())) != 0):?>
				<img src="<?php echo $this->getSkinUrl('ves_vendors/rma/images/attachment_ico.png'); ?>" style="margin-right:10px;"/>
				<?php endif?>
				<?php echo Mage::getModel('core/date')->date('F j, Y, g:i a',$message->getData('created_time'))?>
				</span>
				<div class="clear"></div>
			</span>
		</a>
		<div class="quote-message" style="<?php if($count < sizeof($messages)) echo "display:none"?>" id="quote-message-<?php echo $message->getId() ?>">
			<?php //if($this->getTicket()->getData('status') != VES_HelpDesk_Model_Ticket_Status::STATUS_CLOSE):?>
			<?php if($this->isShowButtonReply()): ?>
			<a onclick="return requestOption.showFormReply()" class="do-action" title="<?php echo $this->__('Reply') ?>" rel="reply"><img src="<?php echo $this->getSkinUrl('ves_vendors/rma/images/reply-icon.png'); ?>" /></a>
			<?php endif;?>
			<!-- <a onclick="return colorbox.showHtmlMessage(<?php //echo $message->getId()?>)" class="do-action" title="<?php //echo $this->__('Html Message') ?>" rel="html"><img src="<?php //echo $this->getSkinUrl('images/helpdesk/html_icon.gif'); ?>" /></a> -->
			<?php if($this->isShowButtonReply()): ?>
			<a onclick="return requestOption.quoteMessage(<?php echo $message->getId() ?>)" class="do-action" title="<?php echo $this->__('Quote') ?>" rel="quote"><img src="<?php echo $this->getSkinUrl('ves_vendors/rma/images/quote-icon.png'); ?>" /> </a>
			<?php endif?>
			<?php if($this->isShowButtonEdit()):?>
			<a onclick="return requestOption.editMessage(<?php echo $message->getId()?>)" class="do-action" title="<?php echo $this->__('Edit') ?>" rel="edit"><img src="<?php echo $this->getSkinUrl('ves_vendors/rma/images/edit_ticket_info.gif'); ?>" /></a>
			<?php endif;?>
		</div>
		
		<div class="clear"></div>
		<div class="discription-message">
			<span class="do-discription" id="do-discription-<?php echo $message->getId() ?>">
				<?php if($count < sizeof($messages)){?>
				<?php echo Mage::helper('vendorsrma')->wordLimiter($message->getData('message'),140)?>
				<?php }else{
					echo $this->__('To: ').'<span>'.$message->getData('to').'</span>';
				}?>
			</span>
			<span class="discription" style="display:none" id="discription-<?php echo $message->getId() ?>">
				<?php echo Mage::helper('vendorsrma')->wordLimiter($message->getData('message'),140)?>
			</span>
			<span class="reply" style="display:none" id="reply-<?php echo $message->getId() ?>">
				<?php echo $this->__('To: ').'<span>'.$message->getData('to').'</span>'; ?>
			</span>
		</div>
		<input type="hidden" value="<?php echo $message->getId() ?>" class="request_message_id" />
	</div>
	<div class="message-body" id="message-body-<?php echo $message->getId() ?>" style="<?php if($count < sizeof($messages)) echo "display:none"?>"> 
		<div id="messagebody<?php  echo $message->getId() ?>">
			<?php $messageText = $message->getData('message');?> 
			<?php if($this->isHtmlMessage($messageText)):?> 
				<?php echo $messageText;?>
			<?php else:?>
				<pre><?php echo $messageText;?></pre>
			<?php endif;?>
		</div>
	  <?php if( sizeof(explode(",",$message->getAttachment())) != 0 && $message->getAttachment()):?>
                <div class="attachment">
                    <ul>
                        <?php foreach (explode(",",$message->getAttachment()) as $key=>$attachment):?>
                            <li><a href="<?php echo $this->getUrl('vesrma/download/index', array('file'=>base64_encode($attachment))) ?>" title="<?php echo $this->getNameAttachment($attachment) ?>"><span class="icon-attachment <?php echo $this->getClassIcon($attachment) ?>"><?php echo $this->getNameAttachment($attachment) ?></span></a></li>
                        <?php endforeach; ?>
                    </ul>
                </div>
        <?php endif;?>
	</div>
	<div class="messagedit" style="display:none" id="messagedit<?php echo $message->getId() ?>">
					<?php //echo $this->getEditorHtml() ?>
					<textarea name="messageBodyText" id="messageBodyText<?php echo $message->getId() ?>" style="width:95%;height:250px">
						<?php echo $messageText;?>
					</textarea>
					<button type="button" class="scalable save"  onclick="requestOption.saveMessage(<?php echo $message->getId() ?>);return false;"><?php echo Mage::helper('vendorsrma')->__('Save Message');?></button>
					<button type="button" class="scalable"  onclick="requestOption.cancelMessage(<?php echo $message->getId() ?>);return false;"><?php echo Mage::helper('vendorsrma')->__('Cancel');?></button>
	</div>
</div>
<?php endforeach;?>
<?php if($this->isShowButtonReply()): ?>



<div class="reply-message" id="reply-message-button">
	<button class="scalable center" type="button" onclick="requestOption.showFormReply()" ><span><span><?php echo Mage::helper('vendorsrma')->__('Reply')?></span></span></button>
</div>
<div class="form-reply" style="display:none" id="form-reply-request">
    	<div class="request-content">
	        <div>
	        	<?php echo $this->getHtmlEditor(); ?>
	        	<script type="text/javascript">
	
                    var editor = window['wysiwygcontent_message_reply'];
                    editor.getSettingsOld = editor.getSettings;
                    editor.getSettings = function(mode){
                         var settings = editor.getSettingsOld();
                         settings['theme_advanced_buttons1'] = "bold,italic,underline,bullist,numlist,separator,outdent,indent,separator,undo,redo,separator";
                         settings['theme_advanced_buttons2'] = "";
                         settings['theme_advanced_buttons3'] = "";
                         settings['hidden'] = false;
                         settings['enabled'] = false;
                         settings['strict_loading_mode'] = true;
                         settings['mode'] = "exact";
                         settings['theme'] =  "advanced";

                         return settings;
                     }
                 </script>
	        	
	        </div>
			<div id="message-validate" style=""></div>
	        <div id="file0" class="add-file" style="margin-top:5px">
	            <label for="filename"><?php echo Mage::helper('vendorsrma')->__('File ('.Mage::helper('vendorsrma/config')->maxSizeUpload().'Mb)(Allow extension : '.Mage::helper('vendorsrma/config')->fileExtension().')')?></label><br/>
	            <div class="upfile" style="margin-top:5px;">
		            <input class="input-file" name="filename0" id="filename0"  type="file" style="margin-right: -3px;"/>
		            <button class="scalable add form-button" type="button" onClick="requestOption.add('0')"><span><span><?php echo Mage::helper('vendorsrma')->__('Add File')?></span></span></button>
		            <input type="hidden" id="filename" name="request[filename]" value="0">
		         </div>
	        </div>

	         <div class="button">
	   			<?php echo $this->getChildButtonHtml() ?>
	   		</div>
	   		<div class="clear"></div>
	   </div>
	  
</div>
<div class="clear"></div>



<?php endif;?>
</div>


<script type="text/javascript">
    $$('.quote-message .do-action').each(function(div){
        div.observe('click',function(e){
            Event.stop(e);
            e.stopPropagation();
        });
    });
</script>
