<button onclick="setLocation('<?php echo $this->getExportUrl()?>condition/'+ $('shipping_vendor_tablerates_condition').value)" class="scalable" type="button" title="Upload csv file"><span><span><span><?php echo $this->__('Export CSV')?></span></span></span></button>