<input type="file" class="" value="test_shipping.csv" name="groups[tablerate][fields][import][value]" id="carriers_tablerate_import">

<button onclick="editForm.submit();" class="scalable save" type="button" title="Upload csv file"><span><span><span>Save Config</span></span></span></button>