		<p style=" font-weight: bold;font-size:14px; line-height: 24px;color:#333333;margin: 20px 0 0px 0;"> Thank you,</p>
		<h2 style=" font-weight: bold;font-size:18px; line-height: 24px;color:#159867; margin:  0;">Duukaan</h2>
</div>

</div>
<div class="footer" style="margin-top: 20px;">
    <div class="wrapper" style="width:100%;">
        <div style=" font-weight: bold;font-size:14px;height:30px; line-height: 30px;padding-right: 20px;box-sizing: border-box;color:#3c3c3c;width:45%;display:inline-block; text-align: right;vertical-align: top;">STAY CONNECTED</div>
        <div style="width:45%;display:inline-block">
            <a href="https://www.facebook.com/TheDuukaan/"><img src="{{media url='email/images/pic4.png'}}" alt="" ></a>
            <a href="https://www.instagram.com/the_duukaan/?hl=en"><img src="{{media url='email/images/pic3.png'}}" alt="" ></a>
            <a href="https://www.tumblr.com/blog/duukaan"><img src="{{media url='email/images/pic2.png'}}" alt="" ></a>
            <a href="https://twitter.com/The_Duukaan"><img width="31" height="30" src="{{media url='email/images/icon-twitter.png'}}" alt="" ></a>
        </div>
    </div>
</div>
</div>
</div>
</body>
