<!--@subject Email - Header @-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
</head>
<body>
{{var non_inline_styles}}
<div class="container" >
    <div class="Email_template Create_new_account" style="max-width:700px; margin:auto; padding: 30px 50px; box-sizing: border-box;background-color: #ededed;font-size: 11px;">
        <div class="wrapper" style="background-color: #fff;">
            <div class="header" style="padding: 20px 0px;">
                <div class="logo" style="width:100%;text-align:center;">
                    <a href="{{store url=""}}">
                        <img width="220" height="110" src="{{media url='email/images/logo.png'}}" alt="">
                    </a>
                </div>
                <div class="menu" >
                    <table width="100%" cellspacing="0" cellspacing="0" style="background-color: #159867; ">
                        <tr>
                            <td style="text-align: center;padding: 7px 0;">
                                <img src="{{media url='email/images/delivery.png'}}" alt="" style="width: 50px;vertical-align:top;">
                                <p style="font-size: 11px; line-height:1rem;text-align:center;color: #fff; margin:0;">NATIONWIDE <br />DELIVERY</p>
                            </td>
                            <td  style="text-align: center;padding: 7px 0;">
                                <img src="{{media url='email/images/payment.png'}}" alt="" style="width: 50px;vertical-align:top;">
                                <p style="font-size: 11px; line-height:1rem;text-align:center;color: #fff; margin:0;">PAY ON<br /> DELIVERY</p>
                            </td>
                            <td style="text-align: center;padding: 7px 0;">
                                <img src="{{media url='email/images/delivery.png'}}" alt="" style="width: 50px;vertical-align:top;">
                                <p style="font-size: 11px; line-height:1rem;text-align:center;color: #fff; margin:0;">CUSTOMER <br />EMAIL</p>
                            </td>
                        </tr>
                    </table>
                    <!-- <ul style="padding: 0px;" >
                     <li   style="display: table;clear:both; list-style:none;"> &nbsp;</li> 
                        <li style="list-style:none; float:left; padding: 5px ; box-sizing:border-box; width: 33%;margin-left:0px;">
                            <a href="{{store url=""}}" class="menu-items" style="text-decoration: none;" target="_blank">
                                <div class="pic" style=" vertical-align:top; text-align:center;" ></div>
                                <div style="font-size: 11px; line-height:1rem;text-align:center;color: #fff;">NATIONWIDE <br />DELIVERY</div>
                            </a>
                        </li>
                        <li style="list-style:none; float:left; padding: 5px ; box-sizing:border-box; width: 33%;margin-left:0px;">
                            <a href="{{store url=""}}" class="menu-items" style="text-decoration: none;" target="_blank">
                                <div class="pic" style="vertical-align:top; text-align:center;" ><img src="{{media url='email/images/payment.png'}}" alt="" style="width: 50px;"></div>
                                <div style="font-size: 11px; line-height:1rem; text-align:center;color: #fff;">PAY ON<br /> DELIVERY</div>
                            </a>
                        </li>
                        <li style="list-style:none; float:left; padding: 5px ; box-sizing:border-box; width: 33%;margin-left:0px;">
                            <a href="{{store url=""}}" class="menu-items" style="text-decoration: none;" target="_blank">
                                <div class="pic" style="vertical-align:top; text-align:center;" ><img src="{{media url='email/images/email.png'}}" alt="" style="width: 50px;"></div>
                                <div style="font-size: 11px; line-height:1rem; color: #fff;text-align:center;color: #fff;">CUSTOMER <br />EMAIL</div>
                            </a>
                        </li> -->
                       <!--  <li style="list-style:none; float:left; padding: 5px ; box-sizing:border-box; width:30%;margin-left:0px;">
                            <a href="{{store url=""}}" class="menu-items" style="text-decoration: none;" target="_blank">
                                <div class="pic" style="width: 50px;float:left; verticle-align:top" ><img src="{{media url='email/images/whatsapp.png'}}" alt="" style="width: 100%;"></div>
                                <div style="font-size: 11px; line-height:1rem; color: #fff;width: 65%;float:left;text-align:center;">PHONE & WHATSAPP SUPPORT</div>
                            </a>
                        </li>-->
                       <!--  <li   style="display: table;clear:both;"> &nbsp;</li> 
                    </ul> -->
                </div>
            </div>
            <div class="main-content" style="padding: 0px 20px 20px;; box-sizing:border-box;">
