<?php //if (Mage::getStoreConfig('easyslide/general/load')) : ?>
    <script src="<?php echo $this->getSkinUrl('ves_bannermanager/js/jquery-1.8.2.min.js'); ?>" type="text/javascript"></script>
    <script type="text/javascript">
        var $j = jQuery.noConflict();
    </script>
<?php // endif; ?>
