<style type="text/css">
#plans,#plans ul,#plans ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#pricePlans:after {
	content: '';
	display: table;
	clear: both;
}

#pricePlans {
	zoom: 1;
}

#pricePlans {
	max-width: 69em;
	margin: 0 auto;
}

#pricePlans #plans .plan {
	background: #fff;
	float: left;
	width: 100%;
	text-align: center;
	border-radius: 5px;
	margin: 0 0 20px 0;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.planContainer .title h2 {
	font-size: 2.125em;
	font-weight: 300;
	color: #3e4f6a;
	margin: 0;
	padding: .6em 0;
}

.planContainer .title h2.bestPlanTitle {
	background: #3e4f6a;

	background: -webkit-linear-gradient(top, #475975, #364761);
	background: -moz-linear-gradient(top, #475975, #364761);
	background: -o-linear-gradient(top, #475975, #364761);
	background: -ms-linear-gradient(top, #475975, #364761);
	background: linear-gradient(top, #475975, #364761);
	color: #fff;
	border-radius: 5px 5px 0 0;
}


.planContainer .price p {
	background: #3e4f6a;

	background: -webkit-linear-gradient(top, #475975, #364761);
	background: -moz-linear-gradient(top, #475975, #364761);
	background: -o-linear-gradient(top, #475975, #364761);
	background: -ms-linear-gradient(top, #475975, #364761);
	background: linear-gradient(top, #475975, #364761);
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	height: 2.6em;
	line-height: 2.6em;
	margin: 0 0 1em;
}

.planContainer .price p.bestPlanPrice {
	background: #f7814d;
}

.planContainer .price p span {
	color: #8394ae;
}

.planContainer .options {
	margin-top: 10em;
}

.planContainer .options li {
	font-weight: 700;
	color: #364762;
	line-height: 2.5;
}

.planContainer .options li span {
	font-weight: 400;
	color: #979797;
}

.planContainer .button a {
	text-transform: uppercase;
	text-decoration: none;
	color: #3e4f6a;
	font-weight: 700;
	letter-spacing: 3px;
	line-height: 2.8em;
	border: 2px solid #3e4f6a;
	display: inline-block;
	width: 80%;
	height: 2.8em;
	border-radius: 4px;
	margin: 1.5em 0 1.8em;
}

.planContainer .button a.bestPlanButton {
	color: #fff;
	background: #f7814d;
	border: 2px solid #f7814d;
}

#credits {
	text-align: center;
	font-size: .8em;
	font-style: italic;
	color: #777;
}

#credits a {
	color: #333;
}

#credits a:hover {
	text-decoration: none;
}

@media screen and (min-width: 481px) and (max-width: 768px) {

#pricePlans #plans .plan {
	width: 49%;
	margin: 0 2% 20px 0;
}

#pricePlans #plans > li:nth-child(2n) {
	margin-right: 0;
}

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

#pricePlans #plans .plan {
	width: 49%;
	margin: 0 2% 20px 0;
}

#pricePlans #plans > li:nth-child(2n) {
	margin-right: 0;
}

}

@media screen and (min-width: 1025px) {

#pricePlans {
	margin: 2em auto;
}

#pricePlans #plans .plan {
	width: 24%;
	margin: 0 1.33% 20px 0;

	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}

#pricePlans #plans > li:last-child {
	margin-right: 0;
}

#pricePlans #plans .plan:hover {
	-webkit-transform: scale(1.04);
	   -moz-transform: scale(1.04);
	    -ms-transform: scale(1.04);
	     -o-transform: scale(1.04);
	        transform: scale(1.04);
}

.planContainer .button a {
	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}

.planContainer .button a:hover {
	background: #3e4f6a;
	color: #fff;
}

.planContainer .button a.bestPlanButton:hover {
	background: #ff9c70;
	border: 2px solid #ff9c70;
}

}

</style>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css' />
<section id="pricePlans">
	<ul id="plans">
		<li class="plan">
			<ul class="planContainer">
				<li class="title"><h2>FREE</h2></li>
				<li class="price"><p>$10/<span>month</span></p></li>
				<li>
					<ul class="options">
						<li>2x <span>option 1</span></li>
						<li>Free <span>option 2</span></li>
						<li>Unlimited <span>option 3</span></li>
						<li>Unlimited <span>option 4</span></li>
						<li>1x <span>option 5</span></li>
					</ul>
				</li>
				<li class="button"><a href="<?php echo $this->getUrl('vendors/')?>">Register</a></li>
			</ul>
		</li>
		<?php $bronzePackage = Mage::getModel('catalog/product')->load(914);

		//var_dump($this->getAddToCartUrl($bronzePackage));
		$_url = Mage::helper('checkout/cart')->getAddUrl($bronzePackage);

		?>
		<li class="plan">
			<ul class="planContainer">
				<li class="title"><h2 class="bestPlanTitle">BRONZE</h2></li>
				<li class="price"><p class="bestPlanPrice">$20/month</p></li>
				<li>
					<ul class="options">
						<li>2x <span>option 1</span></li>
						<li>Free <span>option 2</span></li>
						<li>Unlimited <span>option 3</span></li>
						<li>Unlimited <span>option 4</span></li>
						<li>1x <span>option 5</span></li>
					</ul>
				</li>
				<li class="button"><a class="bestPlanButton" href="<?php echo $_url; //$this->getAddToCartUrl($bronzePackage)?>">Purchase</a></li>
			</ul>
		</li>

		<?php $silverPackage = Mage::getModel('catalog/product')->load(26);?>
		<li class="plan">
			<ul class="planContainer">
				<li class="title"><h2>SILVER</h2></li>
				<li class="price"><p>$30/<span>month</span></p></li>
				<li>
					<ul class="options">
						<li>2x <span>option 1</span></li>
						<li>Free <span>option 2</span></li>
						<li>Unlimited <span>option 3</span></li>
						<li>Unlimited <span>option 4</span></li>
						<li>1x <span>option 5</span></li>
					</ul>
				</li>
				<li class="button"><a href="<?php echo $this->getAddToCartUrl($silverPackage)?>">Purchase</a></li>
			</ul>
		</li>
		
		<?php $goldPackage = Mage::getModel('catalog/product')->load(27);?>
		<li class="plan">
			<ul class="planContainer">
				<li class="title"><h2>GOLD</h2></li>
				<li class="price"><p>$40/<span>month</span></p></li>
				<li>
					<ul class="options">
						<li>2x <span>option 1</span></li>
						<li>Free <span>option 2</span></li>
						<li>Unlimited <span>option 3</span></li>
						<li>Unlimited <span>option 4</span></li>
						<li>1x <span>option 5</span></li>
					</ul>
				</li>
				<li class="button"><a href="<?php echo $this->getAddToCartUrl($goldPackage)?>">Purchase</a></li>
			</ul>
		</li>
	</ul>
</section>