<?php $address_list = ""; ?>
<tr>
<td>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<?php echo Mage::getStoreConfig('vendors/vendors_map/api_code') ?>&v=3.17.15&sensor=true&libraries=places"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl('js').'ves_vendors/map/map.js' ?>"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl('js').'ves_vendors/map/upload/jquery-1.8.2.min.js' ?>"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl('js').'ves_vendors/map/upload/jquery-ui.min.js' ?>"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl('js').'ves_vendors/map/upload/fileuploader.js' ?>"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl('js').'ves_vendors/map/jquery.colorbox-min.js' ?>"></script>
<script type="text/javascript" src="<?php echo Mage::getBaseUrl('js').'ves_vendors/map/upload/jquery.noconflict.js' ?>"></script>
	<?php 
		if($this->getVendors()){
			echo $this->getScriptHtml();
         }
    ?>
		<script type="text/javascript">
					//<![CDATA[
		                var initPosition = new google.maps.LatLng(<?php echo $this->getDefaultLocationLat() ?>, <?php echo $this->getDefaultLocationLng() ?>);
						//var initPosition = new google.maps.LatLng((typeof(lat)!="undefined")?lat:59.32522, (typeof(lng)!="undefined")?lng:18.07002);
						var markers = new Array();
						var new_markers = null;
                        var edit_marker = null;
				        var infowindow;
						var map;
						var editMap = null;
                        var region = null;
						var customer_marker_check = false;
						var DELETE_MARKER_URL = '<?php echo $this->getUrl("adminhtml/vendors_map/delete",array("vendor_id"=>$this->getVendors()->getId())) ?>';
						var LOAD_FORM_EDIT_URL = '<?php echo $this->getUrl("adminhtml/vendors_map/loadform",array("vendor_id"=>$this->getVendors()->getId())) ?>';
                        var DELETE_LOGO_URL = '<?php echo Mage::getUrl('adminhtml/vendors_map/deleteLogoAjax',array("vendor_id"=>$this->getVendors()->getId())) ?>';
                        var DELETE_LOGO_URL_ADDRESS = '<?php echo Mage::getUrl('adminhtml/vendors_map/deleteLogoAddressAjax',array("vendor_id"=>$this->getVendors()->getId())) ?>';
                        var CLEAR_IMAGE_TMP = '<?php echo Mage::getUrl('adminhtml/vendors_map/clearImageTmpAjax',array("vendor_id"=>$this->getVendors()->getId())) ?>';
                        var DEFAUlT_MARKER = false;
                           $j(".map-colorbox-logo").colorbox({rel:'map-colorbox-logo'});
						    Event.observe(window,"load",function(){
							$$('#address_list input[type="radio"]:checked').each(function(c){
							      $(c).checked = false;
							 });
							initializeGoogleMap();
                            initClearImageTmp();

							<?php if(Mage::helper("vendorsmap")->getDefaultLocationVendor()): ?>
                                 google.maps.event.addListener(map, 'tilesloaded', function() {
                                     setDefaultMarkerMap('<?php echo Mage::helper("vendorsmap")->getDefaultLocationVendor() ?>');
                                     google.maps.event.clearListeners(map,"tilesloaded");
                                 });
							<?php endif;?>
						 });



		</script>
	  <div class="left-map" >
	  		<div class="button-new-address">
				<button class="scalable" style="" onclick="newMapAddress()" type="button" title="New Address"><span><span><?php echo Mage::helper("vendorsmap")->__("New Address") ?></span></span></button>
			</div>
			<div style="display:none" id="new-map-address"  class="form-new-address">
					<?php echo $this->getFormNewHtml() ; ?>
		   </div>
		   	<div id="address_list" class="vendor-map-list">
					<?php echo $this->getListAddressHtml() ; ?>
			</div>
           <div class="clear"></div>
	</div>
	 <div class="right-map">
	 	<?php echo $this->__('Search Location')?>:  <input id="searchTextField" type="text" size="40" class="input-text" />
         <div class="clear"></div>
    	<div id="map_canvas"></div>
    	<?php 
			$logo = $this->getVendors() ? Mage::getBaseUrl('media').$this->getVendors()->getLogo():'';
		?>

		<input type="hidden" name="vendor[logo_url]" id="logo_url" value="<?php echo $logo ?>"/>
	</div>
</td>
</tr>