/**
 * Mageplaza_Kb extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category       Mageplaza
 * @package        Mageplaza_Kb
 * @copyright      Copyright (c) 2015
 * @license        http://opensource.org/licenses/mit-license.php MIT License
 */

.row-mc {
    min-height: 1px;
    margin: 0 -10px;
}

.col-mc {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding-box !important;
    -webkit-background-clip: padding-box !important;
    background-clip: padding-box !important;
    float: left;
    padding: 0 10px;
}
div[class^='mageplaza-kb'] .field,
{
    float: left;
}



@media (min-width: 1200px) {
    div[class^='mageplaza-kb'] .field {
        width: 50%;
    }
    .mc-lg-1 {
        width: 8.33333333333%;
    }

    .mc-lg-2 {
        width: 16.6666666667%;
    }

    .mc-lg-3 {
        width: 25.0%;
    }

    .mc-lg-4 {
        width: 33.3333333333%;
    }

    .mc-lg-5 {
        width: 41.6666666667%;
    }

    .mc-lg-6 {
        width: 50.0%;
    }

    .mc-lg-7 {
        width: 58.3333333333%;
    }

    .mc-lg-8 {
        width: 66.6666666667%;
    }

    .mc-lg-9 {
        width: 75.0%;
    }

    .mc-lg-10 {
        width: 83.3333333333%;
    }

    .mc-lg-11 {
        width: 91.6666666667%;
    }

    .mc-lg-12 {
        margin-left: 0;
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    div[class^='mageplaza-kb'] .field {
        width: 50%;
    }

    .mc-md-1 {
        width: 8.33333333333%;
    }

    .mc-md-2 {
        width: 16.6666666667%;
    }

    .mc-md-3 {
        width: 25.0%;
    }

    .mc-md-4 {
        width: 33.3333333333%;
    }

    .mc-md-5 {
        width: 41.6666666667%;
    }

    .mc-md-6 {
        width: 50.0%;
    }

    .mc-md-7 {
        width: 58.3333333333%;
    }

    .mc-md-8 {
        width: 66.6666666667%;
    }

    .mc-md-9 {
        width: 75.0%;
    }

    .mc-md-10 {
        width: 83.3333333333%;
    }

    .mc-md-11 {
        width: 91.6666666667%;
    }

    .mc-md-12 {
        margin-left: 0;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .affiliate-account-create .field {
        width: 50%;
    }

    .mc-sm-1 {
        width: 8.33333333333%;
    }

    .mc-sm-2 {
        width: 16.6666666667%;
    }

    .mc-sm-3 {
        width: 25.0%;
    }

    .mc-sm-4 {
        width: 33.3333333333%;
    }

    .mc-sm-5 {
        width: 41.6666666667%;
    }

    .mc-sm-6 {
        width: 50.0%;
    }

    .mc-sm-7 {
        width: 58.3333333333%;
    }

    .mc-sm-8 {
        width: 66.6666666667%;
    }

    .mc-sm-9 {
        width: 75.0%;
    }

    .mc-sm-10 {
        width: 83.3333333333%;
    }

    .mc-sm-11 {
        width: 91.6666666667%;
    }

    .mc-sm-12 {
        margin-left: 0;
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .mc-xs-1 {
        width: 8.33333333333%;
    }

    .mc-xs-2 {
        width: 16.6666666667%;
    }

    .mc-xs-3 {
        width: 25.0%;
    }

    .mc-xs-4 {
        width: 33.3333333333%;
    }

    .mc-xs-5 {
        width: 41.6666666667%;
    }

    .mc-xs-6 {
        width: 50.0%;
    }

    .mc-xs-7 {
        width: 58.3333333333%;
    }

    .mc-xs-8 {
        width: 66.6666666667%;
    }

    .mc-xs-9 {
        width: 75.0%;
    }

    .mc-xs-10 {
        width: 83.3333333333%;
    }

    .mc-xs-11 {
        width: 91.6666666667%;
    }

    .mc-xs-12 {
        margin-left: 0;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .col-mc {
        width: 100%;
    }
}

.mp-footer, .mp-footer h3{
    margin-top: 50px;
    font-size: 8px !important;
    display: block;
    clear: both;
    float: right;
    text-transform: inherit;
}
.mp-footer-links-light,.mp-footer-links-light h3,.mp-footer-links-light a,.mp-footer-links-light a:hover, .mp-footer-links-light a:visited{
    color: #E8E8E8 !important;
}

.mp-footer-links-dark, .mp-footer-links-dark h3,.mp-footer-links-dark a,.mp-footer-links-dark a:hover, .mp-footer-links-dark a:visited{

    color: #D2D2D2 !important;
}

.kb-articles-listing {
    list-style: disc !important;
    margin-left: 1em;
}

.kb-category-title {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    display: block;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 600;
    height: 27px;
    line-height: 27px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

#categories-list .articles-box {
    margin-left: 2em;
}

.faq-search-form-container {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;

}

.faq-search-form  {
    border: solid 1px #ccc;
}

/*.faq-search-form .form-search .button:before {*/
/*content: "\e235";*/
/*}*/

.faq-search-result .article-list-container ul {
    list-style-type: disc;
}

ul.kb-articles-listing {
    list-style-type: decimal;
}

#categories-list {
    margin-top: 20px;
}

.category-list-item {
    margin-top: 1em;
}

.faq-content{
    min-height: 400px;

}
.faq-heading .link-rss{
    float:right;
}