<div class="page-title">
    <h1><?php echo Mage::helper('vendorsrma')->__('Request RMA') ?></h1>
</div>

<form action="<?php echo $this->getContinueUrl() ?>" method="post" id="request-new-form" class="request-new-form" enctype="multipart/form-data">
    <div class="fieldset">
        <ul class="form-list">
            <li class="fields">
                <div class="left">
                    <label for="department_id" class="required"><?php echo Mage::helper('vendorsrma')->__('Order Id #') ?><em>*</em></label>
                    <div class="input-box">
                        <input type="text" class="required-entry input-text" name="order_incremental_id" id="order_incremental_id"/>
                    </div>
                </div>
                <div class="right">
                    <label for="department_id" class="required"><?php echo Mage::helper('vendorsrma')->__('Email') ?><em>*</em></label>
                    <div class="input-box">
                        <input type="text" class="required-entry input-text validate-email" name="email" id="email"/>
                    </div>
                </div>
                <div class="clear"></div>
         </ul>
    </div>
    <div class="buttons-set">
        <button class='button' id="request-new-submit" title="Submit request" type="submit" ><span><span><?php echo Mage::helper('vendorsrma')->__('Submit RMA') ?></span></span></button>
    </div>
</form>
<script type="text/javascript">
    var vesrmaNewForm = new VarienForm('request-new-form', true);
</script>