.product-options-container input.input-text[disabled="disabled"]{background: #e1e1e1;}

.option-tooltip {
  position: relative;
  display: inline;
}
.option-tooltip span {
	position: absolute;
	width:140px;
	color: #FFFFFF;
	background: #000000;
	height: 35px;
	padding: 10px;
	text-align: center;
	visibility: hidden;
	border-radius: 6px;
}
.option-tooltip span:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -8px;
  width: 0; height: 0;
  border-right: 8px solid #000000;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.option-tooltip span {
	visibility:visible;
	opacity: 0.8;
	left: 100%;
	top: 50%;
	margin-top: -26px;
	margin-left: 15px;
	z-index: 999;
}