<div class="page-title">
        <h1><span class="title-ticket"><?php echo $this->__('Request RMA')?></span></h1>
</div>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="row">
    <div class="col-md-8">
        <form action="<?php echo $this->getSubmitUrl() ?>" method="post" id="request-new-form" class="request-new-form" enctype="multipart/form-data">
            <div class="request_infomation fieldset">
                <?php echo $this->getChildHtml("infor") ?>
            </div>
            <?php if(Mage::helper("vendorsrma/config")->showPolicy()): ?>
                <div class="request_policy fieldset">
                    <?php echo $this->getChildHtml("policy") ?>
                </div>
            <?php endif ?>
            <div class="buttons-set">
                <button class='button' id="request-new-submit" title="Submit ticket" type="submit" ><span><span><?php echo Mage::helper('vendorsrma')->__('Submit RMA') ?></span></span></button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <?php // echo $this->getLayout()->createBlock('cms/block')->setBlockId('rma_policy_right_block')->toHtml(); ?>
    </div>
</div>



