<?php $request = $this->getRequestRma() ?>
<div class="page-title">
    <h1><span class="title-ticket"><?php echo 'RMA #'.$request->getData('increment_id')?></span><?php echo $this->__(" - "); ?><?php echo Mage::getModel('vendorsrma/source_status')->getTitleById($request->getData('status')); ?>   </h1>
</div>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<div class="form-note"  id="form-note-request">
    <form action="<?php echo $this->getSaveNote() ?>" method="post" id="request-note-form" enctype="multipart/form-data">
        <div class="fieldset">
            <ul class="form-list">
                <li class="wide">
                    <label for="content_message_reply" class="required"><em>*</em><?php echo $this->__("Message") ?></label>
                    <div class="input-box">
                        <textarea class="required-entry" name="note[message]" id="content_message_reply"></textarea>
                        <div id="message-validate" style=""></div>
                    </div>
                </li>
                <li class="wide">
                    <div id="file0" class="add-file" style="margin-top:5px">
                        <label for="filename"><?php echo Mage::helper('vendorsrma')->__('File ('.Mage::helper('vendorsrma/config')->maxSizeUpload().'Mb)(Allow extension : '.Mage::helper('vendorsrma/config')->fileExtension().')')?></label><br/>
                        <div class="upfile" style="margin-top:5px;">
                            <input class="input-file" name="filename0" id="filename0"  type="file" style="margin-right: -3px;"/>
                            <button class="button add form-button" type="button" onClick="requestOption.add('0')"><span><span><?php echo Mage::helper('vendorsrma')->__('Add File')?></span></span></button>
                            <input type="hidden" id="filename" name="note[filename]" value="0">
                        </div>
                    </div>
                </li>
             </ul>

        </div>
        <div class="buttons-set">
            <p class="required">* <?php echo $this->__("Required Fields") ?></p>
            <button type="submit" title="Submit Request" class="button" id="vesrma-note-submit"><span><span><?php echo $this->__("Submit") ?></span></span></button>
        </div>
        <?php if($this->getRequest()->getParam('sc')):?>
            <input type="hidden" name="sc" value="<?php echo $this->getRequestRma()->getData('uid') ?>"/>
            <input type="hidden" name="key" value="<?php echo $this->getRequest()->getParam('key')?>"/>
        <?php endif?>
    </form>
</div>
<div class="back">
<?php if(!$this->getRequest()->getParam('sc')):?>
    <a href="<?php echo $this->getUrl('vesrma/rma_customer/view',array("id"=>$this->getRequestRma()->getId()));?>" class="left"><?php echo Mage::helper('vendorsrma')->__('&laquo;Back')?></a>
<?php else: ?>
    <a href="<?php echo $this->getUrl('vesrma/rma_guest/view',array("sc"=>$this->getRequestRma()->getData("uid")));?>" class="left"><?php echo Mage::helper('vendorsrma')->__('&laquo;Back')?></a>
<?php endif?>  
 </div>
<script type="text/javascript">
    //<![CDATA[
    var dataForm = new VarienForm('request-note-form', true);

    //console.log("test");

    var pendingCall = { timeStamp: null, procID: null };

    var lastId = 1;
    var filename=new Array('0');
    /* ajax find order increment ID */

    var requestOption = function() {
        return {
            del : function(obj) {
                if( confirm('Are you sure ?') ) {
                    var fileRow = document.getElementById('file'+obj);
                    fileRow.remove();
                    for (x in filename){
                        if(obj == filename[x]) filename.splice(x,1);
                    }
                    document.getElementById('filename').value=filename;
                }
            },
            addNew : function(obj) {
                var id = this.createId();
                var fileRow = document.getElementById('file'+obj);
                var fileTable = fileRow.parentNode.parentNode;
                var newRow = fileTable.insertRow(fileTable.rows.length);
                newRow.innerHTML=this.getTemplateNew(id);
                newRow.id='file'+id;
                filename.push(id);
                document.getElementById('filename').value=filename;
            },
            getTemplateNew : function(id) {
                return '<td class="lable"></td>'
                + '<td class="value">'
                + '<input type="file" value="" name="filename'+ id + '" id="filename'+ id + '">'
                + '<button class="button form-button" id="deletefile_button" type="button" onclick="requestOption.del('+ id + ')"><span>Delete</span></button>'
            },
            add : function(obj) {
                var id = this.createId();
                var file = document.getElementById('file'+obj);
                var fileParent = file.parentNode;
                var newDiv = fileParent.insert({ 'bottom' : this.getTemplate(id) });
                filename.push(id);
                document.getElementById('filename').value=filename;
            },
            getTemplate : function(id) {
                return  '<div id="file'+id+'" >'
                +'<input type="file" value="" name="filename'+ id + '" id="filename'+ id + '">'
                + '<button class="button form-button" id="deletefile_button" type="button" onclick="requestOption.del('+ id + ')"><span>Delete</span></button>'
                +'<div>'
            },
            createId : function () {
                return lastId++;
            },
        }
    }();
    //]]>
</script>
