<!--@subject {{var store.getFrontendName()}}: You have a question from customer@-->
<!--@vars
{"var data.name":"Sender Name",
"var data.email":"Sender Email",
"var data.telephone":"Sender Telephone",
"var data.comment":"Comment"}
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
First Name: {{var data.fname}}<br/>
Last Name: {{var data.lname}}<br/>
Email: {{var data.email}}<br/>
Home Phone Number: {{var data.telephone}}<br/>
Comment: {{var data.comment}}<br/>
</td>
        </tr>
    </table>
{{template config_path="design/email/footer"}}