
<?php $rma = $this->getRequestRma() ?>
<?php $customer = $this->getCustomerInfor() ?>

<h1><?php echo $this->__('RMA  #%s', $rma->getIncrementId()) ?></h1>
<p class="request-date"><?php echo $this->__('Date: %s', $this->formatDate($rma->getCreatedAt(), 'long')) ?></p>
<div class="col2-set">
    <div class="col2-set">
        <div class="col-1">
            <h2><?php echo $this->__('Return Address') ?></h2>
            <?php echo $customer->getData("firstname") ?> <?php echo $customer->getData("lastname") ?><br/>
            <?php if($customer->getData("company")):?><?php echo $customer->getData("company") ?><br/><?php endif; ?>
            <?php echo $customer->getData("address") ?>,<?php echo $customer->getData("city") ?>,
            <?php if($customer->getRegionId()){ echo $this->getRegionName($customer->getRegionId());}else{echo $customer->getRegion();}  ?>,
            <?php echo $customer->getData("postcode") ?><br/>
            <?php echo $this->getCountryName($customer->getCountryId()) ?><br/>
            <?php echo $customer->getData("telephone") ?><?php if($customer->getData("fax")):?>,<?php echo $customer->getData("fax") ?><?php endif; ?><br/><br/><br/>
            <?php if($customer->getData("additional_information")):?><?php echo $customer->getData("additional_information") ?><br/><?php endif; ?>
        </div>
        <div class="col-2">
            <h2><?php echo $this->__('Details') ?></h2>
            <?php echo $this->__('Order Id#: ') ?><?php echo $rma->getData("order_incremental_id") ?><br/>
            <?php echo $this->__('Request Type: ') ?><?php echo Mage::getModel('vendorsrma/source_type')->getTitleById($rma->getData('type')); ?><br/>
            <?php echo $this->__('Package Opened: ') ?><?php echo Mage::getModel('vendorsrma/option_pack')->getTitleByKey($rma->getData('package_opened')); ?><br/>
            <?php echo $this->__('Approvement Code: ') ?><?php echo $rma->getData("tracking_code") ?><br/>
            <?php echo $this->__('Reason: ') ?><?php echo Mage::getModel('vendorsrma/source_reason')->getTitleById($rma->getData('reason')); ?><br/>
        </div>
    </div>

    <h2><?php echo $this->__('Items RMA Requested for') ?></h2>
    <?php echo $this->getChildHtml("items") ?>

    <script type="text/javascript">decorateTable('my-orders-table', {'tbody' : ['odd', 'even'], 'tbody tr' : ['first', 'last']})</script>
    <script type="text/javascript">window.print();</script>
