<div class="reply-message" id="reply-message-button">
    <button class="button center" type="button" onclick="requestOption.showFormReply()" ><span><span><?php echo Mage::helper('vendorsrma')->__('Reply')?></span></span></button>
</div>
<div class="form-reply" style="display:none" id="form-reply-request">
    <form action="<?php echo $this->getUrlReply() ?>" method="post" id="request-rma_reply-form" enctype="multipart/form-data">
        <div class="request-content">
            <div>
                <textarea class="required-entry" name="request[comment]" id="content_message_reply"></textarea>
                <div id="message-validate" style=""></div>
            </div>
            <div id="message-validate" style=""></div>
            <div id="file0" class="add-file" style="margin-top:5px">
                <label for="filename"><?php echo Mage::helper('vendorsrma')->__('File ('.Mage::helper('vendorsrma/config')->maxSizeUpload().'Mb)(Allow extension : '.Mage::helper('vendorsrma/config')->fileExtension().')')?></label><br/>
                <div class="upfile" style="margin-top:5px;">
                    <input class="input-file" name="filename0" id="filename0"  type="file" style="margin-right: -3px;"/>
                    <button class="button add form-button" type="button" onClick="requestOption.add('0')"><span><span><?php echo Mage::helper('vendorsrma')->__('Add File')?></span></span></button>
                    <input type="hidden" id="filename" name="request[filename]" value="0">
                </div>
            </div>
            <div class="button-set">
                <button class="button right form-button" type="button" onclick="requestOption.submitReplyRequest()"><span><span><?php echo Mage::helper('vendorsrma')->__('Submit')?></span></span></button>
            </div>
            <div class="clear"></div>
        </div>
        <?php if($this->getRequest()->getParam('sc')):?>
            <input type="hidden" name="sc" value="<?php echo $this->getRequestRma()->getData('uid') ?>"/>
            <input type="hidden" name="key" value="<?php echo $this->getRequest()->getParam('key')?>"/>
        <?php endif?>
    </form>
</div>
<div class="clear"></div>
