
<div class="box-customer-request">
    <table class="data-table my-request-table" id="my-request-table">
        <col width="1" />
        <col />
        <col width="1" />
        <thead>
        <tr class="headings">
            <th><?php echo $this->helper('vendorsrma')->__('Image') ?></th>
            <th><?php echo $this->helper('vendorsrma')->__('Products') ?></th>
            <th class="last"><?php echo $this->helper('vendorsrma')->__('Qty RMA') ?></th>
        </tr>
        </thead>
        <?php $_items = $this->getItems() ?>
        <?php $i=0;foreach ($_items as $_item):?>
            <tbody class="<?php echo $i%2?'even':'odd' ?>">
            <tr class="border">
                <td><img src="<?php echo $this->getItemImage($_item->getData("order_item_id")) ?>" alt="<?php echo $this->escapeHtml($this->getItemName($_item->getData("order_item_id"))) ?>" /></td>
                <td>
                    <?php echo $this->getItemName($_item->getData("order_item_id")) ?>
                </td>
                <td class="a-center last">
                    <?php echo $_item->getData("qty") ?>
                </td>
            </tr>
            </tbody>
        <?php endforeach; ?>
    </table>
</div>
