<script type="text/javascript">

    //var formControl = new VENDORRMAAdminRmaFormControl(this, editForm);
   // formControl.observeItemsCount();

    //console.log("test");

    var pendingCall = { timeStamp: null, procID: null };
    var loader_id = 'loading-mask';
    var lastId = 1;
    var filename=new Array('0');
    /* ajax find order increment ID */

    var requestOption = function() {
        return {
            findOrder : function(html,orde_id){
                $('order_incremental_id').setValue(html);
                $('order_id').setValue(orde_id);
                $('order_button_view').removeClassName('disabled');

            },
            viewOrder :  function(){
                var order_id=$('order_id').getValue();
                window.open("<?php echo $this->getUrl('vendors/sales_order/view') ?>"+"order_id/"+order_id);
            },
            slideUp :function(obj){
                $$('.'+obj).each(function(div) {
                    div.observe('mouseout', function(e) {
                        var mouse_over_element;
                        if (e.toElement) {
                            mouse_over_element = e.toElement;
                        } else if (e.relatedTarget) {
                            mouse_over_element = e.relatedTarget;
                        }

                        if (mouse_over_element == null) {
                            return;
                        }
                        if (!mouse_over_element.descendantOf(div) && div != mouse_over_element) {
                            Effect.SlideUp(obj,{ duration: 0.5 });
                        }
                    });
                });
             },
            del : function(obj) {
                if( confirm('Are you sure ?') ) {
                    var fileRow = document.getElementById('file'+obj);
                    fileRow.remove();
                    for (x in filename){
                        if(obj == filename[x]) filename.splice(x,1);
                    }
                    document.getElementById('filename').value=filename;
                }
            },
            addNew : function(obj) {
                var id = this.createId();
                var fileRow = document.getElementById('file'+obj);
                var fileTable = fileRow.parentNode.parentNode;
                var newRow = fileTable.insertRow(fileTable.rows.length);
                newRow.innerHTML=this.getTemplateNew(id);
                newRow.id='file'+id;
                filename.push(id);
                document.getElementById('filename').value=filename;
            },
            getTemplateNew : function(id) {
                return '<td class="lable"></td>'
                + '<td class="value">'
                + '<input type="file" value="" name="filename'+ id + '" id="filename'+ id + '">'
                + '<button class="button form-button" id="deletefile_button" type="button" onclick="requestOption.del('+ id + ')"><span>Delete</span></button>'
            },
            add : function(obj) {
                var id = this.createId();
                var file = document.getElementById('file'+obj);
                var fileParent = file.parentNode;
                var newDiv = fileParent.insert({ 'bottom' : this.getTemplate(id) });
                filename.push(id);
                document.getElementById('filename').value=filename;
            },
            getTemplate : function(id) {
                return  '<div id="file'+id+'" >'
                +'<input type="file" value="" name="filename'+ id + '" id="filename'+ id + '">'
                + '<button class="button form-button" id="deletefile_button" type="button" onclick="requestOption.del('+ id + ')"><span>Delete</span></button>'
                +'<div>'
            },
            createId : function () {
                return lastId++;
            },

            showViewMessage : function(mid){
                if($('message-body-'+mid).getStyle('display') == 'none') {
                    $('message-body-'+mid).show();
                    if($('quote-message-'+mid)) $('quote-message-'+mid).show();
                    $('message-body-'+mid).up().addClassName('arrow_up_ticket');
                    $('reply-'+mid).show();
                    $('do-discription-'+mid).hide();
                    $('discription-'+mid).hide();
                }
                else {
                    $('message-body-'+mid).hide();
                    if($('quote-message-'+mid)) $('quote-message-'+mid).hide();
                    $('message-body-'+mid).up().removeClassName('arrow_up_ticket');
                    $('reply-'+mid).hide();
                    $('do-discription-'+mid).hide();
                    $('discription-'+mid).show();
                }
            },
            showFormReply : function(){
                this.showTinyMce();
                $('form-reply-request').show();
                $('reply-message-button').hide();
                Effect.ScrollTo("form-reply-request", { duration: 1.0 });
            },
            quoteMessage : function(obj) {
                var message = document.getElementById("messagebody"+obj).innerHTML;
                this.showFormReply();
                if(tinyMCE.getInstanceById('content_message_reply')){
                    tinyMCE.getInstanceById('content_message_reply').getBody().innerHTML += '<blockquote>'+message+'</blockquote>';
                }
                else{
                    $('content_message_reply').value += '<blockquote>'+message+'</blockquote>';
                }
                Effect.ScrollTo("form-reply-request", { duration: 1.0 });
            },

            saveMessage : function(obj){
                var message=document.getElementById("messageBodyText"+obj).value;
                new Ajax.Request('<?php echo $this->getUrlUpdateMessage() ?>', {
                    method:'post',
                    parameters:{id: obj,message:message},
                    onCreate: function(obj) {
                        Element.show(loader_id);
                    },
                    onComplete: function (transport) {
                        Element.hide(loader_id);
                        $('message-body-'+obj).show();
                        $('messagebody'+obj).setStyle({display:''});
                        $('messagedit'+obj).setStyle({display:'none'});;
                    },
                    onSuccess: function(transport) {
                        var response = transport;
                        document.getElementById("messagebody"+obj).innerHTML=response.responseText;

                    },
                });
            },
            showTinyMce : function(){
                tinyMCE.init({
                    forced_root_block : '',
                    force_br_newlines: true,
                    force_p_newlines: false,
                    mode : "exact",
                    theme : "advanced",
                    width:"100%",
                    height:"300px",
                    strict_loading_mode : true,
                    elements : "content_message_reply",
                    theme_advanced_buttons1 : "bold,italic,underline,bullist,numlist,separator,outdent,indent,separator,undo,redo,separator",
                    theme_advanced_buttons2 : "",
                    theme_advanced_buttons3 : "",
                    theme_advanced_toolbar_location : "top",
                    theme_advanced_toolbar_align : "left",
                    theme_advanced_path_location : "bottom",
                    extended_valid_elements : "a[name|href|target|title|onclick],img[class|src|border=0|alt|title|hspace|vspace|width|height|align|onmouseover|onmouseout|name],hr[class|width|size|noshade],font[face|size|color|style],span[class|align|style]",
                    theme_advanced_resize_horizontal : "true",
                    theme_advanced_resizing : "true",
                    apply_source_formatting : "true",
                    convert_urls : "false",
                    force_br_newlines : "true",
                    doctype : '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">'
                });
            },
            submitReplyRequest:function(){
                var content = tinyMCE.get('content_message_reply').getContent(); // msg = textarea id
                if( content == "" || content == null){
                    $("message-validate").update('<div id="advice-required-entry-message" class="validation-advice" style="">This is a required field.</div>');
                }
                else{
                    $("request-rma_reply-form").submit();
                }
            }
        }

    }();


    var requestTemplateSyntax = /(^|.|\r|\n)({{(\w+)}})/;


    $$('.message-box .message-header').each(function(div){
        div.observe('click',function(){
            var id= this.select('.request_message_id').first().getAttribute('value');
            requestOption.showViewMessage(id);
        });
    });

</script>