<script type="text/javascript" src="<?php echo $this->getJsUrl('tiny_mce/tiny_mce.js')?>"></script>
<script type="text/javascript" src="https://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
<?php $request = $this->getRequestRma(); ?>
<div class="my-request">
<div class="page-title customer-request-title">
    <h1><?php echo $this->__('My RMA') ?></h1>
    <div class="reply-message" id="reply-message-button">
        <button class="button center" type="button" onclick="setLocation('<?php echo $this->getNewUrl() ?>')" ><span><span><?php echo Mage::helper('vendorsrma')->__('Request New RMA')?></span></span></button>
    </div>
    <div class="clear"></div>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
</div>

<div class='box-customer-request' id="box-customer-request-rma" >
    <?php echo $this->getPagerRequestHtml(); ?>
    <?php if($request->getSize()): ?>
        <table class="data-table my-request-table" id="my-request-table">
            <col width="1" />
            <col width="1" />
            <col />
            <col width="1" />
            <col width="1" />
            <col width="1" />
            <thead>
            <tr>
                <th width="10%"><span class="nobr"><?php echo $this->__('Created At') ?></span></th>
                <th><?php echo $this->__('RMA ID #') ?></th>
                <th><?php echo $this->__('Order ID #') ?></th>
               <?php /* <th width="40%"><?php echo $this->__('Status') ?></th> */ ?>
                <th width="30%"><?php echo $this->__('State') ?></th>
                <th class="last" width="25%"></th>
            </tr>
            </thead>
            <tbody>
            <?php $_odd = ''; ?>
            <?php foreach ($request as $rma): ?>
                <tr>
                    <td><?php echo Mage::getModel('core/date')->date("F j, Y, g:i a",$rma->getData('created_at'));?></td>
                    <td><?php echo $this->__('#').$rma->getData('increment_id') ?></td>
                    <td><?php echo $this->__('#').$rma->getData('order_incremental_id') ?></td>
                       <?php /*  <td><?php echo Mage::getModel('vendorsrma/source_status')->getTitleById($rma->getData('status')) ?></td>*/ ?>
                    <td><?php echo Mage::getModel('vendorsrma/option_state')->getTitleByKey($rma->getData('state'),$rma->getData('flag_state'),false) ?></td>
                    <td class="last" width="10%">
                        <a href="<?php echo $this->getUrl('vesrma/rma_customer/view/',array('id'=>$rma->getId())) ?>"> <?php echo $this->__("View Request") ?></a>
                        <?php if($this->isCancelRma($rma->getState())): ?>
                            | <a href="<?php echo $this->getUrl('vesrma/rma_customer/cancel/',array('id'=>$rma->getId())) ?>" class="cancel" onclick="return confirm('Are you sure you would like to cancel this RMA?')"> <?php echo $this->__("Cancel") ?></a>
                        <?php endif ?>
                    </td>

                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    <?php else: ?>
        <p style="text-align:center;font-style:italic"><?php echo $this->__('There is no request rma.'); ?></p>
    <?php endif ?>
</div>
<script type="text/javascript">decorateTable('my-request-table');</script>
</div>