<?php $request = Mage::registry('request_data');  ?>
<?php if(!$this->isCloseRequest()): ?>
<tr>
    <?php if(!$this->isNoteRma()): ?>
    <td>
    <div class="form-note"  id="form-note-request">
        <form action="<?php echo $this->getSaveNote() ?>" method="post" id="request-note-form" enctype="multipart/form-data">
            <ul>
                <li class="wide">
                    <label for="content_message_reply"><?php echo $this->__("Message") ?></label>
                    <div class="input-box">
                        <textarea class="required-entry local-validation" name="note[message]" id="content_message_reply" style="width: 100%;height: 200px;"></textarea>
                        <div id="message-validate" style=""></div>
                    </div>
                </li>
                <li class="wide">
                    <div id="notefile0" class="add-file" style="margin-top:5px">
                        <label for="filenameNote"><?php echo Mage::helper('vendorsrma')->__('File ('.Mage::helper('vendorsrma/config')->maxSizeUpload().'Mb)(Allow extension : '.Mage::helper('vendorsrma/config')->fileExtension().')')?></label><br/>
                        <div class="upfile" style="margin-top:5px;">
                            <input class="input-file local-validation" name="notefilename0" id="notefilename0"  type="file" style="margin-right: -3px;"/>
                            <button class="button add form-button" type="button" onClick="requestOptionNote.add('0')"><span><span><?php echo Mage::helper('vendorsrma')->__('Add File')?></span></span></button>
                            <input type="hidden" id="filenameNote" name="note[filenamenote]" value="0">
                        </div>
                    </div>
                </li>
            </ul>


            <div class="buttons-set">
                <button type="submit" title="Submit Request" class="button" id="vesrma-note-submit"><span><span><?php echo $this->__("Submit") ?></span></span></button>
            </div>
          </form>
        </div>
        <script type="text/javascript">
            //<![CDATA[
            var dataForm = new varienForm('request-note-form', true);

            var lastIdNote = 1;
            var filenameNote =new Array('0');
            /* ajax find order increment ID */

            var requestOptionNote = function() {
                return {
                    del : function(obj) {
                        if( confirm('Are you sure ?') ) {
                            var fileRow = document.getElementById('notefile'+obj);
                            fileRow.remove();
                            for (x in filenameNote){
                                if(obj == filenameNote[x]) filenameNote.splice(x,1);
                            }
                            document.getElementById('filenameNote').value=filenameNote;
                        }
                    },
                    addNew : function(obj) {
                        var id = this.createId();
                        var fileRow = document.getElementById('notefile'+obj);
                        var fileTable = fileRow.parentNode.parentNode;
                        var newRow = fileTable.insertRow(fileTable.rows.length);
                        newRow.innerHTML=this.getTemplateNew(id);
                        newRow.id='notefile'+id;
                        filenameNote.push(id);
                        document.getElementById('filenameNote').value=filenameNote;
                    },
                    getTemplateNew : function(id) {
                        return '<td class="lable"></td>'
                        + '<td class="value">'
                        + '<input type="file" value="" name="notefilename'+ id + '" id="notefilename'+ id + '">'
                        + '<button class="button form-button" id="deletefile_button" type="button" onclick="requestOption.del('+ id + ')"><span>Delete</span></button>'
                    },
                    add : function(obj) {
                        var id = this.createId();
                        var file = document.getElementById('notefile'+obj);
                        var fileParent = file.parentNode;
                        var newDiv = fileParent.insert({ 'bottom' : this.getTemplate(id) });
                        filenameNote.push(id);
                        document.getElementById('filenameNote').value=filenameNote;
                    },
                    getTemplate : function(id) {
                        return  '<div id="file'+id+'" >'
                        +'<input type="file" value="" name="notefilename'+ id + '" id="notefilename'+ id + '">'
                        + '<button class="button form-button" id="deletefile_button" type="button" onclick="requestOption.del('+ id + ')"><span>Delete</span></button>'
                        +'<div>'
                    },
                    createId : function () {
                        return lastIdNote++;
                    },
                }
            }();
            //]]>
        </script>
    </td>
    <?php else: ?>
        <td> <span><?php echo $this->__("You have not sent note") ?></span></td>
    <?php endif;?>
</tr>

<?php else: ?>
    <p><?php echo $this->__("You have not sent note") ?></p>
<?php endif; ?>