.vendor_cp #nav li.cms {background-image: url("../images/cms.png");background-position: 5px 15px;background-repeat: no-repeat;padding-left: 11px;}
.app_layout_container button.delete{float: right;}
.app_layout_container .option-box{display: block; background: #E7EFEF;padding: 10px;margin-bottom: 15px;}
.app_layout_container .option-title{border-bottom: 1px solid #CDDDDD;padding-bottom: 10px;margin-bottom: 10px;}
.app_layout_container .option-title label{padding-right: 10px;}
.app_layout_container .option-header th{padding:5px 0;}
.app_layout_container .option-header td{padding-right: 40px;}