body {
  background-color: #fff !important;
  color: #4c4c4c !important; }

* {
  box-sizing: border-box; }

input:focus {
  outline: none !important; }

.btn {
  height: 40px;
  min-width: 100px; }

.btn-success {
  background-color: #159867 !important; }
  .btn-success:hover, .btn-success:active, .btn-success:focus {
    background-color: #128258 !important; }

.account-login-logo {
  width: 300px;
  margin: 100px auto 30px; }
  .account-login-logo img {
    width: 100%; }

.account-login #loginbox {
  border: 1px solid #ebebeb !important;
  box-shadow: 3px 6px 6px #b6b6b6 !important;
  background: #f2f2f2 !important;
  margin-top: 0; }
  .account-login #loginbox form {
    background: #f2f2f2 !important;
    padding: 15px 0 !important; }
  .account-login #loginbox h3 {
    font-size: 1.4em;
    margin: 0; }
  .account-login #loginbox .main_input_box {
    padding-left: 40px;
    position: relative; }
    .account-login #loginbox .main_input_box .add-on {
      background-color: #cccccc;
      border: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      line-height: 40px;
      padding: 0; }
    .account-login #loginbox .main_input_box input {
      border-color: #ebebeb;
      border-style: solid;
      width: 100%;
      height: 40px;
      margin: 0; }
    .account-login #loginbox .main_input_box [class^="icon-"], .account-login #loginbox .main_input_box [class*=" icon-"] {
      background-position: 0 0;
      background-size: 100% 100%; }
    .account-login #loginbox .main_input_box .icon-user {
      background-image: url("../images/icon-username.png"); }
    .account-login #loginbox .main_input_box .icon-lock {
      background-image: url("../images/icon-password.png"); }
  .account-login #loginbox .control-group {
    border: none;
    padding: 10px 0; }
    .account-login #loginbox .control-group .controls {
      padding: 0 50px; }
  .account-login #loginbox .form-actions {
    border: none;
    padding: 0 50px;
    position: relative; }
    .account-login #loginbox .form-actions .btn {
      text-transform: uppercase;
      line-height: 28px; }
    .account-login #loginbox .form-actions #to-recover {
      margin-top: 10px;
      color: #159867;
      font-weight: 500;
      background-color: transparent;
      text-transform: none;
      padding: 0;
      text-align: left;
      display: inline; }
    .account-login #loginbox .form-actions #to-recover:hover {
      color: #128258;
      background-color: transparent; }

.vendor-header {
  padding: 30px; }

.vendor-header .logo {
  margin: 0 auto;
  display: block;
  width: 250px;
  height: 140px; }

.vendor-header .logo .large {
  width: 100%;
  height: auto; }

#registerbox {
  border: 1px solid #ebebeb !important;
  box-shadow: 3px 6px 6px #b6b6b6 !important;
  width: 80% !important;
  padding: 10px 5% !important;
  background: url("../images/background-map.png") no-repeat;
  background-size: contain;
  background-position-y: 100px; }
  @media screen and (max-width: 800px) {
    #registerbox {
      width: 100% !important; } }
  #registerbox form {
    padding: 15px 0 !important; }
  #registerbox h1 {
    text-align: center;
    border-bottom: 2px solid #159867;
    padding: 20px;
    line-height: 30px; }
  #registerbox .widget-box {
    border: none;
    background-color: transparent;
    margin-bottom: 15px; }
    #registerbox .widget-box .widget-content {
      padding: 0;
      border: none; }
    #registerbox .widget-box .widget-title {
      border: none;
      background: none; }
      #registerbox .widget-box .widget-title .icon {
        display: none; }
      #registerbox .widget-box .widget-title h5 {
        font-size: 1.2em;
        padding-left: 0;
        color: #159867;
        font-size: 18px; }
  #registerbox .btn {
    text-transform: uppercase;
    line-height: 28px; }

#registerbox .form-horizontal .control-group .col {
  float: left;
  width: 50%; }
  #registerbox .form-horizontal .control-group .col:first-child {
    padding-right: 15px; }
#registerbox .form-horizontal .control-group .controls input, #registerbox .form-horizontal .control-group .controls select {
  width: 100%;
  height: 40px; }

@media (max-width: 767px) {
  .account-login-logo {
    width: 100%;
    padding: 0 60px;
    margin-top: 30px; }

  .account-login #loginbox .control-group .controls,
  .account-login #loginbox .form-actions {
    padding: 0 30px; }
  .account-login #loginbox .form-actions {
    margin-top: 10px; }
  .account-login #loginbox .pull-right, .account-login #loginbox .pull-left {
    float: none; }
  .account-login #loginbox .btn {
    width: 100%; }
  .account-login #loginbox #register,
  .account-login #loginbox #to-recover {
    margin-top: 10px; }

  .vendors-index-create {
    margin: 0; }

  .vendors-index-create #registerbox {
    padding: 15px;
    margin: 0; }
    .vendors-index-create #registerbox .form-horizontal .control-group .col {
      float: none;
      width: 100%;
      padding: 0; } }
