<script>
    $$('.return-select-content').first().hide();
</script>
<style>
    .searchResultUl {width:100%;background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #CCCCCC;height: 260px;list-style: none outside none;overflow-x: hidden;overflow-y: scroll;padding-top: 5px;}
    .searchResultUl .searchResultLi {cursor: pointer;height: 22px;line-height: 22px;margin: 0;padding: 0 10px;white-space: nowrap;}
    .searchResultUl .active {background: none repeat scroll 0 0 #4499FF; color: #FFFFFF;}
    .searchResultUl .searchResultLi:hover {background: none repeat scroll 0 0 #316AC5;}
</style>
<?php if(count($this->getInfo()) > 0):?>
<ul class="searchResultUl">
    <?php foreach($this->getInfo() as $id => $data):?>
        <li class="searchResultLi" value="<?php echo $data['value'] ?>" attribute_id = "<?php echo $data['attribute_id']?>"><?php echo $this->__($data['label'])?></li>
    <?php endforeach?>
</ul>
<script type="text/javascript">
    //isEnd = true;
    flag_search_success = true;

    $$('.searchResultLi').first().addClassName('active');
    $('catePathText').update($$('.searchResultUl').first().select(".active").first().innerHTML);
    //$$('.category-selected-label').first().removeClassName('hidden');
    $$('.category-success-icon').first().show();
    $('attribute_set_id').setValue($$('.searchResultLi').first().readAttribute('attribute_id'));
    $('ves_category_ids').setValue($$('.searchResultLi').first().readAttribute('value'));

    $$('.return-select-content').first().show();
    $$('.searchResultLi').each(function(e){
        Event.observe(e,'click',function(){
            $$('.searchResultLi').each(function(x){x.removeClassName('active');});
            e.addClassName('active');
            $('attribute_set_id').setValue(e.readAttribute('attribute_id'));
            $('ves_category_ids').setValue(e.readAttribute('value'));

            $('catePathText').update(e.innerHTML);
            //$$('.category-selected-label').first().removeClassName('hidden');
            $$('.category-success-icon').first().show();
        });
    });


</script>

<?php else:?>

<script>
    //$('catePathText').update('');
    //$$('.category-selected-label').first().hide();
    //$$('.category-success-icon').first().hide();
</script>

<span class="search-no-result-text"><?php echo $this->__('No matching results.')?></span>
<span class="search-no-result-you-can"><?php echo $this->__('You can:')?></span>
<ul>
    <li><a class="noResultAnchor" onclick="$('ves_keyword').setValue('');$('ves_keyword').focus();" href="javascript:void(0);"><?php echo $this->__('Try using another keyword')?></a></li>
    <li><a class="noResultAnchor" onclick="flag_search_success = false;$('catsContent').show(); $('searchResult').update('').hide(); vesSelect.updatePath()" href="javascript:void(0);"><?php echo $this->__('Browse categories and select from our list')?></a></li>
</ul>
<?php endif?>