<div class="header-box" >
    <h2><?php echo $this->__("Fill out this form to start a chat") ?></h2>
</div>
<div class="content-box">
    <form onsubmit="" action="<?php echo $this->getCreateBoxUrl() ?>" method="post" id="ves-start-chat-live">
        <div>
            <ul class="form-list">
                <li class="fields">
                    <label for="chat-name" class="required"><em>*</em><?php echo $this->__('Name') ?></label>
                    <div class="input-box">
                        <input type="text" name="name" id="chat-name" value="<?php  echo  $this->getCustomerName() ?>" title="<?php echo $this->__('Name') ?>" class="input-text required-entry" <?php if($this->getSessionBox()) echo "disabled" ?>/>
                    </div>
                </li>
                <li class="fields">
                    <label for="chat-email" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                    <div class="input-box">
                        <input type="text" name="email" id="chat-email" value="<?php  echo  $this->getCustomerEmail() ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text validate-email required-entry" <?php if($this->getSessionBox()) echo "disabled" ?>/>
                    </div>
                 </li>
                <li class="fields">
                    <label for="chat-question" class="required"><em>*</em><?php echo $this->__('Your Question') ?></label>
                    <div class="input-box">
                            <textarea name="question" placeholder="Enter your message" id="chat-question" class="input-text required-entry"></textarea>
                    </div>
                </li>
            </ul>
            <input type="hidden" name="vendor_id" value="<?php echo $this->getVendorId() ?>">
            <input type="hidden" name="customer_id" value="<?php echo $this->getCustomerId() ?>">
        </div>
        <div class="button-set">
            <button class="button" style="" onclick="createForm.submit()" type="button" title="Close">
                    <span>
                    <span><?php echo $this->__("Start Chat") ?></span>
                    </span>
            </button>
        </div>
    </form>
</div>
<script type="text/javascript">
    //<![CDATA[
    createForm = new VarienForm('ves-start-chat-live', true);
    createForm.submit = function() {
        var form = createForm.form;
        if (createForm.validator.validate()) {
            try {
                loadingBox.show();
                createForm.form.request({
                    method: 'post',
                    onSuccess: function(transport) {
                        try {
                            if (transport.responseText.isJSON()) {
                                var response = transport.responseText.evalJSON();
                                if(response.success){
                                    if(response.box) {
                                        $("ves-livechat-support").insert({bottom:response.box});
                                        livechat.optionStyleSingelBox(response.session_id);
                                        control.createBox(response.session_id);
                                    }
                                    else{
                                        if($("ves-tabs-chatlive-"+response.session_id+" .content").visible() == true){
                                            $("ves-tabs-chatlive-"+response.session_id+" .content").show();
                                        }
                                    }
                                    loadingBox.close();
                                    $j.colorbox.close();
                                    livechat.setStyleBox();
                                }else{
                                    loadingBox.close();
                                    if(response.msg) alert(response.msg);
                                }
                            }
                        }catch(e){console.log(e);}
                    }
                });
            } catch (e) {
            }
        }
    }.bind(createForm);
</script>