<?php /*<div class="form-list" id="payment_form_<?php echo $this->getMethodCode() ?>" style="display:none;">
    <div>
        <label><?php echo $this->__('Custom Field One') ?>*</label>
    <span>
      <input type="text" title="<?php echo $this->__('Custom Field One') ?>" name="payment[custom_field_one]" value="<?php echo $this->htmlEscape($this->getInfoData('custom_field_one')) ?>" />
    </span>
    </div>
    <div>
        <label><?php echo $this->__('Custom Field Two') ?>*</label>
    <span>
      <input type="text" title="<?php echo $this->__('Custom Field Two') ?>" name="payment[custom_field_two]" value="<?php echo $this->htmlEscape($this->getInfoData('custom_field_two')) ?>" />
    </span>
    </div>
</div> */ ?>
<div>
    <?php echo $this->getMethod()->getConfigData('message');?>
</div>