*{ margin: 0; padding: 0;}

body{ position: fixed;    height:100%; width:100%; background-image:url(../images/body-bg.jpg); background-repeat:no-repeat; background-position:0 0; background-size:cover; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
src='../images/body-bg.jpg', sizingMethod='scale'); -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/body-bg.jpg', sizingMethod='scale')"; text-align:center; font-family:Arial, Helvetica, sans-serif;   margin:0;}

/* Header */
#header{ padding:20px; text-align: center; color:#fff; font-size:18px; background: url("../images/bg-header.png") repeat; margin: 20px 0; }
#header .logo {  margin: 0 0 40px; }
#header h2{ text-transform: uppercase; padding-bottom: 12px;}

/* Counter */
.numbers { padding: 0px; width: 45px; text-align: center; font-family: Arial;  font-size: 28px; font-weight: bold;  font-style: normal; color: #FFFFFF;   }
.title { border-style: none; padding: 0px 0px 3px 0px; width: 45px; text-align: center; font-family: Arial; font-size: 10px; font-weight: bold;  color: #FFFFFF;  }
#timer-table { }
.countdown { display: block; text-align: center; width: auto; margin-bottom: 30px;}
.countdown .timer{  clear: both;  display: inline-block;   height: 85px;  margin: 0 auto;    padding: 0 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;    background: url("../images/bg-header.png") repeat; } 
.timer div {  clear: right;  display: block;  float: left;  font-size: 14px; padding: 14px 9px; border-right:1px solid rgba(0, 0, 0, 0.1); color:#fff; font-weight: bold; }
.timer div.last {  border-right: 0 none; }
.timer strong { color: #FFFFFF;  display: block;  font-size: 24px;  font-weight: bold; letter-spacing: 0;  margin: 3px 0 7px;  color:#fff; }

.main-container{ margin: 0 auto; width: 780px; padding: 20px;}

#launch-text{   /* border-bottom: 5px solid rgba(0, 0, 0, 0.2);  border-top: 5px solid rgba(0, 0, 0, 0.2); */ color: #fff;  text-transform: uppercase; text-decoration: underline; padding-bottom: 20px;}

/* notification-container */
.notification-container {    background-color: #e2e2e2;  border: 1px solid rgba(0, 0, 0, 0.36);    margin: 0 auto;  padding: 15px 15px 3px;   width: 440px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 2px 3px 6px rgba(0,0,0,.3), inset 1px 2px 5px rgba(255,255,255,.55), inset 0 0 3px rgba(255,255,255,.15); -moz-box-shadow: 2px 3px 6px rgba(0,0,0,.3), inset 1px 2px 5px rgba(255,255,255,.55), inset 0 0 3px rgba(255,255,255,.15); box-shadow: 2px 3px 6px rgba(0,0,0,.3), inset 1px 2px 5px rgba(255,255,255,.55), inset 0 0 3px rgba(255,255,255,.15); border: solid 1px rgba(0,0,0,.36);}
.notification-title{  border-bottom: 1px solid #cdcdcd;  color: #c3181f;  font-size: 15px;  font-weight: bold;  padding: 0 0 8px;  text-align: left;}
.notification-content{ text-align: left;}
.notification-content .button-feedback{ margin: 0;}

/* Messages*/
.success { color:#3d6611; font-weight:bold; }
.error { color:#df280a; font-weight:bold;  }
.notice { color:#e26703; }

.messages,
.messages ul { list-style:none !important; margin:0 !important; padding:0 !important; }
.messages { width:100%; overflow:hidden; }
.messages li { margin:0 0 10px !important; }
.messages li li { margin:0 0 3px !important; }
.error-msg,
.success-msg,
.note-msg,
.notice-msg { border-style:solid !important; margin-top: 10px; border-width:1px !important; background-position:10px 9px !important; background-repeat:no-repeat !important; min-height:14px !important; padding:8px 8px 8px 8px !important; font-size:11px !important; font-weight:bold !important; }
.error-msg { border-color:#f16048; background-color:#faebe7; color:#df280a; }
.success-msg { border-color:#446423; background-color:#eff5ea; color:#3d6611; }
.note-msg,
.notice-msg { border-color:#fcd344; background-color:#fafaec; color:#3d6611; }

/* notification-container form  */

 ul, ol{ list-style: none outside none;}
.form-list{ margin: 20px 0 0;}
.form-list li { margin: 0 0 12px 0;}
.form-list button.button{margin-top:10px;}
.form-list input,select .feedback-content , .feedback-content textarea, .feedback-content button { font:12px/30px Arial, Helvetica, sans-serif; vertical-align:middle; color:#343434;  -webkit-border-radius: 5px;  -moz-border-radius: 5px; border-radius: 5px; height: 36px;}
 .form-list input.input-text, .form-list select, .form-list textarea { width: 100%;  -webkit-border-radius: 7px/8px; -moz-border-radius: 7px/8px; border-radius: 7px/8px; background-color: #ececec; -webkit-box-shadow: inset 0 0 4px rgba(255,255,255,.75); -moz-box-shadow: inset 0 0 4px rgba(255,255,255,.75); box-shadow: inset 0 0 4px rgba(255,255,255,.75); border: solid 1px #b8b8b8; background-image: -webkit-linear-gradient(bottom, #ececec, #fff); background-image: -moz-linear-gradient(bottom, #ececec, #fff); background-image: -o-linear-gradient(bottom, #ececec, #fff); background-image: linear-gradient(to top, #ececec, #fff); }
 .form-list input.input-text.validation-failed, .form-list select.validation-failed, .form-list textarea.validation-failed{ border-color: red;}
.form-list input.input-text, .form-list textarea { padding:2px; }
.form-list textarea { height: 5em;}
.form-list label {  color: #343434; display: inline-block; font-size: 13px;   font-weight: bold;  padding-bottom: 3px; width: 100%;  z-index: 0;}
.form-list label .required{ color: red;}


@media (max-width: 980px) {

	.main-container{ width: 90%; padding: 15px 5%;}
	.notification-container{ padding: 15px 5% 3px;  width: 80%; }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 980px) {


.notification-container{ padding: 15px 5% 3px;  width: 60%; }



}

@media (max-width: 480px) {

body{ height: auto;}

}


body{
padding: 40px 15px 40px;;
}
img {
width: auto;
height: auto;
max-width: 100%
}
.main-container {
max-width: 500px;
margin: 0px auto;
text-align: center;
}