<?php

/** @var $this VES_Vendors_Block_Page_Header */
?>
<div class="header-top">
	<?php /*
    <?php $logoUrl = Mage::getStoreConfig('vendors/config/logo')?Mage::getBaseUrl('media').'ves_vendors/'.Mage::getStoreConfig('vendors/config/logo'):$this->getSkinUrl('ves_vendors/images/logo.png');?>
    <a href="<?php echo $this->getHomeLink() ?>"><img src="<?php echo $logoUrl ?>" alt="<?php echo $this->__('Marketplace Logo') ?>" class="logo"/></a>
    */ ?>
    <div class="header-right">
    <?php echo $this->getChildHtml('toplinks');?>
    </div>
</div>
