    <?php $geo =  $this->getGeoIp() ?>
    <h3><?php echo $this->__("History Information") ?> </h3>
    <?php if($this->getBoxData()): ?>
    <ul id="history_tabs" class="tabs">
        <li>
            <div class="label">
                <span><?php echo $this->__("Ip : ") ?></span>
            </div>
            <div class="value">
                <span><?php echo $this->getBoxIp() ?></span>
            </div>
        </li>
        <li>
            <div class="label">
                <span><?php echo $this->__("Country : ") ?></span>
            </div>
            <div class="value">
                <span><img src="<?php echo $geo->getFlags()?>" class="icon-country" style="float:left;margin:3px 10px 0px 0px"/><span><?php echo $geo->getCountryName() ?></span></span>
            </div>
        </li>
        <li>
            <div class="label">
                <span><?php echo $this->__("Country code: ") ?></span>
            </div>
            <div class="value">
                <span><?php echo $geo->getCountryCode() ?></span>
            </div>
        </li>
        <li>
            <div class="label">
                <span><?php echo $this->__("City : ") ?></span>
            </div>
            <div class="value">
                <span><?php echo $geo->getCity() ?></span>
            </div>
        </li>

        <li>
            <div class="label">
                <span><?php echo $this->__("Name : ") ?></span>
            </div>
            <div class="value">
                <span><?php echo $this->getBoxData()->getName() ?></span>
            </div>
        </li>
        <li>
            <div class="label">
                <span><?php echo $this->__("Email : ") ?></span>
            </div>
            <div class="value">
                <span><?php echo $this->getBoxData()->getEmail() ?></span>
            </div>
        </li>

        <li>
            <div class="label">
                <span><?php echo $this->__("Created At: ") ?></span>
            </div>
            <div class="value">
                <span><?php echo Mage::getModel('core/date')->date("F j, Y, g:i a",$this->getBoxData()->getCreatedTime() ) ?></span>
            </div>
        </li>
    </ul>
    <?php endif; ?>



