.kbase-main-search {
    background-color: #C7D9E7;
    padding: 0 !important;
}
.kbase-block {
    display: block;
    line-height: 18px;
    margin: 10px 0;
    padding: 10px 0 20px;
}
.kbase-main-search ul.form-list {
    padding: 10px 11px;
    background-color: #C7D9E7;
    margin: 0 10px 0 0;
}
.kbase-main-search .form-list li {
    margin: 0;
}
.kb-submit {
    margin-right: 45px;
}
.kbase-block-title{
	padding:10px;
	margin-bottom: 10px;
	border: 1px solid #d3d3d3;
	overflow:hidden
}
.kbase-block-title h4{pading:0px;font-weight:normal;}
.kbase .kbase-main-category .level-0 a {
       /*
    color: #333333;
    font-weight: bold;
    */
    text-decoration: none;
}
.kbase a {
    text-decoration: none;
	color: #016083;
}
.kbase a:hover {
    text-decoration: underline;
}
.kbase .kbase-main-category .level-1 a {
    color: #006699;
    font-weight: normal;
}

.kbase .kbase-main-category .level-1 li {
    margin-bottom: 5px!important;
}
.kbase .kbase-main-category .level-0 li {
    margin-bottom: 20px;
}
.kbase-main-category .kbase-list ul li {
    margin-left: 15px;
}

.data-table .kbase-listing {
    border: 1px solid #BEBCB7;
    border-spacing: 0;
    empty-cells: show;
    font-size: 100%;
    width: 100%;
}
.kbase-block-content .data-table .odd{background: #FFF;}
.kbase-block-content .data-table .even{background: #fdf9e8;}
.kbase-block-content .data-table .odd:hover, .kbase-block-content .data-table .even:hover{background-color: #DEEFF6;cursor: pointer;}
.kbase-rating{text-align: right;vertical-align: middle;}
.kbase-listing td {padding: 10px;}
.kbase-block-content .pager{background:none;border:none;margin-top:10px;}
.kbase-block-content{padding: 0px 10px;}
.kbase-block-content .faq-answer{}
.kbase-tags,.kbase-article-tags{font-size: 80%;margin: 0;}
.kbase-article-tags{background: url("tag.png") no-repeat;padding-left: 20px;margin-bottom: 10px;}
.kbase-listing .kbase-footer{float: right;font-style: italic;margin: 0;}
.kbase-title{display: block;}
.kbase-short-article{margin: 0 0 5px;}
.kbase-article-footer{background-color: #FFFCEF;padding: 5px;border: 1px dashed #D3D3D3; margin-top: 10px;}
.article-date{float: left; margin: 0;font-style: italic;margin-top:5px;}
.article-date .author{font-weight: bold;}
.article-rating{float: right; margin: 0;}
.faq-search input{width:80%;padding: 5px;}
.faq-search button.button{width: 17%;}
.faq-search button.button span{background: #A0A8C3;border: 0 none;}
.faq-search button.button > span{padding: 4px;}
.faq-search button.button:hover span{background: #5f6884;}
h2.title{font-family: Tahoma;font-size: 14px;padding-bottom: 5px;text-transform: uppercase;width: 100%;}
.kbase-block-title .new-faq{}
.kbase-list .ves_question{background: url("../images/ves_advancedfaq/accordion_open.gif") no-repeat scroll 0 50% rgba(0, 0, 0, 0); font-size: 12px;font-weight: normal;line-height: 20px; margin-bottom: 0;padding-bottom: 0;padding-left: 25px;}
.kbase-list .on{background: url("../images/ves_advancedfaq/accordion_close.gif") no-repeat scroll 0 50% rgba(0, 0, 0, 0);}
a.bt_submit{background: url("faq.png") no-repeat 10px center #a0a8c3; clear: both;float: left;height: 40px;margin-top: 10px;padding-left: 33px;text-decoration: none;}
a.bt_submit:hover{background-color: #5f6884;}
a.bt_submit span, a.bt_submit:hover span {color: #FFF;cursor: pointer;float: left;font-size: 12px;font-weight: bold;height: 40px;line-height: 37px;padding: 0 18px 0 10px;}
.ves_field textarea{height: 200px;width: 600px;}
.ves_answer{padding:10px;}
.readmore-faq{
	margin-top:15px;
    float: right;
}
.kbase-list .readmore{ font-size: 12px;text-transform: uppercase;color:#F18200!important;}
.kbase-list .readmore:hover{color:#F18200}
.kbase-list .readmore span{color:#F18200}
.block-faq{font-size: 11px;
    line-height: 1.25;}
 .block-faq .block-content{padding:5px 9px;  line-height: 1.25;}
 .block-faq li {
    padding: 3px 9px;
}


.faq_rating_container{float:right}

.faq_rating_container a{ background-image: url("../images/ves_advancedfaq/rating.png");
    border: 0 none;
    display: block;
    float: left;
    height: 25px;
    width: 25px;
    }
.faq_rating_container a{
	background-image: url("../images/ves_advancedfaq/rating2.png")!important;
}



.rating_container a.rating_half {
    background-position: 0 -25px;
}

.rating_container a.rating_on {
    background-position: 0 -50px;
}

 .rate_widget {
            overflow:   visible;
            position:   relative;
            width:      120px;
            height:     32px;
            float:right;
            margin-top:5px;
        }
.ratings_stars {
            background: url('../images/ves_advancedfaq/star_empty.png') no-repeat;
            float:      left;
            height:     20px;
            padding:    2px;
            width:      20px;
            cursor:pointer;
        }
.ratings_vote {
            background: url('../images/ves_advancedfaq/star_full.png') no-repeat;
        }
.ratings_over {
            background: url('../images/ves_advancedfaq/star_highlight.png') no-repeat;
}
        
.content-faq{
	border-bottom:#cccccc 1px solid;
}
    .accordion {
        margin: 0;
        padding:10px 5px;
        height:20px;
        
        font-family: Arial, Helvetica, sans-serif;
        text-decoration:none;
        font-size:1em;
        cursor:pointer;
        font-weight:bold;
    }
 	.accordion-open{
 		
 	}
    .accordion-open span {
        display:block;
        padding:0px 25px;
    }
    .accordion-open span {
        background:url(../images/ves_advancedfaq/down.png) left center no-repeat;
    }
    .accordion-close span {
        display:block;
        background:url(../images/ves_advancedfaq/left.png) left center no-repeat;
        padding:0px 20px;
    }
    div.container {
        padding:0;
        margin:0;
    }
    div.content {
        margin: 0;
        padding:0px 10px 10px;
        line-height:1.5em;
        font-family:"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    }
    div.content ul, div.content p {
        padding:0;
        margin:0;
        padding:3px;
    }
    div.content ul li {
        list-style-position:inside;
        line-height:25px;
    }
    div.content ul li a {
        color:#555555;
    }
    code {
        overflow:auto;
    }