<?php
$_element = $this->getElement();
$_note    = $_element->getNote();
$_trId    = $_element->getHtmlContainerId();
$_class   = $_element->getFieldsetHtmlClass();
?>

<tr>
    <td class="label<?php echo $_class ? " {$_class}-label" : ''?>"><?php echo trim($_element->getLabelHtml())?></td>
    <td class="<?php echo $_element->hasValueClass() ? $_element->getValueClass() : 'value' ?><?php echo $_class ? " {$_class}-value" : ''?>">
        <div class="ves_category-body">
            <div class="ves_category-content">
                <div id="ves_searchContent" class="ves_search_content">
                	<div id="ves_searchbox" style="margin-bottom: 10px;">
                        <span class="ves_search-title"><?php echo $this->__('Search Categories:')?></span>
                        <input type="text" class="ves_searchInput input-text required" name="ves_keyword" id="ves_keyword" title="<?php echo $this->__('e.g. laptop')?>">
                        <?php /*?><button class="button" type="button" title="<?php echo $this->__('Search')?>"><span><span><?php echo $this->__('Search')?></span></span></button> */?>
					</div>
                    <!--SELECT AREA-->
                    <div class="catsContent" id="catsContent">
                        <select level="<?php echo $this->getParentLevel()?>" id="select_cat_root" onchange="" class="select ves_catsSelect" size="10">
                            <?php foreach($this->getAllParentCategories() as $_cat):?>
                            <option level="<?php echo $_cat['level']?>" has_children="<?php echo $_cat['has_children']?>" attribute_id="<?php echo $_cat['attribute_id']?>" value="<?php echo $_cat['value']?>"><?php echo $this->__($_cat['label'])?></option>
                            <?php endforeach?>
                        </select>
                    </div>

                    <!--SEARCH RESULT-->
                    <div style="display:none;" class="searchResult" id="searchResult"></div>
                </div>

                <!--return element if search windows appear-->
                <div class="wrapper-return-select">
                    <div style="display: none;" class="return-select-content" id="return-select-content">
                        <span><?php echo $this->__('Can\'t find your category?')?></span>
                        <a href="javascript:void(0);" onclick="vesSelect.viewCategoresList();"><?php echo $this->__('Browse categories and select from our list')?></a>
                    </div>
                </div>
            </div>

            <!--label element-->
            <div class="category-path-warp clearer">
                <div class="category-path">
                    <span class="category-selected-label"><?php echo $this->__('Categories Selected:')?></span>
                    <span class="category-selected" id="catePathText"></span>
                    <span class="category-success-icon" style="display: none;"></span>
                </div>
            </div>

        </div>
		<script type="text/javascript">
		    var SEPARATOR_SYM = '&nbsp&gt;&gt;&nbsp;';
		    var QAQ_USE_AJAX = <?php echo $this->getIsUsedAjax();?>;
		    var _categories = <?php echo $this->getCategoriesJSON()?>;
		    var searchForm = new varienForm('ves_searchForm');
		    var vesSelect = new vesCategorySelector();
		    var LOAD_CHILDREN_URL = '<?php echo $this->getLoadChildrenUrl();?>';
		</script>

    </td>
</tr>
