<div id="ves-tabs-chatlive-status">
    <?php echo $this->getChildHtml("livechat-info-vendor") ?>
</div>
<div id="ves-tabs-chatlive-info">
    <h5><?php echo $this->__("Information") ?> </h5>
    <?php $sessions = $this->getSessionBox() ?>
    <?php foreach($sessions as $session):?>
      <?php $geo =  $this->getGeoIp($session->getIp()) ?>
        <?php if($session->getData("is_closed") == 0 && $session->getData("show_on_backend") == 0): ?>
        <div id="main-user-info-tab-<?php echo $session->getId() ?>" class="main-user-info-tab" data-section-content="" style="display: none">
            <table class="small">
                <tbody>
                <tr>
                    <td><?php echo $this->__("Country") ?></td>
                    <td><img src="<?php echo $geo->getFlags()?>" class="icon-country" style="float:left;margin:-3px 10px 0px 0px"/><span><?php echo $geo->getCountryName() ?></span></td>
                </tr>
                <tr>
                    <td><?php echo $this->__("Country code:") ?></td>
                    <td><?php echo $geo->getCountryCode() ?></td>
                </tr>
                <tr>
                    <td><?php echo $this->__("City") ?></td>
                    <td><?php echo $geo->getCity() ?></td>
                </tr>
                <tr>
                    <td><?php echo $this->__("Ip") ?></td>
                    <td><?php echo $this->getIp($session->getIp()) ?></td>
                </tr>
                <tr>
                    <td><?php echo $this->__("ID") ?></td>
                    <td><?php echo $session->getId() ?></td>

                </tr>
                <tr>
                    <td><?php echo $this->__("Name") ?></td>
                    <td>
                        <?php echo $session->getName() ?>
                    </td>
                </tr>
                <tr>
                    <td><?php echo $this->__("E-Mail") ?></td>
                    <td>
                        <a href="mailto:<?php echo $session->getEmail() ?>"><?php echo $session->getEmail() ?></a>
                    </td>
                </tr>
                <tr>
                    <td><?php echo $this->__("Created") ?></td>
                    <td><?php echo Mage::getModel('core/date')->date("F j, Y, g:i a",$session->getData("created_time") ) ?></td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                 <?php if($session->getStatus() == VES_VendorsLiveChat_Model_Session_Status::STATUS_PENDING) : ?>
                     <div class="button-set button-option">
                         <button class="scalable save" title="Start Chat" type="button" onclick="control.acceptBox('<?php echo $session->getId() ?>',false)" style="">
                            <span>
                            <span><?php echo $this->__("Start Chat") ?></span>
                            </span>
                         </button>
                         <button class="scalable delete" title="Decline" type="button" onclick="control.declineBox('<?php echo $session->getId() ?>',false)" style="">
                            <span>
                            <span><?php echo $this->__("Decline") ?></span>
                            </span>
                         </button>
                     </div>
                 <?php endif; ?>
                 <div class="button-set button-chat">
                     <?php if($session->getStatus() == VES_VendorsLiveChat_Model_Session_Status::STATUS_ACCEPT) : ?>
                         <button class="scalable end" title="End Chat" type="button" onclick="control.endBox('<?php echo $session->getId() ?>',false)" style="">
                                <span>
                                    <span><?php echo $this->__("End Chat") ?></span>
                               </span>
                         </button>
                     <?php endif ?>
                     <button class="scalable" title="Close" type="button" onclick="control.hideBox('<?php echo $session->getId() ?>')" style="">
                            <span>
                                 <span><?php echo $this->__("Close") ?></span>
                            </span>
                     </button>
                 </div>
            </div>
        </div>
    <?php endif ;?>
    <?php endforeach; ?>
</div>