<!--@subject Welcome, {{var vendor.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$vendor.name":"Vendor Name",
"store url=\"vendors/account/\"":"Vendor Account Url"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:none">
 
                    <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-weight: normal; font-size:16px; line-height: 28px;color:#333333;margin-top:0px;">Dear <span style="font-weight:bold;">{{htmlescape var=$vendor.name}},</span></h1>
                            <p style=" font-weight: normal; font-size:13px; line-height: 24px;color:#333333;">Welcome to {{var store.getFrontendName()}}. To log in please <a href="{{store url="vendors/account/"}}" style="font-weight:bold; font-size: 13px; line-height: 18px; color:#159867; text-decoration:none;">click here</a> and then enter your e-mail(or vendor id) address and password.</p>
                            <pstyle="margin:0 0 10px 0;font-weight: normal;">When you log in to your account, you will be able to do the following:</p>
                            <ul style="font-weight: bold;font-size:13px; line-height: 24px;color:#333333;">
                                <li>Proceed through checkout faster when making a purchase</li>
                                <li >Check the status of orders</li>
                                <li >View past orders</li>
                                <li > Make changes to your account information</li>
                                <li > Change your password</li>
                                <li > Store alternative addresses (for shipping to multiple family members and friends!)</li>
                            </ul>
                            <p style="font-size:12px; line-height:16px; margin:0;">If you have any questions about your account or any other matter, please feel free to contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> or by phone at {{config path='general/store_information/phone'}}.</p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Thank you again, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{{template config_path="design/email/footer"}}