<!--@subject Vendor account confirmation for {{var vendor.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"vendors/account/\"":"Vendor Account Url",
"htmlescape var=$vendor.name":"Vendor Name",
"var vendor.email":"Vendor Email",
"store url=\"vendors/index/confirm/\" _query_id=$vendor.id _query_key=$vendor.confirmation _query_back_url=$back_url":"Confirmation Url",
"htmlescape var=$vendor.password":"Vendor password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
    <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:none;">
                  
                    <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                             <h1 style="font-weight: normal; font-size:16px; line-height: 28px;color:#333333;margin-top:0px;">Dear <span style="font-weight:bold;">{{htmlescape var=$vendor.name}},</span></h1>
                            <p style=" font-weight: normal; font-size:13px; line-height: 24px;color:#333333;">Your e-mail {{var vendor.email}} must be confirmed before using it to log in to our store.</p>
                            <p style=" font-weight: normal; font-size:13px; line-height: 24px;color:#333333;">To confirm the e-mail and instantly log in, please, use <a href="{{store url="vendors/index/confirm/" _query_id=$vendor.id _query_key=$vendor.confirmation _query_back_url=$back_url}}" style="font-weight:bold; font-size: 13px; line-height: 18px; color:#159867; text-decoration:none;">this confirmation link</a>. This link is valid only once.</p>

                            <div style=" font-size: 13px; line-height: 13px; color:#333333;padding:15px 20px;box-sizing: border-box; background-color:#f0f0f0; border: 1px solid #e1e1e1;">
                                <p style="margin:0 0 10px 0;font-weight: normal;">Use the following credentials when prompted to log in:</p>
                                <p style="margin:0 0 10px 0;"><label for="" style="font-weight:bold;">Email:</label> <span class="email" style="color:#159867; padding-left: 10px;font-weight:bold;">{{var vendor.email}}</span></p>
                                <p style="margin:0;"><label for="" style="font-weight:bold;">Password:</label> <span class="password">{{htmlescape var=$vendor.password}}</span></p>
                            </div>
                            <p style=" font-weight: normal;font-size:13px; line-height: 24px;color:#333333;">If you have any questions about your account or any other matter, please feel free to contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="font-weight:bold; font-size: 13px; line-height: 24px; color:#159867; text-decoration:none;">{{config path='trans_email/ident_support/email'}}</a> or by phone at {{config path='general/store_information/phone'}}.</p>
                        </td>
                    </tr>
                    
                </table>
            </td>
        </tr>
    </table>
{{template config_path="design/email/footer"}}