<!--@subject Welcome, {{var vendor.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$vendor.name":"Vendor Name",
"store url=\"vendors/account/\"":"Vendor Account Url",
"var vendor.email":"Vendor Email",
"htmlescape var=$vendor.password":"Vendor Password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="100%" style="border:none;">
                <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-weight: normal; font-size:16px; line-height: 28px;color:#333333;margin-top:0px;">Dear <span style="font-weight:bold;">{{htmlescape var=$vendor.name}},</span></h1>
                            <p style=" font-weight: normal; font-size:13px; line-height: 24px;color:#333333;">Welcome to {{var store.getFrontendName()}}. Your account is approved . <a href="{{store url="sell-on-duukaan/#how-it-work"}}" style="font-weight:bold; font-size: 13px; line-height: 18px; color:#159867; text-decoration:none;">Click here</a> to process to vendor's package purchasing page. To log in please <a href="{{store url="vendors/account/"}}" style="font-weight:bold; font-size: 13px; line-height: 18px; color:#159867; text-decoration:none;">click here</a> and then enter your e-mail(or vendor id) address and password.</p>
                            <div style=" font-size: 13px; line-height: 13px; color:#333333;padding:15px 20px;box-sizing: border-box; background-color:#f0f0f0; border: 1px solid #e1e1e1;">
                                <p style="margin:0 0 10px 0;font-weight: normal;">Use the following credentials when prompted to log in:</p>
                                <p style="margin:0 0 10px 0;"><label for="" style="font-weight:bold;">Email:</label> <span class="email" style="color:#159867; padding-left: 10px;font-weight:bold;">: {{var vendor.email}}</span></p>
                                <p style="margin:0 0 10px 0;"><label for="" style="font-weight:bold;">Vendor Id:</label> <span class="password">: {{var vendor.vendor_id}}</span></p>
                                <p style="margin:0;"><label for="" style="font-weight:bold;">Password:</label> <span class="password">: *********</span></p>
                            </div>
                            <p style=" font-weight: normal;font-size:13px; line-height: 24px;color:#333333;">When you log in to your account, you will be able to do the following:</p>
                            <ul  style="font-weight: bold;font-size:13px; line-height: 24px;color:#333333;">
                                <li > Manage your products</li>
                                <li > Manage your orders,shipments</li>
                                <li > View invoice, creditmemo</li>
                                <li > Make changes to your account information</li>
                                <li > Change your password</li>
                                <li > Manage your credit and transactions.</li>
                            </ul>
                            <p style=" font-weight: normal;font-size:13px; line-height: 24px;color:#333333;">If you have any questions about your account or any other matter, please feel free to contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="font-weight:bold; font-size: 13px; line-height: 24px; color:#159867; text-decoration:none;">{{config path='trans_email/ident_support/email'}}</a> or by phone at {{config path='general/store_information/phone'}}.</p>
                        </td>
                    </tr>
                   
                </table>
            </td>
        </tr>
    </table>
{{template config_path="design/email/footer"}}
