<!--@subject New password for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"htmlescape var=$customer.password":"Customer New Password"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
            <!-- [ header starts here] -->
            <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:none;">

                <!-- [ middle starts here] -->
                <tr>
                    <td valign="top">
                        <h1 style="font-weight: normal; font-size:16px; line-height: 28px;color:#333333;margin-top:0px">Dear <span style="font-weight:bold;">{{htmlescape var=$customer.name}},</span></h1>
                        <p style=" font-size:13px; line-height: 24px;color:#333333;"><strong>Your new password is:</strong> {{htmlescape var=$customer.password}}</p>
                        <p style=" font-size:13px; line-height: 24px;color:#333333;">You can change your password at any time by logging into <a href="{{store url="customer/account/"}}" style="font-weight:bold; font-size: 13px; line-height: 24px; color:#159867; text-decoration:none;">your account</a>.<p>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
</table>
    {{template config_path="design/email/footer"}}
