<!--@subject Product "{{var product.name}}" was rejected @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
            <!-- [ header starts here] -->
            <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:none;">

                <!-- [ middle starts here] -->
                <tr>
                    <td valign="top">
                        <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0; color: #333333;">Hello {{var vendor.firstname}},</h1>
                        <p style="font-size:12px; line-height:16px; margin:0 0 8px 0; color: #333333;">
                        	Thank you for your recent product submission.<br />
                        </p>
                        <p style="font-size:12px; line-height:16px; margin:0 0 8px 0; color: #333333;">
                        	Your product <strong style="color: #333333;">{{var product.name}}</strong> has been reviewed and rejected.
                        </p>
                        <!--<p style="font-size:12px; line-height:16px; margin:0 0 8px 0; color: #333333;">
						In order for us to be able to approve your submission, please resubmit with the following corrections per our guidelines.<br />
						- information 1<br />
						- information 2<br />
						- information 3<br />
                        </p>-->
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
    {{template config_path="design/email/footer"}}
