<!--@subject {{var withdrawal.method}} Withdrawal success! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$vendor.name":"Vendor Name",
"store url=\"vendors/account/\"":"Vendor Account Url",
"var vendor.email":"Vendor Email",
"htmlescape var=$vendor.password":"Vendor Password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:none;">

                <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="color: #333333;font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Hi {{htmlescape var=$vendor.name}},</h1>
                            <p style="color: #333333;font-size:12px; line-height:16px; margin:0 0 16px 0;">We have reviewed and processed your following withdrawal:</p>
                            <p style="color: #333333;border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0; padding:13px 18px; background:#f9f9f9;">
                                <strong>Method</strong>: {{var withdrawal.method}}<br/>
                                <strong>Requested on</strong>: {{var withdrawal.requested_on}}<br/>
                                <strong>Amount</strong>: {{var withdrawal.amount}}<br/>
                                <strong>Fee</strong>: {{var withdrawal.fee}}<br/>
                                <strong>Net Amount</strong>: {{var withdrawal.net_amount}}
                            </p>
                            {{depend withdrawal.note}}
                            <p></p>
                            <p style="color: #333333;border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0; padding:13px 18px; background:#f9f9f9;">
                                <strong>Note</strong>: {{var withdrawal.note}}
                            </p>
                            {{/depend}}
                            <p></p>
                            <p style="color: #333333;font-size:12px; line-height:16px; margin:0;">If you have any questions about your account or any other matter, please feel free to contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> or by phone at {{config path='general/store_information/phone'}}.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    {{template config_path="design/email/footer"}}