<?php /** @var $this Mage_Checkout_Block_Cart_Shipping */ ?>
<div class="shipping">
    <h2><?php echo $this->__('Estimate Shipping and Tax') ?></h2>
    <div class="shipping-form">
       <form action="<?php echo $this->getUrl('checkout/cart/estimatePost') ?>" method="post" id="shipping-zip-form">
            <p><?php echo $this->__('Enter your destination to get a shipping estimate.') ?></p>
            <ul class="form-list">
                <li>
                    <label for="country" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                    <div class="input-box">
                        <?php echo Mage::getBlockSingleton('directory/data')->getCountryHtmlSelect($this->getEstimateCountryId()) ?>
                    </div>
                </li>
            <?php //if($this->getStateActive()): ?>
                <li>
                    <label for="region_id"<?php if ($this->isStateProvinceRequired()) echo ' class="required"' ?>><?php if ($this->isStateProvinceRequired()) echo '<em>*</em>' ?><?php echo $this->__('State/Province') ?></label>
                    <div class="input-box">
                        <select id="region_id" name="region_id" title="<?php echo $this->__('State/Province') ?>" style="display:none;"<?php echo ($this->isStateProvinceRequired() ? ' class="validate-select"' : '') ?>>
                            <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                        </select>
                       <script type="text/javascript">
                       //<![CDATA[
                           $('region_id').setAttribute('defaultValue',  "<?php echo $this->getEstimateRegionId() ?>");
                       //]]>
                       </script>
                       <input type="text" id="region" name="region" value="<?php echo $this->escapeHtml($this->getEstimateRegion()) ?>"  title="<?php echo $this->__('State/Province') ?>" class="input-text" style="display:none;" />
                   </div>
                </li>
            <?php //endif; ?>
            <?php if($this->getCityActive()): ?>
                <li>
                    <label for="city"<?php if ($this->isCityRequired()) echo ' class="required"' ?>><?php if ($this->isCityRequired()) echo '<em>*</em>' ?><?php echo $this->__('City') ?></label>
                    <div class="input-box">
                        <input class="input-text<?php if ($this->isCityRequired()):?> required-entry<?php endif;?>" id="city" type="text" name="estimate_city" value="<?php echo $this->escapeHtml($this->getEstimateCity()) ?>" />
                    </div>
                </li>
            <?php endif; ?>
                <li>
                    <label for="postcode"<?php if ($this->isZipCodeRequired()) echo ' class="required"' ?>><?php if ($this->isZipCodeRequired()) echo '<em>*</em>' ?><?php echo $this->__('Zip/Postal Code') ?></label>
                    <div class="input-box">
                        <input class="input-text validate-postcode<?php if ($this->isZipCodeRequired()):?> required-entry<?php endif;?>" type="text" id="postcode" name="estimate_postcode" value="<?php echo $this->escapeHtml($this->getEstimatePostcode()) ?>" />
                    </div>
                </li>
            </ul>
            <div class="buttons-set">
                <button type="button" title="<?php echo $this->__('Get a Quote') ?>" onclick="coShippingMethodForm.submit()" class="button"><span><span><?php echo $this->__('Get a Quote') ?></span></span></button>
            </div>
        </form>
        <script type="text/javascript">
        //<![CDATA[
            new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>);
        //]]>
        </script>
        <?php $shippingAvailable = false;   if (($_shippingRateGroups = $this->getEstimateRates())):?>
        <form id="co-shipping-method-form" action="<?php echo $this->getUrl('checkout/cart/estimateUpdatePost') ?>">
            <div class="multi-shipping">
                <?php foreach ($this->getRatesByVendor() as $_vendorId=>$_vendorRates): ?>
            		<dl class="sp-methods">
                		<dt><?php echo $this->escapeHtml($_vendorRates['title']) ?></dt>
                		<dd>
                        	<ul>
	                        	<?php foreach($_vendorRates['rates'] as $_rate):  $shippingAvailable = true; ?>
	                            <li>
                                    <input data-vendorid="<?php echo $_vendorId;?>" name="vendor_estimate_method__<?php echo $_vendorId?>" type="radio" value="<?php echo $this->escapeHtml($_rate->getCode()) ?>" id="vendor_s_method_<?php echo $_rate->getCode() ?>"<?php if(in_array($_rate->getCode(),$this->getSelectedVendorShipping())) echo ' checked="checked"' ?> class="radio vendor-multirate multirate-one-required" />
                                    <label for="vendor_s_method_<?php echo $_rate->getCode() ?>"><?php echo $this->escapeHtml($_rate->getMethodTitle()) ?>
                                    <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                                    <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>
                                    <?php echo $_excl; ?>
                                    <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                                        (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                                    <?php endif; ?>
                                    </label>
	                            </li>
	                            <?php endforeach;?>
                            </ul>
                        </dd>
                    </dl>
                <?php endforeach; ?>
                <script type="text/javascript">
                    /*VENDOR FLATRATE*/
        	        Validation.add('multirate-one-required','<?php echo Mage::helper('vendorsshipping')->__('Please select shipping method for each vendor.')?>',function(v,elm){
        	        	var check = false;
            	        elm.up(1).select('.multirate-one-required').each(function(el){
            	        	if(el.checked) check=true;
            	        });

        				return check;

        	        });
        	        var updateShippingForm = new VarienForm('co-shipping-method-form');
        	        var MULTIRATE_DELEMITER = '<?php echo VES_VendorsShipping_Model_Shipping::DELEMITER;?>';
        	        var MULTIRATE_METHODS_DELEMITER = '<?php echo VES_VendorsShipping_Model_Shipping::METHOD_DELEMITER;?>';
        	        $$('.vendor-multirate').each(function(el){
        		        el.observe('click',function(){
        			        $$('input[name="estimate_method"]').each(function(elm){
        			        	if(!elm.readAttribute('data-vendor-multirate-method')) elm.checked = false;
        			        });
        			        
        					var rates = new Array();
        			        $$('.vendor-multirate').each(function(elm){
        				        if(elm.checked){
            				        if(rates.length == 0) {
	            				        rates.push(elm.value);
            				        }else{
	            				        var position = false;
            				        	for(var i = 0; i < rates.length; i ++){
	            				        	var sortedValue = rates[i].split(MULTIRATE_DELEMITER);
	            				        	var newValue 	= elm.value.split(MULTIRATE_DELEMITER);
	            				        	if(parseInt(newValue[1]) < parseInt(sortedValue[1])){
		            				        	position = i; 
		            				        	break;
	            				        	}
            				        	}
            				        	if(position === false) rates.push(elm.value);
            				        	else{
            				        		for(i = rates.length-1; i >= position; i --){
	            				        		rates[i+1] = rates[i];
            				        		}
            				        		rates[position] = elm.value;
            				        	}
            				        }
        				        }
        			        });

        			        var rate = rates.join(MULTIRATE_METHODS_DELEMITER);
        			        console.log(rate);
        			        if($('s_method_vendor_multirate_'+rate)){
        			        	$('s_method_vendor_multirate_'+rate).checked = true;
        			        }
        		        });
        	        });
        	        
        	        Event.observe(window,'load',function(){
        	        	$$('input[name="estimate_method"]').each(function(elm){
            	        	elm.observe('click',function(){
            		        	$$('.vendor-multirate').each(function(el){
            			        	el.checked = false;
            		        	});
            	        	});
            	        });
        	        });
    	        </script>
            </div>
                <?php foreach ($_shippingRateGroups as $code => $_rates): ?>
                	<?php if($code == 'vendor_multirate'):?>
                	<dl>
                        <dt>
	                       <dd style="display: none;">
	                        <ul>
	                        <?php foreach ($_rates as $_rate): $shippingAvailable = true; ?>
	                            <li<?php if ($_rate->getErrorMessage()) echo ' class="error-msg"';?>>
	                               <?php if ($_rate->getErrorMessage()): ?>
	                                    <?php echo $this->escapeHtml($_rate->getErrorMessage()) ?>
	                               <?php else: ?>
	                                    <input data-vendor-multirate-method="1" name="estimate_method" type="radio" value="<?php echo $this->escapeHtml($_rate->getCode()) ?>" id="s_method_<?php echo $_rate->getCode() ?>"<?php if($_rate->getCode()===$this->getAddressShippingMethod()) echo ' checked="checked"' ?> class="radio" />
	                                    <label for="s_method_<?php echo $_rate->getCode() ?>"><?php echo $this->escapeHtml($_rate->getMethodTitle()) ?>
	                                    <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
	                                    <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>
	                                    <?php echo $_excl; ?>
	                                    <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
	                                        (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
	                                    <?php endif; ?>
	                                    </label>
	                               <?php endif ?>
	                            </li>
	                        <?php endforeach; ?>
	                        </ul>
	                    </dd>
                	<?php else:?>
                	   <!-- Do nothing -->
                	   <?php /*
                        <?php echo $this->escapeHtml($this->getCarrierName($code)) ?></dt>
                        <dd>
                            <ul>
                            <?php foreach ($_rates as $_rate): ?>
                                <li<?php if ($_rate->getErrorMessage()) echo ' class="error-msg"';?>>
                                   <?php if ($_rate->getErrorMessage()): ?>
                                        <?php echo $this->escapeHtml($_rate->getErrorMessage()) ?>
                                   <?php else: ?>
                                        <input name="estimate_method" type="radio" value="<?php echo $this->escapeHtml($_rate->getCode()) ?>" id="s_method_<?php echo $_rate->getCode() ?>"<?php if($_rate->getCode()===$this->getAddressShippingMethod()) echo ' checked="checked"' ?> class="radio" />
                                        <label for="s_method_<?php echo $_rate->getCode() ?>"><?php echo $this->escapeHtml($_rate->getMethodTitle()) ?>
                                        <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                                        <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>
                                        <?php echo $_excl; ?>
                                        <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                                            (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                                        <?php endif; ?>
                                        </label>
                                   <?php endif ?>
                                </li>
                            <?php endforeach; ?>
                            </ul>
                        </dd>
                        */?>
                        
                    <?php endif;?>
                <?php endforeach; ?>
            </dl>
            <?php if($shippingAvailable == true) : ?>
            <div class="buttons-set">
                <button type="submit" title="<?php echo $this->__('Update Total') ?>" class="button" name="do" value="<?php echo $this->__('Update Total') ?>"><span><span><?php echo $this->__('Update Total') ?></span></span></button>
            </div>
            <?php endif; ?>
        </form>
        <?php endif; ?>
        <script type="text/javascript">
        //<![CDATA[
            var coShippingMethodForm = new VarienForm('shipping-zip-form');
            var countriesWithOptionalZip = <?php echo $this->helper('directory')->getCountriesWithOptionalZip(true) ?>;

            coShippingMethodForm.submit = function () {
                var country = $F('country');
                var optionalZip = false;

                for (i=0; i < countriesWithOptionalZip.length; i++) {
                    if (countriesWithOptionalZip[i] == country) {
                        optionalZip = true;
                    }
                }
                if (optionalZip) {
                    $('postcode').removeClassName('required-entry');
                }
                else {
                    $('postcode').addClassName('required-entry');
                }
                return VarienForm.prototype.submit.bind(coShippingMethodForm)();
            }

			
        //]]>
        </script>
    </div>
</div>
