<?php $note = $this->getNoteRma();  ?>

<tr>
    <td>
        <div class="view-note-rma">
            <div class="note-message">
                <p><?php echo $this->__("Message:") ?></p>
                <blockquote><?php echo $note->getMessage() ?></blockquote>
            </div>
            
            
            <div class="attachment note-attachment">
                <p><?php echo $this->__("Attachment:") ?></p>
                 <?php if( sizeof(explode(",",$note->getAttachment())) != 0 && $note->getAttachment()):?>
                <ul>
                        <?php foreach (explode(",",$note->getAttachment()) as $key=>$attachment):?>
                            <li><a href="<?php echo $this->getUrl('vesrma/download/note', array('file'=>base64_encode($attachment))) ?>" title="<?php echo $this->getNameAttachment($attachment) ?>"><span class="icon-attachment <?php echo $this->getClassIcon($attachment) ?>"><?php echo $this->getNameAttachment($attachment) ?></span></a></li>
                        <?php endforeach; ?>
                </ul>
                <?php endif; ?>
            </div>
            
            <?php if(!$this->isCloseRequest()): ?>
            <div class="attachment other-attachment">
                 <a href="javascript:void(0)" onclick="showFormAttachNote(this)" ><span><?php echo $this->__("+ Add more attachment")?></span></a>
                   <div class="form-attachment" style="display:none">    
                  <form action="<?php echo $this->getSaveNoteAttachment() ?>" method="post" id="request-note-attachment-form" enctype="multipart/form-data">
                      <div class="">
                          <div id="file0" class="add-file" style="margin-top:5px">
                                <label for="filename"><?php echo Mage::helper('vendorsrma')->__('File ('.Mage::helper('vendorsrma/config')->maxSizeUpload().'Mb)(Allow extension : '.Mage::helper('vendorsrma/config')->fileExtension().')')?></label><br/>
                                <div class="upfile" style="margin-top:5px;">
                                    <input class="input-file" name="filename0" id="filename0"  type="file" style="margin-right: -3px;"/>
                                    <button class="button add form-button" type="button" onClick="requestOption.add('0')"><span><span><?php echo Mage::helper('vendorsrma')->__('Add File')?></span></span></button>
                                    <input type="hidden" id="filename" name="note[filename]" value="0">
                                </div>
                          </div>
                      </div>  
                      <div class="buttons-set">
                            <button type="submit" title="Submit Request" class="button" id="vesrma-note-submit"><span><span><?php echo $this->__("Upload") ?></span></span></button>
                     </div>
                  </form>   
           </div>
           <script type="text/javascript">
               function showFormAttachNote(e){
                   e.parentNode.select(".form-attachment").first().show();
                   e.hide();
               }
           </script>
            </div>
            <?php endif; ?>
        </div>
    </td>

</tr>
