#page-about-us{
	h3{
		font-family: "proxima nova semibold";
		font-size: 30px;
		color: #3c3c3c;
		padding-bottom: 20px;
	}
	h4{
		font-size: 24px;
		font-family: "proxima nova semibold";
		color: #010101;
		text-transform: capitalize;

	}
	.block-content-left{
		width: 50%;
		float: left;
		padding-right:60px;
		p{
			font-size: 16px;
			font-family: "proxima nova regular";
			color: #3c3c3c;
			line-height: 30px;
			font-style: normal;

		}
	}
	.block-content-right{
		width: 50%;
		float: right;
		padding:0 20px;
		.ab-title-right{
			text-align: center;
		}
		p{
			font-size: 18px;
			font-family: "proxima nova regular";
			color: #010101;
			line-height: 24px;
			font-style: normal;
		}
		span{ 
			font-family: "proxima nova semibold";
			font-size: 24px;
			font-weight: bold;
		 }
		 .ab-block-title{
			width: 100%;
			position: relative;
			margin: 0 auto;
			text-align: center;
			padding-bottom: 30px;
			&:before{
				content:'';
				display: block;
				border-bottom: 2px dotted #989898;
				position: absolute;
				top:17px;
				left: 0;
				width: 100%;
			}
			h4{
				display: inline-block;
				background-color:#fff;
				padding:0 10px;
				position: relative;
				z-index: 1;
			}
		}
		.ab-block-1{
			.pay-by-card{
				position: relative;
			
		
				float: left;
				&:before{
					content:'';
					display: block;
					position: absolute;
					top:0;
					left: 0;
					width: 68px;
					height: 71px;
					background: url('../images/icon-pay-by-card.png')top left no-repeat;
				}
				p{
					padding-left: 70px;
				}
			}
			.pay-online{
				position: relative;
				float: left;
				&:before{
					content:'';
					display: block;
					position: absolute;
					top:0;
					left: 0;
					width: 69px;
					height: 69px;
					background: url('../images/icon-pay-online.png')top left no-repeat;
				}
				p{
					padding-left: 70px;
				}
			}
			.pay-by-mobile{
				position: relative;
				
				
				float: left;
				&:before{
					content:'';
					display: block;
					position: absolute;
					top:0;
					left: 0;
					width: 81px;
					height: 72px;
					background: url('../images/icon-pay-by-mobile.png') top left no-repeat;
				}
				p{
					padding-left: 79px;
					font-size: 18px;
					font-family: "proxima nova regular";
					color: #010101;
				}
			}
		}
		.ab-block-2{
			padding-top: 40px;
			.product-and-supplier{
				position: relative;
				
				padding-bottom: 30px;
				&:before{
					content:'';
					display: block;
					position: absolute;
					top:0;
					left: 0;
					width: 73px;
					height: 72px;
					background: url('../images/icon-produt-and-supplier.png')top left no-repeat;
				}
				p{
					padding-left: 120px;
				}
			}
			.seven-day-return-policy{
				position: relative;
				
				&:before{
					content:'';
					display: block;
					position: absolute;
					top:0;
					left: 0;
					width: 89px;
					height: 72px;
					background: url('../images/icon-7-day.png')top left no-repeat;
				}
				p{
					padding-left: 120px;
				}
			}
		}
		.ab-block-3{
			padding-top: 40px;
			.email-us{
				position: relative;
				
				padding-bottom: 30px;
				&:before{
					content:'';
					display: block;
					position: absolute;
					top:0;
					left: 0;
					width: 73px;
					height: 72px;
					background: url('../images/icon-email-us.png')top left no-repeat;
				}
				p{
					padding-left: 120px;
				}
			}
			.call-us{
				position: relative;
				
				&:before{
					content:'';
					display: block;
					position: absolute;
					top:0;
					left: 0;
					width: 89px;
					height: 72px;
					background: url('../images/icon-call-us.png')top left no-repeat;
				}
				p{
					padding-left: 120px;
				}
			}
		}
	}
}

