// ========== COMMON ==========
.cart {
	.button2 {
		@extend .button;
		@extend .btn-small;

		span, span span,
		span:hover, span span:hover {
			font-size: 1em;
			color: $color-inverse;
			text-decoration: none;
		}
	}

	.btn-remove {
		@include bgImage($url: '../images/icon/icon-remove.png');
		width: 15px;
		height: 15px;
	}
}

.cart .page-title {
	margin-top: 30px;
}


// ========== SHOPPING CART ==========
// Left: Cart Table

.cart-table .product-image{
	width: 200px;
	margin: 0 auto;
}
.cart-table {
	width: 65%;

	th, td {
		border: 1px solid $color-lightGray-darker;
	}

	thead th {
		background-color: $lightGray;
		border-bottom-color: $color-lightGray-darker !important;
		font-weight: 600;
		text-align: center;
		@extend .font-base;
	}
	.col-qty, .input-text.qty {
		text-align: center;
	}

	tfoot tr,
	.cart-footer-actions {
		border: none;

		td {
			padding: 10px 0 0 0;
		}
	}

	tbody td[data-rwd-label],
	tbody td.product-cart-remove {
		padding-top: 60px;
	}

	.membership-product td {
		&.col-edit,
		&.col-withlist {
			display: none;
		}
	}

	.product-image {
		border: none;
	}

	.price {
		@extend .text-bold;
		color: $color-primary;
	}

	.btn-continue {
		@extend .button-transparent;
		float: left;

		span span {
			color: $color-primary;
		}
	}

	.btn-update {
		float: right;
		margin: 0;

		&:first-of-type {
			display: none !important; // 2 .btn-update exist, need to hide 1
		}
	}

	.btn-empty, .or {
		display: none;
	}

	.product-cart-actions .button {
		@extend .button;
		@extend .btn-small;
	}
}


// === MARKETPLACE MODE : ADVANCED X =======

.cart-table .btn-update, .cart .buttons-set .button{
	background-color: #159867;
	color: #fff;
	padding: 0 15px;
	margin: 5px 0;
}
.cart fieldset{
	float: left;
	width: 100%;
}
.cart #shopping-cart-table-{
	width: 100%;
    float: left;
}
.cart .cart-table{
	width: 100%;
}
.sub-cart .cart-collaterals{
	width: 100%;
	float: right;
	padding-left: 120px;
}

.cart-table tfoot td{
	border: none;
}

.cart-table thead th, .cart-table tbody td{
	border: 1px solid sliver;
}

#shopping-cart-totals-table{
	width: 100%;
	td{
		padding: 0 5px;
		white-space: nowrap;
	}
}

@media screen and (max-width: 1366px){
	.sub-cart .cart-collaterals{
		padding-left: 60px;
	}
}
@media screen and (max-width: 800px){
	.cart fieldset{
		float: left;
		width: 100%;
	}
	.sub-cart .cart-collaterals{
		padding-left: 0px;
		width: 100%;
		float: right;
	}
}

// Right: Cart form
.cart-forms {
	.discount {
		background-color: transparent;
		border: none;
		padding: 0;
		margin-bottom: 15px;
	}

	.shipping {
		padding: 20px;

		select {
			height: $base-height;
			padding-left: 7px;
			margin: 0;
		}

		.buttons-set {
			//display: none;
			margin-top: 15px;
		}

		.buttons-set .button {
			@extend .button;
			@extend .btn-small;
			//padding: 0 15px;
			//background-color: $color-primary;
			//color: $color-inverse;
		}
	}
}

#discount-coupon-form {
	.discount-form {
		position: relative;

		label {
			text-transform: none;
			margin: 0;
			position: absolute;
			top: 7px;
			left: 20px;
		}
	}

	.field-wrapper {
		display: table;
		width: 100%;
	}

	.input-text {
		float: left;
		margin: 0;
		width: 65%;
		height: $base-height;
		padding-left: 120px;
		font-size: 1.1em;
		background-color: $lightGray;
	}

	.button-wrapper {
		float: left;
		width: 35%;
		padding-left: 5%;

		& > button {
			float: none;
			display: block;
			min-width: 0;
			width: 100%;
		}
	}

}

// Custom dropdown with sbHolder
.shipping .form-list {
	li {
		float: none;
		margin: 0 0 15px 0;

		label {
			display: block;
			text-transform: none;
			@extend .font-base;
			@extend .text-bold;
		}

		.input-box {
		}

		&:last-child {
			margin: 0;
		}
	}

	.input-text {
		width: 100%;
		height: $base-height;
		margin: 0;
		@include prefix(border-radius, 0);
	}
}

.cart .sbHolder {
	position: relative;
	a {
		@extend .clean-link;
	}
	.sbSelector {
		display: block;
		width: 100%;
		height: 35px;
		border: 1px solid $color-default;
		background-color: $color-inverse;
		padding: 8px;
	}

	.sbToggle {
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 1.3em;
		color: $color-default !important;

		&:before {
			content: '\f0d7';
		}
	}

	.sbOptions {
		position: absolute;
		top: 100% !important;
		left: 0;
		width: 100%;
		background-color: $color-inverse;
		border: 1px solid $color-default;
		overflow-y: auto;
		z-index: 1;
		max-height: 300px !important;

		li {
			margin: 0;
		}

		li a {
			display: block;
			padding: 8px 10px;
		}

		li a:hover {
			background-color: $lightGray;
		}
	}
}

.cart-totals {
	background-color: transparent;
	border: none;
	padding: 0;

	#shopping-cart-totals-table {
		@extend .font-base;
		@extend .text-bold;
		margin-bottom: 10px;

		td {
			font-weight: 600;
		}

		td:first-child {
			text-align: left;
			padding-left: 50px;
		}

		td:last-child {
			padding-right: 20px;
		}

		tfoot {
			border-bottom: none;
		}

		tfoot td {
			font-size: 1em;
			padding-top: 10px;
			padding-left: 0;
			padding-right: 0;
		}
		tfoot strong {
			font-weight: 600;
		}
	}

	.checkout-types {
		width: 100%;
		float: none;
		text-align: center;

		li, .button {
			margin: 0;
			width: 100%;
		}

		.button {
			@extend .btn-small;
		}
	}
}

.cart-forms, .cart-totals-wrapper, .crosssell {
	width: 35%;
	padding-left: 120px;
}

// ========== CHECKOUT NOT LOGIN ==========
// Step container
.checkout-onepage-index .opc .section,
.checkout-monepage-index .opc .section {
	margin-bottom: 15px;

	.step-title {
		border: none;
		background-color: $color-primary;
		padding-left: 15px;

		h2,
		&:hover h2 {
			color: $color-inverse;
		}
	}

	&.allow:not(.active):hover .step-title {
		background-color: $color-primary-darker;

		a {
			color: $color-inverse;
		}
	}

	& .step-title .number,
	&.allow .step-title .number,
	&.allow:hover .step-title .number {
		width: 40px;
		height: 40px;
		line-height: 40px;
		margin-top: 0;
		top: 0;
		left: 0;
		background: $color-inverse;
		color: $color-primary;
		border: 1px solid $color-primary;
		font-weight: 600;
		font-size: 1.5em;
	}

	.step {
		border: 1px solid $color-lightGray-darker;
		border-top: none;
		padding: 15px !important;
	}

}

#co-shipping-method-form .buttons-set,
#checkout-step-payment .buttons-set,
.checkout-onepage-index .buttons-set,
.checkout-monepage-index .buttons-set {
	border: none;
	float: left;
	margin-top: 15px;
	padding: 0;

	.button {
		font-size: 1em;
		margin: 0 !important;
		@extend .button;
		@extend .btn-small;
	}

	& + a {
		float: right;
		margin-top: 25px;
	}
	.back-link {
		margin-left: 15px;
		a {
			@include btnBase();
			@extend .btn-default;
			min-height: $base-height !important;
			line-height: $base-height !important;
			font-size: 1em !important;
			font-weight: 500 !important;
		}
	}
}

// General
.checkout-onepage-index,
.checkout-monepage-index {
	.col-main .opc {
		//width: 80%;
		margin: 0 auto;

		h3, h4 {
			font-size: 1.4em;
			font-weight: 600;
		}
	}

	.page-title {
		margin-top: 30px;
	}

	// Step 1: Checkout method
	form {
		.input-box input {
			@include inputBase();
		}
	}

	.col-2 .button {
		width: 240px;
		height: 35px;
		font-size: 1.1em;
	}

	.ced-sociallogin-checkout {
		margin-top: 25px;

		h3 {
			display: none;
		}

		.col-1, .col-2 {
			float: none;
			padding: 0;
			width: 100%;
		}

		.ced-sociallogin-google-inner,
		.ced-sociallogin-facebook-inner {
			width: 240px;
			height: 35px !important;
			float: none !important;
			display: inline-block;
			margin-bottom: 15px;
		}

		.ced_google_connect {
			background: url("../images/button-google.png") center/100% 100% no-repeat !important;
		}

		.ced_fb_connect {
			background: url("../images/button-facebook.png") center/100% 100% no-repeat !important;
		}
	}
}

// == Right sidebar
.checkout-onepage-index .sidebar,
.checkout-monepage-index .sidebar {
	.block-title {
		margin-top: 60px;
		margin-bottom: 15px;
		border: none;
	}

	.block-title strong {
		color: $color-foreground;
		font-weight: 600;
		font-size: 1.2em;
		border-bottom: 4px solid $color-primary !important;
		padding-bottom: 3px;
	}

	.block-progress {
		opacity: 1 !important;
	}

	.block-progress dt {
		font-weight: 600;
	}
}

// ========== BILLING INFO ==========
#co-billing-form .form-list,
#co-shipping-form .form-list {
	.scaffold-form {
		margin-bottom: 30px;
	}

	p.required {
		display: none;
	}

	.fields > .fields, .field, .wide {
		display: table;
		width: 100%;
		margin-bottom: 15px;
	}

	li label {
		display: block;
		float: left;
		width: 20%;
		padding-top: 5px;
	}

	.input-box {
		float: left;
		width: 50%;
		padding: 0;

		input[type=text],
		input[type=tel],
		select {
			width: 100%;
			height: 32px;
			max-width: none;
			margin: 0;
		}
	}

	.input-box.customer-dob {

		label {
			display: none;
		}

		[class*=dob-] {
			margin: 0;
			padding: 0;
		}

		.dob-day,
		.dob-year {
			width: 33%;
		}

		.dob-month {
			width: 34%;
		}
	}

	.control {
		input.radio,
		input.checkbox {
			margin-left: 0;
			margin-top: 3px;
		}

		label {
			background-color: transparent;
			padding: 0 0 0 20px;
		}
	}
}

// Step: Order Review
#checkout-step-review .data-table {
	th, td {
		border: 1px solid $color-lightGray-darker;
	}

	thead th {
		font-weight: 600;
	}
}

// ========== ONE-STEP CHECKOUT (WITH JAMBOPAY) ==========
.one-step-checkout {
	margin-bottom: 30px;
}

#one-step-checkout-form {
	h3,
	#review_step_header {
		background-color: $color-primary;
		color: $color-inverse;

		&:before {
			color: $color-primary;
		}
	}

	.highlight {
		display: none !important;
	}

	.radioparent .inner {
		@include prefix(transition, none);
		@include prefix(transform, none);
	}

	.radioparent input:checked + .outer {
		background-color: $color-primary;
		width: 18px;
		height: 18px;
		margin: 2px 11px 0 0;
		position: relative;
		top: -1px;
		left: -2px;

		.inner {
			width: 10px;
			height: 10px;
			padding: 1px;
		}

		.inner:before {
			content: '';
			width: 8px;
			height: 8px;
			@include prefix(border-radius, 50%);
			background-color: $color-primary;
			display: block;
		}
	}

	.actions-button button {
		@include prefix(border-radius, 0);
		vertical-align: middle;

		&#add_coupon_code_button {
			background-color: $color-primary !important;

		}

		&#remove_coupon_code_button {
			border: 1px solid $color-default;
		}
	}

	button.onestepcheckout-place {
		background-color: $color-primary;
	}

	button.onestepcheckout-btn-checkout {
		box-shadow: none;
		@include prefix(border-radius, 0);
	}

	.onestepcheckout-review-info ol li.order-review-info #checkout-review-table-wrapper,
	.order-review-section,
	.onestepcheckout-shipping-payment-review .order-information,
	#showhide_shipping,
	#onestepcheckout-billing-section .billing_address,
	.order-review-info .onestepcheckout-discount .actions-button button {
		&, &:hover {
			box-shadow: none;
		}
	}
}

.jambopaypaymentmethod-payment-redirect .col-main {
	text-align: center;

	h2 {
		margin-top: 60px;
		font-size: 2em;
	}

	h2 + p {
		font-size: 1.2em;
		font-style: italic;
		&:after {
			content: '...';
		}
	}

	#jambopay-redirect-form {
		margin-bottom: 30px;
	}

	img {
		max-width: 100%;
	}
}

// ========== SUCCESS PAGE ==========
.checkout-onepage-success {
	.page-title h1 {
		border: none;
		margin-top: 40px;
	}

	.buttons-set {
		border: none;
	}
}

// ========== EMPTY PAGE ==========
.page-cart-empty {
	text-align: center;

	.page-title h1 {
		border: none;
		margin-top: 40px;
	}
}

// Others
.form-list .control label,
.sp-methods dt label,
#checkout-shipping-method-load .sp-methods dd label,
#co-shipping-method-form .sp-methods dd label,
.product-options ul.options-list label {
	background-color: transparent;
	margin: 0;
	padding: 3px 10px 3px 40px;
}

//
//.checkout-onepage-index .opc {
//	.section, .step {
//		display: block !important;
//	}
//
//	.step-title {
//		opacity: 1 !important;
//	}
//}

@media (max-width: 1199px) {
	.cart-forms, .cart-totals-wrapper, .crosssell {
		padding-left: 30px;
	}

	#discount-coupon-form {
		.input-text {
			font-size: .9em;
			padding-left: 100px;
		}
		.discount-form label {
			left: 10px;
		}
	}
}

@media (max-width: 767px) {
	.cart-table {
		thead {
			display: table-header-group;
		}
		colgroup {
			display: table-column-group;
		}

		thead th, tbody td {
			border-width: 1px 0 1px 0;
		}

		thead th {
			border-bottom: none;

			&:nth-child(2),
			&:nth-child(5),
			&:nth-child(6) {
				display: none;
			}
			// Product, Price, Qty
			&:nth-child(1),
			&:nth-child(3),
			&:nth-child(4) {
				width: 1%;
			}

			&:first-child {
				border-left-width: 1px;
			}

			&:nth-child(4) {
				border-right-width: 1px;
			}
		}

		tbody td {
			&.product-cart-info,
			&[data-rwd-label] {
				float: none;
				width: 100%;
				display: table-cell;
			}

			&[data-rwd-label] {
				padding-left: 5px;
			}

			&[data-rwd-label]:before {
				content: none;
			}

			&.product-cart-info {
				padding-left: 30px;
				width: 60%;

				.product-name {
					margin-bottom: 6px;
				}

				.btn-remove {
					display: block;
					position: absolute;
					top: 40%;
					left: 5px;
					margin: 0;
				}

			}

			&.product-cart-price,
			&.product-cart-actions {
				padding-top: 30px;
			}

			&:nth-child(1),
			&:nth-child(5),
			&:nth-child(6) {
				display: none;
			}
			&:nth-child(2) {
				border-left-width: 1px;
			}

			&:nth-child(4) {
				border-right-width: 1px;
			}

		}

		//.cart-table td[data-rwd-label]:before

		tr {
			tbody & {
				position: relative;
			}
			padding-bottom: 0;
			border-bottom-width: 0;
		}

		tbody tr:last-child {
			border-bottom-width: 1px;
		}

		.item-options {
			margin: 0 !important;
			padding: 0;
			font-size: .8em;

			dd {
				padding-left: 2px;
			}

			dt {
				font-style: normal;
			}
		}

		.price {
			font-size: .8em;
		}

		.cart-footer-actions .btn-update {
			display: block;
		}

		.button2 {
			float: none;
			width: 100%;
			height: $base-height;
			margin-bottom: 10px;
		}

		.membership-product td {
			&.col-product-name {
				padding-left: 30px;
				width: 60%;
			}

			&.col-weee {
				border-right-width: 0;
			}

			&.col-qty {
				display: table-cell;
				border-right-width: 1px;
			}

			&.col-action {
				padding: 0;
			}

			.btn-remove {
				position: absolute;
				top: 40%;
				left: 5px;
				margin: 0;
			}
		}
	}

	// ========== CHECKOUT NOT LOGIN ==========
	.checkout-onepage-index {
		.col-main {
			.opc h3, .opc h4 {
				font-size: 1.1em;
			}
		}
		
		.ced-sociallogin-checkout {
			.ced-sociallogin-google-inner,
			.ced-sociallogin-facebook-inner {
				width: 100%;
			}
		}

		.col-2 .button {
			width: auto;
		}

		#co-billing-form, #co-shipping-form {
			.form-list li label {
				width: 100%;
				font-size: .9em;
			}
			.form-list .input-box {
				width: 100%;
			}
		}
	}

	// Unsusual bug in Header
	.onestepcheckout-index-index .account-cart-wrapper {
		top: -30px;
	}

}