body.catalog-category-view {
	.main-container {
		.main {
			.col-wrapper {
				width: 100%;
			}
			.col-left {
				width: 16%;
				padding: 0;
				.block-layered-nav {
					.block-title {
						display: none;
					}
					.currently {
						ol {
							padding-left: 40px;
							li {
								.label {
									display: none;
								}
							}
						}
					}
					.block-content {
						#narrow-by-list {
							border: 1px solid #e1e1e1;
							dt {
								font-family: 'proxima nova semibold';
								font-size: 18px;
								color: #3c3c3c;
								height: 54px;
								line-height: 38px;
								padding-left: 20px;
								font-weight: bold;
								border: none;
								border-top: 1px solid #e1e1e1;
								border-bottom: 1px solid #e1e1e1;
								background-color: #f2f2f2;

							}
							dd {
								border: none;
								ol {
									li {
										a {
											font-family: 'proxima nova regular';
											font-size: 16px;
											color: #3c3c3c;
											line-height: 30px;
											position: relative;
											padding-left: 30px;
											&:hover {
												color: #159867;
												text-decoration: none;
											}
											&:before {
												content: "\f054";
												position: absolute;
												top: 4px;
												left: 14px;
												font-family: 'FontAwesome';
												font-size: 8px;
											}
										}

									}
								}
								.configurable-swatch-list {
									li {
										a {
											&:before {
												display: none;
											}
										}

									}
								}
							}
						}
					}
				}

			}
			.col-main {
				width: 83%;
				#map-popup {

				}
				.category-title {
					h1 {

					}
				}
				.category-products {
					.toolbar {
						background: none;
						border-bottom: 1px solid #ccc;
						padding: 18px 10px 0px 10px;
						.sorter {
							float: right;
							p.view-mode {
								.grid {
									background: #fff;
									border: 1px solid #ccc;
									position: relative;
									&:before {
										content: '';
										width: 11px;
										height: 11px;
										background-color: #fff;
										background: url('../images/grid-view-icon-gray.png') top left no-repeat;
										position: absolute;
										top: 9px;
										right: 9px;
									}
								}
								.list {
									background: #fff;
									border: 1px solid #ccc;
									position: relative;
									&:before {
										content: '';
										width: 11px;
										height: 11px;
										background-color: #fff;
										background: url('../images/list-view-icon-hover.png') top left no-repeat;
										position: absolute;
										top: 9px;
										right: 9px;
									}
								}
								strong.grid {
									background: #149867 !important;
									border: none !important;
									&:before {
										background: url('../images/grid-view-icon.png') top left no-repeat !important;
									}
								}
								strong.list {
									background: #149867 !important;
									border: none !important;
									&:before {
										background: url('../images/list-view-icon-hover1.png') top left no-repeat !important;
									}
								}
							}
							.sort-by {
								select {
									height: 30px;
									background: transparent;
								}
								.sbHolder {
									height: 30px;
									background: transparent;
									border: 1px solid red;
									width: 150px;
									a {
										color: #3c3c3c;
										font-family: 'Proxima', sans-serif;
										font-size: 12px;
										&:before {
											font-family: "FontAwesome";
										}
									}
								}
							}
						}
						.pager {
							font-size: 14px;
							color: #676767;
							font-family: 'proxima nova regular';
							margin: 0;
							.count-container {
								.limiter {
									select {
										height: 30px;
										background: transparent;
									}
								}

							}
							.pages {
								ol {
									li {
										height: 30px;
										margin: 0 2px;
										font-size: 14px;
										line-height: 28px;
										a {
											font-size: 14px;
										}
									}
									.current {
										color: #fff;
									}
								}
							}

						}
					}
					.products-grid {
						.item {
							@include productGridItem();
							a.product-image {

							}
							.product-info {
								padding-left: 20px;
								padding-top: 20px;
								text-align: left;
								h2.product-name {
									height: 40px;
									a {
										font-size: 16px;
										font-family: "proxima nova semibold";
										color: #3c3c3c;
									}
								}
								.price-box {
									height: 60px;
									.regular-price {
										.price {
											font-size: 18px;
											font-family: "proxima nova semibold";
											color: #159867;
											padding-right:20px;
										}
									}
									.special-price {
										padding-left: 0;
										.price {
											font-size: 18px;
											font-family: "proxima nova semibold";
											color: #159867;
											padding-right:20px;
										}
										.discount-percent {
											font-size: 16px;
											font-family: "proxima nova regular";
											color: #fff;
											background-color: #ff6021;
											padding: 2px 4px;
										}
									}
									.old-price {
										width: 100%;

										.price {
											font-size: 18px;
											font-family: "proxima nova semibold";
											color: #838383;
										}
									}
								}
								.ratings {
									width: 100%;
									margin: 0 !important;
									.rating-box{
										margin: 0;
										float: left;

									}
									.amount{
										display: block;
										padding-left: 20px;
										margin:0;
										height: 15px;
										a{
											font-size: 13px;
											font-family: 'proxima nova regular';
											line-height: 20px;
											color: #5c5c5c;
											&:hover{
												text-decoration:none;
											}
										}
									}
								}

							}

						}

					}

				}

			}

		}
		.block-viewed {
			.block-title {

			}
			.block-content {
				#custom-recently-viewed-items {
					li.item {
						float: left;
						width: 16%;
					}
				}

			}

		}

	}

	// Customize
	.col2-left-layout .main .col-main .category-products .products-grid,
	.block-viewed {
		.item {
			@include productGridItem();
		}
	}

}

.vendorspage-index-index .products-grid .item {
	@include productGridItem();
}

@media (max-width: 767px) {
	.catalog-category-view .col-main {
		.col-left {
			width: 100%;
		}

		.category-products .toolbar {
			border: none;
		}
	}

	// Filter
	.block-layered-nav {
		.block-subtitle--filter {
			padding: 7px 10px;
			border: 1px solid $color-lightGray-darker;
			font-weight: 800;

			&:after {
				content: none !important;
			}
			&:before {
				content: '';
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
				border-top: 8px solid $color-default;
				position: absolute;
				top: 12px;
				right: 10px;
			}

			&, &:hover, &:active, &.active {
				background-color: transparent;
				color: $color-foreground;
			}
		}

		#narrow-by-list {
			padding: 0;
		}
	}

	.col2-left-layout .main .col-main .category-products {
		.toolbar {
			padding: 0;
			margin-top: 15px;
			border: none;
		}

		.pages {
			a {
				color: $color-primary;
			}
			.next, .previous {
				text-indent: 999px;
			}

			.previous:before {
				border-right-color: $color-primary;
			}

			.next:before {
				border-left-color: $color-primary;
			}
		}

		.sort-by select, .count-container select {
			padding: 0 12px;
		}
	}

	.col2-left-layout .main .col-main .category-products .products-grid .item {
		.product-info {
			padding: 10px 0;
		}

		.product-name {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			text-transform: none;
		}
	}
}