.product-view .product-essential{position: relative;}
.label-pro-sale{z-index: 9999;}
.catalog-category-view, .vendorspage-index-index{
	#products-list .product-secondary .product-shipping-info .product-shipping-info-list .shipping-available{
		padding: 10px 0 !important;
	}
	#products-list .product-secondary .product-shipping-info .product-shipping-info-list .sold-available{
		padding: 10px 0 !important;
	}
	#products-list .product-secondary .product-shipping-info .product-shipping-info-list .fulfilled-available{
		padding: 10px 0 !important;
	}
}
.main-container{
	.main{
		.col-main{	
			.category-products{
				.products-list{
					.item{
						height: 328px;
						width: 100%;
						display: table;
						padding-bottom: 0;
						a.product-image{
							height: 100%;
							float: none;
							display: table-cell;
						}
						.product-shop{
							display: table-cell;
							float: none;
							vertical-align: middle;
							width: 100%;
							.f-fix{
								.product-primary{
									.product-name{
										a{
											font-size: 18px;
											font-family: 'proxima nova semibold';
											color:#3c3c3c;
											line-height: 24px;
										}	

									}
									.ratings{
										width: 100%;
										float: left;
										margin: 5px 0;
										.rating-box{
											margin: 0;
											float: left;
										}
										.amount{
											display: block;
											padding-left: 100px;
											margin:0;
											a{
												font-size: 13px;
												font-family: 'proxima nova regular';
												line-height: 20px;
												color: #5c5c5c;
												&:hover{
													text-decoration:none;
												}
											}
										}

									}
									.price-box{
										.regular-price{
											.price{
												font-size: 18px;
												font-family: "proxima nova semibold";
												color: #159867;
											}								
										}
										.special-price{
											padding-left: 0;
											width: 100%;
											.price{
												padding:5px 0;
												font-size: 18px;
												font-family: "proxima nova semibold";
												color: #159867;
												padding-right: 20px;
											}
											.discount-percent{
												font-size: 16px;
												font-family: "proxima nova regular";
												color: #fff;
												background-color: #ff6021; 
												padding: 2px 4px;
											}
										}
									}
									.availability{
										margin-top:30px;
										font-family: "proxima nova semibold";
										font-size: 16px;
										color: #3c3c3c;
										span{
											font-size: 18px;
											color: #159867;
											padding-left: 12px;	
										}
									}

								}
								.product-secondary{
									.product-shipping-info{
										background: #f7f7f7;
										border: 2px solid #ebebeb;
										.product-shipping-info-list{
											text-align: left;
											padding-left: 45px;
											font-family: 'proxima nova regular';
											font-size: 16px;
											color: #333;
										
											.shipping-available{
												padding: 5px 0 !important;
												position: relative;
												&:before{
												content: '';
											    background: url('../images/icon-product-delivery.png');
											    position: absolute;
											    display: block;
											    color: #159867; 
											    width: 32px;
											    height: 18px;
											    top: 12px;
    											left: -38px;
												}
											}
											.sold-available{
												padding: 5px 0 !important;
												position: relative;
												&:before{
													content: '';
												    background: url('../images/Sold-by-icon.png');
												    position: absolute;
												    display: block;
												    color: #159867; 
												    width: 27px;
												    height: 22px;
												    top: 12px;
	    											left: -38px;
												}
												p{
													margin: 0 !important;
												}
												a{
													font-family: 'proxima nova regular';
													font-size: 16px;
													color: #159867;
												}
											}
											.fulfilled-available{
												padding: 5px 0 !important;
												position: relative;
												&:before{
													content: '';
												    background: url('../images/fulfilled-icon.png');
												    position: absolute;
												    display: block;
												    color: #159867; 
												    width: 27px;
												    height: 22px;
												    top: 12px;
	    											left: -38px;
												}
												p{
													margin: 0 !important;
													padding: 0 !important;
												}
												span{
													font-family: 'proxima nova regular';
													font-size: 16px;
													color: #159867;
												}
											}
										}
									}
								}
							}
							.desc{
								
								.soft-des-content{
									font-family: "proxima nova regular";
									font-size:16px;
									color: #4a4a4a;
									width: 50%;
									float: left;
									padding-left: 20px;
									list-style-type: disc;
									line-height: 30px;
								}

								.sort-des-left{
						

								}
								.sort-des-right{
									
								}
								&:after{
									content: '';
									display: table;
									clear: both;
								}

							}

						}

					}

				}

			}

		}

	}

}

#products-list .product-secondary .product-shipping-info .product-shipping-info-list li{padding: 5px 0 !important;}

@media (max-width: 767px) {
	#products-list .item {
		height: auto;
		border-bottom-style: solid;
		margin-bottom: 10px;

		a.product-image,
		.product-shop {
			display: block;
		}

		a.product-image {
			float: left;
			margin-right: 10px;
			width: 40%;
			height: auto;
			margin-bottom: 15px;
		}

		.product-shop {
			width: 100%;
			padding: 0;
		}

		.product-primary {
			width: auto;
			min-height: 130px;

			.product-name a {
				font-size: .9em !important;
				line-height: 1 !important;
				text-transform: none;
			}

			.price-box .price {
				font-size: 1.2em;
			}

			.availability {
				margin-top: 15px;
				font-size: .9em;
				text-transform: none;

				span {
					padding-left: 5px;
					font-size: 1em;
					text-transform: none;
				}
			}
		}

		.product-secondary .vendor-link {
			margin: 0;
			line-height: 1;
		}

		.desc {
			text-align: justify;
			font-size: 1em;
		}

		.desc td {
			display: block;

			&:before {
				content: '-';
				margin-right: 5px;
			}
		}
	}
}							
	.product-shipping-info{
										background: #f7f7f7;
										border: 2px solid #ebebeb;
										.product-shipping-info-list{
											text-align: left;
											padding-left: 45px;
											font-family: 'proxima nova regular';
											font-size: 16px;
											color: #333;
										
											.shipping-available{
												padding: 5px 0 !important;
												position: relative;
												&:before{
												content: '';
											    background: url('../images/icon-product-delivery.png');
											    position: absolute;
											    display: block;
											    color: #159867; 
											    width: 32px;
											    height: 18px;
											    top: 12px;
    											left: -38px;
												}
											}
											.sold-available{
												padding: 5px 0 !important;
												position: relative;
												&:before{
													content: '';
												    background: url('../images/Sold-by-icon.png');
												    position: absolute;
												    display: block;
												    color: #159867; 
												    width: 27px;
												    height: 22px;
												    top: 12px;
	    											left: -38px;
												}
												p{
													margin: 0 !important;
												}
												a{
													font-family: 'proxima nova regular';
													font-size: 16px;
													color: #159867;
												}
											}
											.fulfilled-available{
												padding: 5px 0 !important;
												position: relative;
												&:before{
													content: '';
												    background: url('../images/fulfilled-icon.png');
												    position: absolute;
												    display: block;
												    color: #159867; 
												    width: 27px;
												    height: 22px;
												    top: 12px;
	    											left: -38px;
												}
												p{
													margin: 0 !important;
												}
												span{
													font-family: 'proxima nova regular';
													font-size: 16px;
													color: #159867;
												}
											}
										}
									}

	.products-list .product-shop .desc{
		width: 62%;
	}

	body.catalog-product-view{
		.product-shipping-info{
			position: absolute;
			top: 44px;
			right: 0;
			width: 19%;
		}
		.product-shipping-info .product-shipping-info-list .shipping-available:before{
			top: 6px;
		}
		.product-shipping-info {
			padding: 10px 0;
		}
	}
	.product-view .product-shop{padding-right: 40px;}

