@font-face {
	font-family: 'Proxima';
	src: url('../fonts/proximanova-regular-webfont.woff') format('woff'),
	url('../fonts/proximanova-regular-webfont.woff2') format('woff2');
	font-weight: 500;
}

@font-face {
	font-family: 'Proxima';
	src: url('../fonts/proximanova-semibold-webfont.woff') format('woff'),
	url('../fonts/proximanova-semibold-webfont.woff2') format('woff2');
	font-weight: 600;
}

// ============= LAYOUT =============
body,
button,
label,
input,
select,
table,
textarea,
.breadcrumbs li,
.price {
	color: $color-foreground;
	//background-color: $lightGray;
	font-family: 'Proxima', sans-serif !important;
	font-size: $font-size;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Proxima', sans-serif !important;
	font-size: 1em;
	font-weight: 600;
	color: $color-foreground;
}

#header-nav {
	background-color: $lightGray;
	@extend .expand-div;
}

// ============= ELEMENTS =============

img {
	display: inline-block;
}

input:active,
input:focus,
button:active,
button:focus {
	outline: none !important;
}

.input-text:focus {
	border-color: $color-primary;
}

.std ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	li {
		margin: 0;
	}
}

a {
	color: $color-primary;
	cursor: pointer;

	&:hover,
	&:active,
	&:focus {
		color: $color-primary-darker;
	}
}

.price-box {
	margin: 0;

	.price {
		font-weight: 600;
		font-size: 1em;
		color: $color-primary;
	}
}

.icon-img {
	width: 40px;
	height: 40px;
	display: inline-block;

	@mixin get-icon-url($icon-name) {
		&.#{$icon-name} {
			@include bgImage($url: '../images/icon/' + $icon-name + '.png');
		}
	}

	@include get-icon-url('icon-facebook');
	@include get-icon-url('icon-instagram');
	@include get-icon-url('icon-tumblr');
	//@include get-icon-url('icon-blogger');
	@include get-icon-url('icon-twitter');

	@include get-icon-url('icon-discover');
	@include get-icon-url('icon-express');
	@include get-icon-url('icon-visa');
	@include get-icon-url('icon-mastercard');
	@include get-icon-url('icon-mopesa');
	@include get-icon-url('icon-cashondelivery');

	@include get-icon-url('share-facebook');
	@include get-icon-url('share-twitter');
	@include get-icon-url('share-pinterest');
	@include get-icon-url('share-google');
}

.breadcrumbs {
	margin: 15px 0 20px;

	li {
		text-transform: none;
		color: $color-default;
	}

	a, strong {
		color: $color-default;
	}

	span {
		float: none;
		@include faIcon('angle-right');
	}
}

.underline-header {
	border-bottom: 1px solid $lightGray;
	margin-bottom: 15px;

	& > label {
		border-bottom: 2px solid $color-primary;
		margin-bottom: 0;
		padding: 0 10px 5px 0;
		font-size: 1.2em;
		position: relative;
		top: 1px;
	}
}

// Button
@mixin btnBase() {
	min-height: 40px;
	line-height: 40px;
	font-size: 1.2em;
	padding: 0 15px;
	white-space: normal;
	display: inline-block;
	text-align: center;
	@extend .font-base;
	@extend .text-bold;
	//border: 1px solid $color-default;
}

@mixin btnWithIcon($url) {
	position: relative;
	padding-left: 45px;

	&:before {
		content: '';
		display: block;
		@include bgImage($url: $url, $size: 100% 100%);
		width: 20px;
		height: 20px;
		position: absolute;
		top: 7px;
		left: 15px;
	}
}

.button {
	@include btnBase();
	border-color: $color-primary;
	background-color: $color-primary;
	color: $color-inverse;

	&:hover,
	&:active,
	&:focus {
		background-color: $color-primary-darker;
	}
}

.button-transparent {
	@include btnBase();
	border: 1px solid $color-primary;
	background-color: transparent;
	color: $color-primary;

	&:hover {
		&, span {
			background-color: $color-primary;
			color: $color-inverse;
		}
	}
}

.btn-small {
	min-height: $base-height;
	line-height: $base-height;
	font-size: 1em;
	font-weight: 500;
}

.btn-default {
	border-color: $color-default;
	background-color: $color-default;
	color: $color-inverse;

	&:hover {
		&, span {
			background-color: $color-default-darker;
			color: $color-inverse;
		}
	}
}

.btn-danger {
	border-color: $color-danger;
	background-color: $color-danger;
	color: $color-inverse;

	&:hover {
		&, span {
			background-color: $color-danger;
			color: $color-inverse;
		}
	}
}

// Input & Control
@mixin inputBase {
	//&,
	//&[type=text],
	//&[type=email],
	//&[type=password],
	//&[type=number],
	//&[type=search],
	//&[type=tel] {
	&:not([type=checkbox]):not([type=radio]):not([type=file]) {
		width: 100%;
		height: $base-height;
		@include prefix(border-radius, 1px);
	}
}

// Products
.label-pro-sale {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 40px;
	height: 40px;
	line-height: 41px;
	text-align: center;
	color: $color-inverse;
	font-size: .8em;
	font-weight: 600;
	@include bgImage($url: '../images/icon/icon-sun.png', $size: 100% 100%);
}

@mixin productGridItem($style: 1) {
	margin-bottom: 15px;
	text-align: left;

	.product-info {
		padding: 15px 0 0;
	}

	.product-name {
		height: 48px;
		overflow: hidden;
		text-transform: none;
		margin-bottom: 0;

		a {
			line-height: 1;
			font-size: 1.15em;
			font-weight: 600;
		}
	}

	.price-box {
		float: left;
		width: auto;
		height: 60px;

		.price,
		.special-price .price,
		.old-price .price {
			font-size: 1em !important;
		}

		.special-price {
			padding: 0;

			.price {
				padding-right: 20px;
			}
		}

		.special-price .discount-percent {
			font-size: .9em !important;
			padding: 2px 5px;
			color: $color-inverse;
			background-color: $orange;
		}

		.old-price {
			display: block;
		}

		.old-price .price {
			color: $color-default;
		}
	}

	.ratings {
		width: 100%;
		float: left;
		margin: 5px 0;
		padding-bottom: 10px;

		.rating-box {
			margin: 0;
			float: left;
		}

		.amount {
			display: block;
			margin: 0;
			float: right;
			//line-height: 1;

			a {
				font-size: 1em;
				color: $color-primary;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	@media (max-width: 767px) {
		.ratings .rating-box {
			width: 64px;
			height: 12px;

			.rating {
				height: 12px;
			}
		}

		.price-box .special-price .price {
			padding-right: 0;
		}

		.amount a {
			font-size: .8em;
		}
	}

}

// HELPER CLASSES
.text-bold {
	font-weight: 600;
}

.expand-div {
	margin-left: -$side-space;
	margin-right: -$side-space;
	padding-left: $side-space;
	padding-right: $side-space;
}

.font-base {
	font-family: 'Proxima', sans-serif;
}

.clean-link {
	&,
	&:hover,
	&:active,
	&:focus {
		color: $color-foreground !important;
		text-decoration: none !important;
	}
}

@mixin ratingStar() {
	width: 80px;
	height: 15px;
	margin: 0;
	@include bgImage($url: '../images/rating-star-empty.png', $position: 0 0, $size: auto 100%);

	.rating {
		height: 15px;
		@include bgImage($url: '../images/rating-star-full.png', $position: 0 0, $size: auto 100%);
	}
}

@mixin resetInputWidth() {
	input[type=email],
	input[type=search],
	input[type=number],
	input[type=password],
	input[type=tel],
	input[type=text] {
		width: auto;
	}
}

@include resetInputWidth();

@media (max-width: 767px) {
	.wrapper {
		padding: 0 $side-space-sm;
	}

	.col1-layout .col-main {
		margin: 0;
	}

	.expand-div, footer, .categories-featured {
		margin-left: -$side-space-sm;
		margin-right: -$side-space-sm;
		padding-left: $side-space-sm;
		padding-right: $side-space-sm;
	}
}

//
//@media (min-width: 768px) {
//	.wrapper {
//		width: 750px;
//	}
//}
//
//@media (min-width: 992px) {
//	.wrapper {
//		width: 970px;
//	}
//}
//
//@media (min-width: 1200px) {
//	.wrapper {
//		padding-left: $side-space;
//		padding-right: $side-space;
//	}
//}
