 body.advancecontactform-index-index{
 	.col-main{
 		width: 100%;
 		padding: 0;
	 	.page-title{
	 		display: none;
	 	}
	 	.contact-page{

			width: 100%;
			h2{
				font-family: 'proxima nova semibold' !important;
				font-size: 30px;
				color: #3c3c3c;
				font-style: normal;
				border: none;
			}
			p{
				font-family: 'proxima nova regular' !important;
				font-size: 16px;
				color: #3c3c3c;
				font-style: normal;
				line-height: 24px;
			}
			.gmap-wrap{
				display: none;
			}
			.form-wrap{
				padding: 50px 65px;
				#salesforceForm{
					padding-left: 20%;
					box-sizing: border-box;
					.fieldset{
						.form-list{
							border: none;
							padding: 0;
							
						}
						.fields{
							.input-box{
								#contactperson{
									margin-top:-2px;
								}
								.validation-advice{
									display: none;
								}
							}
						}

					}
					.field, .wide{
						label{
							font-family: 'proxima nova semibold' !important;
							font-size: 16px;
							color: #000;
							font-style: normal;
							border: none;
							padding-top: 5px;
							em{
								color: red;
							}
						}
						.input-box{
							width: 70%;
							float: right;
							#contactperson{
								width: 100%;
								height: 35px;
							}
							.input-text{
								width: 100%;
							}
						}
					}
					.buttons-set{
						border: none;
						width: 70%;
						float: right;
						text-align: left;
						button.button{
							float: none;
							margin: 0;
							padding: 0 15px 0 30px;
							span{
								position: relative;
								&:before{
									content: "";
									position: absolute;
									display: block;
									width: 28px;
									height: 28px;
									top: -4px;
									left: -32px;
									background: url("../images/icon-send-email.png")top left no-repeat;

								}
							}
						}
					}
				}
				ul{
					padding: 20px 0 0 50px;
					border-top: 1px dashed #d7d7d7;
					p{
						font-family: 'proxima nova regular' !important;
						font-size: 16px;
						color: #3c3c3c;
					}
					.address{
						position: relative;
						&:before{
							content: "";
							position: absolute;
							display: block;
							width: 15px;
							height: 20px;
						    top: 9px;
    						left: -28px;
							background: url("../images/icon-location.png")top left no-repeat;
						}
						h4{
							font-family: 'proxima nova semibold' !important;
							font-size: 18px;
							color: #3c3c3c;
							font-style: normal;
							border: none;
							margin-bottom: 0px;
							
						}
					}
					.phone{
						position: relative;
						&:before{
							content: "";
							position: absolute;
							display: block;
							width: 14px;
							height: 20px;
						    top: 9px;
    						left: -28px;
							background: url("../images/icon-phone.png")top left no-repeat;
						}
						p{
							margin: 0;
						}
					}
					.email{
						position: relative;
						&:before{
							content: "";
							position: absolute;
							display: block;
							width: 19px;
							height: 14px;
						    top: 9px;
    						left: -28px;
							background: url("../images/icon-mail.png")top left no-repeat;
						}
						p{
							margin: 0;
							padding-top: 5px;
						}
					}
				}
			}
		}
	}
 }



