 body.mageplaza-kb-article-view{
 	.col-left{
 		.block-list{
 			border: 1px solid #e1e1e1;

 			.block-title{
    			background: #f2f2f2;
    			border-bottom: 1px solid #e1e1e1;
    			line-height: 52px;
    			height: 52px;
    			span{
    				padding-left: 15px;
    				font-family: "proxima nova semibold";
	    			font-size: 18px;
	    			color: #3c3c3c !important;
	    			font-style: normal;
    			}

 			}
 			.block-content{
 				padding-top: 20px;
 				#recently-viewed-items{
 					.item{
 						.product-name{
		    				font-family: "proxima nova regular";
			    			font-size: 16px;
			    			color: #3c3c3c !important;
			    			font-style: normal;
			    			position: relative;
			    			padding: 4px 25px;
			    			&:before{
			    				content: "\f105";
							    font-family: 'FontAwesome';
							    font-size: 20px;
							    position: absolute;
							    display: block;
							    top: -1px;
							    left: 10px;
			    			}
 						}
 					}
 				}
 			}
 		}
 	}
 	.col-main{
 		padding: 0 0 0 60px;
 		.page-title{
 			.link-rss{
 				display: none;
 			}
 			h1{
 				font-family: "proxima nova semibold";
    			font-size: 30px;
    			color: #3c3c3c;
    			font-style: normal;
 			}
 		}
 		.article-view{
 			.article-content{
				font-size: 16px;
				font-family: "proxima nova regular";
				color:#3c3c3c;
				font-style: normal;
				line-height: 24px;
				padding-bottom: 25px;
					
			}
		}
	}
 }

