 body.mageplaza-kb-article-search {
 	.col-left{
 		.block-list{
 			border: 1px solid #e1e1e1;

 			.block-title{
    			background: #f2f2f2;
    			border-bottom: 1px solid #e1e1e1;
    			line-height: 52px;
    			height: 52px;
    			span{
    				padding-left: 15px;
    				font-family: "proxima nova semibold";
	    			font-size: 18px;
	    			color: #3c3c3c !important;
	    			font-style: normal;
    			}

 			}
 			.block-content{
 				padding-top: 20px;
 				#recently-viewed-items{
 					.item{
 						.product-name{
		    				font-family: "proxima nova regular";
			    			font-size: 16px;
			    			color: #3c3c3c !important;
			    			font-style: normal;
			    			position: relative;
			    			padding: 4px 25px;
			    			&:before{
			    				content: "\f105";
							    font-family: 'FontAwesome';
							    font-size: 20px;
							    position: absolute;
							    display: block;
							    top: -1px;
							    left: 10px;
			    			}
 						}
 					}
 				}
 			}
 		}
 	}
 	.col-main{
 		padding: 0 0 0 60px;
 		.page-title{
 			.link-rss{
 				display: none;
 			}
 			h1{
 				font-family: "proxima nova semibold";
    			font-size: 30px;
    			color: #3c3c3c;
    			font-style: normal;
 			}
 		}
 		.faq-search-form-container{
 			margin-left: 0;
    		margin-right: 0;
    		width: 100%;
    		box-sizing: border-box;
    		h3{
    			font-family: "proxima nova semibold";
    			font-size: 30px;
    			color: #3c3c3c;
    			font-style: normal;

    		}
    		#faq_search_form{
    			width: 100%;
    			.faq-search-form{
    				border: none;
    				#search{
    					width: 80%;
    				}
    				.button{
    					padding: 0 35px;
    					min-height: 38px !important;
    					line-height: 38px;
    					font-family: "proxima nova semibold";
		    			font-size: 18px;
		    			color: #fff;
		    			font-style: normal;
		    			float: right;
    				}
    				p{
    					font-family: "proxima nova semibold";
		    			font-size: 18px;
		    			color: #3c3c3c;
		    			font-style: normal;
    				}
    			}

    		}
 		}
 		.article-list-container{	
				ul {
					margin-left: 0 !important;
					li{
						list-style-type: none;
						border-bottom: 2px dotted #b7b7b7;
						position: relative;
						padding-right: 45px;
						.article-list-item{
							a{
								font-size: 16px;
								font-family: "proxima nova semibold";
								color:#3c3c3c;
								font-style: normal;
								line-height: 50px;
								text-decoration: none;
								&:hover{
									color: #038856; 
								}
							}
						}
						
					}

				}
		}
	}
 }

 body.mageplaza-kb-article-search{
 	.col-main{
 		padding: 0 0 0 60px;
 		.page-title{

 			.link-rss{
 				display: none;
 			}
 			h1{
 				font-family: "proxima nova semibold";
    			font-size: 30px;
    			color: #3c3c3c;
    			font-style: normal;
 			}
 		}
 		.faq-search-form-container{
 			margin-left: 0;
    		margin-right: 0;
    		width: 100%;
    		box-sizing: border-box;
    		h3{
    			font-family: "proxima nova semibold";
    			font-size: 30px;
    			color: #3c3c3c;
    			font-style: normal;

    		}
    		#faq_search_form{
    			width: 100%;
    			.faq-search-form{
    				border: none;
    				#search{
    					width: 80%;
    				}
    				.button{
    					padding: 0 35px;
    					min-height: 38px !important;
    					line-height: 38px;
    					font-family: "proxima nova semibold";
		    			font-size: 18px;
		    			color: #fff;
		    			font-style: normal;
		    			float: right;
    				}
    				p{
    					font-family: "proxima nova semibold";
		    			font-size: 18px;
		    			color: #3c3c3c;
		    			font-style: normal;
    				}
    			}

    		}
 		}
 		.article-list-container{
				ul {
					margin-left: 0 !important;
					li{
						list-style-type: none;
						border-bottom: 2px dotted #b7b7b7;
						position: relative;
						a{
								font-size: 16px;
								font-family: "proxima nova semibold";
								color:#3c3c3c;
								font-style: normal;
								line-height: 50px;
								text-decoration: none;
								&:hover{
									color: #038856; 
								}
								&:after{
								    content: "\f077";
								    font-family: 'FontAwesome';
								    font-size: 14px;
								    position: absolute;
								    display: block;
								    top: 0;
								    right: 17px;
								}
								&.active{
									font-size: 18px;
								}
								&.active:after{
									content: "\f078";
								    font-family: 'FontAwesome';
								    font-size: 14px;
								    position: absolute;
								    display: block;
								    top: 0;
								    right: 17px;
								}
							}
						.article-content{
							display: none;
							font-size: 16px;
							font-family: "proxima nova regular";
							color:#3c3c3c;
							font-style: normal;
							line-height: 21px;
							text-decoration: none;
							padding-bottom: 20px;
							
						}
						
					}

				}
		}
	}
 }

