.cms-home footer{
	margin-top: 0px;
}
footer {
	background-color: $lightGray;
	font-size: .9em;
	padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
	margin-top: 30px;
	@extend .expand-div;

	.footer-logo {
		width: 40%;
		margin-bottom: 15px;
		img {
			width: 100%;
		}
	}

	.address {
		td {
			padding: 5px 10px 5px 0;
			vertical-align: top;
		}

		label {
			font-family: 'Proxima', sans-serif;
			font-weight: 600;
			white-space: nowrap;
		}

	}

	ul.dotted {
		list-style-type: disc;
		padding-left: 20px;

		li {
			padding: 5px 0;
		}

		a {
			color: $color-foreground;
			padding: 2px 5px;

			&.highlight {
				text-decoration: none;
				color: $color-inverse;
				background-color: $color-warning;
			}
		}

		//a:hover {
		//	text-decoration: none;
		//	color: $color-inverse;
		//	background-color: $color-warning;
		//}
	}

	h6 {
		font-size: 1em;
	}

	hr {
		border-bottom-color: $color-default;
	}

}

.inline-icons {
	li {
		display: inline-block;

		&:not(last-child) {
			margin-right: 5px;
		}

		& > a.icon-img {
			width: $base-height;
			height: $base-height;
		}
	}

	&.payment-method > li {
		& > a.icon-img {
			width: 50px;
		}

		& > a.icon-img.icon-mopesa {
			width: 65px;
		}

	}
}

.footer-bottom {
	display: table;

	& > label,
	& > .payment-method {
		display: table-cell;
		vertical-align: middle;
	}
}

@media (max-width: 768px) {
	footer ul.dotted {
		display: table;
		width: 100%;
		margin-bottom: 20px;

		li {
			float: left;
			width: 100%;
			padding: 2px 0;
		}
	}
}