#main-navigation{
	background-color: #ACACAC;
	height: 50px;
	position: relative;
}

.account-cart-wrapper{
	z-index: 999999;
}

.skip-cart .icon{
	padding-left: 0;
	background: none;
}

.skip-cart .icon:before{
	background: url("../images/shopping-card.png") top left no-repeat;
	content:"";
	position: absolute;
	width: 40px;
	height: 40px;
	display: block;
	top: 0px;
	left: 8;
	z-index: 9999;
}
#header-search .wishlish-icon{
	position: relative;
	width: 60px;
	height: 40px;
	float: left;
}

#header-search .wishlish-icon a{
	text-indent: -9999px;
	display: block;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}
#header-search .wishlish-icon a:before{
	background: url("../images/like-icon.png") top left no-repeat;
	content:"";
	position: absolute;
	width: 41px;
	height: 41px;
	display: block;
	top: 0px;
	left: 8;
	z-index: 9999;
}

#header-search .faq-icon{
	position: relative;
	width: 60px;
	height: 40px;
	float: left;
}

#header-search .faq-icon a{
	text-indent: -9999px;
	display: block;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}
#header-search .faq-icon a:before{
	background: url("../images/question-icon.png") top left no-repeat;
	content:"";
	position: absolute;
	width: 41px;
	height: 41px;
	display: block;
	top: 0px;
	left: 8;
	z-index: 9999;
}



#main-navigation li{
	display: inline-block;
	padding: 0 0 0 105px;
}

#main-navigation li:first-child{
	background-color: #149867;
	height: 50px;
	width: 16%;
	padding: 0 0 0 20px;
	
}

#main-navigation li:first-child a{
	color: #fff;
	font-size: 20px;
	font-family: "proxima nova semibold";
	line-height: 50px;
	display: block;
	text-decoration: none;
}

#main-navigation li:first-child a::after{
	background: url("../images/categories-menu-icon.png") top left no-repeat;
	content:"";
	position: absolute;
	width: 17px;
	height: 16px;
	display: block;
	top: 16px;
	left: 14%;
	z-index: 9999;
}

#main-navigation li a{
	color: #fff;
	font-size: 13px;
	font-family: "proxima nova regular";
	line-height: 21px;
}

#nav{
	width: 16%;
	background: #fff;
	z-index: 99999;
	position: absolute;
	top: 50px;
	left: 0;
	display: none;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
}

#nav.active{
	display: block;
}

#nav .nav-primary{
	margin-top:0;
	position: relative;	
}

#nav .nav-primary li{
	position: static;
	border-right: none;
	background: #fff;
	height: 56px;
	width: 100%;
	padding: 0;
	border-bottom: 1px solid #e6e6e6;
}

#nav .nav-primary .level-top span:after{
	content:  "\f054";
	font-family: 'FontAwesome';
	font-size: 10px;
	position: absolute;
	top: 0;
    right: 20px;
    z-index: 99999;
    display: block;
}

#nav .nav-primary .level-top .categories-menu-child-wrapper .categories-menu-child-item-col li a span:after{
	display: none;
	content: '';
}

#nav .nav-primary > li:hover > .categories-menu-child-wrapper {
	display: block;
	border: 1px solid #e6e6e6;
}

#nav .nav-primary li a:hover{
	background-color: #F2F2F2;
	color: #159867;

}

#nav .nav-primary li .category-icon{
	position: absolute;
	top: 18px;
	left: 15px;
	z-index: 9999;
}

#nav .nav-primary li a{
	color:#3c3c3c;
	font-size: 14px;
	display: block;
	font-family: "proxima nova regular";
	line-height: 55px;
	padding-left: 45px;

}

.main-container .main .col-main .magestore-bannerslider .magestore-bannerslider-standard .flexslider .slides img{
	height: 446px;
}


#nav .nav-primary li a::after{
	display: none;
}

#nav .nav-primary .categories-menu-child-wrapper{
	width: 100%;
	position: absolute;
	top: 0;
	display: none;
	left: 100%;
	background-color: #fff;

}

#nav .nav-primary .categories-menu-child-wrapper .categories-menu-child-item-col{
	display: block;	
	float: left;
	position: static;
	width: 16.5%;
	background: transparent;
	height: auto;
	border: none;
}


#nav .nav-primary .categories-menu-child-wrapper .categories-menu-child-item-col .title{
	height: 35px;
}

#nav .nav-primary .categories-menu-child-wrapper .categories-menu-child-item-col .title a{
	background: url("../images/under-line-sub-title-menu.png")bottom left no-repeat;
}

#nav .nav-primary .categories-menu-child-wrapper .categories-menu-child-item-col .title.no-child{
	margin-bottom: 0px;
}

#nav .nav-primary .categories-menu-child-wrapper .categories-menu-child-item-col .categories-menu-child-item span{
	font-family: "proxima nova semibold";
	font-size: 14px;
	color: #424242;
}


#nav .nav-primary .categories-menu-child-wrapper .categories-menu-child-item-col li{
	margin-left: 20px; 
	border: none;
	height: 35px;
}

#nav .nav-primary .categories-menu-child-wrapper .categories-menu-child-item-col li a{
	font-family: "proxima nova regular";
	font-size: 14px;
	color: #3c3c3c;
	padding: 0;
	display: block;
	line-height: 35px;
}

#nav .nav-primary .categories-menu-child-wrapper .categories-menu-child-item-col li a:hover{
	background-color: transparent;
	text-decoration: underline;
}

#nav .nav-primary .categories-menu-child-wrapper.active{
	display: block;
}

.categories-menu-child-wrapper ul li a{
	text-decoration: none;
}

.magestore-bannerslider{
	height: 100%;
}

.skip-cart .count{
	color: #fff;
	position: absolute;
	z-index: 9999;
	background: url("../images/count-icon.png") top left no-repeat transparent;
	width: 32px;
	height: 22px;
	top: -13px;
	right: 0;
	line-height: 17px;
}

.skip-cart .count, .skip-link.skip-active .count{color:#fff;}

.skip-cart .count:before{
	content:"";
}

.skip-cart .count:after{
	content:"";
}

#main-navigation li a{text-decoration: none;}
#main-navigation a.nationwide-delivery{
	position: relative;
}

#main-navigation a.nationwide-delivery::after{
	background: url("../images/delivery-icon.png") top left no-repeat;
	content:"";
	position: absolute;
	width: 55px;
	height: 24px;
	display: block;
	top: -5px;
	right: 148px;
	z-index: 9999;
}

#main-navigation a.payon-delivery{
	position: relative;
}

#main-navigation a.payon-delivery::after{
	background: url("../images/pay-icon.png") top left no-repeat;
	content:"";
	position: absolute;
	width: 35px;
	height: 29px;
	display: block;
	top: -5px;
	right: 116px;
	z-index: 9999;
}

#main-navigation a.customer-email{
	position: relative;
}

#main-navigation a.customer-email::after{
	background: url("../images/email-icon.png") top left no-repeat;
	content:"";
	position: absolute;
	width: 36px;
	height: 21px;
	display: block;
	top: -5px;
	right: 116px;
	z-index: 9999;
}

#main-navigation a.phone-app-support{
	position: relative;
}

#main-navigation a.phone-app-support::after{
	background: url("../images/whatsapp-icon.png") top left no-repeat;
	content:"";
	position: absolute;
	width: 28px;
	height: 28px;
	display: block;
	top: -5px;
	right: 213px;
	z-index: 9999;
}

.categories-menu-child-wrapper{
	min-height: 448px;
}


/*======search*/

#header-search{
	width: 690px;
	text-align: left;
	top: 95px;
}


#search{
	width: 500px;
	padding: 0 0 0 10px;
	font-size: 16px;
	font-family: 'proxima nova regular';
	color: #949494;
	line-height: 38px;
}
#search_mini_form{
	float:left;
	width: 500px;
}

.header-minicart{
	text-align: center;
	width: 60px;
	float: left;
}
#search_mini_form .input-box select{
	height: 40px;
	font-size: 16px;
	font-family: 'proxima nova semibold';
	color: #333333;
	background: transparent;
	border: none;
	border-left: 1px solid #c2c2c2;
	position: absolute;
	right: 46px;
	top: 0;
	padding: 0 10px;
	width: 150px;
}

#search_mini_form .input-box .sbHolder{
	height: 40px;
	border: none;
	border-left: 1px solid #c2c2c2;
	position: absolute;
	right: 46px;
	top: 0;
	padding: 0 20px;
	width: 150px;
}

#search_mini_form .input-box .sbHolder a.sbSelector{
	font-size: 16px;
	font-family: 'proxima nova semibold';
	color: #595959;
	line-height: 40px;
	font-weight: normal;
	text-decoration: none;
}

#search_mini_form .input-box .sbHolder a{
	font-size: 13px;
	font-family: 'proxima nova semibold';
	color: #595959;
	line-height: 30px;
	font-weight: normal;
}
#search_mini_form .input-box .sbHolder .sbOptions{
	background-color: #fff;
	padding: 0;
	width: 150px;
	position: absolute;
	top: 40px !important;
	left:0;
	z-index: 99999;
	box-shadow: 1px 1px 5px #000;
}

#search_mini_form .input-box .sbHolder .sbOptions li{
	padding: 0 20px;
	background-color: #fff;
	border-bottom: 1px solid #e6e6e6;
	text-decoration: none;	
}
#search_mini_form .input-box .sbHolder .sbOptions li:hover{
	background-color: #F2F2F2;	
}

#search_mini_form .input-box .sbHolder .sbOptions li a:hover{
	text-decoration: none;	
}

#search_mini_form .input-box .sbHolder .fa-angle-down:before{
	font-family: "FontAwesome";
	position: absolute;
    top: 5px;
    right: 10px;

}
.store-language-container .form-language .sbHolder{
	padding: 0 7px  0 23px;
	width: 100px;
}

.store-language-container .form-language .sbHolder .fa-angle-down:before{
	font-family: "FontAwesome";
	position: absolute;
    top: 4px;
    right: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.sbHolder a.language-default{
	position: relative;
}



.sbHolder a.language-default:before{
	position: absolute;
	background: url(../images/engliash-flag.png);
	content: '';
	width: 19px;
	height: 11px;
	top:13px;
	left: -23px;

}
.sbHolder a.language-sg{
	position: relative;
}

.sbHolder a.language-sg:before{
	position: absolute;
	background: url(../images/singapo-flag.png);
	content: '';
	width: 19px;
	height: 11px;
	top:12px;
	left: -23px;
	border: 1px solid #ccc;

}


#search_mini_form .input-box select option{
	padding: 5px 0;
}

#search_mini_form .search-button{
	right: 2px;
	background: #149867;
	width: 40px;
	height: 36px;
	min-height: 36px !important;
	top:2px;
	}

#search_mini_form .input-box button:before {

	background-image: url(../images/search-icon.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
    content: '';
    position: absolute;
    top: 50%;
    left: 56%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    background-position: 0;
}

#search_mini_form .input-box:hover button:before{
	background-position: 0;
}

#header-nav #main-navigation li:first-child:hover #nav{
	display: block;
}


/*====cart*/

.header-minicart .skip-cart{
	background: none;
	padding: 0;
	width: 47px;
	margin: 0 auto;
}
.header-minicart .skip-cart .label{
	display: none;
}
/*======*/

.account-cart-wrapper{
	top: 20px;
}

.account-cart-wrapper a,.account-cart-wrapper select{
	font-size: 14px;
	font-family: 'proxima nova regular';
	color: #595959;
	line-height: 38px;
	text-decoration: none;
}


.account-cart-wrapper a.register{
	border-right: 1px solid #aeaeae;
	padding-right: 10px;
	text-decoration: none;
}
.page-header-container .store-language-container{
	max-width: 100%;
	padding:0 10px;
}

.form-language select{
	height: 38px;
    width: 105px;
    border: none;
    background: transparent;
    text-align: right;
}

#select-language{
	position: relative;
}

.form-language select:before{
	background-image: url(../images/engliash-flag.png);
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    z-index: 9999;

}


/*=======banner*/
.main .col-main .magestore-bannerslider .magestore-bannerslider-standard .flexslider{
	margin: 0;
	border: none;
	border-radius: 0;
	-moz-border-radius:0;
	-o-border-radius:0;
	-webkit-border-radius:0;

	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;
}

#main-navigation li.li-payon-delivery{
	position: relative;
}

#main-navigation li.li-email-customer{
	position: relative;
}

#main-navigation li.li-phone-app-support{
	position: relative;
}


#main-navigation .arrow-down-mobile{
	width: 21px; 
	height: 13px; 
	background: url("../images/icon-arrow-email.png");
	position: absolute;
	top: 68px;
	left: 30px;
	z-index: 999999;
}
#main-navigation .arrow-down-email{
	width: 21px; 
	height: 13px; 
	background: url("../images/icon-arrow-email.png");
	position: absolute;
	top: 44px;
	left: 30px;
	z-index: 999999;
}
#main-navigation .arrow-down-phone{
	width: 21px; 
	height: 13px; 
	background: url("../images/icon-arrow-email.png");
	position: absolute;
	top: 44px;
	left: 115px;
	z-index: 999999;
}

#main-navigation .popup-pay-mobile-menu-dis{
	position: absolute;
	background: #fff;
	z-index: 99999;
	color: #159867;
	border: 1px solid #adadad;
	border-radius: 10px;
	font-size: 16px;
	font-family: 'proxima nova semibold';
	padding: 10px 20px;
	top: -91px;
    left: 68px;
    display: none;
    width: 300px;
}

#main-navigation .popup-email-menu-dis{
	position: absolute;
	background: #fff;
	z-index: 99999;
	color: #159867;
	border: 1px solid #adadad;
	border-radius: 10px;
	font-size: 16px;
	font-family: 'proxima nova semibold';
	padding: 10px 20px;
	top: -72px;
    left: 68px;
    display: none;
}

#main-navigation .popup-phone-support-menu-dis{
	position: absolute;
	background: #fff;
	z-index: 99999;
	color: #159867;
	border: 1px solid #adadad;
	border-radius: 10px;
	font-size: 16px;
	font-family: 'proxima nova semibold';
	padding: 10px 20px;
	top: -72px;
    left: 0px;
    display: none;
    width: 380px;
}

.cms-index-index #nav{
	display: block;
}

