.homepage-lastest-deals {
	padding: 30px 0;

	& > h3 {
		@extend .underline-header;
	}

	.products .item {
		border: 1px solid $color-lightGray-darker;
		padding: 10px;

		h3.product-name {
			@extend .font-base;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			text-transform: none;
			border-bottom: none;
			margin: 10px 0;
			font-weight: 600;
			font-size: 1em;
		}

		.product-thumbnail {
			@include ratioWrapper(1, 1);

			img {
				@include absoluteCenter;
			}
		}

	}

	.price-box {
		.price {
			font-size: .9em;
		}

		.special-price {
			padding: 0;
			margin: 0;
		}

		.discount-percent {
			margin-left: 10px;
			display: block;
			font-size: 16px;
			font-family: "proxima nova regular";
			color: #fff;
			background-color: #ff6021; 
			padding: 2px 4px;
			width: 50px;
			display: inline-block;								
		}

		.old-price {
			margin-bottom: 0;
			width: 100%;
		}
	}

	.review-box:empty {
		min-height: 29px;
	}
	.ratings{
		
		width: 100%;
		float: left;
		margin: 5px 0;
		padding-bottom: 10px;
		.rating-box{
			margin: 0;
			float: left;
		}
		.amount{
			display: block;
			padding-left: 100px;
			margin:0;
			a{
				font-size: 13px;
				font-family: 'proxima nova regular';
				line-height: 20px;
				color: #5c5c5c;
				&:hover{
					text-decoration:none;
				}
			}
		}
	}
}

.homepage-lastest-deals .bx-wrapper {
	.bx-viewport {
		@include prefix(box-shadow, none);
		border: none;
		left: 0;
	}

}

.homepage-lastest-deals .bx-controls {
	position: absolute;
	top: -43px;
	right: 0;

	.bx-controls-direction a {
		position: static;
		display: inline-block;
		text-indent: 0;
		color: $color-default;
		background: $lightGray;
		width: auto;
		height: auto;
		padding: 2px 7px;
		font-size: 1.1em;
		line-height: 1.2;

		&.bx-prev {
			@include faIcon('angle-left');
		}

		&.bx-next {
			@include faIcon('angle-right');
		}

		&:hover,
		&:focus {
			background-color: $color-lightGray-darker;
			text-decoration: none;
		}

		&:not(:last-child) {
			margin-right: 5px;
		}
	}
}

.homepage-lastest-deals-content {
	position: relative;
	li.first{
		.ratings{
			width: 100%;
			float: left;
			margin: 5px 0;
			.rating-box{
				margin: 0;
				float: left;
			}
			.amount{
				display: block;
				padding-left: 100px;
				margin:0;
				a{
					font-size: 13px;
					font-family: 'proxima nova regular';
					line-height: 20px;
					color: #5c5c5c;
					&:hover{
						text-decoration:none;
					}
				}
			}

		}
	}
	.special-end-in {
		position: absolute;
		top: -45px;
		right: 70px;
		padding-left: 30px;
		font-size: .9em;

		&:before {
			content: '';
			position: absolute;
			top: -1px;
			left: 0;
			width: 22px;
			height: 22px;
			@include bgImage($url: '../images/icon/icon-clock.png', $size: 100% 100%);
		}
	}

	.special-end-in-item {
		background-color: transparent;
		border: 1px solid $color-lightGray-darker;
		width: 80px;
		height: 22px;
		line-height: 22px;
		display: inline-block;
		text-align: center;
		position: relative;
		margin-left: 7px;

		&:not(:last-of-type):after {
			content: ':';
			position: absolute;
			top: 0;
			right: -6px;
		}
	}

}

// This also use for _home-features-categories.scss
//.products .item .product-thumbnail {
//	@include ratioWrapper(1, 1);
//
//	img {
//		@include absoluteCenter;
//	}
//}

@media (max-width: 767px) {
	.homepage-lastest-deals-content .special-end-in {
		position: static;
		padding: 0;
		margin-bottom: 15px;
		font-size: .8em;

		&:before {
			content: none;
		}

		.special-end-in-item {
			width: 55px;
		}
	}

	.homepage-lastest-deals .bx-controls {
		top: 50%;
		left: 0;

		.bx-controls-direction a {
			vertical-align: middle;
			padding: 2px 10px;
			font-size: 1.5em;
		}

		.bx-prev {
			float: left;
		}

		.bx-next{
			float: right;
		}
	}
}