#header-cart{
	&.skip-active{
		top: 65px;
		width: 330px;
		z-index: 99999;
	}
	.minicart-wrapper{
		.block-subtitle{
			color: #fff;
			.close{
				top: -4px;
				color: #808080;
				opacity: 1;

			}
		}
		#cart-sidebar{
			.item{
				a{
					img{
						width: 60px;
						height: auto;
					}
				}
				.product-details{
					overflow: hidden;
					padding-left: 15px;
					text-align: left;
					.product-name{
						font-family: "proxima nova semibold";
						font-size: 14px;
						text-align: left;
						a{
							color:#444947;
						}
					}
					.truncated{display: none;}
					.info-wrapper{ 
						th{
							font-family: "proxima nova regular";
							color: #2a2a2a ;
							font-size: 14px;
							padding-right: 40px;
							

						}
						td{
							.price{
								font-family: "proxima nova semibold";
								font-size: 14px;
					
								font-weight: 600;
								color: #009966;
							}
						}
					}
					.btn-edit, .remove{
						font-family: "proxima nova regular";
						font-size: 14px;
						text-align: left;
						font-weight: normal;
						color: #009966;
					}
					.btn-edit{
						padding-right: 10px;

					}
					.remove{
						padding-left: 10px;
					}
				}

			}

		}
		.block-content{
			height: 50px;
			.subtotal{
				line-height: 40px;
				.label{
					font-family: "proxima nova semibold";
					font-size: 14px;
					font-weight: 600;
					color: #171717;
				}
				.price{
					font-family: "proxima nova semibold";
					font-size: 14px;
					font-weight: 600;
					color: #159867;
				}
			}

		}
		.minicart-actions{
			.checkout-types{
				float: right;
				margin-right: 10px;
				.checkout-button{
					min-width: 140px;
					background: #fff;
					color: #171717;
					border: 1px solid #a1a1a1;
					font-family: "proxima nova semibold";
					font-size: 14px;
					font-weight: 600;
					height: 40px;
					&:hover{
						border:none;
						background-color: #159867;
						color: #fff;
					}
				}
			}
			.cart-link{
				font-family: "proxima nova semibold";
				font-size: 14px;
				font-weight: 600;
				color: #171717;
				line-height: 40px;
				background-color: #fff;
				margin-left: 10px;
				box-sizing: border-box;
				display: block;
				height: 40px;
				width: 140px; 
				overflow: hidden;
				float: left;
				text-decoration: none;
				border: 1px solid #a1a1a1;
				&:hover{
					background: #159867;
					border: none;
					color: #fff;
				}

			}
		}
	}
}

@media screen and (max-width: 350px){
	#header-cart.skip-active{
		width: 290px !important;
	}
	#header-cart .minicart-wrapper #cart-sidebar .item .product-details .info-wrapper th{
		padding-right: 10px;
	}
}
