// Overall
$thumbnail-size: 214px;

// Mixin: render categories' color base on color code
@mixin render-categories($color-code) {
	.category-name {
		background-color: $color-code;
	}
	.featured-categories-special-tabs {
		border-bottom-color: $color-code;
	}
	.featured-category-tab.active,
	.featured-category-tab:hover {
		color: $color-code;
	}
	.featured-category-tab.active:before {
		@include triangle('up', 4px, 4px, $color-code);
	}
}

.categories-featured {
	@extend .expand-div;
	padding-top: 50px;
	margin-bottom: 0;
	background-color: $lightGray;
	@include render-categories($color-default);

	.row {
		margin: 0;

		[class*=col] {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.categories-featured-content {
		background-color: $color-inverse;

	}

	&:nth-child(2) {
		@include render-categories($color-success);
	}

	&:nth-child(3) {
		@include render-categories($color-danger);
	}

	&:nth-child(4) {
		@include render-categories($color-alternative);
	}

	&:nth-child(5) {
		@include render-categories($color-warning);
	}

	&:nth-child(6) {
		@include render-categories($color-info);
	}

	&:nth-child(7) {
		@include render-categories($color-highlight);
	}

	&:nth-child(8) {
		@include render-categories($color-foreground);
	}

	.message {
		padding: 15px;
		text-align: center;
	}
}

// Category & sub-category (left filter)
.categories-featured-selector {
	background-color: $color-inverse;

	.category-name {
		padding: 14px 10px 13px 40px;
		//margin-bottom: 10px;
		position: relative;

		h3 {
			color: $color-inverse;
			font-size: 1.1em;
			margin: 0;
			white-space: nowrap;
			overflow: hidden;
			-ms-text-overflow: ellipsis;
			text-overflow: ellipsis;
		}

		&:before {
			content: none;
			width: 20px;
			height: 20px;
			position: absolute;
			top: 12px;
			left: 10px;
		}

		img {
			position: absolute;
			top: 13px;
			left: 10px;
		}
	}

	& > ul {
		padding: 12px 0;
	}

	.sub-category-name {
		a {
			display: block;
			padding: 11px 30px 10px;;
			cursor: pointer;
			color: $color-foreground;
			@include transition();
			font-size: .9em;
			line-height: 1;
		}
		a:hover,
		&.active a {
			background-color: $lightGray;
			text-decoration: none;
		}

	}
}

// Top filter
.featured-categories-special-tabs {
	border-bottom: 2px solid $color-default;
	//background-color: $lightGray;

	.featured-category-tab {
		display: inline-block;
		padding: 14px 30px 11px;
		cursor: pointer;
		position: relative;

		&.active:before {

			bottom: 0;
			left: 50%;
		}
	}
}

.show-more-categories-featured {
	display: none;
}

.categories-featured-product-wrapper {
	position: relative;
	background-color: $color-inverse;
	display: table;
	width: 100%;

	.category-thumbnail {
		//@include ratioWrapper(1, 1);
		float: left;
		width: 20%;
		overflow: hidden;
		position: relative;

		img {
			@include absoluteCenter();
			max-width: none;
			height: 100%;
		}
	}
}

// Product list
.ajax-result {
	min-height: 100px;

	& > img {
		position: absolute;
		top: 50%;
		left: 50%;
		@include prefix(transform, translate(-50%, -50%));
	}
}

.categories-featured-products .products {
	width: 80%;
	float: left;
}

.categories-featured-products .products .item {
	//@include ratioWrapper(1,1);
	padding: 10px 30px;

	.product-thumbnail {
		@include ratioWrapper(5, 4);
		text-align: center;

		img {
			@include absoluteCenter();
		}
	}

	.product-name {
		text-transform: none;
		font-size: 1em;
		font-weight: 600;
		margin-top: 10px;
		margin-bottom: 0;
		height: 55px;
		a:hover {
			color: $color-primary-darker;
		}
	}

	.price-box {
		margin: 0;

		.special-price {
			padding-left: 0;
			margin: 0;
		}

		.price {
			font-family: 'Proxima', sans-serif;
			font-weight: 600;
			font-size: 1em;
			color: $color-primary;
		}

		.old-price .price {
			margin-left: 30px;
			font-weight: 500;
			color: $color-foreground;
		}

		.discount-percent,
		.old-price {
			display: none;
		}
	}

	.price-box-price {
		float: left;
		margin-top: 5px;
	}
	.review-box {
		.ratings {
			width: 100%;
			float: left;
			margin: 5px 0;
			.rating-box {
				margin: 0;
				float: left;
			}
			.amount {
				display: block;
				margin: 0;
				float: right;
				line-height: 1;

				a {
					font-size: .9em;
					color: $color-primary;
					&:hover {
						text-decoration: none;
					}
				}
			}

		}
	}
}

@media (max-width: 1199px) {
	.categories-featured-selector .category-name h3 {
		font-size: .9em;
	}
}

@media (max-width: 767px) {
	.categories-featured {
		padding-top: 30px;
	}

	.categories-featured-selector {
		.category-name {
			margin-bottom: 0;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				width: 70px;
				background-color: $color-lightGray-darker;
			}
		}

		& > ul {
			display: none;
		}
	}

	.categories-featured-content {
		position: relative;
	}

	.featured-categories-special-tabs {
		position: absolute;
		top: 0;
		right: 0;
		background-color: $color-inverse;
		border-left: 1px solid $color-lightGray-darker;
		border-right: 1px solid $color-lightGray-darker;
		border-top: 1px solid $color-lightGray-darker;
		z-index: 1;
		display: none;

		.featured-category-tab {
			display: block;
			text-align: right;
			font-weight: 600;

			&.active:before {
				content: none !important;
			}
		}
	}

	.show-more-categories-featured {
		position: absolute;
		bottom: 100%;
		right: 0;
		display: block;
		@include faIcon('bars');
		border: none;
		line-height: 1;
		font-size: 1.7em;
		padding: 12px 15px;
		color: $color-foreground;
		background-color: transparent;
	}

	.categories-featured-product-wrapper {
		.category-thumbnail {
			width: 100%;
			float: none;
		}

		.products {
			width: 100%;
			float: none;

			.item {
				border: 1px solid $color-lightGray-darker;
				padding: 5px;
			}

			.item .product-name {
				height: 40px;
				overflow-y: hidden;
			}

			.item .price-box .price {
				margin-top: 0;
				font-size: .9em;
			}
		}

		.ratings {
			margin-top: 9px;

			.rating-box {
				width: 64px;
				height: 12px;
			}

			.rating-box .rating {
				height: 12px;
			}
		}

		.bx-wrapper .bx-viewport {
			left: 0;
			border: none;
		}

		.bx-wrapper .bx-controls-direction {
			position: absolute;
			top: 50%;
			left: -10px;
			right: -10px;
		}

		.bx-wrapper .bx-controls-direction a {
			position: static;
			display: inline-block;
			text-indent: 0;
			color: $color-default;
			background-color: $lightGray;
			width: auto;
			height: auto;
			padding: 2px 7px;
			font-size: 1.5em;
			line-height: 1;
			text-align: center;
			border-radius: 2px;
			border: 1px solid $color-default;

			&.bx-prev {
				@include faIcon('angle-left');
				float: left;
			}

			&.bx-next {
				@include faIcon('angle-right');
				float: right;
			}

			&:not(:last-child) {
				margin-right: 5px;
			}
		}
	}
}
