
  @media screen and (max-width: 1500px){
  	body.cms-returns-and-refunds .main .col-main .rma-right-block .article-content .block-bar-tree .wrap-bar-tbl .bar-tbl01{  }
  	body.cms-returns-and-refunds .main .col-main .rma-right-block .article-content .block-bar-tree .wrap-bar-tbl .bar-tbl02{ left: 29%; }
  	body.cms-returns-and-refunds .main .col-main .rma-right-block .article-content .block-bar-tree .wrap-bar-tbl .bar-tbl03{ left: 46%; }
  	body.cms-returns-and-refunds .main .col-main .rma-right-block .article-content .block-bar-tree .wrap-bar-tbl .bar-tbl04{ left: 60%; }
  	body.cms-returns-and-refunds .main .col-main .rma-right-block .article-content .block-bar-tree .wrap-bar-tbl .bar-tbl05{ left: 75%; }
 	body.cms-returns-and-refunds .main .col-main .rma-right-block .article-content .block-bar-tree .block-tbl{ margin-right: 35px;}
 }

  @media screen and (max-width: 1200px){
  	body.cms-returns-and-refunds .main .col-main .rma-right-block .article-content .block-bar-tree .wrap-bar-tbl .bar-tbl01{  }
  	body.cms-returns-and-refunds .main .col-main .rma-right-block .article-content .block-bar-tree .wrap-bar-tbl .bar-tbl02{ left: 30%; }
  	body.cms-returns-and-refunds .main .col-main .rma-right-block .article-content .block-bar-tree .wrap-bar-tbl .bar-tbl04{ left: 61%; }
  	body.cms-returns-and-refunds .main .col-main .rma-right-block .article-content .block-bar-tree .wrap-bar-tbl .bar-tbl05{ left: 77%; }
 	body.cms-returns-and-refunds .main .col-main .rma-right-block .article-content .block-bar-tree .block-tbl{ margin-right: 34px;}
 }
 @media screen and (max-width: 800px){
 	body.cms-returns-and-refunds .main .col-main .rma-right-block{ padding: 0 10px;}
 	body.cms-returns-and-refunds .main .col-main .rma-right-block .article-content .block-bar-tree .wrap-bar-tbl .bar-tbl01{  }
  	body.cms-returns-and-refunds .main .col-main .rma-right-block .article-content .block-bar-tree .wrap-bar-tbl .bar-tbl02{ left: 29%; }
  	body.cms-returns-and-refunds .main .col-main .rma-right-block .article-content .block-bar-tree .wrap-bar-tbl .bar-tbl04{ left: 60%; }
 	body.cms-returns-and-refunds .main .col-main .rma-right-block .article-content .block-bar-tree .block-tbl{ margin-right: 17px;}
	 body.cms-returns-and-refunds .main .col-main .rma-right-block .article-content{overflow-x: auto;}
	 body.cms-returns-and-refunds .main .col-main .rma-right-block .article-content .block-bar-tree .block-tbl .title-block-tbl{ font-size: 15px;}
  	body.cms-returns-and-refunds .main .col-main .rma-right-block .article-content .block-bar-tree .block-tbl p{font-size: 14px;}
  	body.cms-returns-and-refunds .main .col-main .rma-right-block .article-content .block-bar-tree .block-tbl{overflow-x: auto;}
    body.cms-returns-and-refunds .main .col-main .rma-right-block .faq-title{display: block;}
    body.cms-returns-and-refunds .main .col-main .rma-right-block .article-content{padding: 10px 0 25px 0px;}
	 
 }
 @media screen and (max-width: 500px){
 	body.cms-returns-and-refunds .main .col-main .rma-right-block .article-content .block-bar-tree .block-tbl{ margin-right: 11px;}
	 
 }

 @media screen and (max-width: 350px){
	body.cms-returns-and-refunds .main .col-main .rma-right-block .article-content .block-bar-tree .wrap-bar-tbl .bar-tbl02{ left: 30%; }
  	body.cms-returns-and-refunds .main .col-main .rma-right-block .article-content .block-bar-tree .wrap-bar-tbl .bar-tbl04{ left: 63%; }

 }