@media screen and (max-width: 800px ){

	.product-view .product-shop{
		padding: 0 !important;
	}
	#products-list{
		.item{
			position: relative;
			a{
				width: 50%;
			}
			.product-shop{
				width: 100%;
				.desc{
					bottom: 0;
					left: 0;
					width: 100%;
				}
			}
		}
	}
	.product-secondary{
	 	margin: 50px 0 20px 0;
	 	.product-shipping-info{
	 		.product-shipping-info-list{
	 			li{
	 				padding: 10px 0;
	 			}
	 		}
	 	}
	}
	.products-list .product-shop{
		.product-secondary{
			width: 100%;
			&:before{
				visibility: hidden;
			    display: block;
			    font-size: 0;
			    content: " ";
			    clear: both;
			    height: 0;
			}
		} 	
	}
}

@media screen and (max-width: 770px){
	body.catalog-product-view .breadcrumbs{display: block;}
}
