 @media screen and (max-width: 800px){
	 body.vendorsrma-rma-customer-new{
	 	.rma-right-block{
	 		padding: 0 10px !important;
	 	}
	 	.main .col-main .my-account .rma-right-block .article-content{
	 		overflow-x: auto;
	 	}
	 	.main .col-main .my-account .rma-right-block ul li a{
	 		padding-left: 14px;
	 	}
	 }
 }
 @media screen and (max-width: 414px){
	 body.vendorsrma-rma-customer-new{
	 	.article-content{
	 		padding: 0 !important;
	 		.bar-tbl02{
	 			left: 30%;
	 		}
	 		.bar-tbl04{
	 			left: 62%;
	 		}
	 		.bar-tbl05{
	 			left: 78%;
	 		}
	 	}
	 }
 }

 @media screen and (max-width: 350px){
	 body.vendorsrma-rma-customer-new{
	 	.article-content{
	 		padding: 0 !important;
	 		.bar-tbl02{
	 			left: 30%;
	 		}
	 		.bar-tbl04{
	 			left: 63%;
	 		}
	 		.bar-tbl05{
	 			left: 80%;
	 		}
	 	}
	 	#my-request-table{
	 		overflow-x: auto;
	 	}
	 }
 }