  @media screen and (max-width: 1300px){
  	body.mageplaza-kb-category-index .col-main .faq-search-form-container #faq_search_form .faq-search-form #search{
  		width: 100%;
  		margin-bottom: 10px;
  	}

  }
 @media screen and (max-width: 800px){
	 body.mageplaza-kb-category-index{
	 	.col-left{
	 		width: 100% !important;
	 		margin: 20px 0;
	 		.block-title{
	 			height: 40px !important;
	 			line-height: 40px !important;

	 		}
	 	}
	 	.col-main{
	 		width: 100% !important;
	 		padding: 0;
	 		.row-mc{
	 			margin: 0px;
	 		}
	 		.kb-category-title{
	 			display: none;
	 		}
	 		.faq-search-form-container{
	 			
	    		#faq_search_form{
	    			#search{
	    				width: 100% !important;
	    			}
	    			.button{
	    				margin-top: 10px;
	    			}

	    		}
	 		}
	 		.faq-content{
	 			.category-list-item{
	 				padding: 0;
	 			}
	 			.articles-box ul li{
	 				padding: 10px 20px 10px 0;
	 				.faq-title{
	 					line-height: 30px;
	 				}
	 				a
	 				{&::after{
	 					top: 10px !important;
	 				}}
	 			}
				
			}
			.mp-footer{
				display: none;
			}
		}
	 }
}
