@media screen and (max-width: 1366px){
	#page-about-us .block-content-right .ab-block-3 .email-us{
		padding-bottom: 100px;
	}
}
@media screen and (max-width: 1200px){
	#page-about-us .block-content-right .ab-block-1{
		.pay-by-card, .pay-online, .pay-by-mobile{
			width: 100%;
			padding-bottom: 10px;
		}
	} 
}
@media screen and (max-width: 1024px){
	#page-about-us .block-content-right .ab-block-2, .ab-block-3 {
		width: 100%;
	}
	#page-about-us .block-content-right .ab-block-3 .email-us{
		padding-bottom: 50px;
	}
}
@media screen and (max-width: 800px){

	.cms-about-us .breadcrumbs{
		display:  block;
	}
	#page-about-us{
		h3{	
		}
		h4{
		}
		.block-content-left{
			width: 100%;
			padding-right: 0;
		}
		.block-content-right{
			width: 100%;
			 .ab-block-title{
				h4{
					
				}
			}
			.ab-block-1{
				.pay-by-card{	
					width: 80%;
	 	  			margin-left: 10%;
	    			margin-bottom: 20px;
	    			p{
	    				padding-left: 90px;
	    			}
				}
				.pay-online{
					width: 80%;
	    			margin-left: 10%;
	    			margin-bottom: 20px;
	    			p{
	    				padding-left: 90px;
	    			}
		
				}
				.pay-by-mobile{	
					width: 80%;
	    			margin-left: 10%;
	    			p{
	    				padding-left: 90px;
	    			}
				}
			}
		}
	}
}
@media screen and (max-width: 400px){
	#page-about-us .block-content-right .ab-block-3 .email-us p{
		padding-left: 60px;
	}
	#page-about-us .block-content-right .ab-block p{
		font-size: 14px;
	}
	#page-about-us .block-content-right .ab-block-3 .email-us:before{
		background-size: cover;
	    width: 52px;
    	height: 48px;
	}
	#page-about-us .block-content-right .ab-block-3{
		padding:0 !important;
	}

	#page-about-us .block-content-right{
		padding: 0 !important;
	}

	#page-about-us .block-content-right .ab-block-3 .call-us:before{
		background-size: cover;
	    width: 50px;
    	height: 50px;
	}
	#page-about-us .block-content-right .ab-block-3 .call-us p{
		padding-left: 60px;
	}


}
