
@media screen and (max-width: 1920px){
	#main-navigation li{
		display: inline-block;
		padding: 0 0 0 120px;
	}
	#main-navigation li:first-child{
		margin-right: 150px;
	}
}
@media screen and (max-width: 1600px){
	#main-navigation li{
		
		padding: 0 0 0 105px;
	}
	#main-navigation li:first-child{
		margin-right: 95px;
	}
}


@media screen and (max-width: 1400px){
	#main-navigation li{
		
		padding: 0 0 0 90px;
	}
	#main-navigation li:first-child{
		margin-right: 50px;
	}
}

@media screen and (max-width: 1366px){
	#main-navigation li{
		
		padding: 0 0 0 80px;
	}
	#nav .nav-primary li .category-icon{
	left: 10px;
	}
	#nav .nav-primary .level-top span:after{
		right: 10px;
	}
	#nav .nav-primary li a{
		font-size: 13px;
		padding-left: 36px;
	}
	#nav .nav-primary .categories-menu-child-wrapper .categories-menu-child-item-col .title{

	}

}

@media screen and (max-width: 1366px){
     .main-container .main .col-main .magestore-bannerslider .magestore-bannerslider-standard .flexslider .slides img{
     	height: 334px;
     }	
     #nav .nav-primary li{
     	height: 42px;
     }
     #nav .nav-primary li a{
     	height: 41px;
     	line-height: 42px;
     }
     #nav .nav-primary li .category-icon{
     	top: 11px;
     }
     .categories-menu-child-wrapper{
     	min-height: 334px;
     }
     #nav .nav-primary .categories-menu-child-wrapper .categories-menu-child-item-col li{
		height: auto;
	}
     #nav .nav-primary .categories-menu-child-wrapper .categories-menu-child-item-col .title{
     	height: auto;
     }

     #nav .nav-primary .categories-menu-child-wrapper .categories-menu-child-item-col li a{
     	letter-spacing: -0.9px;
     	line-height: 27px;
     	height: auto;
     }
     .nav-primary li ul{
     	padding: 0;
     }
}

@media screen and (max-width: 1250px){
	#main-navigation li:first-child{
		margin-right: 0px;
	}
}

@media screen and (max-width: 1200px){
	#main-navigation li{
		
		padding: 0px 0px 0 60px;
	}
	#main-navigation li a{
		font-size: 12px;
	}
	#main-navigation a.nationwide-delivery::after{
		right: 130px;
	}
	#main-navigation a.payon-delivery::after{
		right: 100px;	
	}
	#main-navigation a.customer-email::after{
		right: 100px;
	}
	#main-navigation a.phone-app-support::after{
		right: 190px;
	}

	.main-container .main .col-main .magestore-bannerslider .magestore-bannerslider-standard .flexslider .slides img{
		height: auto;
	}
	#nav .nav-primary li{
		height: 33.5px;
	}

	#nav .nav-primary li a{
		font-size: 12px;
		line-height: 33px;
		height: 33px;
	}


	#nav .nav-primary li .category-icon{
		top: 7px;
	}

	#main-navigation li:first-child a{
		font-size: 15px;
	}

	#main-navigation li:first-child a::after{
		left: 13%;
	}

	.cms-index-index #nav{
		display: none;
	}

}

@media screen and (max-width: 1100px){
	#main-navigation li{
		
		padding: 0 0 0 20px;
	}
	#main-navigation a::after{
		display: none !important;
	}
	#main-navigation li a{
		font-size: 13px;
	}
	#main-navigation li:first-child a{
		font-size: 15px;
	}
	#header-search{
		width: 610px;
	}
	#search_mini_form{
		width: 410px;
	}
	#search{
		width: 410px;
	}

}

@media screen and (max-width: 1024px){
	#main-navigation li:first-child a{
		font-size: 13px;
		padding-left: 10px;
	}
	#main-navigation li:first-child a img{
		display: none;
	}

	#header .page-header-container #header-nav #main-navigation li:first-child #nav.active{
		display: block !important;
	}
}

@media screen and (max-width: 900px){
	#main-navigation li{
		padding: 0 0 0 5px;
	}

}


@media screen and (max-width: 800px){
	#nav .nav-primary > li:hover > .categories-menu-child-wrapper{border: none;}
	#search{

	}
	#header{
		.page-header-container{
			#header-nav{
				display: block;
				#main-navigation{
					li{
						display: none;	
					}
					li:first-child{
						display: block;
					}
				}
			}
			#header-search{
				display: block;
				.header-search-icon{
					position: absolute;
					right: 35px;
					top: 68px;

					.header-minicart{
						.skip-link{
							border: none;
						}
					}

				}
			}
			
			.skip-links{
				border: none !important;
				.account-cart-wrapper{
					display: block;
					position: absolute;
					right: 35px;
					top: 0;
				}
				.skip-search{
					display: none;
				}
				.skip-nav{
					display: none;
				}
			}
			.logo{
				float: none;
			}
			#header-nav{
				#main-navigation{
					li:first-child{
						width: 100%;
						padding-left: 20px;
						a{font-size: 14px;

							&::before{
								background: url("../images/categories-menu-icon.png") top left no-repeat;
							    content: "";
							    position: absolute;
							    width: 17px;
							    height: 16px;
							    top: 17px;
							    right: 20px;
							    z-index: 9999;
							}
						}
						
						#nav{
							width: 100%;
							display: none;
							z-index: 99999999;
							border: none;
							&.active{
								display: block;
							}
							.nav-primary{
								.parent{
									position: relative;
									.mb-show-child{
										&.active{
											&::before{
												content:  "\f068";
												font-family: 'FontAwesome';
												font-size: 15px;
												color: #fff;
											    display: block;
											    line-height: 38px;
											}
										}
										&::before{
											content:  "\f067";
											font-family: 'FontAwesome';
											font-size: 15px;
											color: #fff;
										    display: block;
										    line-height: 38px;
										}
									    width: 50px;
									    height: 40px;
									    background: #159867;
									    text-align: center;
									    position: absolute;
									    right: 0px;
									    top: 0;
									    border: 1px solid #fff;
									    z-index: 9999999;
									}
								}    
								li{
									height: auto;
									a{
										line-height: 40px;
										.category-icon{
											top: 12px;
										}
									}
									.categories-menu-child-wrapper{
										display: none;
										position: static;
										padding-bottom: 20px;
										&.active{
											display: block;
										}
										&::after{
											display:none;
										}
										.categories-menu-child-item-col{
											width: 100%;
											float: none;
											padding-left: 0;
											.categories-menu-child-item{
												span{
													font-size: 14px;
												}
											}
										}
									}
									span{
										&::after{
											display: none;
										}
									}

									display: block;
									padding: 0;
								}
								li:first-child::after{
									display: none;
								}
							}
							&.active{
								display: block;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 450px){
	#header .page-header-container .skip-links .account-cart-wrapper{right: 0;}
	#header .page-header-container #header-search .header-search-icon{right: 10px;}
}
@media screen and (max-width: 375px){

	#header-search .header-minicart{
		width: 50px;
	}
	#header-search .wishlish-icon{
		width: 50px;
	}
	#header-search .faq-icon{
		width: 40px;
	}
						
}