@media screen and (max-width: 800px){
	body.catalog-product-view .product-shipping-info{
		position: static !important;
		width: 100% !important;
		margin: 20px 0;
	}
	body.catalog-category-view{
		.main-container {
			.main {
				.col-wrapper{width: 100%;}
				.col-left {width: 100%;}
				.col-main{width: 100%;
					.category-products{
						.products-grid > li{
							width: 47.72727% !important;
						}
					}
				}
			}
		}
	}
}