@media screen and (max-width: 800px){
 body.advancecontactform-index-index{
 	.col-main{
	 	.contact-page{
	 		padding-bottom: 40px;
			.form-wrap{
				padding: 0;
				#salesforceForm{	
					padding: 20px 0;
					.field, .wide{
						.input-box{
							width: 100%;
						}
					}
					.buttons-set{
						float: none;
						text-align: center;
						margin: 0 auto;
					}
				}
			}
		}
	}
 }
}

@media screen and (max-width: 1200px){
	body.advancecontactform-index-index .col-main .contact-page .form-wrap #salesforceForm{
		padding-left: 0;
	}
	body.advancecontactform-index-index .col-main .contact-page .form-wrap{
		padding: 25px 20px !important;
	}
}


