@media screen and (max-width: 640px){
	.sticky-newsletter{
		display: block;
		width: 244px;
		left: -244px;
	}
	.sticky-newsletter .sticky-newsletter-title{
	    right: -46px;
    	top: 4px;
	    height: 30px;
	    width: 50px;
	    padding-left: 50px;

	}
	.sticky-newsletter .sticky-newsletter-title span{
		font-size: 0;
	}
	.sticky-newsletter .sticky-newsletter-title span:after{
		top: -25px;
    	right: 22px;
	}
	.block-subscribe .block-content p{
		width: 100%;
	}
}