 @media screen and (max-width: 800px){
	 body.cms-term-and-conditions{
	 	.main{
		 	.col-main{
		 		padding: 0px;
	 			.cms-term-and-conditions{
	 				padding: 0;
	 				margin-left: 0 !important;
					.article-content{
						padding-left: 0px;
					}
	 			}	
			}
		}
	 }
 }