@media screen and (max-width: 800px){
	#header-cart{
		&.skip-active{
			top: 121px;
			right: -5px;
			background: #fff;
			width: 330px;
			position: absolute;
			z-index: 99999;
			border: solid 1px #cccccc;
		}
	}
	.header-minicart .minicart-actions{
		padding-bottom: 10px;
	}
	#header-cart .minicart-wrapper .minicart-actions .cart-link{
		margin-bottom: 15px;
	}
	#header-cart .minicart-wrapper .minicart-actions .checkout-types{
		margin-right: 0;
	}
}

