 @media screen and (max-width: 800px){

 	body.mageplaza-kb-article-search .col-main .article-list-container ul li a{
 		line-height: 30px;
 	}
 	body.mageplaza-kb-article-search .col-main .article-list-container ul li{
 		padding-top: 10px;
 		padding-bottom: 10px;
 	}

 	body.mageplaza-kb-article-search .col-main{
 		width: 100% !important;
 		padding: 0 !important;
 	}

 	body.mageplaza-kb-article-search{
	 	.col-left{
	 		width: 100% !important;
	 		margin: 20px 0;
	 		.block-title{
	 			height: 40px !important;
	 			line-height: 40px !important;
	 		}
	 	}
 	}
 }

 