#messages-popup-vendor-login{
	border: 1px solid #ebebeb !important;
    box-shadow: 3px 6px 6px #b6b6b6 !important;
    background: #f2f2f2 !important;
    margin-top: 0;
	width: 600px;
	@media screen and (max-width: 450px){
		width: 320px;
	}
	height: auto;
	.account-login-logo{
		margin-top: 20px;
		a{
			display: block;
			margin: 0 auto;width: 200px;
		}
		img{
			width: 200px;
		}
	}
	.control-group.normal_text {
    	text-align: center;
    	font-size: 14px;
    	line-height: 20px;
	    border: none;
    	padding: 10px 0;
    	h3{
    		font-size: 24.5px;
		    color: #5F5F5F;
		    line-height: 40px;
		    margin: 10px 0;
    	}
	}
	.control-group{
		text-align: center;
		border: none;
    	padding: 10px 0;
	}
	.controls{padding: 0 50px;}
	.main_input_box{
    	position: relative;
    	margin: 0 auto;
    	text-align: center;
    	padding-left: 40px;
    	.icon-user{
    		background-image: url("../images/icon-username.png");
    	}
    	[class^="icon-"],  [class*=" icon-"]{
    		background-position: 0 0;
    		background-size: 100% 100%;
    	}
    	.add-on{
    		background-color: #cccccc;
		    border: none;
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 40px;
		    height: 40px;
		    line-height: 40px;
		    padding: 0;
    	}
		input {
		    border-color: #ebebeb;
		    border-style: solid;
		    width: 100%;
		    height: 40px;
		    margin: 0;
		}
	}
	.form-actions{
		text-align: center;
		margin-bottom: 20px; 
		.pull-right, .pull-left{
			width: 100%;
    		padding: 0 150px;
    		margin: 5px auto;
    		@media screen and (max-width: 450px)
    		{
    			padding: 0 70px;
    		}
		}
		.btn{
			text-transform: uppercase;
    		line-height: 28px;
    		background-color: #159867;
    		height: 40px;
    		width: 100%;
    		min-width: 100px;
    		border-radius: 0;
		}
		#register{
			border: none;
		}
	}
}