// General
.bx-wrapper img{
	margin: 0 auto;
}
.product-view .product-shop {
	width: 45%;
	padding-left: 30px;
	margin-right: 20%;

	.product-name {
		float: none;
	}

	.product-name h1 {
		text-transform: none;
		font-size: 1.6em;
		border-bottom: none;
		padding: 0;
		margin-bottom: 10px;
	}

	.ratings {
		margin-bottom: 15px;
	}

	.product-brand > p > span {
		color: $color-primary;
	}

	.price-box {
		.special-price {
			padding: 0;
		}

		.regular-price .price,
		.special-price .price,
		.full-product-price .price {
			color: $color-primary;
			font-weight: 500;
		}

		.old-price .price {
			font-size: 1.5em;
			margin-left: 30px;
			font-weight: 500 !important;
			color: $color-foreground !important;
		}
		.discount-percent {
			display: none;
		}
	}

	.availability {
		text-transform: none;
		color: $color-foreground;
		font-size: 1em;
		font-weight: 600;
		margin-bottom: 15px;

		span {
			color: $color-primary;
			margin-left: 5px;
		}
	}

	.short-description {
		margin-bottom: 20px;
		padding: 15px 0;
		border-top: 1px solid $color-lightGray-darker;
		border-bottom: 1px solid $color-lightGray-darker;

		.std {
			display: table;
			width: 100%;
			margin-bottom: 15px;
		}

		.sort-des-left {
			float: left;
		}

		.sort-des-right {
			float: right;
		}

		ul {
			list-style-type: disc;
			padding-left: 20px;
		}

		a {
			margin-top: 10px;
			@include faIcon('angle-right');
			&:before {
				margin-right: 3px;
			}
		}

		br {
			display: none;
		}
	}
}

.input-text {
	@include prefix(border-radius, 0);
}

.email-friend {
	display: none;
}

// Img box
.product-view .product-img-box {
	width: 35%;
	padding-right: 30px;

	.product-image {
		//overflow: hidden;
		@include ratioWrapper(1, 1);
		z-index: 0;
	}

	.product-image-gallery {
		.gallery-image {
			max-height: 100%;
			@include absoluteCenter();
			display: none;
		}

		.gallery-image.visible {
			display: block;
		}
	}

	.more-views {
		padding: 0 30px;

		h2 {
			display: none;
		}
	}

	.product-image-thumbs {

	}

	.bx-wrapper .bx-viewport {
		@include prefix(box-shadow, none);
		left: 0;
		border: none;

		li {
			border: 1px solid $lightGray;
			position: relative;
			padding: 2px;
			@include ratioWrapper(4, 3);
		}

		li > a > img {
			@include absoluteCenter();
		}
	}

	.bx-wrapper .bx-controls {
		.bx-prev, .bx-next {
			color: $color-default;
			background-color: $lightGray;
			width: auto;
			height: 20px;
			padding: 2px 7px;
			font-size: 1.2em;
			text-indent: 0;
			line-height: 1;
			margin-top: -13px;
			@include prefix(border-radius, 2px);

			&:hover {
				background-color: $color-lightGray-darker;
			}
		}

		.bx-prev {
			left: -25px;
			@include faIcon('angle-left');
		}

		.bx-next {
			right: -25px;
			@include faIcon('angle-right');
		}
	}
}

// Product options
.product-view .product-options {
	width: 300px;

	&, & ~ .product-options-bottom {
		border: none;
		padding: 0;
	}

	& ~ .product-options-bottom {
		background-color: transparent;
	}

	dl.last {
		display: table;
		width: 100%;

		.swatch-attr {
			display: inline-block;
			clear: none;
			float: left;
		}

		dt.swatch-attr {
			width: 40%;
		}

		dd.swatch-attr {
			width: 60%;
		}

		.swatch-attr .select-label {
			display: none;
		}
	}

	.required {
		display: none;
		&:after {
			content: none;
		}
	}

	.swatch-attr:not(.last) {
		.swatch-link,
		.swatch-link img,
		.swatch-label {
			@include prefix(border-radius, 0);
		}
		.swatch-link {
			width: auto !important;
			height: auto !important;
		}

		.selected .swatch-link {
			border-color: red;
		}

		.swatch-label {
			border: none;
		}
	}

	.swatch-attr.last {
		.swatch-select {
			display: block !important;
			height: $base-height;
			padding: 5px 10px;
			width: 100%;
		}

		.configurable-swatch-list {
			display: none;
		}
	}
}

.product-view .add-to-cart {
	border-bottom: none;

	.qty-wrapper {
		margin-right: 0;
		float: none;
		width: 300px;

		& > label {
			margin: 0;
			width: 40%;
		}
	}

	.qty-field {
		width: 60%;
		float: left;
		margin-left: 0;
		margin-right: 0;
	}

	.qty-field {
		[class*="col"] {
			padding-left: 5px;
			padding-right: 5px;
			width: 50%;

			&:first-child,
			&:last-child {
				width: 25%;
			}

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}

		[class*="-qty"],
		.qty {
			display: block;
			float: none;
			width: 100%;
			height: $base-height;
			line-height: $base-height;
			border: 1px solid $color-default;
			text-align: center;
			color: $color-foreground;
		}

		[class*="-qty"]:hover {
			color: $color-foreground;
			background-color: $lightGray;
			text-decoration: none;
		}
	}

	.add-to-cart-buttons {
		width: 100%;
		padding-top: 15px;
		border-top: 1px solid $color-lightGray-darker;

		.button {
			margin-bottom: 0;
			background-color: $color-primary;
			padding-left: 70px;
			width: auto;
			font-weight: 600;
			position: relative;
		}

		.button:before {
			content: '';
			position: absolute;
			top: 9px;
			left: 25px;
			width: 25px;
			height: 20px;
			@include bgImage($url: '../images/icon/icon-cart-white.png');
		}

		.link-wishlist {
			display: inline-block;
			width: 40px;
			height: 40px;
			background-color: $color-default;
			color: $color-inverse;
			text-indent: -99999px;
			position: relative;
			margin-left: 30px;

			@include prefix(border-radius, 50%);
			@include faIcon('heart-o');
			&:before {
				@include absoluteCenter();
				text-indent: 0;
				font-size: 1.5em;
			}

			&:hover {
				background-color: $color-default-darker;
			}
		}
	}
}

.product-view .add-to-links {
	& > li:first-child a {

	}

	& > li:not(:first-child) {
		display: none;
	}
}

.product-view .sharing-links {
	li {
		padding: 0;
		margin-right: 15px;
	}

	a {
		background: none;
		display: inline-block;

	}

	.print-product a,
	.send-to-friend a {
		text-indent: 0;
		width: auto;
		color: $color-default;

		&:before {
			margin-right: 5px;
		}
	}

	.print-product a {
		@include faIcon('print');
	}

	.send-to-friend a {
		@include faIcon('envelope-o');
		margin-right: 10px;
	}

	[class*="share"] {
		@extend .icon-img;
		width: 20px;
		height: 20px;
	}
}

.ratings {
	.rating-box {
		@include ratingStar();
	}

	.rating-links {
		display: none;
	}
}

.swatch-attr:not(:last-of-type) .configurable-swatch-list {
	.swatch-link,
	.swatch-link img,
	.swatch-label {
		@include prefix(border-radius, 0);
	}
	.swatch-link {
		width: auto !important;
		height: auto !important;
	}

	.selected .swatch-link {
		border-color: red;
	}

	.swatch-label {
		border: none;
	}
}

// Tabs
.product-collateral {
	.nav-tabs {
		li > a {
			background-color: $lightGray;
			color: $color-foreground;
			font-weight: 600;
			border: 1px solid $color-lightGray-darker;
			border-bottom: none;
			padding: 10px 20px;
			margin-right: 10px;
			@include prefix(border-radius, 0);
		}

		li.active > a {
			background-color: $color-inverse;
		}
	}

	.tab-content {
		border: 1px solid $color-lightGray-darker;
		border-top: none;
		padding: 30px;
	}
}

.tab-pane#reviews {
	.rating-box {
		@include ratingStar();
	}

	.box-reviews {
		dd {
			padding: 20px 0;
			border-bottom: 1px dotted $color-default;
		}

		.review-meta span {
			color: $color-primary;
		}
	}

	.pager {
		float: none;

		.count-container {
			display: none;
		}
	}

	.pages {
		float: none;
		margin: 0;

		a, .current {
			@extend .font-base;
		}

		ol {
			display: table;
			margin: 0 auto;
		}

		li {
			font-weight: 600;
			margin-right: 5px;
		}

		li > a {
			color: $color-foreground;
			padding: 0;
			text-align: center;
			@include prefix(border-radius, 0);
		}

		.current {
			width: 25px;
			background-color: $lightGray;
			position: relative;
			top: 1px;
		}

		.next, .previous {
			background-color: transparent;
			border: none;
			width: 15px;
		}

		.next:before {
			border-left-color: $color-foreground;
		}

		.previous:before {
			border-right-color: $color-foreground;
		}
	}

	.review-summary-table {
		width: auto;

		thead {
			display: none;
		}

		tbody td.value {
			padding: 10px;
		}

		tbody label {
			float: right;
			width: 15px;
			height: 15px;
			cursor: pointer;
			@include bgImage($url: '../images/rating-star-empty.png', $position: 0 0, $size: auto 15px);
		}

		tbody input[type=radio] {
			display: none;
		}

		tbody label:hover,
		tbody label:hover ~ label,
		tbody input[type=radio]:checked ~ label {
			@include bgImage($url: '../images/rating-star-full.png', $position: 0 0, $size: auto 15px);
		}
	}
}

// Recent Products
.catalog-product-view .main .aw-box,
.catalog-product-view .main .block-viewed {
	background: #fff;
	width: auto !important;
	display: block;
	@extend .expand-div;

	.head h4,
	.block-title strong {
		font-size: 1.2em;
		font-weight: 600;
		@extend .font-base;
		color: $color-foreground;
		text-transform: none;
	}

	.head h4,
	.block-title {
		padding: 15px 0;
	}

	.block-content,
	.aw-content {
		padding: 0 40px;

		li.item {
			margin: 0;
		}
	}

	@include productGridItem();

	//
	//.products-grid {
	//	background: #f7f7f7;
	//	.product-image img {
	//		width: auto;
	//		height: 100%;
	//		margin: 0 auto;
	//
	//	}
	//}
	//.product-info {
	//	padding-top: 20px;
	//}
	//
	//.block-content {
	//	margin: 0;
	//
	//}
	//.product-image {
	//	background: #fff;
	//}
	//
	//.discount-percent {
	//	@extend .font-base;
	//	font-size: 16px;
	//	color: #fff;
	//	background-color: #ff6021;
	//	padding: 2px 4px;
	//}

	.bx-viewport {
		background: #fff;
		border: none;
	}

	.bx-wrapper .bx-controls .bx-controls-direction {
		a.bx-next, a.bx-prev {
			border: 1px solid #ccc;
			top: 37%;
		}
	}
	
	.bx-viewport ol li .product-info .price-box .old-price {
		.price {
			color: #838383;
		}
	}

	.bx-wrapper {
		margin: 0;
	}
}

.catalog-product-view .main .aw-box {
	&.aw-base-mini.aw-mini-related-items.block .head {
		border: none;
	}
}

body.catalog-product-views {

}

// WISHLIST POPUP
#itoris-wishlist-popup {
	background-color: $color-inverse;

	#itoris-wishlist-popup-buttons {
		margin: 0;
		padding: 30px 0 15px;
		border: none;

		button {
			margin-right: 15px;
		}

		button span {
			background: transparent;
			border: none;
			height: auto;
			padding: 0;
			font-size: inherit;
			font-weight: 500;
		}
	}
	.itoris-wishlist-button-select {
		@extend .button;
	}

	.itoris-wishlist-button-cancel {
		@extend .button-transparent;
		span {
			color: $color-primary;
		}
	}
}

@media (max-width: 768px) {
	.product-view {

		.product-img-box {
			width: 100%;
			padding: 0;
		}

		.product-shop {
			width: 100%;
			margin: 0;
			padding: 0 !important;

			.product-name {
				display: block;
			}

			.short-description ul {
				float: none !important;
			}

			.sharing-links {
				float: none;
			}
		}

		.product-options,
		.add-to-cart .qty-wrapper {
			width: 100%;
		}

		.product-options dl.last dt.swatch-attr,
		.add-to-cart .qty-wrapper > label {
			width: 25%;
		}

		.product-options dl.last dd.swatch-attr,
		.add-to-cart .qty-field {
			width: 75%;
		}

		.add-to-cart .qty-field {
			[class*="col"] {
				float: left;
			}
		}

		.add-to-cart-buttons .button {
			float: left;
		}

		.sharing-links {
			li {
				margin-right: 10px;
			}

			a {
				font-size: .8em;
				color: $color-foreground !important;
			}
			.send-to-friend a {
				margin-right: 15px;
			}
		}

		input[type=email], input[type=search], input[type=number], input[type=password], input[type=tel], input[type=text] {
			width: 100%;
		}
	}

	.product-collateral {
		.tab-content {
			padding: 15px;
		}

		.tab-pane#reviews .data-table.ratings .rating-box {
			width: 15px;
			overflow: visible;
			position: relative;
			text-indent: 0;
			float: right;

			.rating-number {
				display: block;
				position: absolute;
				top: -2px;
				left: -10px;
				z-index: 1000;
			}

			.rating-number:after {
				content: none;
			}

			.rating {
				width: 100% !important;
			}
		}

		.tab-pane#specification .tab-pane-content {
			.label, .value {
				width: 50%;
				float: left;
			}
		}

		.nav-tabs li {
			width: 100%;
			margin-bottom: 5px;
			border-bottom: 1px solid $color-lightGray-darker;

			a {
				margin: 0;
			}
		}
	}

	.catalog-product-view .main .aw-box,
	.catalog-product-view .main .block-viewed {
		.block-content,
		.aw-content {
			padding: 0;
		}

		.bx-wrapper .bx-viewport {
			left: 0;
		}

		.bx-wrapper .bx-controls .bx-controls-direction {
			a.bx-next, a.bx-prev {
				top: 30%;
				background-color: $lightGray;
			}

			a.bx-next {
				right: -10px;
			}

			a.bx-prev{
				left: -10px;
			}
		}
	}
}