 body.vendorsrma-rma-customer-new{
 	.box-customer-request .data-table .even{
 		background: transparent !important;
 	}
 	.my-request-table tr:hover{
 		background-color: #fff !important;
 	}

 	.form-list .box-customer-request{
 		overflow-x: auto;
 	}
 	.main{
	 	.col-main{
	 		/*width: 100%;*/
	 		padding: 0 0 0 60px;
	 		.page-title{
	 			.link-rss{
	 				display: none;
	 			}
		 		.kb-category-title{
		 			h2{
		 				font-family: "proxima nova semibold";
		    			font-size: 30px;
		    			color: #3c3c3c;
		    			font-style: normal;
		 			}
		 		}
	 		}
	 		.my-account{
	 			.page-title{
	 				h1{
	 					margin-bottom: 0;
 						font-size: 24px;
						font-family: "proxima nova semibold";
						font-style: normal;
						line-height: 50px;
						text-decoration: none;
						text-transform: capitalize;
	 				}
	 			}
	 			#request-new-form{
	 				.form-list{
		 				.input-box{
		 					select{
		 						height: 35px;
		 					}
		 				}
		 				.files{
		 					.form-button{
		 						margin-bottom: 10px;
		 						margin-top: 5px;
		 					}

		 				}
	 				}
	 				.request_policy{
	 					display: none;
	 				}
	 			}
	 			.rma-right-block{
	 				padding: 0 40px;
	 				margin-left: 0 !important;
	 				.rma-title-paragraph{
	 					border-bottom: 2px solid #159867;
	 					margin-bottom: 20px;

	 					h2{
	 						margin-bottom: 0;
	 						font-size: 24px;
							font-family: "proxima nova semibold";
							color:#159867;
							font-style: normal;
							line-height: 50px;
							text-decoration: none;
							text-transform: capitalize;
	 					}
	 				}
						ul {
							margin-left: 0 !important;
							li{
								list-style-type: none;
								position: relative;
								padding-bottom: 15px;
								a{
									padding-left: 30px;
									&:before{
								    content: "\f101";
								    font-family: 'FontAwesome';
								    font-size: 18px;
								    position: absolute;
								    display: block;
								    color: #159867; 
								    top: 0;
								    left: 0;
									}
									&.active{
										color: #159867; 
										font-size: 18px;
									}
									&.active:after{
										content: "\f101";
									    font-family: 'FontAwesome';
									    font-size: 18px;
									    position: absolute;
									    display: block;
									    top: 0;
									    left: 0;
									}
								}
							}

						}
						.faq-title{
							font-size: 16px;
							font-family: "proxima nova semibold";
							color:#3c3c3c;
							font-style: normal;
							line-height: 18px;
							text-decoration: none;

							&:hover{
								
							}
						}
						.article-content{
							display: none;
							font-size: 16px;
							font-family: "proxima nova regular";
							color:#3c3c3c;
							font-style: normal;
							line-height: 24px;
							padding: 10px 0 25px 30px;
							.des-box-item-process{
								width: 80%;
								margin: 20px auto;
								background:#128258;
								border-radius: 25px;
								padding: 10px 40px;
								text-align: center;
								font-family: "proxima nova semibold";
								color: #fff;
								font-size: 18px;

							}

							.arrow-bar{
								width: 10px;
								background: #FFC000;
								height: 50px;
								margin: 0 auto;
								margin-top: 10px;

							}
							.arrow-down {
								  width: 0; 
								  height: 0; 
								  border-left: 20px solid transparent;
								  border-right: 20px solid transparent;
								  margin: 0 auto;
								  border-top: 20px solid #FFC000;
								}
							.block-bar-tree{
								
								.bar-main{
									width: 100%;
									height: 10px;
									background: #FFC000;
								}

								.wrap-bar-tbl{
									position: relative;
									.bar-tbl {
										position: absolute;
										width: 4px;
										background:  #FFC000;
									}
									.bar-tbl01, .bar-tbl03, .bar-tbl05{
										height: 50px;
									}
									.bar-tbl02, .bar-tbl04{
										height: 400px;
									}
									.bar-tbl01{
										top: 0px;
										left: 14%;
									}
									.bar-tbl02{
										top: 0px;
										left: 29%;
									}
									.bar-tbl03{
										top: 0px;
										left: 43%;
									}
									.bar-tbl04{
										top: 0px;
										left: 59%;
									}
									.bar-tbl05{
										top: 0px;
										left: 74%;
									}
								}

								.block-tbl{
									background: #fff;
									border: 2px solid #128258;
									border-radius: 25px;
									padding: 5px;
									width: 28%;
									float: left;
									margin-right: 15px;
									height: 300px;
									margin-top: 50px;
									overflow: hidden;
									.title-block-tbl{
										text-align: center;
										font-weight: bold;
									}
								}
								.block-tbl04{
									margin-left: 15%;
								}
								

							}

							table, th, td {
							    border: 1px solid black;
							    border-collapse: collapse;
							    font-size: 16px;
							}
							th{
							    padding: 5px;
							    text-align: left;
							    font-weight: bold;

							}
							td{
								padding: 5px;
							}
							
						}

	 			}	
	 		}
		}
	}
 }

 body.vendorsrma-rma-customer-new{
 	.customer-account .my-account .form-list > li{
 		max-width: 100%;
 	}

 	.box-customer-request .data-table thead th{
 		background: #F4F4F4;
 		font-weight: bold;
 		text-align: center;

 	}
 }
