.sendfriend-product-send .send-friend {
	padding-right: 15px;

	.page-title h1 {
		margin-top: 30px;
	}

	form {
		margin-left: -15px;
		margin-right: -15px;

		.fieldset {
			float: left;
			padding-left: 15px;
			padding-right: 15px;
			margin-top: 0;
			width: 50%;
		}

		.legend {
			padding: 0;
			margin-bottom: 10px;
			font-weight: 600;
			border: none;
		}

		input {
			@include inputBase();
		}
	}

	.buttons-set {
		border: none;
		padding-left: 15px;
		padding-right: 15px;

		.button {
			text-decoration: none;
		}
	}
}

.sendfriend-product-send .col-right {
	padding-top: 40px;

	.block {
		margin-bottom: 30px;
	}

	.block-title {
		border-top: none;
		border-bottom: 1px solid $color-lightGray-darker;
		margin-bottom: 15px;

		strong {
			color: $color-foreground;
		}
	}

	.block-content li.item {
		margin-left: 0;
	}
}

@media (max-width: 767px) {
	.sendfriend-product-send .send-friend {
		padding-right: 0;

		form {
			.fieldset {
				width: 100%;
				margin-bottom: 15px;
			}

			.legend {
				margin-bottom: 0;
			}
		}
	}

	.sendfriend-product-send .col-right {
		.block-title > strong {
			padding-left: 30px !important;
		}
	}
}