 body.cms-shipping-policy{
 	.col-main{
 		width: 100%;
 		padding: 0 0 0 60px;
		.link-rss{
			display: none;
		}
		.kb-category-title{
			h2{
				font-family: "proxima nova semibold";
			font-size: 30px;
			color: #3c3c3c;
			font-style: normal;
			}
		}

 		.faq-search-form-container{
 			margin-left: 0;
    		margin-right: 0;
    		width: 100%;
    		box-sizing: border-box;
    		h3{
    			font-family: "proxima nova semibold";
    			font-size: 30px;
    			color: #3c3c3c;
    			font-style: normal;
    			text-transform: lowercase;
    			&:first-letter {text-transform: uppercase}
    		}
    		#faq_search_form{
    			width: 100%;
    			.faq-search-form{
    				border: none;
    				#search{
    					width: 80%;
    				}
    				.button{
    					padding: 0 35px;
    					min-height: 38px !important;
    					line-height: 38px;
    					font-family: "proxima nova semibold";
		    			font-size: 18px;
		    			color: #fff;
		    			font-style: normal;
		    			float: right;
    				}
    				p{
    					font-family: "proxima nova semibold";
		    			font-size: 18px;
		    			color: #3c3c3c;
		    			font-style: normal;
    				}
    			}

    		}
 		}
 		.mp-footer{
				display: none;
			}
 		.faq-content{
 			padding-bottom: 40px;
 			.kb-category-item {
 				display: none;
 			}
 			.category-list-item{
 				margin-top:0; 
 				padding: 0 40px 0 0;
 				width: 100% ;
 				float: none;
 			}		
			.articles-box{
				margin-left: 0 !important;
				ul {
					margin-left: 0 !important;
					li{
						list-style-type: none;
						border-bottom: 2px dotted #b7b7b7;
						position: relative;
						a{
							&:after{
						    content: "\f077";
						    font-family: 'FontAwesome';
						    font-size: 14px;
						    position: absolute;
						    display: block;
						    top: 0;
						    right: 17px;
							}
							&.active{
								color: #038856; 
							}
							&.active:after{
								content: "\f078";
							    font-family: 'FontAwesome';
							    font-size: 14px;
							    position: absolute;
							    display: block;
							    top: 0;
							    right: 17px;
							}
						}
					}
				}
				.faq-title{
					font-size: 16px;
					font-family: "proxima nova semibold";
					color:#3c3c3c;
					font-style: normal;
					line-height: 50px;
					text-decoration: none;

					&:hover{
						
					}
				}
				.article-content{
					display: none;
					font-size: 16px;
					font-family: "proxima nova regular";
					color:#3c3c3c;
					font-style: normal;
					line-height: 24px;
					padding-bottom: 25px;
					overflow-x: auto;
					p{
						font-size: 16px;
						font-family: "proxima nova regular";
						color:#3c3c3c;
						font-style: normal;
						line-height: 24px;
					}
					table, th, td {
					    border: 1px solid black;
					    border-collapse: collapse;
					    font-size: 16px;
					}
					th{
					    padding: 5px;
					    text-align: left;
					    font-weight: bold;
					    background-color: #C4D79B;

					}
					td{
						padding: 5px;
					}
					.tbl-delivery-timeline{
						th{
							padding: 10px 30px;
						}
						td{
							padding: 10px 30px;
						}
					}
				}
			}	
		}
	}
 }

