.customer-account-login {
	.scaffold-form {
		margin-bottom: 60px;
	}
	.scaffold-form > .col2-set {
		width: 80%;
		margin: 0 auto;

		h2 {
			font-size: 1.4em;
		}

		.col-1,
		.col-2 {
			float: left;
			margin: 0;
		}

		& > .col-2 {
			border-left: none;
			padding: 0 60px 0 0;
			position: relative;
		}

		& > .col-2:before {
			content: '';
			border-right: 1px solid $color-lightGray-darker;
			width: 1px;
			height: 180px;
			position: absolute;
			top: 50%;
			right: 0;
			@include prefix(transform, translateY(-50%));
		}

		& > .col-2:after {
			content: 'OR';
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			@include prefix(border-radius, 50%);
			background-color: $color-inverse;
			color: $color-lightGray-darker;
			border: 1px solid $color-lightGray-darker;
			position: absolute;
			top: 50%;
			right: -20px;
			@include prefix(transform, translateY(-50%));
		}

		& > .col-1 {
			margin: 0;
			padding: 0 0 0 60px;
		}
	}
}

// LOGIN FORM
.customer-account-login .registered-users {
	.form-list {
		li {
			margin-bottom: 20px;
		}

		label {
			width: auto !important;
			white-space: normal;
		}

		input[type=text],
		input[type=password] {
			@include inputBase();
		}

		.remember-me-box {
			float: right;
			margin: 0;

			label {
				padding-right: 0;
			}
		}

		.link-tip {
			display: none;
		}
	}

	.login-action .button {
		font-size: 1em;
		@extend .btn-small;
		@include btnWithIcon('../images/icon/icon-login.png');
	}

	.col-1 {
		padding: 0;
	}

	.forgot-password-link {
		margin-top: 12px;
		display: inline-block;
		float: right;
	}
}

// EXTERNAL LOGIN
.customer-account-login .new-users {
	h2 {
		text-transform: none;
		margin-bottom: 30px;

		span {
			color: $color-primary;
		}
	}

	.content {
		text-align: center;
		margin-bottom: 20px;

		.button {
			width: 240px;
			height: 35px;
			text-transform: none;
			font-size: 1.1em;
			font-weight: 500;
		}
	}

	// Custom social login
	.ced_sociallogin {
		[class*=ced-sociallogin-login-lower-] {
			text-align: center;
			margin-bottom: 15px;
		}

		.ced-sociallogin-google-inner,
		.ced-sociallogin-facebook-inner {
			width: 240px;
			height: 35px !important;
			float: none !important;
			display: inline-block;
		}

		.ced_google_connect {
			background: url("../images/button-google.png") center/100% 100% no-repeat !important;
		}

		.ced_fb_connect {
			background: url("../images/button-facebook.png") center/100% 100% no-repeat !important;
		}
	}
}

// ============ FORGOT PASSWORD ============
.customer-account-forgotpassword {
	.page-title h1,
	.fieldset,
	.buttons-set {
		margin-left: auto;
		margin-right: auto;
		max-width: 500px;
		border: none;
	}

	.page-title h1 {
		margin-top: 30px;
	}

	.buttons-set {
		margin-bottom: 30px;
	}
}

// MEDIA QUERIES
@media only screen and (max-width: 767px) {
	.customer-account-login .scaffold-form > .col2-set {
		width: 100%;

		& > .col-2 {
			padding: 0 0 40px 0;
			float: none;

			&:before {
				width: auto;
				height: 1px;
				bottom: 0;
				top: initial;
				left: 10%;
				right: 10%;
				border-bottom: 1px solid $color-lightGray-darker;
				@include prefix(transform, none);
			}

			&:after {
				width: 40px;
				height: 40px;
				line-height: 40px;
				top: initial;
				right: initial;
				left: 50%;
				bottom: -20px;
				@include prefix(transform, translate(-50%, 0));
			}
		}

		& > .col-1 {
			padding: 40px 0 0 0;
		}

		.login-action > .col-1:last-child {
			float: right;
		}
	}

	.customer-account-login .new-users {
		width: 100%;
		.content .button,
		.ced_sociallogin .ced-sociallogin-google-inner,
		.ced_sociallogin .ced-sociallogin-facebook-inner {
			width: 100%;
			max-width: 290px;
		}
	}
}
