.customer-account-create {
	.account-create {
		width: 80%;
		margin: 0 auto;

		h2, h3 {
			font-size: 1.4em;
		}
	}

	// Left form
	.fieldset {
		margin: 0;
		padding-right: 60px;
		position: relative;
		&:before {
			content: '';
			border-right: 1px solid $color-lightGray-darker;
			width: 1px;
			height: 180px;
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	.form-list {
		input {
			width: 100%;
			height: 33px;
			@include prefix(border-radius, 1px);
		}

		.control {
			display: none;
		}
	}

	.input-box.customer-dob {
		margin: 0 -5px;

		label {
			display: none;
		}

		[class*=dob-] {
			margin: 0;
			padding: 0 5px;
		}

		.dob-day,
		.dob-year {
			width: 33%;
		}

		.dob-month {
			width: 34%;
		}
	}

	.buttons-set {
		border: none;
		margin: 30px 0 0;
		padding: 0;
		text-align: left;

		.button {
			float: none;
			font-size: 1em;
			margin: 0;
			@extend .btn-small;
			@include btnWithIcon('../images/icon/icon-register.png');
		}
	}

	.scaffold-form {
		margin-bottom: 30px;
	}

	// Right form
	.login-button button {
		@extend .button;
		@extend .btn-small;
		@include btnWithIcon('../images/icon/icon-login.png');
		border-style: solid;
		font-size: 1em;
		text-transform: uppercase;
	}
}

@media only screen and (max-width: 768px) {
	.customer-account-create {
		.account-create {
			width: 100%;
			h2, h3 {
				font-size: 1.1em;
			}
		}

		.scaffold-form {
			padding-bottom: 30px;
		}

		.scaffold-form:before {
			content: '';
			border-bottom: 1px solid $color-lightGray-darker;
			position: absolute;
			left: 10%;
			right: 10%;
			bottom: 0;
		}

		.fieldset {
			padding: 0;
			&:before {
				content: none;
				border-right: none;
				border-bottom: 1px solid $color-lightGray-darker;
				width: auto;
				left: 10%;
				right: 10%;
				bottom: 0;
				top: initial;
			}
		}

		.buttons-set .button {
			width: auto;
		}
	}
}
