// GENERAL
$fieldsetWidth: 600px;

.customer-account .my-account .buttons-set {
	max-width: $fieldsetWidth;
}

.customer-account .my-account .form-list > li {
	max-width: $fieldsetWidth;
	width: 100%;

	input, select {
		@include inputBase();
	}

	.customer-dob {
		margin-left: -10px;
		margin-right: -10px;

		[class^=dob] {
			margin: 0;
			padding-left: 10px;
			padding-right: 10px;
			width: 30% !important;
		}

		.dob-year {
			width: 40% !important;
		}
	}
}

.customer-account .main-container .main .sidebar .block-content > ul > li > a {
	font-size: 16px;
	line-height: 40px;
}

// Wishlist
.iwishtabs .i_titles .i_title {
	margin: 0;
	margin-right: 5px;
	height: $base-height;

	span {
		height: 100%;
	}

	.i_left, .i_right {
		display: none;
	}

	.i_center {
		background-image: none !important;
		border: 1px solid $color-lightGray-darker;
		background-color: $lightGray;
		color: $color-foreground;

		&:hover {
			color: $color-foreground;
			background-color: $color-lightGray-darker;
		}
	}

	&.current .i_center {
		border-bottom-color: $color-inverse;
		background-color: $color-inverse;
	}
}

@media (max-width: 1199px) {
	.mwishlists.mwishlists-responsive .i_titles .i_title {
		height: $base-height;

		&:not(:first-child) {
			margin-top: 15px;
		}

		.i_center {
			height: 100%;
			line-height: $base-height;
			border: 1px solid $color-lightGray-darker;
			background-color: $lightGray;
			background-image: none;
			color: $color-foreground;
		}

		&.current .i_center {
			border-color: $color-primary;
			background-color: $color-primary;
			color: $color-inverse;
		}
	}

	.customer-account #mwishlist-view-form-mobile {
		border: 1px solid $color-lightGray-darker;
		padding: 15px;
		background-color: $lightGray;

		.wishlist-items {
			margin: -15px -15px 15px;
			padding: 15px 15px 0;
			background: #fff;
			border-bottom: 1px solid $color-lightGray-darker;

			.btn-copy, .delete, .btn-move {
				float: right;
			}
		}

		.wishlist-item {
			margin-bottom: 15px;

			&:not(:last-child) {
				border-width: 1px;
			}

			&:last-child {
				border: none;
				margin-bottom: 0;
			}

			textarea {
				margin-bottom: 15px;
			}
		}

		.button {
			margin: 0 15px 0 0 !important;
		}
	}

	.wishlist-index-index .main-container .col-main #tabsandcontent .iwishtabs #mwishlist-mobile-view .button {

		span {
			font-size: .9em;
		}
	}
}

// ACCOUNT INFORMATION
.customer-account .my-account .fieldset p.required {
	max-width: $fieldsetWidth;
	width: 100%;
	display: block;
	float: none;
	text-align: right;
	margin: 0;
}

.customer-account-edit .my-account .buttons-set {
	max-width: $fieldsetWidth;
	width: 100%;

	.back-link a {
		@include btnBase();
		@extend .btn-default;
	}
}

// BILLING & SHIPPING ADDRESS
.customer-address-index .col-main .my-account .title-buttons button {
	position: static;
	float: right;
}

// ORDERS
.sales-order-view .page-title.title-buttons {
	width: 100%;
	display: table;

	h1 {
		float: left;
	}

	.separator {
		margin: 0 5px;
	}

	a, .separator {
		position: static !important;
	}
}

.order-info-box .box-content {
	font-family: 'Proxima', sans-serif !important;
}

@media (max-width: 767px) {
	.order-items.order-details {
		width: 100%;
		overflow-x: scroll;

		&::-webkit-scrollbar {
			-webkit-appearance: none;
			height: 10px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: rgba(0, 0, 0, .5);
			border-radius: 10px;

			height: 10px;
		}

		&::-webkit-scrollbar-track {
			height: 10px;
			border-radius: 10px;
			background-color: #eee;
		}
	}
}