.sticky-newsletter{
  	left: -327px; 
  	width: 330px;
  	height: 272px;
  	background-color: #DFDFDF;
  	border: 6px solid #CBCBCB;
  	z-index: 99999;
}

.sticky-newsletter.active{
	left: 0 !important;
	
}

.sticky-newsletter .sticky-newsletter-title{
	position: absolute;
	right: -162px;
	top: 110px;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	height: 40px;
	vertical-align: middle;
	padding-left: 100px;
	width: 272px;
	z-index: 99999;
	background-color: #8D8D8D;
	color: #fff;
}
.sticky-newsletter .sticky-newsletter-title span:after{
	background: url("../images/icon-subscribe.png") top left no-repeat;
	content:"";
	position: absolute;
	width: 20px;
	height: 42px;
	display: block;
	top: -8px;
	right: 142px;
	z-index: 9999;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
}

.sticky-newsletter .sticky-newsletter-title span{
	font-size: 22px;
	font-family: 'proxima nova semibold';
	color: #fff;
	line-height: 40px;
	position: relative;

}

.sticky-newsletter-title span{
	padding: 5px auto;
}

.sticky-newsletter .sticky-newsletter-content  .sticky-newsletter-close{
	width: 30px;
	height: 30px;
	position: absolute;
	right: 0px;
	top: 0px;
	text-align: center;
	z-index: 99999;
}

.block-subscribe .block-title{
	border: none !important;
	padding: 0 !important;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.block-subscribe .block-title span{
	font-size: 18px;
	font-family: 'proxima nova semibold';
	color: #159867;
	line-height: 21px;
}

.block-subscribe .block-content p{
	font-size: 13px;
	font-family: 'proxima nova regular';
	color: #868686;
	line-height: 21px;
	text-align: center;
	width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.block-subscribe .block-content .actions .button{


}


/*form*/
#newsletter-validate-detail .block-content .form-list li label{
	display: none;
}

#newsletter-validate-detail .block-content .form-list li br{
	display: none;
}

#newsletter-validate-detail .block-content .required{
	display: none;

}


.page-header-container{
	background-color: #fff;
}

.main-container .main .col-main .magestore-bannerslider-title{
	display: none;
}

.page .main-container{
	padding-top: 0 !important;
}

.sticky-newsletter .form-list input[type=text]{
	width: 100%;
}

