 body.cms-term-and-conditions{
 	.main{
	 	.col-main{
	 		padding: 0 0 0 60px;
	 		.page-title{
	 			.link-rss{
	 				display: none;
	 			}
		 		.kb-category-title{
		 			h2{
		 				font-family: "proxima nova semibold";
		    			font-size: 30px;
		    			color: #3c3c3c;
		    			font-style: normal;
		 			}
		 		}
	 		}
	 			
	 			
	 			.cms-term-and-conditions{
	 				padding: 0 60px 0 0;
	 				margin-left: 0 !important;
	 				.rma-title-paragraph{
	 					border-bottom: 2px solid #159867;
	 					margin-bottom: 20px;

	 					h2{
	 						margin-bottom: 0;
	 						font-size: 24px;
							font-family: "proxima nova semibold";
							color:#159867;
							font-style: normal;
							line-height: 50px;
							text-decoration: none;
							text-transform: capitalize;
							a{
								text-decoration: underline;
							}
	 					}
	 				}
						ul {
							margin-left: 0 !important;
							li{
								list-style-type: none;
								position: relative;
								a{
									padding-left: 30px;
									&:before{
								    content: "\f101";
								    font-family: 'FontAwesome';
								    font-size: 18px;
								    position: absolute;
								    display: block;
								    color: #159867; 
								    top: 0;
								    left: 0;
									}
									&.active{
										color: #159867; 
										font-size: 18px;
									}
									&.active:before{
										content: "\f103";
									    font-family: 'FontAwesome';
									    font-size: 18px;
									    position: absolute;
									    display: block;
									    top: 0;
									    left: 0;
									}
								}
							}

						}
						.faq-title{
							font-size: 16px;
							font-family: "proxima nova semibold";
							color:#3c3c3c;
							font-style: normal;
							line-height: 50px;
							text-decoration: none;

							&:hover{
								
							}
						}
						.article-content{
							display: none;
							font-size: 16px;
							font-family: "proxima nova regular";
							color:#3c3c3c;
							font-style: normal;
							line-height: 24px;
							padding-bottom: 25px;
							padding-left: 40px;
							td, th{
								padding: 5px;
								font-size: 16px;
								font-family: "proxima nova regular";
								color:#3c3c3c;
								font-style: normal;
								line-height: 24px;
							}
							p{
								font-size: 16px;
								font-family: "proxima nova regular";
								color:#3c3c3c;
								font-style: normal;
								line-height: 24px;
								margin: 0 0 5px;

							}
						}

	 			}	
		}
	}
 }