<div class="notification-global">
  <strong class="label"><?php echo $this->__('Member Ship')?></strong>
  <?php echo $this->__('Your account will be expired on <strong>%s</strong> Please <a href="%s" target="_blank">click here</a> to upgrade your account.',$this->getExpiryDate(),$this->getUpgradeUrl())?>
</div>