<?php
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category    Ced
 * @package     Ced_SocialLogin
 * @author    CedCommerce Magento Core Team <Ced_MagentoCoreTeam@cedcommerce.com>
 * @copyright   Copyright CedCommerce (http://cedcommerce.com/)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

/**
 * @category    Ced
 * @package      Ced_SocialLogin
 * @author    CedCommerce Magento Core Team <Ced_MagentoCoreTeam@cedcommerce.com>
 */
?>
<div class="ced-sociallogin-account">
	<div class="page-title">
		<h1><?php echo $this->__('Google Social Login') ?></h1>
	</div>

	<?php if ($this->_hasUserInfo()): ?>

		<?php
		$googleId = $this->_getGoogleId();
		$status = $this->_getStatus();
		$email = $this->_getEmail();
		$picture = $this->_getPicture();
		$name = $this->_getName();
		$gender = $this->_getGender();
		$birthday = $this->_getBirthday();
		?>

		<div class="col3-set">
			<div class="box">
				<div class="box-content">
					<div class="col-1">
						<?php if (!empty($picture)): ?>
							<p>
								<img src="<?php echo $picture; ?>" alt="<?php echo $this->htmlEscape($name); ?>"/>
							</p>
						<?php endif; ?>
					</div>
					<div class="col-2">
						<?php if (!empty($status)): ?>
							<p>
								<?php printf($this->__('Connected as %s', '<strong>' . $status . '</strong>')) ?>
							</p>
						<?php endif; ?>
						<?php if (!empty($email)): ?>
							<p>
								<?php printf($this->__('Email: %s', '<strong>' . $email . '</strong>')) ?>
							</p>
						<?php endif; ?>
						<?php if (!empty($googleId)): ?>
							<p>
								<?php printf($this->__('Google #: %s', '<strong>' . $googleId . '</strong>')) ?>
							</p>
						<?php endif; ?>
						<?php if (!empty($gender)): ?>
							<p>
								<?php printf($this->__('Gender: %s', '<strong>' . $gender . '</strong>')) ?>
							</p>
						<?php endif; ?>
						<?php if (!empty($birthday)): ?>
							<p>
								<?php printf($this->__('Birthday: %s', '<strong>' . $birthday . '</strong>')) ?>
							</p>
						<?php endif; ?>
					</div>
					<div class="col-3">
						<?php
						//echo $this->getChildHtml('ced_sociallogin_account_google_button');
						$block = $this->getLayout()->createBlock('sociallogin/google_button');
						$block->setTemplate('ced/sociallogin/google/button.phtml');
						echo $block->toHtml();
						?>
					</div>
				</div>
			</div>
		</div>
	<?php else: ?>
		<div class="col2-set">
			<div class="box-content">
				<div class="col-1">
					<p>
						<?php echo $this->__('You can connect store account with your Google account so you could login easier in the future.') ?>
					</p>
				</div>
				<div class="col-2">
					<?php
								//echo $this->getChildHtml('ced_sociallogin_account_google_button');
					$block = $this->getLayout()->createBlock('sociallogin/google_button');
					$block->setTemplate('ced/sociallogin/google/button.phtml');
					echo $block->toHtml();
					?>
				</div>
			</div>
		</div>
	<?php endif; ?>
</div>
