<!--@subject Contact Form@-->
<!--@vars
{"var data.name":"Sender Name",
"var data.email":"Sender Email",
"var data.telephone":"Sender Telephone",
"var data.comment":"Comment"}
@-->
First Name: {{var data.fname}}<br/>
Last Name: {{var data.lname}}<br/>
Email: {{var data.email}}<br/>
Home Phone Number: {{var data.telephone}}<br/>
Comment: {{var data.comment}}<br/>