<?php
/**
 * Create account form template
 *
 * @var $this VES_Vendors_Block_Form_Register
 */
?>
<style>
	.btn-success[disabled],
	.btn-success[disabled]:hover {
		background: #aaa !important;
		cursor: auto;
	}

</style>
<header class="vendor-header page-header rwd-default-template-page-html-header">
    <div class="page-header-container">
        <a class="logo" href="<?php echo Mage::getBaseUrl(); ?>">
            <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'frontend/rwd/default/images/media/logo.png' ?>" alt="Duukaan" class="large">
        </a>      
     
    </div>
</header>

<!-- =================== -->
<div id="registerbox">
	<h1><?php echo $this->__('Register to sell on Duukaan Marketplace now!') ?></h1>
	<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
	<?php echo $this->getChildHtml('form_fields_before') ?>
	<form class="form-horizontal" action="<?php echo $this->getPostActionUrl() ?>" method="post" id="form-validate"
	      enctype="multipart/form-data">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="icon-align-justify"></i>
				</span>
				<h5><?php echo $this->__('Vendor Information') ?></h5>
			</div>
			<div class="select-type-merchant">
				<div class="control-group">
					<div class="controls">
							<span class="field-row">
							<label for="merchant_type" class="control-label">Merchant Type<em>*</em></label>
							<select id="merchant_type" name="merchant_type" title="Merchant Type" class="select validation-passed required-entry" onchange="toggle_fields_by_merchant_type()">
								<option value="" selected="selected">Select an option</option>
								<option value="283">Individual</option>
								<option value="282">Company</option>
							</select>
							</span>
					</div>
				</div>
			</div>
			<div class="widget-content">
				<div class="control-group">
					<div class="col col-left">
						<label
								class="control-label"><?php echo $this->__('First Name') ?><?php if ($this->getIsRequired('firstname')): ?>
								<em>*</em><?php endif; ?></label>
						<div class="controls"><input type="text" id="firstname" name="firstname"
						                             value="<?php echo $this->escapeHtml($this->getFormData()->getFirstName()) ?>"
						                             title="<?php echo $this->__('First Name') ?>"
						                             placeholder="<?php echo $this->__('First Name') ?>" maxlength="255"
						                             class="input-text validate-no-html-tags <?php if ($this->getIsRequired('firstname')): ?> required-entry<?php endif; ?>"/>
						</div>
					</div>
					<div class="col col-right">
						<label
								class="control-label"><?php echo $this->__('Last Name') ?><?php if ($this->getIsRequired('lastname')): ?>
								<em>*</em><?php endif; ?></label>
						<div class="controls"><input type="text" id="lastname" name="lastname"
						                             value="<?php echo $this->escapeHtml($this->getFormData()->getLastName()) ?>"
						                             title="<?php echo $this->__('Last Name') ?>"
						                             placeholder="<?php echo $this->__('Last Name') ?>" maxlength="255"
						                             class="input-text validate-no-html-tags <?php if ($this->getIsRequired('lastname')): ?> required-entry<?php endif; ?>"/>
						</div>
					</div>
				</div>
				<div class="control-group">
					<div class="col col-left">
						<label
								class="control-label"><?php echo $this->__('Display Name') ?><?php if ($this->getIsRequired('title')): ?>
								<em>*</em><?php endif; ?></label>
						<div class="controls"><input type="text" id="title" name="title"
						                             value="<?php echo $this->escapeHtml($this->getFormData()->getTitle()) ?>"
						                             title="<?php echo $this->__('Display name') ?>"
						                             placeholder="<?php echo $this->__('Display name') ?>" maxlength="255"
						                             class="input-text validate-no-html-tags <?php if ($this->getIsRequired('title')): ?> required-entry<?php endif; ?>"/>
						</div>
					</div>
					<div class="col col-right">
						<label class="control-label"><?php echo $this->__('Logo') ?><?php if ($this->getIsRequired('logo')): ?> <em>*</em><?php endif; ?>
						</label>
						<div class="controls"><input type="file"" id="logo" name="logo"
							value="<?php echo $this->escapeHtml($this->getFormData()->getTitle()) ?>"
							title="<?php echo $this->__('Logo') ?>" placeholder="<?php echo $this->__('Logo') ?>" maxlength="255"
							class="input-text<?php if ($this->getIsRequired('logo')): ?> required-entry<?php endif; ?>" />
						</div>
					</div>
				</div>
				<div class="control-group">
					<!--<div class="col col-left">
						<label
								class="control-label"><?php /*echo $this->__('Company') */?><?php /*if ($this->getIsRequired('company')): */?>
								<em>*</em><?php /*endif; */?></label>
						<div class="controls"><input type="text" name="company" id="company"
						                             value="<?php /*echo $this->escapeHtml($this->getFormData()->getCompany()) */?>"
						                             title="<?php /*echo $this->__('Company') */?>"
						                             placeholder="<?php /*echo $this->__('Company') */?>"
						                             class="input-text validate-no-html-tags <?php /*echo $this->helper('customer/address')->getAttributeValidationClass('company') */?><?php /*if ($this->getIsRequired('company')): */?> required-entry<?php /*endif; */?>"/>
						</div>
					</div>-->
					<div class="col col-left">
						<label class="control-label"><?php echo $this->__('Address') ?><?php if ($this->getIsRequired('address')): ?>
							<em>*</em><?php endif; ?></label>
						<div class="controls"><input type="text" name="address"
						                             value="<?php echo $this->escapeHtml($this->getFormData()->getAddress()); ?>"
						                             title="<?php echo $this->__('Address') ?>"
						                             placeholder="<?php echo $this->__('Address') ?>" id="address"
						                             class="input-text validate-no-html-tags <?php if ($this->getIsRequired('address')): ?> required-entry<?php endif; ?>"/>
						</div>
					</div>
					<div class="col col-right">
						<label class="control-label"><?php echo $this->__('Telephone') ?><em>*</em></label>
						<div class="controls"><input type="text" name="telephone" id="telephone"
						                             value="<?php echo $this->escapeHtml($this->getFormData()->getTelephone()) ?>"
						                             title="<?php echo $this->__('Telephone') ?>"
						                             placeholder="<?php echo $this->__('Telephone') ?>"
						                             class="input-text validate-no-html-tags required-entry"/></div>
					</div>
				</div>
				<div class="control-group">

				</div>
				<div class="control-group">
					<div class="col col-left">
						<label class="control-label"><?php echo $this->__('City') ?><?php if ($this->getIsRequired('city')): ?> <em>*</em><?php endif; ?>
						</label>
						<div class="controls"><input type="text" name="city"
						                             value="<?php echo $this->escapeHtml($this->getFormData()->getCity()) ?>"
						                             title="<?php echo $this->__('City') ?>"
						                             placeholder="<?php echo $this->__('City') ?>"
						                             class="input-text validate-no-html-tags <?php if ($this->getIsRequired('city')): ?> required-entry<?php endif; ?> <?php echo $this->helper('customer/address')->getAttributeValidationClass('city') ?>"
						                             id="city"/></div>
					</div>
					<div class="col col-right">
						<label
								class="control-label"><?php echo $this->__('State/Province') ?><?php if ($this->getIsRequired('region_id')): ?>
								<em>*</em><?php endif; ?></label>
						<div class="controls">
							<select id="region_id" name="region_id" title="<?php echo $this->__('State/Province') ?>"
							        class="validate-select<?php if ($this->getIsRequired('region_id')): ?> required-entry<?php endif; ?>"
							        style="display:none;">
								<option value=""><?php echo $this->__('Please select region, state or province') ?></option>
							</select>
							<script type="text/javascript">
								//<![CDATA[
								$('region_id').setAttribute('defaultValue', "<?php echo $this->getFormData()->getRegionId() ?>");
								//]]>
							</script>
							<input type="text" id="region" name="region" value="<?php echo $this->escapeHtml($this->getRegion()) ?>"
							       title="<?php echo $this->__('State/Province') ?>"
							       class="input-text validate-no-html-tags <?php if ($this->getIsRequired('region')): ?> required-entry<?php endif; ?>"
							       style="display:none;"/>
						</div>
					</div>
				</div>
				<div class="control-group">
					<div class="col col-left">
						<label
								class="control-label"><?php echo $this->__('Zip/Postal Code') ?><?php if ($this->getIsRequired('postcode')): ?>
								<em>*</em><?php endif; ?></label>
						<div class="controls"><input type="text" name="postcode"
						                             value="<?php echo $this->escapeHtml($this->getFormData()->getPostcode()) ?>"
						                             title="<?php echo $this->__('Zip/Postal Code') ?>"
						                             placeholder="<?php echo $this->__('Zip/Postal Code') ?>" id="postcode"
						                             class="input-text validate-no-html-tags validate-zip-international<?php if ($this->getIsRequired('postcode')): ?> required-entry<?php endif; ?> <?php echo $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>"/>
						</div>
					</div>
					<div class="col col-right">
						<label class="control-label"><?php echo $this->__('Country') ?> :</label>
						<div class="controls"><?php echo $this->getCountryHtmlSelect() ?></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="icon-align-justify"></i>
				</span>
				<h5><?php echo $this->__('Login Information') ?></h5>
			</div>
			<div class="widget-content nopadding">
				<div class="control-group">
					<label class="control-label"><?php echo $this->__('Email Address') ?> <em>*</em></label>
					<div class="controls"><input type="text" name="email" id="email_address"
					                             value="<?php echo $this->escapeHtml($this->getFormData()->getEmail()) ?>"
					                             title="<?php echo $this->__('Email Address') ?>"
					                             placeholder="<?php echo $this->__('Email Address') ?>"
					                             class="input-text validate-email required-entry validate-no-html-tags"/></div>
				</div>
				<div class="control-group">
					<label class="control-label"><?php echo $this->__('Vendor Id') ?> <em>*</em></label>
					<div class="controls"><input type="text" name="vendor_id" id="vendor_id"
					                             value="<?php echo $this->escapeHtml($this->getFormData()->getVendorId()) ?>"
					                             title="<?php echo $this->__('Vendor Id') ?>"
					                             placeholder="<?php echo $this->__('Vendor Id') ?>"
					                             class="input-text required-entry validate-code validate-no-html-tags"/></div>
				</div>

				<div class="control-group">
					<div class="col col-left">
						<label class="control-label"><?php echo $this->__('Password') ?> <em>*</em></label>
						<div class="controls">
							<input type="password" name="password" id="password" title="<?php echo $this->__('Password') ?>"
							       placeholder="<?php echo $this->__('Password') ?>"
							       class="input-text required-entry validate-password validate-no-html-tags"/>
						</div>
					</div>
					<div class="col col-right">
						<label class="control-label"><?php echo $this->__('Confirm Password') ?> <em>*</em></label>
						<div class="controls">
							<input type="password" name="confirmation" title="<?php echo $this->__('Confirm Password') ?>"
							       placeholder="<?php echo $this->__('Confirm Password') ?>" id="confirmation"
							       class="input-text required-entry validate-cpassword validate-no-html-tags"/>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<?php $additionalAttributes = $this->getAdditionalAttributes(); ?>
		<?php if (sizeof($additionalAttributes)): ?>
			<div class="widget-box">
				<div class="widget-title">
				<span class="icon">
					<i class="icon-align-justify"></i>
				</span>
					<h5><?php echo $this->__('Additional Information') ?></h5>
				</div>
				<div class="widget-content nopadding">
				<!--	<?php /*foreach($additionalAttributes as $attribute): */?>
					<?php /*$isRequired = $attribute->getIsRequired(); */?>
					<div class="control-group">
						<div class="controls">
							<?php /*$field = $this->getAttributeInputHtml($attribute); */?>
							<?php /*echo $field->getHtml(); */?>
						</div>
					</div>
				--><?php /*endforeach; */?>

					<div class="control-group">
						<div class="controls">
							<span class="field-row"><label for="biz_doc">Upload Tax Doc/ Business Reg. Doc</label>
							<input id="biz_doc" name="biz_doc" value="" title="Upload Tax Doc/ Business Reg. Doc"
							       class="input-file validation-passed validate-no-html-tags" type="file">
							</span>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<span class="field-row"><label for="biz_reg_no">Text Doc. No/ Tax Registration No.</label>
							<input id="biz_reg_no" name="biz_reg_no" value="" title="Text Doc. No/ Tax Registration No."
							       class="input-text validation-passed validate-no-html-tags" type="text">
							</span>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<span class="field-row"><label for="country_residence" class="control-label">Country of Residence <em>*</em></label>
							<input id="country_residence" name="country_residence" value="" title="Country of Residence"
							       class="input-text required-entry validate-no-html-tags" type="text">
							</span>
						</div>
					</div>
					<div class="control-group  merchant-type-company">
						<div class="controls">
							<span class="field-row"><label for="co_name" class="control-label">Company Name <em>*</em></label>
							<input id="co_name" name="co_name" value="" title="Company Name" class="input-text validation-passed required-entry validate-no-html-tags" type="text">
							</span>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<span class="field-row"><label for="id_no" class="control-label">National Identification No <em>*</em></label>
							<input id="id_no" name="id_no" value="" title="National Identification No"
							       class="input-text required-entry validate-no-html-tags" type="text">
							</span>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<span class="field-row"><label for="nationality" class="control-label">Nationality <em>*</em></label>
							<input id="nationality" name="nationality" value="" title="Nationality"
							       class="input-text required-entry validate-no-html-tags" type="text">
							</span>
						</div>
					</div>
					<div class="control-group merchant-type-company">
						<div class="controls">
							<span class="field-row"><label for="office_no" class="control-label">Office No <em>*</em></label>
							<input id="office_no" name="office_no" value="" title="Office No"
							       class="input-text required-entry validate-no-html-tags" type="text">
							</span>
						</div>
					</div>
					<div class="control-group merchant-type-individual">
						<div class="controls">
							<span class="field-row"><label for="home_no" class="control-label">Home No <em>*</em></label>
							<input id="home_no" name="home_no" value="" title="Home No"
							       class="input-text required-entry validate-no-html-tags" type="text">
							</span>
						</div>
					</div>
					<div class="control-group merchant-type-company">
						<div class="controls">
							<span class="field-row"><label for="website" class="control-label">Website</label>
							<input id="website" name="website" value="" title="Website"
							       class="input-text validate-no-html-tags" type="text">
							</span>
						</div>
					</div>
					<div class="field">
						<label for="vendor:term_condition_allow"></label>
						<div class="input-box">
							<label style="width: 100% !important;"><input type="checkbox" name="vendor[term_condition_allow]"
							                                              onchange="term_condition_change(this);"/> I agree to Duukaan's <a href="/merchant-term-and-conditions" target="_blank" style="text-decoration: underline;">Merchant Terms & Conditions</a>.</label>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<a href="<?php echo $this->getLoginUrl() ?>" class="btn btn-inverse"><?php echo $this->__('Back') ?></a>
			<button class="btn btn-success" type="submit" disabled><?php echo $this->__('Save') ?></button>
		<?php endif; ?>
	</form>
	<script type="text/javascript">
		//<![CDATA[
		new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
		var dataForm = new VarienForm('form-validate', true);
		//]]>
	</script>
</div>
<?php /*?>
<div style="position: fixed; top: 40%; right: 0; background: #FFF;padding: 50px 100px;">
<script type="text/javascript">
function fillInfo(){
	$('firstname').value 		= 'hung';
	$('lastname').value 		= 'vt';
	$('title').value 			= 'test';
	$('telephone').value 		= '0123456789';
	$('address').value 			= '175 Dinh Cong, Hoang Mai';
	$('city').value 			= 'Hanoi';
	$('region_id').value 		= '1';
	$('postcode').value 		= '12312';
	$('email_address').value 	= 'hungvt@vnecoms.com';
	$('vendor_id').value 		= 'test1';
	$('password').value 		= '123123';
	$('confirmation').value 	= '123123';

}
</script>
	<button class="btn btn-success" onclick="fillInfo();"><span><span>Fill info</span></span></button>
</div>
*/ ?>
<script type="text/javascript">
	function term_condition_change(element) {
		console.log($j(element));
		if ($j(element).is(':checked')) {
			$j('.btn-success').removeAttr('disabled');
		} else {
			$j('.btn-success').attr('disabled', true);
		}
	}
	function toggle_fields_by_merchant_type() {
		console.log($j( "#merchant_type option:selected" ).text());
		if ($j( "#merchant_type option:selected" ).text() == 'Company') {
			console.log(1);
			$j('.merchant-type-company').show();
			$j('.merchant-type-individual').hide();
		} else {
			console.log(2);
			$j('.merchant-type-company').hide();
			$j('.merchant-type-individual').show();
		}
	}
	$j(document).ready(function() {toggle_fields_by_merchant_type()});
</script>

