$color-light: #ebebeb;
$color-primary: #159867;
$color-primary-darker: darken($color-primary, 5%);

$side-padding: 50px;
$base-height: 40px;

@mixin shadowBox() {
	border: 1px solid $color-light !important;
	box-shadow: 3px 6px 6px #b6b6b6 !important;
	background: #f2f2f2 !important;

	form {
		background: #f2f2f2 !important;
		padding: 15px 0 !important;
	}

}

body {
	background-color: #fff !important;
	color: #4c4c4c !important;
}

* {
	box-sizing: border-box;
}

input:focus {
	outline: none !important;
}

.btn {
	height: $base-height;
	min-width: 100px;
}

.btn-success {
	background-color: $color-primary !important;

	&:hover,
	&:active,
	&:focus {
		background-color: $color-primary-darker !important;
	}
}

// ============== LOGIN ==============
.account-login-logo {
	width: 300px;
	margin: 100px auto 30px;

	img {
		width: 100%;
	}
}

.account-login #loginbox {
	@include shadowBox();
	margin-top: 0;

	h3 {
		font-size: 1.4em;
		margin: 0;
	}

	.main_input_box {
		padding-left: $base-height;
		position: relative;

		.add-on {
			background-color: #cccccc;
			border: none;
			position: absolute;
			top: 0;
			left: 0;
			width: $base-height;
			height: $base-height;
			line-height: $base-height;
			padding: 0;
		}

		input {
			border-color: $color-light;
			border-style: solid;
			width: 100%;
			height: 40px;
			margin: 0;
		}

		[class^="icon-"], [class*=" icon-"] {
			background-position: 0 0;
			background-size: 100% 100%;
		}
		.icon-user {
			background-image: url("../images/icon-username.png");
		}
		.icon-lock {
			background-image: url("../images/icon-password.png");
		}
	}

	.control-group {
		border: none;
		padding: 10px 0;

		.controls {
			padding: 0 $side-padding;
		}
	}

	// Form action
	.form-actions {
		border: none;
		padding: 0 $side-padding;
		position: relative;

		.btn {
			text-transform: uppercase;
			line-height: 28px;
		}

		#to-recover {
			margin-top: 10px;
			//display: block;
			color: $color-primary;
			font-weight: 500;
			background-color: transparent;
			text-transform: none;
			padding: 0;
			text-align: left;
			display: inline;
		}

		#to-recover:hover {
			color: $color-primary-darker;
			background-color: transparent;
		}
	}
}

// ============== REGISTER ==============
.vendor-header{padding: 30px;}
.vendor-header .logo{
		margin: 0 auto;
		display: block;
		width: 250px;
	    height: 140px;
	}


	.vendor-header .logo .large {
	    width: 100%;
	    height: auto;
	}

#registerbox {
	border: 1px solid $color-light !important;
	box-shadow: 3px 6px 6px #b6b6b6 !important;
	width: 80% !important;
	@media screen and(max-width: 800px){
		width: 100% !important;
	}
	padding: 10px 5% !important;
	form {
		padding: 15px 0 !important;
	}


	

	background: url("../images/background-map.png") no-repeat;
	background-size: contain;
	background-position-y: 100px;

	// ==========================END EDIT

	h1 {
		text-align: center;
		border-bottom: 2px solid #159867;
		padding: 20px;
		line-height: 30px;
	}

	.widget-box {
		border: none;
		background-color: transparent;
		margin-bottom: 15px;

		.widget-content {
			padding: 0;
			border: none;
		}

		.widget-title {
			border: none;
			background: none;
			.icon {
				display: none;
			}
			h5 {
				font-size: 1.2em;
				padding-left: 0;
				color: #159867;
				font-size: 18px;
			}
		}
	}

	.btn {
		text-transform: uppercase;
		line-height: 28px;
	}
}

#registerbox .form-horizontal .control-group {
	.col {
		float: left;
		width: 50%;

		&:first-child {
			padding-right: 15px;
		}
	}

	.controls {
		input, select {
			width: 100%;
			height: $base-height;
		}

		input {
		}
	}
}

@media (max-width: 767px) {
	.account-login-logo {
		width: 100%;
		padding: 0 60px;
		margin-top: 30px;
	}

	.account-login #loginbox {
		.control-group .controls,
		.form-actions{
			padding: 0 30px;
		}

		.form-actions {
			margin-top: 10px;
		}

		.pull-right, .pull-left {
			float: none;
		}

		.btn {
			width: 100%;
		}

		#register,
		#to-recover {
			margin-top: 10px;
		}
	}

	.vendors-index-create {
		margin: 0;
	}

	.vendors-index-create #registerbox {
		padding: 15px;
		margin: 0;
		.form-horizontal .control-group .col {
			float: none;
			width: 100%;
			padding: 0;
		}
	}
}