


<?php $parentItem = $this->getItem() ?>
<?php $items = array_merge(array($parentItem), $parentItem->getChildrenItems()); ?>
<?php $_count = count ($items) ?>
<?php $_index = 0 ?>

<?php $_prevOptionId = '' ?>

<?php foreach ($items as $_item):   ?>
    <?php $_index++; ?>
    <?php if($this->getItemOptions() || $parentItem->getDescription() || $this->helper('giftmessage/message')->getIsMessagesAvailable('order_item', $parentItem) && $parentItem->getGiftMessageId()): ?>
        <?php $_showlastRow = true ?>
    <?php else: ?>
        <?php $_showlastRow = false ?>
    <?php endif; ?>



    <tr class="even"  id="order-item-row-<?php echo $_item->getId() ?>">

    <?php if (!$_item->getParentItem()): ?>
        <td></td>
        <td><img src="<?php echo Mage::helper('catalog/image')->init($_item->getProduct(), 'thumbnail')->resize(70); ?>" alt="<?php echo $this->escapeHtml($this->getProductName()) ?>" /></td>
        <td><h3 class="product-name"><?php echo $this->escapeHtml($_item->getName()) ?></h3></td>
    <?php else: ?>
        <td><input type="checkbox" value="<?php echo $_item->getId() ?>" name="orderitems[<?php echo $_item->getId() ?>]" id="ves-items-selected-<?php echo $_item->getId() ?>" class="request-items-selected"/></td>
        <td><img src="<?php echo Mage::helper('catalog/image')->init($_item->getProduct(), 'thumbnail')->resize(70); ?>" alt="<?php echo $this->escapeHtml($this->getProductName()) ?>" /></td>
        <td>
            <?php if ($_item->getParentItem()): ?>
            <?php $attributes = $this->getSelectionAttributes($_item) ?>
            <?php if ($_prevOptionId != $attributes['option_id']): ?>
                    <strong class="option-label"><?php echo $attributes['option_label'] ?></strong>
                <?php $_prevOptionId = $attributes['option_id'] ?>
            <?php endif; ?>
            <?php endif; ?>
            <div class="option-value"><?php echo $this->getValueHtml($_item)?></div>
        </td>
    <?php endif; ?>
    <td><?php echo $this->escapeHtml(Mage::helper('core/string')->splitInjection($_item->getSku())) ?></td>
    <td class="a-center last">
        <?php if ($_item->getParentItem()): ?>
            <?php if($_item->getData("qty_rma")==0) { ?>
                <span><?php echo $_item->getData("qty_rma") ?></span>
            <?php }else{?>

                <?php if($_item->getData("allow_per_item_order")): ?>
                    <input id="orderitem-count<?php echo $_item->getId() ?>" class="ves-items-count" type="text" value="<?php echo $_item->getData("qty_rma")  ?>" name="orderitemscount[<?php echo $_item->getId() ?>]">
                <?php else: ?>
                    <label><?php echo $_item->getData("qty_rma") ?></label>
                    <input id="orderitem-count<?php echo $_item->getId() ?>" class="ves-items-count" type="hidden" value="<?php echo $_item->getData("qty_rma")  ?>" name="orderitemscount[<?php echo $_item->getId() ?>]">
                <?php endif;?>

            <?php } ?>
        <?php if ($_item->getData("request_rma")) : ?>
            <p><?php echo $this->__("Other RMA for this product:") ?></p>
            <ul>
                <?php foreach($_item->getData("request_rma") as $request): ?>
                    <?php foreach($request as $key=>$value): ?>
                        <li><a href="<?php echo $this->getUrl("vesrma/rma_customer/view/",array("id"=>$key)) ?>" target="_blank"><?php echo "#".$value ?></a> </li>
                    <?php endforeach; ?>
                <?php endforeach; ?>
            </ul>
        <?php endif ?>
        <input id="orderitem-count<?php echo $_item->getId() ?>-maxcount" type="hidden" value="<?php echo (int)($_item->getData("qty_rma")) ?>">
        <?php endif ?>
    </td>


    </tr>
<?php endforeach; ?>


