

<?php $_item = $this->getItem() ?>
<tr class="even" id="order-item-row-<?php echo $_item->getId() ?>">
    <td><input type="checkbox" name="orderitems[<?php echo $_item->getId() ?>]" id="ves-items-selected-<?php echo $_item->getId() ?>" value="<?php echo $_item->getId() ?>" class="request-items-selected"/></td>
    <td><img src="<?php echo Mage::helper('catalog/image')->init($_item->getProduct(), 'thumbnail')->resize(70); ?>" alt="<?php echo $this->escapeHtml($this->getProductName()) ?>" /></td>
    <td><h3 class="product-name"><?php echo $this->escapeHtml($_item->getName()) ?></h3>
        <?php if($_options = $this->getItemOptions()): ?>
            <dl class="item-options">
                <?php foreach ($_options as $_option) : ?>
                    <dt><?php echo $this->escapeHtml($_option['label']) ?></dt>
                    <?php if (!$this->getPrintStatus()): ?>
                        <?php $_formatedOptionValue = $this->getFormatedOptionValue($_option) ?>
                        <dd<?php if (isset($_formatedOptionValue['full_view'])): ?> class="truncated"<?php endif; ?>>
                            <?php echo $_formatedOptionValue['value'] ?>
                            <?php if (isset($_formatedOptionValue['full_view'])): ?>
                                <div class="truncated_full_value">
                                    <dl class="item-options">
                                        <dt><?php echo $this->escapeHtml($_option['label']) ?></dt>
                                        <dd><?php echo $_formatedOptionValue['full_view'] ?></dd>
                                    </dl>
                                </div>
                            <?php endif; ?>
                        </dd>
                    <?php else: ?>
                        <dd>
                            <?php echo nl2br($this->escapeHtml( (isset($_option['print_value']) ? $_option['print_value'] : $_option['value']) )) ?>
                        </dd>
                    <?php endif; ?>
                <?php endforeach; ?>
            </dl>
        <?php endif; ?>
        <?php $addtInfoBlock = $this->getProductAdditionalInformationBlock(); ?>
        <?php if ($addtInfoBlock) :?>
            <?php echo $addtInfoBlock->setItem($_item)->toHtml(); ?>
        <?php endif; ?>
        <?php echo $this->escapeHtml($_item->getDescription()) ?>
        <?php if($this->helper('giftmessage/message')->getIsMessagesAvailable('order_item', $_item) && $_item->getGiftMessageId()): ?>
            <a href="#" id="order-item-gift-message-link-<?php echo $_item->getId() ?>" class="gift-message-link" onclick="return giftMessageToogle('<?php echo $_item->getId() ?>')"><?php echo $this->__('Gift Message') ?></a>
        <?php endif; ?>
    </td>
    <td><?php echo $this->escapeHtml(Mage::helper('core/string')->splitInjection($this->getSku())) ?></td>
        <td class="a-center last">
            <?php if($_item->getData("qty_rma")==0) { ?>
                <span><?php echo $_item->getData("qty_rma") ?></span>
            <?php }else{?>


                <?php if($_item->getData("allow_per_item_order")): ?>
                    <input id="orderitem-count<?php echo $_item->getId() ?>" class="ves-items-count" type="text" value="<?php echo $_item->getData("qty_rma")  ?>" name="orderitemscount[<?php echo $_item->getId() ?>]">
                <?php else: ?>
                    <label><?php echo $_item->getData("qty_rma") ?></label>
                    <input id="orderitem-count<?php echo $_item->getId() ?>" class="ves-items-count" type="hidden" value="<?php echo $_item->getData("qty_rma")  ?>" name="orderitemscount[<?php echo $_item->getId() ?>]">
                <?php endif;?>

            <?php } ?>
            <?php if ($_item->getData("request_rma")) : ?>
                <p><?php echo $this->__("Other RMA for this product:") ?></p>
                <ul>
                    <?php foreach($_item->getData("request_rma") as $request): ?>
                        <?php foreach($request as $key=>$value): ?>
                            <li><a href="<?php echo $this->getUrl("vesrma/rma_customer/view/",array("id"=>$key)) ?>" target="_blank"><?php echo "#".$value ?></a> </li>
                        <?php endforeach; ?>
                    <?php endforeach; ?>
                </ul>
            <?php endif ?>
            <input id="orderitem-count<?php echo $_item->getId() ?>-maxcount" type="hidden" value="<?php echo (int)($_item->getData("qty_rma")) ?>">
     </td>
</tr>

