<?php
//var_dump(KA_CustomBlock_Helper_Data::getExcludeCategories());
$exclude_categories = KA_CustomBlock_Helper_Data::getExcludeCategories();
$categories = Mage::getModel('catalog/category')
    ->getCollection()
    ->addAttributeToSelect('*')
    ->addAttributeToFilter('level', array('eq'=>2))
    ->addAttributeToSort('position', 'asc');
    if(!empty($exclude_categories)) {
        foreach($exclude_categories as $id) {
            if(intval($id) > 0) {
                $categories->addAttributeToFilter('entity_id', array('neq' => $id));
            }
        }
    }
$categories->addAttributeToFilter('show_on_front_page', array('eq'=>233))
    ->addIsActiveFilter();

if(isset($categories) && count($categories)) :
    $output = '';
    foreach($categories as $category) :
        $output = '<div class="categories-featured">';
        $output .= '<div class="categories-featured-content row">';
        $output .= '<div class="categories-featured-selector col-md-2">';
        $output .= '<div class="category-name">';
        if($category->getThumbnail() != null && $category->getThumbnail() != '') {
            $output .= '<img src="' . Mage::getBaseUrl('media') . 'catalog/category/' . $category->getThumbnail() . '" alt="' . $this->htmlEscape($category->getName()) . '" />';
        }
        $output .= '<h3>'.$category->getName().'</h3>';
        $output .= '</div>';
        $output .= '<ul>';
            //$category = Mage::getModel('catalog/category')->load($category->getId());
        $childend_categories = array();

        $children = Mage::getModel('catalog/category')->getCollection()->setStoreId(Mage::app()->getStore()->getId());
        $children->addAttributeToSelect('*')
            ->addAttributeToFilter('parent_id', $category->getId())
            ->addAttributeToFilter('is_active', 1)//get only active categories if you want
            ->addAttributeToSort('position', 'asc');//sort by position



        //$subcats = $category->getChildren();
        $_i = 0;
//        foreach(explode(',',$subcats) as $subCatid)
        foreach ($children as $_sub_category)
        {
           // $_sub_category = Mage::getModel('catalog/category')->load($subCatid);
           // var_dump($_sub_category->getShowOnFrontPage());
            if($_sub_category->getIsActive() && 233 == $_sub_category->getShowOnFrontPage())
            {
                $_class = '';
                if($_i == 0) {
                    $_class = 'active';
                }
                $output .= '<li  class="'.$_class.' sub-category-name featured-category-sub" data-id="'.$_sub_category->getId().'">
                        <a>'.$_sub_category->getName().'</a></a>';
                $_i++;
            }

        }
        $output .= '</ul>';
        $output .= '</div>';


        $output .= '<div class="categories-featured-products col-md-10">';
        $_class = 'ajax-products-cat-id-'.$category->getId();
        $output .= '<div class="ajax-result '.$_class.'"></div>';
        $output .= '</div>';

        $output .= '<script type="text/javascript">
                        $j(document).ready(function(){
                            //$j(".featured-category-sub.active").clickFeaturedCategoryTab();
                            //$j(".'.$_class.'").getFeaturedCategoriesProducts('.$category->getId().');
                        });
                    </script>';
        $output .= '</div>';
        $output .= '</div>';
        echo $output;
    endforeach;
endif;

?>
