<div class="homepage-lastest-deals">
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('homepage-lastest-deals')->toHtml(); ?>
    <div class="homepage-lastest-deals-content">
        <img src="<?php echo $this->getSkinUrl(); ?>/images/ajax-loader.gif" class="loading" />
    </div>
</div>