<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('sell_on_duukaan_banner')->toHtml(); ?>
<div id="tabs">
	<?php
	$session = Mage::getSingleton("core/session");
	$session->unsetData('isSellduukaan');
	//	$session->unsetData('packageSelect');
	?>
	<ul>
		<li><a href="#why-afrique-mall">Why Duukaan</a></li>
		<li><a href="#joining-afrique-mall">Joining Duukaan</a></li>
		<li><a href="#how-it-work">Features</a></li>
		<li><a href="#faq">FAQ</a></li>
	</ul>
	<div id="why-afrique-mall" class="block-identify-why-afrique-mall">
		<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('why-afrique-mall')->toHtml(); ?>
	</div>
	<div id="joining-afrique-mall" class="block-identify-joining-afrique-mall">
		<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('joining-afrique-mall')->toHtml(); ?>
	</div>
	<div id="how-it-work" class="block-identify-how-it-work block-idenfify-package">
		<?php //echo $this->getLayout()->createBlock('cms/block')->setBlockId('how-it-work')->toHtml(); ?>
		<?php echo $this->getLayout()->createBlock('core/template')->setTemplate('ves_membership/become_seller.phtml')->toHtml(); ?>
	</div>
	<div id="messages-popup-vendor-login" class="popup" style="display: none;background: white;">
		<?php
		$block = $this->getLayout()->createBlock('vendors/form_login');
		$block->setTemplate('ves_vendors/form/login.phtml');
		echo $block->toHtml();
		?>
	</div>
	<div id="messages-popup-vendor-not-approved" class="popup" style="display: none;background: white;">
		<p>Vendor not approved!</p>
	</div>
	<div id="faq">
		<?php $faqcategories = Mage::getResourceModel('mageplaza_kb/category_collection')
				->addStoreFilter(Mage::app()->getStore())
				->addFieldToFilter('show_in_merchant_home', 1);

		$i = 1;
		$faq_html = '';
		foreach ($faqcategories as $faqcategory) {
			$articles = Mage::getResourceModel('mageplaza_kb/article_collection')
					->setStoreId(Mage::app()->getStore()->getId())
					->addAttributeToSelect('*')
					->addAttributeToFilter('status', 1);
			$articles->addCategoryFilter($faqcategory->getId());
			$articles->getSelect()->order('position asc');

			foreach ($articles as $article) {
				//var_dump($article->getPosition());
				if ($i == 1) {
					$faq_html .= '<div class="row">';
				}
				$faq_html .= '<div class="col-md-12 Faq-block">';
				$faq_html .= '<a class="Faq-title">' . $article->getName() . '</a>';
				$faq_html .= '<div class="Faq-content">' . $article->getContent() . '</div>';
				$faq_html .= '</div>';
				if ($i == 1) {
					$faq_html .= '</div>';
					$i = 1;
				} else {
					$i++;
				}
			}

//			$_array_article = array();
//			$condition = array();
//			foreach ($articles as $key => $value) {
//				$_array_article[$key] = $value;
//				$condition[$key] = $value->getPosition();
//			}
//
//			array_multisort($condition, SORT_ASC, $_array_article);
//
//			foreach ($_array_article as $article) {
//				var_dump($article->position);
//				if ($i == 1) {
//					$faq_html .= '<div class="row">';
//				}
//				$faq_html .= '<div class="col-md-12 Faq-block">';
//				$faq_html .= '<a class="Faq-title">' . $article->name . '</a>';
//				$faq_html .= '<div class="Faq-content">' . $article->content . '</div>';
//				$faq_html .= '</div>';
//				if ($i == 1) {
//					$faq_html .= '</div>';
//					$i = 1;
//				} else {
//					$i++;
//				}
//			}

		}
		if ($i < 1) {
			$faq_html .= '</div>';
		}
		echo $faq_html;
		?>
	</div>
</div>
<script type="text/javascript">
	$j(function () {
		$j("#tabs").tabs();
		//$j('#messages-popup-login').bPopup();
	});
</script>