<?php $maps = $this->getMap() ;
$i=0;
?>
<ul>
	<?php foreach($maps as $map):
		$position = explode("|", $map->getData("position"));
	?>
		<li style="border:1px solid #CDCDCD;padding:10px;margin-bottom: 5px;">
				<div id="box-map-<?php echo $map->getId() ?>">
				<div style="float:left;width:10px">
					<input type="radio" name="map_address" onclick ="findMapAddress('<?php echo $position[0] ?>','<?php echo $position[1] ?>','<?php echo $i ?>')" value="<?php echo $i ?>">
				</div>
									<div style="float:right;width:228px">
				     						<div style="float:left;width:50px">
                                                <a class="map-colorbox-logo" href="<?php echo $this->getUrlImage($map->getId());?>"><img src="<?php echo $this->getUrlImage($map->getId());?>" width="50px" height="50px"></a>
					 						</div>
					 						<div style="float:right;width:170px">	
												<?php echo  $this->__("Title : ");?>
												<?php echo $map->getData("title") ;?> 
												<br />
												<?php echo $this->__("Address : ") ; ?>
					 							<?php echo $map->getData("address") ;  ?>
					 							<br />
												<?php echo $this->__("Telephone : ") ?>
					 							<?php echo $map->getData("telephone")  ?>
					 						</div>
					 					<div style="clear:both"></div>
									</div>
								<div style="clear:both"></div>
								<div style="float:right;margin:5px 5px 0px 5px">
                                <input type="hidden" name="vendor[logo_url]" id="logo_url_<?php echo $i ?>" value="<?php echo $this->getUrlImage($map->getId());?>"/>
								<a href="javascript:void(0)" onclick="showFormEdit('<?php echo $map->getId() ?>','<?php echo $i?>')" style="margin-right:10px;color:#FFAA33"><?php echo $this->__("Edit") ?></a>
								<a href="javascript:void(0)" onclick="deleteMarker('<?php echo $map->getId() ?>','<?php echo $i?>')" style="color:#FFAA33"><?php echo $this->__("Delete") ?></a>
							</div>
						<div style="clear:both"></div>
					</div>
				<div  style="display:none;" id="box-map-edit-<?php echo $map->getId(); ?>">

		</div>
	</li>
	<?php
	$i++;
	endforeach;?>
</ul>
<script type="text/javascript">
    $j(".map-colorbox-logo").colorbox({rel:'map-colorbox-logo'});
</script>