<!--@subject RMA # {{var request.getIncrementId()}} @-->

<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$vendor.name":"Vendor Name",
"store url=\"vendors/account/\"":"Vendor Account Url",
"var vendor.email":"Vendor Email",
"htmlescape var=$vendor.password":"Vendor Password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top" style="text-align: center">
                            <a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" width="300" style="margin-bottom:10px;" border="0"/></a>
                        </td>
                    </tr>
                    <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"> Dear {{var name}},</h1>
                            <p>{{var content}}</p>
                            <p>-------------------</p>
                            <p>To view/respond to the RMA, please login to the RMA system.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>