<!--@subject RMA # {{var request.getIncrementId()}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
            <!-- [ header starts here] -->
            <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:none;">

                <!-- [ middle starts here] -->

                <tr>
                    <td valign="top">
                        <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"> Dear {{var name}},</h1>
                        <p>{{var content}}</p>
                        <p><a target="_blank" href="{{var url}}" style="display: inline-block; word-wrap: break-word">Link to view detail.</a></p>
                        <p>-------------------</p>
                        <p>To view/respond to the RMA, please login to the customer account or view link.</p>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer"}}