<h2><?php echo $this->__('BLOG POSTS') ?></h2>
<?php $posts = $this->getPosts(); ?>
<div id="messages_product_view">
    <?php Mage::app()->getLayout()->getMessagesBlock()->setMessages(Mage::getSingleton('customer/session')->getMessages(true)); ?>
    <?php echo Mage::app()->getLayout()->getMessagesBlock()->getGroupedHtml(); ?>
</div>

<?php echo $this->getChildHtml('aw_blog_comments_toolbar'); ?>
<?php foreach ($posts as $post): ?>
    <div class="postWrapper">
        <div class="postTitle">
            <h2><a href="<?php echo $post->getAddress(); ?>" ><?php echo $post->getTitle(); ?></a></h2>
            <h3 class="post-in-wrap">
                <?php $postCats = $post->getCats(); ?>
                <?php if (!empty($postCats)): ?>
                    <?php // echo Mage::helper('blog')->__('Posted in'); ?>
                    <?php foreach ($postCats as $data): ?>
                        <a href="<?php echo $data['url']; ?>"><?php echo $data['title']; ?></a>
                    <?php endforeach; ?>
                <?php else: ?>
                    <?php echo Mage::helper('blog')->__('Posted'); ?>
                <?php endif; ?>
            </h3>
            <h3><?php echo $post->getCreatedTime(); ?></h3>
        </div>
        <div class="row">
            <div class="col-md-4 post-thumbnail">
                <?php $thumbnail = $post->getThumbnail(); ?>
                <?php if($thumbnail) : ?>
                <a href="<?php echo $post->getAddress(); ?>" >
                    <img width="340" height="245" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$thumbnail; ?>" />
                </a>
                <?php endif; ?>
            </div>
            <div class="col-md-8 post-teaser">

                <div class="postContent std"><?php echo $post->getPostContent(); ?></div>

                <?php echo $this->getBookmarkHtml($post) ?>
                <div class="tags"><?php echo $this->getTagsHtml($post) ?></div>
                <div class="postDetails">
                    <?php if ($this->getCommentsEnabled()): ?>
                        <?php echo $post->getCommentCount(); ?> <a href="<?php echo $post->getAddress(); ?>#commentBox" > <?php echo Mage::helper('blog')->__('Comments'); ?></a> |
                    <?php endif; ?>


                    <?php /* echo $this->__("By"); ?> <?php echo $post->getUser(); */?>
                </div>
                <p class="post-readmore"><a href="<?php echo $post->getAddress(); ?>" ><?php echo $this->__('Read more') ?></a></p>
            </div>
        </div>

    </div>
<?php endforeach; ?>
<?php echo $this->getChildHtml('aw_blog_comments_toolbar'); ?>