<?php if($this->getBanner()->getId()):?>
<ul class="messages">
	<li class="notice-msg">
		<ul>
			<li><?php echo $this->__("Please copy and paste pieces of code below to a place in the static page which you want to display this banner")?></li>
		</ul>
	</li>
</ul>
<pre>
	{{block type="bannermanager/banner" name="banner_<?php echo $this->getBanner()->getId()?>" banner_id='<?php echo $this->getBanner()->getIdentifier()?>'}}
</pre>
<br />
<ul class="messages">
	<li class="notice-msg">
		<ul>
			<li><?php echo $this->__("Please copy and paste pieces of code below to a place in xml layout file which you want to display this banner")?></li>
		</ul>
	</li>
</ul>
<pre>
	&lt;block type="bannermanager/banner" name="banner_<?php echo $this->getBanner()->getId()?>"&gt;
		&lt;action method="setBannerId"&gt;&lt;banner_id&gt;<?php echo $this->getBanner()->getIdentifier()?>&lt;/banner_id&gt;&lt;/action&gt;
	&lt;/block&gt;
</pre>
<br />
<ul class="messages">
	<li class="notice-msg">
		<ul>
			<li><?php echo $this->__("Demo xml layout file")?></li>
		</ul>
	</li>
</ul>
<pre>
	&lt;?xml version="1.0"?&gt;
	&lt;layout version="0.1.0"&gt;
	    &lt;default&gt;
	    	&lt;reference name="head"&gt;
	       		&lt;action method="addCss"&gt;&lt;stylesheet&gt;xmage_bannermanager/css/style.css&lt;/stylesheet&gt;&lt;/action&gt;
	       &lt;/reference&gt;
	    &lt;/default&gt;
	    &lt;bannermanager_index_index&gt;
	       &lt;reference name="content"&gt;
			&lt;block type="bannermanager/banner" name="banner_<?php echo $this->getBanner()->getId()?>"&gt;
				&lt;action method="setBannerId"&gt;&lt;banner_id&gt;<?php echo $this->getBanner()->getIdentifier()?>&lt;/banner_id&gt;&lt;/action&gt;
			&lt;/block&gt;
	       &lt;/reference&gt;
	    &lt;/bannermanager_index_index&gt;
	&lt;/layout&gt; 
</pre>
<?php else:?>
<ul class="messages">
	<li class="notice-msg">
		<ul>
			<li><?php echo $this->__("You must save this banner first to see the implement code.")?></li>
		</ul>
	</li>
</ul>
<?php endif;?>