<?php if($this->getBanner()->getId()):?>
<ul class="messages">
	<li class="notice-msg">
		<ul>
			<li><?php echo $this->__("You can copy this code below to use in the static page or static block where you want to display this image")?></li>
		</ul>
	</li>
</ul>
<br />
<pre>
{{image image_id='<?php echo $this->getBanner()->getIdentifier()?>'}}
</pre>
<br />
<ul class="messages">
	<li class="notice-msg">
		<ul>
			<li><?php echo $this->__("You can specify width or height or both width and height for the image")?></li>
		</ul>
	</li>
</ul>
<br />
<pre>
{{image image_id='<?php echo $this->getBanner()->getIdentifier()?>' width="100"}}

{{image image_id='<?php echo $this->getBanner()->getIdentifier()?>' height="100"}}

{{image image_id='<?php echo $this->getBanner()->getIdentifier()?>' width="100" height="100"}}
</pre>
<br />
<?php else:?>
<ul class="messages">
	<li class="notice-msg">
		<ul>
			<li><?php echo $this->__("You must save this banner first to see the implement code.")?></li>
		</ul>
	</li>
</ul>
<?php endif;?>