<?php $_product = $this->getProduct();?>
<?php $_vendor	= $this->getVendor();?>

<div style="position: relative;">
   <img class="pricecomparison-logo" src="<?php echo $this->getImageUrl($_vendor->getLogo())?>" style="float: left; margin-right: 5px;" width="<?php echo $this->getLogoWidth()?>" height="<?php echo $this->getLogoHeight();?>" />
   <?php if($this->isEnabledVendorHomePage()):?>
	  <a class="seller-name" target="_blank" href="<?php echo $this->getVendorPage($_vendor)?>"><?php echo $_vendor->getTitle()?></a>
   <?php else:?>
	  <strong><?php echo $_vendor->getTitle()?></strong>
   <?php endif;?>
</div>
