
.result_order_box,.result_order_box, .result_operator_box{height: 200px;z-index:999;overflow: scroll;background:#ffffff; border-color: #C8C8C8 #C8C8C8 #AAAAAA #AAAAAA;border-style: solid;border-width: 1px;}
.result_order_box ul li ,.result_order_box ul li, .result_operator_box ul li{cursor: pointer;line-height: 1.3em;min-height: 32px;padding:0 0.7em;text-align: left;margin:0px!important;}
.result_order_box ul li a,.result_order_box ul li a, .result_operator_box ul li a{cursor:pointer;padding:10px;text-decoration:none;color: #2F2F2F;line-height: 1.3em;display:block;}
.result_order_box ul li:hover,.result_order_box ul li:hover,.result_operator_box ul li:hover{background:#DCEBF0;}
.result_order_box .total,.result_order_box .total, .result_operator_box .total{background: none repeat scroll 0 0 #BBCCDD;color: #111111; cursor: default;font-size: 10px;height: 25px;padding-right: 10px;text-align: right;line-height: 25px;min-height: 25px;}
.result_order{z-index:999;height:auto;position:absolute;width: 287px;}


.vendors-rma-request-edit .columns{background: url("../../images/side_col_bg.gif") repeat-y scroll 350px 0 transparent;}
.vendors-rma-request-edit .columns .side-col{width: 350px;}
.vendors-rma-request-edit .columns .main-col{margin-left: 340px;}

.adminhtml-rma-request-edit .columns{background: url("../../images/side_col_bg.gif") repeat-y scroll 350px 0 transparent;}
.adminhtml-rma-request-edit .columns .side-col{width: 350px;}
.adminhtml-rma-request-edit .columns .main-col{margin-left: 340px;}

.request-information{width: 100%}
.request_tabs{margin-right:10px;background:none;margin-bottom:20px}
.request_tabs li{overflow:hidden; background: url("../../images/tabs_span_bg.gif") repeat-x scroll 0 100% transparent; min-height: 30px;line-height: 30px;}
.request_tabs .label{float:left;width:105px}
.request_tabs .span-note{color: red;display: block;float: right;font-size: 11px;font-style: italic;width: 230px; line-height: 15px;margin-bottom: 5px;}
.request_tabs .value{float:left;width:215px}
.request_tabs .active{width:235px!important}
.request_tabs .active-star,.active-star{display: block;height: 25px;width: 25px;cursor:pointer;}
.request_tabs .on,.star-on{background: url("images/star-on.png") no-repeat scroll left center;  margin-left: 15px;}
.request_tabs  .off,.star-off{background: url("images/star-off.png") no-repeat scroll left center;   margin-left: 15px;}
.request_tabs .value span{font-weight:bold;}
.request_tabs .edit-field{float:right;}
.request_tabs .edit-box{overflow:hidden;}
.request_tabs .edit-box input{width:175px!important;}
.request_tabs .edit-box .rule-param-apply{float:right;margin-right:2px;}
.request_tabs .edit-box .rule-chooser-trigger,#ticket_note_tabs_action .rule-chooser-trigger{padding:0px 2px;text-decoration: none;}
#request_note_tabs_label span.add-notes{color: #d3d3d3;font-size: 20px;font-weight: bold;left: 80px;position: absolute;top: 95px;}
#request_note_tabs_label pre{white-space: pre-wrap;}
#request_note_tabs_label{border: 1px dotted #FFAA33;min-height: 200px; width: 307px;cursor:pointer;padding:15px;position:relative}


/* css icon attachment*/
.attachment .icon-attachment{padding-left:20px;}
.attachment .icon-jpg , .message-box .attachment .icon-jpeg{background: url("images/icon/jpg.png") no-repeat scroll left center transparent;}
.attachment .icon-png{background: url("images/icon/png.png") no-repeat scroll left center transparent;}
.attachment .icon-gif{background: url("images/icon/gif.png") no-repeat scroll left center transparent;}
.attachment .icon-pdf{background: url("images/icon/pdf.png") no-repeat scroll left center transparent;}
.attachment .icon-zip{background: url("images/icon/zip.png") no-repeat scroll left center transparent;}
.attachment .icon-rar{background: url("images/icon/rar.png") no-repeat scroll left center transparent;}
.attachment .icon-txt{background: url("images/icon/txt.png") no-repeat scroll left center transparent;}
.attachment .icon-doc{background: url("images/icon/doc.png") no-repeat scroll left center transparent;}
.attachment .icon-csv{background: url("images/icon/xls.png") no-repeat scroll left center transparent;}
.attachment .icon-default{background: url("images/icon/_blank.png") no-repeat scroll left center transparent;}
.form-reply .button{text-align:right;margin-top:5px;float:right}
.form-reply .button button{width:100px;}
.form-reply .add-file{float:left;;margin-top:5px;text-align: left}
.message-box-department{background:#e4f5ff;}
.message-box-admin{background:#fbdcac;}
.message-box-customer{background: url("images/bg_ticket_messages.png") repeat scroll 0 0;}
.message-box {border-color: #c9c9c9 #c9c9c9 #c9c9c9 #c9c9c9;border-style: solid;border-width: 1px;overflow-x: auto;padding:7px 7px;clear:both;border-bottom:none;min-height: 40px;}
.message-box-last{border-bottom:1px solid #c9c9c9}
.message-box .message-header {overflow:hidden;cursor:pointer;background: url("images/message-title.png") no-repeat scroll left center transparent;}
.message-box .attachment{border-top:1px solid #C9C9C9; font-weight: bold; line-height: 2em;margin-bottom: 0;margin-top: 1em; min-height: 2em;padding: 0 0.8em;}
.message-box .attachment a{color:#696969}
.message-box .attachment ul li{float:left;margin:0px 5px}
.message-box .message-body,.message-box .messagedit{padding-top:15px;padding-left:40px}
.message-box .message-header span.label{width:100%;float:left;color:#696969;font-size: 12px;font-weight: bold;}
.message-box .message-header span.do-quote{cursor:pointer;}
.message-box blockquote{background: none repeat scroll 0 0 transparent;border-left: 2px solid #999999;height: auto;padding-left: 10px;padding-top: 0;width: auto;font-style: italic;}
.arrow_up_ticket{background:#fff;}
.arrow_up_ticket  .header_link{width: 83%!important;}
.arrow_up_ticket  .header_link_top{width: 810px!important;}
.arrow_up_ticket  .header_link_no_edit{width: 86%!important;}
.arrow_up_ticket  .header_link_no_reply{width: 89%!important;}
.arrow_up_ticket  .header_link_no_reply_edit{width: 92%!important;}
.message-box .discription-message{padding-left:40px}
.ves-validation-failed{border:1px solid red}
.discription-message .do-discription span,.discription-message .reply span{color:#696969;font-weight:bold}
.message-box .quote-message {float:right}
.message-box .quote-message .do-action{cursor:pointer;padding-left:8px;text-decoration: none;}
.message-box .header_link{cursor:pointer;display: block;padding-left: 40px;overflow:hidden;float: left;width: 95%;height:22px}
.message-box .header_link span{float:right}
.reply-message{margin-top:20px;text-align: center}
.form-reply{margin-top:20px;}

#loading-mask-request{color: #D85909; font-size: 1.1em; font-weight: bold;opacity: 0.8;position: absolute;text-align: center;z-index: 500;}
#loading-mask-request .loader {background: none repeat scroll 0 0 #FFF4E9; border: 2px solid #F1AF73;color: #D85909;font-weight: bold;left: 50%;margin-left: -105px;padding: 15px 30px; position: fixed;text-align: center;top: 45%;width: 150px;z-index: 1000;}


#sales_order_view_tabs_rma_content .content-header{border: 0px;}
#rmarequest_tabs_notes_content .form-list{width: 50%}
#rmarequest_tabs_notes_content .buttons-set{text-align: right}
.view-note-rma blockquote{
    background: url("images/quote_mark.gif") no-repeat scroll right top #ffffff;
    border: 1px solid #D4E1E7;
    margin-top: 10px;
    padding: 10px;
    min-height: 30px;

}
.view-note-rma .note-attachment{margin-top:10px; }
.view-note-rma .note-attachment ul li{margin-top: 5px;}
.view-note-rma .notes{padding: 20px; border: 1px solid #D4E1E7;margin-bottom: 20px;}