<div class="entry-edit">
<div class="entry-edit-head"><h4><?php echo $this->__('Billing Amount')?></h4></div>
	<fieldset class="a-center bold">
		<span style="font-size:18px; color: #996515;" class="nowrap"><span class="price"><?php echo $this->getBilling();?></span><span style="font-size:14px; color:#686868;"></span></span>
	</fieldset>
</div>