<?php $maps = $this->getMapCollection() ;
$i=0;
?>
    <?php foreach($maps as $map):
        $position = explode("|", $map->getData("position"));
        $vendor = Mage::getModel("vendors/vendor")->load($map->getVendorId());
        ?>
        <li  onclick ="findMapAddressCustomer(<?php echo $position[0] ?>,<?php echo  $position[1] ?>,<?php echo $i ?>)" rel="<?php echo $i ?>" <?php if($i == sizeof($maps)-1) echo 'class="last"'?>>
            <div id="box-map-<?php echo $map->getId() ?>">
                <div class="radio-button">
                    <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."ves_vendors/map/marker.png" ?>" />
                    <span><?php echo $map->getData("title") ;?></span>
                </div>
                <div class="details-address">
                    <div id="map-thumbnail-logo-<?php echo $i ?>" class="details-address-logo">
                        <a class="map-colorbox-logo" href="<?php echo $this->getUrlImage($map->getId(),$map->getVendorId());?>"><img src="<?php echo $this->getUrlImage($map->getId(),$map->getVendorId());?>" width="50px" height="50px"></a>
                    </div>
                    <div class="details-address-content">
                        <p class="view">
                            <span><?php echo $map->getData("address") ?></span>,
                            <span><?php echo $map->getData("city") ?></span>,
                            <?php if($map->getData("region_id")):  ?>
                                <span><?php echo $this->getRegionName($map->getData("region_id")) ?></span>,
                            <?php endif ?>
                            <?php if($map->getData("region")):  ?>
                                <span><?php echo $map->getData("region") ?></span>,
                            <?php endif ?>
                            <span><?php echo $this->getCountryName($map->getData("country_id")) ?></span>
                        <p>
                            <?php echo $this->__("Phone : ") ?>
                            <?php echo $map->getData("telephone")  ?>
                        </p>
                        <p>
                            <?php echo $this->__("Zip : ") ?>
                            <?php echo $map->getData("postcode")  ?>
                        </p>
                        <p>
                            <?php echo $this->getTypeNameMap($map->getData("attribute"))  ?>
                        </p>
                    </div>
                    <div style="clear:both"></div>
                </div>
                <div style="clear:both"></div>
                <a href="<?php echo Mage::helper("vendorspage")->getUrl($vendor->getVendorId(),"map") ?>" class="view-link" target="_blank"><?php echo $this->__("View on vendor map") ?></a>
                <input type="hidden" name="vendor[logo_url]" id="logo_url_<?php echo $i ?>" value="<?php echo $this->getUrlImage($map->getId(),$map->getData("vendor_id"));?>"/>
            </div>
        </li>
        <?php
        $i++;
    endforeach;?>
	<script type="text/javascript">
	    $j(".map-colorbox-logo").colorbox({rel:'map-colorbox-logo'});
	</script>

