#vendors_map .form-list{width: 100%}
#vendors_map .left-map{margin-bottom:15px;float:left;width:28%;margin-right:10px}
#vendors_map .left-map .button-new-address{margin-bottom:10px;margin-left: 5px;}
#vendors_map .left-map .form-new-address{margin-bottom:15px;padding:10px;background: #e5e5e5;border:1px solid #CDCDCD;}
#vendors_map .left-map .vendor-map-list{margin-bottom:10px;overflow:auto;max-height:485px}
#vendors_map .left-map .vendor-map-list ul{padding: 5px;}
#vendors_map .left-map .vendor-map-list li{border:1px solid #CDCDCD;padding:10px;margin-bottom: 5px;background: #ffffff}
#vendors_map .left-map .vendor-map-list li.active-edit{background: #e5e5e5}
#vendors_map .left-map .vendor-map-list .radio-button{ margin-bottom: 10px;  margin-left: 7px;  overflow: hidden;}
#vendors_map .left-map .vendor-map-list .radio-button span{color:#3399cc;padding-left: 5px;font-weight: bold;/*background: url("images/marker.png") no-repeat left center;*/}
#vendors_map .left-map .vendor-map-list .radio-button img{vertical-align: middle;padding-left: 10px}
#vendors_map .left-map .vendor-map-list .radio-button input{vertical-align: middle}
#vendors_map .left-map .vendor-map-list .details-address{}
#vendors_map .left-map .vendor-map-list .details-address-logo{float:left;width:50px}
#vendors_map .left-map .vendor-map-list .details-address-content{float:right;width:170px}
#vendors_map .left-map .vendor-map-list .details-address-content p{color: #636363}
#vendors_map .left-map .vendor-map-list .details-address-content .view{font-weight: bold}
#vendors_map .left-map .vendor-map-list .details-button{float:right;margin:5px 5px 0px 5px}
#vendors_map .left-map .vendor-map-list .details-button a{margin-right:10px;color:#FFAA33}
#vendors_map .left-map .field{margin-bottom:5px}
#vendors_map .input-text{width: 220px}
#vendors_map .validate-select{width: 227px;}
.vendor_cp #vendors_map .validate-select{width: 235px;}
#vendors_map .left-map .field label{display:block;margin:0px 2px 2px;}
#vendors_map .left-map .field .image-thumbnail{margin-bottom:5px;width:150px}
#vendors_map .left-map .field .image-thumbnail a{color:#FFAA33;display:block;text-align:center;width:150px}
#vendors_map .clear{clear:both; margin-top:10px;}
#vendors_map .right-map{margin-bottom:15px;float:right;width:70%;}
#map_canvas{width: 100%; height: 500px; overflow: hidden;}