// Color set
$white: #fff;
$lightGray: #f3f3f3;
$gray: #acacac;
$black: #3c3c3c;
$green: #159867;
$blue: #29a1d4;
$red: #f26d7d;
$brown: #998675;
$yellow: #edb016;
$orange: #FF5F21;
$lime: #8eaf3e;
$cyan: #69c9c3;

$color-foreground: $black;
$color-inverse: $white;
$color-default: $gray;
$color-primary: $green;
$color-success: $blue;
$color-info: $cyan;
$color-warning: $yellow;
$color-danger: $red;
$color-alternative: $brown;
$color-highlight: $orange;

$color-primary-darker: darken($color-primary, 5%);
$color-default-darker: darken($color-default, 5%);
$color-lightGray-darker: darken($lightGray, 10%);

// Font
$font-size: 14px;

// Others
$side-space: 44px;
$side-space-sm: 15px;
$base-height: 33px;
$base-height-sm: 28px;