.easyslideslider-id { position: relative; z-index: 5; margin-bottom: 10px; }
.easyslideslider-id .scroller { overflow: hidden; position: relative; }
.easyslideslider-id .content { padding: 0px;position: relative; }
.easyslideslider-id .section { overflow:hidden; position: absolute; top: 0; }
.easyslideslider-id img { border: none; }

.easyslide-description {
    position: absolute;
    overflow: hidden;
    padding: 15px 20px;
    text-align: left;
    font: 12px Arial, Helvetica, sans-serif !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.easyslide-description-top    { top: 0; left: 0; width: 100%; }
.easyslide-description-bottom { bottom: 0; left: 0; width: 100%; }
.easyslide-description-right  { right: 0; top: 0; width: 200px; min-height: 1000px; }
.easyslide-description-left   { left: 0; top: 0; width: 200px; min-height: 1000px; }
.easyslide-background-light { background: url(../images/light.png) repeat 0 0; color: #000; }
.easyslide-background-dark { background: url(../images/dark.png) repeat 0 0; color: #fff; }

.easyslide-description a { text-decoration: none; color: #5a5a5a; }
.easyslide-description a:hover { text-decoration: underline; }
.easyslide-description p { line-height: 20px; text-align: center; }

.easyslide-controls-wrapper { position: absolute; right:15px; bottom:15px; z-index:1000; }
.easyslide-controls {}
.easyslide-controls a { float: left; width: 15px; height: 17px;
    margin: 0px 2px; text-decoration: none; font-weight: bold;
    overflow: hidden; text-align:center;
    background: url(../images/control.png) no-repeat -1000px -1000px;
}
.easyslide-controls a.easyslideprev { background-position: -60px -26px; }
.easyslide-controls a.easyslidenext { background-position: -48px -41px; }
.easyslide-controls a.easyslidestop { background-position: -75px -11px; }
.easyslide-controls a.easyslideplay { background-position: -90px 3px; }
.easyslide-controls a:hover, .easyslide-controls a.active {}

.easyslide-controls .easyslide-num {
    background-image: none;
    background-color: #cbcbcb;
    color: #000;
    padding: 1px 6px;
    width: auto;
    height: auto;
    opacity: 0.6;
    font: bold 12px Arial, Helvetica, sans-serif;
}
.easyslide-controls .easyslide-num.active { background-color: #f3f3f3; opacity: 1; }
