<?php $priceComparison = $this->getPriceComparison();?>
<?php $_product = $this->getProduct();?>
<button onclick="priceComparisonForm.submit(this)" data-pricecomparison="<?php echo $priceComparison->getId()?>" class="button btn-cart" title="<?php echo $this->__('Add to Cart')?>" type="button"><span><span><?php echo $this->__('Add to Cart')?></span></span></button>