<div class="box-top">
    <div class="refesh-product">
        <a href="javascript:void(0)" onclick="Comparison.changePage(1)" class="refesh-product-button"><?php echo $this->__("Reset") ?></a>
    </div>
    <div class="search-product">
            <input type="text"  id="search-product-q" />
            <input type="submit" value="Search" onclick="Comparison.seacrh()" />
    </div>
    <div style="clear: both"></div>
</div>
<div class="box-bottom">
<table class="data-table product-vendor-table" id="ves-product-vendor-table">
    <col width="1" />
    <col width="1" />
    <col />
    <col width="1" />
    <col width="1" />
    <col width="1" />
    <thead>
    <tr>
        <th class="last" width="5%"><?php echo $this->__('Id') ?></th>
        <th><span class="nobr"><?php echo $this->__('Thumbnail') ?></span></th>
        <th><?php echo $this->__('Name') ?></th>
        <th><?php echo $this->__('Type') ?></th>
        <th><span class="nobr"><?php echo $this->__('Sku'); ?></span></th>
        <th><span class="nobr"><?php echo $this->__('Price') ?></span></th>
    </tr>
    </thead>
    <tbody id="list_product_vendor_comparison">

    </tbody>
</table>
<div class="page-bottom">
     <div id="page-list-product-vendor-comparison" class="">

    </div>
    </div>

    <div id="ves_pricecomparison_loading_product" class="ves_pricecomparison-loading-box" style="display: none;">
        <img src="<?php echo $this->getSkinUrl('ves_vendorspricecomparison/images/loading10.gif')?>" /><br />
        <span><?php echo $this->__("Loading....") ?></span>
    </div>
    <div id="ves_pricecomparison_overlay_product" class="ves_pricecomparison-overlay" style="display: none;"></div>
</div>



<script type="text/javascript">
    decorateTable('ves-product-vendor-table');
    var productloadingBox = new ComparisonLoadingBox('ves_pricecomparison_loading_product','ves_pricecomparison_overlay_product');
</script>