

.ves-livechat-container .livechat-tabs {
    position: relative;
	margin: 20px auto;
	width: 70%;
    /*
    box-shadow: 0 3px 7px #222222;
    */
    border:1px solid #D6D6D6;
    float: left;
}

.ves-livechat-container .livechat-tabs .chat-header{background: none repeat scroll 0 0 #F2F2F2;padding: 10px 10px 0; overflow: hidden;min-height:32px}

/*
.livechat-tabs .tab a {
	position: absolute;
	z-index: 1000;
	width: 120px;
	height: 40px;
	left: 0px;
	top: 0px;
	opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
	cursor: pointer;
}
*/
.ves-livechat-container  .livechat-tabs input#tab-2{
	left: 120px;
}
.ves-livechat-container .livechat-tabs input#tab-3{
	left: 240px;
}
.ves-livechat-container  .livechat-tabs input#tab-4{
	left: 360px;
}

.ves-livechat-container  .livechat-tabs .tab a {
	background: #3B5998;
	font-size: 15px;
	line-height: 32px;
	height: 34px;
	position: relative;
	padding: 0 20px;
    float: left;
	display: block;
	width: 100px;
	color: #ffffff;
	letter-spacing: 1px;
    margin-right: 5px;
    margin-bottom: 1px;
}

.ves-livechat-container  .livechat-tabs .tab a:after {
    content: '';
	background: #fff;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	display: block;
}

.ves-livechat-container .livechat-tabs .tab a:hover{
	/*background: #2B4170;*/
    /*color: #ffffff;*/
}

.ves-livechat-container .livechat-tabs label:first-of-type {
    z-index: 4;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1);
}

.ves-livechat-container .tab-label-23 {
    z-index: 3;
}

.ves-livechat-container .tab-label-24 {
    z-index: 2;
}

.ves-livechat-container .tab-label-4 {
    z-index: 1;
}

.ves-livechat-container .livechat-tabs .tab a.checked{
    background: #fff;
	z-index: 6;
	
    -webkit-animation: page 0.2s linear;
    -moz-animation: page 0.2s linear;
    -ms-animation: page 0.2s linear;
    -o-animation: page 0.2s linear;
    animation: page 0.2s linear;
    color: #2F2F2F!important;
    border: 1px solid #D6D6D6;
    height: 32px;
}

.ves-livechat-container .clear-shadow {
	clear: both;
}

.ves-livechat-container .ves-tabs-chatlive {
    background: #fff;
    border: none;
    right: 0px;
	position: relative;
    width: 100%;
	height: 430px;
	z-index: 5;
	overflow: hidden;
    /*
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
    */
    border-radius: 0 3px 3px 3px;
}
.ves-livechat-container .chat-content .not-show{display:none;}
.ves-livechat-container .chat-content > div {
	top: 0;
	padding: 10px 20px 20px;
	z-index: 1;
    opacity: 0;
    position: absolute;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

.ves-livechat-container .ves-tabs-chatlive .content{
    -webkit-transform: translateX(-250px);
    -moz-transform: translateX(-250px);
    -o-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    transform: translateX(-250px);
}

.ves-livechat-container .content-1, .content-3 {
	-webkit-transform: translateX(-250px);
	-moz-transform: translateX(-250px);
	-o-transform: translateX(-250px);
	-ms-transform: translateX(-250px);
	transform: translateX(-250px);
}

.ves-livechat-container .content-2, .content-4 {
    -webkit-transform: translateX(250px);
	-moz-transform: translateX(250px);
	-o-transform: translateX(250px);
	-ms-transform: translateX(250px);
	transform: translateX(250px);
}


.ves-livechat-container .chat-content .active{
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: all ease-out 0.2s 0.1s;
    -moz-transition: all ease-out 0.2s 0.1s;
    -o-transition: all ease-out 0.2s 0.1s;
    -ms-transition: all ease-out 0.2s 0.1s;
    transition: all ease-out 0.2s 0.1s;
    position: relative;
}

.ves-livechat-container .chat-content .box-content-message{
   /* padding-bottom: 30px;*/
    border: 1px solid #D6D6D6;
    height: 295px;
    overflow: auto;
}
.ves-livechat-container .chat-content .box-content-message-history{
    height:380px;
}
.ves-livechat-container .livechat-tabs .chat-content .box-content-message .note{display: block}
.ves-livechat-container .livechat-tabs .chat-content .box-content-reply{
    margin: 10px 20px 0px;
    overflow: hidden;
}
.ves-livechat-container .livechat-tabs .chat-content .box-content-reply button{
    background:#3B5998 ;
}
.ves-livechat-container .livechat-tabs .chat-content .box-content-reply .reply-bottom{padding: 5px;text-align: right}
.ves-livechat-container .livechat-tabs .chat-content .box-content-reply textarea{width: 98%;resize: none;height:50px;overflow: hidden;outline: none;}
.livechat-tabs .chat-content .box-content-reply textarea.disabled{background:url("../../images/livechat/textareabg.png") repeat }

.ves-livechat-container .chat-content div h2,
.ves-livechat-container .chat-content div h3{
	color: #398080;
}
.ves-livechat-container .chat-content div p {
	font-size: 14px;
	line-height: 22px;
	font-style: italic;
	text-align: left;
	margin: 0;
	color: #777;
	padding-left: 15px;
	font-family: Cambria, Georgia, serif;
	border-left: 8px solid rgba(63,148,148, 0.1);
}

@keyframes "page" {
 0% {
    left: 0;
 }
 50% {
    left: 10px;
 }
 100% {
    left: 0;
 }

}

@-moz-keyframes page {
 0% {
   left: 0;
 }
 50% {
   left: 10px;
 }
 100% {
   left: 0;
 }

}

@-webkit-keyframes "page" {
 0% {
   left: 0;
 }
 50% {
   left: 10px;
 }
 100% {
   left: 0;
 }

}

@-ms-keyframes "page" {
 0% {
   left: 0;
 }
 50% {
   left: 10px;
 }
 100% {
   left: 0;
 }

}

@-o-keyframes "page" {
 0% {
   left: 0;
 }
 50% {
   left: 10px;
 }
 100% {
   left: 0;
 }

}

.ves-livechat-container .livechat-side{
    margin: 20px auto;
    width: 28%;
    /*
    box-shadow: 0 3px 7px #222222;
    */
    float: right;
    min-height: 300px;
}
.ves-livechat-container .livechat-side > div{margin-bottom: 10px;border:1px solid #D6D6D6;}
.ves-livechat-container .livechat-side #ves-tabs-chatlive-status{padding:20px}
.ves-livechat-container .livechat-side .ves-avatar-vendor img{width: 65px; box-shadow: -2px 2px 2px 0 #dddddd;}
.ves-livechat-container .livechat-side .ves-avatar-vendor{float:left;width: 25%}
.ves-livechat-container .livechat-side .ves-chatlive-vendor-info{float: right;width: 72%}

.ves-livechat-container .livechat-side .ves-chatlive-vendor-info .ves-livechat-offline{
    background: url("../../images/livechat/offline.png") no-repeat scroll center left;
}

.ves-livechat-container .livechat-side .ves-chatlive-vendor-info .ves-livechat-online{
    background: url("../../images/livechat/online.png") no-repeat scroll center left;
}

.ves-livechat-container .livechat-side .ves-chatlive-vendor-info .ves-livechat-busy{
    background: url("../../images/livechat/busy.png") no-repeat scroll center left;
}

.ves-livechat-container .livechat-side .ves-chatlive-vendor-info .ves-livechat-invisible{
    background: url("../../images/livechat/invisible.png") no-repeat scroll center left;
}

.ves-livechat-container .livechat-side h5{height: 30px ; background: #F2F2F2; font-size: 12px;font-weight: bold;line-height: 30px;text-transform: uppercase;padding-left: 10px;}
.ves-livechat-container .livechat-side h5 span{float: right;padding: 2px 10px;}
.ves-livechat-container .livechat-side .main-user-info-tab .small{width: 100%;padding:20px;border: 1px solid #D6D6D6;}
.ves-livechat-container .livechat-side .main-user-info-tab{padding:20px;}
.ves-livechat-container .livechat-side .main-user-info-tab .row{margin-top:20px;}
.ves-livechat-container .livechat-side .main-user-info-tab .row .button-set{text-align: right}
.ves-livechat-container .livechat-side .main-user-info-tab .row .button-option{text-align: left;margin-bottom: 20px;}
.ves-livechat-container .livechat-side .icon-audio{
    cursor: pointer;
   /* display: block; */
    margin-top: 4px;
    padding-right: 30px;
    font-size: 14px;
    font-weight: bold;
}
.ves-livechat-container .livechat-side .status-audio-on{
    background: url("../../images/livechat/sound.png") no-repeat scroll right  center rgba(0, 0, 0, 0);
}

.ves-livechat-container .livechat-side .status-audio-off{
    background: url("../../images/livechat/mute.png") no-repeat scroll right  center rgba(0, 0, 0, 0);
}

.ves-livechat-container .ves-tabs-chatlive .discussion {
    list-style: none;
    background: #e5e5e5;
    margin: 0;
    padding: 0 0 40px 0;
    min-height: 295px;
}
.ves-livechat-container .ves-tabs-chatlive .discussion li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}
.ves-livechat-container .ves-tabs-chatlive .discussion .avatar {
    width: 40px;
    position: relative;
}
.ves-livechat-container .ves-tabs-chatlive .discussion .avatar img {
    display: block;
    width: 100%;
}

.ves-livechat-container .ves-tabs-chatlive .other .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.ves-livechat-container .ves-tabs-chatlive .self {
    justify-content: flex-end;
    align-items: flex-end;
}
.ves-livechat-container .ves-tabs-chatlive .self .messages {
    order: 1;
    border-bottom-right-radius: 0;
    background: #DBEDFE;
}
.ves-livechat-container .ves-tabs-chatlive .self .avatar {
    order: 2;
}
.ves-livechat-container .ves-tabs-chatlive .self .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.ves-livechat-container .ves-tabs-chatlive .messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.ves-livechat-container .ves-tabs-chatlive .messages p {
    font-size: 0.8rem;
    margin: 0 0 0.2rem 0;
}

.ves-livechat-container .ves-tabs-chatlive .messages .title {
    display: block;
    font-weight: bold;
    font-style: normal;
}
.ves-livechat-container .ves-tabs-chatlive .messages time {
    font-size: 0.7rem;
    color: #ccc;
}

@-webkit-keyframes blink {
    50% { background: rgba(207, 54, 44, 1); }
}

@-moz-keyframes blink {
    50% { background: rgba(207, 54, 44, 1); }
}

@keyframes blink {
    50% { background: rgba(207, 54, 44, 1); }
}

.ves-livechat-container .ves-tabs-chatlive .page-bottom .blink{
    background-image: none!important;
}
.ves-livechat-container .livechat-tabs .tab a.blink ,.ves-tabs-chatlive .page-bottom .blink{
    -webkit-animation-direction: normal;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: linear;

    -moz-animation-direction: normal;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-timing-function: linear;

    animation-direction: normal;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: blink;
    animation-timing-function: linear;
    background-image: url("../../images/livechat/blink.png");
    background-repeat: no-repeat;
    background-position: 5px 5px!important;
    padding: 0px 10px 0px 35px;
}

.ves_livechat-loading-box{display: block; width: 250px; padding: 20px 0;  position: fixed; top: 40%; left: 50%; margin-left: -125px;text-align: center;z-index: 99999999;}
.ves_livechat-overlay{display: block; width: 100%; height: 100%; position: fixed;top: 0; left: 0; background: #222;opacity: 0.2;z-index: 99999998;}


.ves-livechat-container .livechat-side .ves-chatlive-status{margin-top: 15px}
.ves-livechat-container .livechat-side .ves-chatlive-status option{height: 30px;padding-left: 20px;}

/* General dropdown styles */
.ves-livechat-container .livechat-side .dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; }
/* DT styles for sliding doors */
.ves-livechat-container .livechat-side .dropdown dt a {background:#ffffff url("../../images/livechat/arrow.png") no-repeat scroll right center;
    display:block; padding-right:20px; border:1px solid #cccccc; width:150px;border-radius: 10px;padding-left: 10px;cursor: pointer}
.ves-livechat-container .livechat-side .dropdown dt a span {cursor:pointer; display:block; padding:2px;}
.ves-livechat-container .livechat-side .dropdown dt a span span{padding: 0px}
.ves-livechat-container .livechat-side .dropdown dt a img{padding-right: 10px;padding-top: 5px;padding-left: 0px}
/* UL styles */
.ves-livechat-container .livechat-side .dropdown dd ul {border-radius: 10px; border:1px solid #cccccc;background:#ffffff none repeat scroll 0 0;
    list-style:none; padding:5px 0px; position:absolute;
    left:0px; top:2px; width:auto; min-width:180px;}
.ves-livechat-container .livechat-side .dropdown img{float: left; padding: 5px 0 5px 10px;}
.ves-livechat-container .livechat-side .dropdown span.value { display:none;}
.ves-livechat-container .livechat-side .dropdown dd ul li a { padding:2px; display:block;}
.ves-livechat-container .livechat-side .dropdown dd ul li a:hover{background: #F5F5F5}
.ves-livechat-container .livechat-side .dropdown dd ul li a span{padding-left: 15px}

/*
.ves-livechat-container .livechat-side ..ves-livechat-container .livechat-side .ves-avatar-vendor img ul li{float: left;width: 87px;}
.ves-livechat-container .livechat-side .ves-chatlive-status ul li a,.livechat-side .ves-chatlive-status ul li span{display: block;text-align: center}
*/
.ves-livechat-container .ves-tabs-chatlive .page-top{height: 200px;}
.ves-livechat-container .ves-tabs-chatlive .page-top h2{padding-top: 70px;text-align: center;font-size: 30px;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
    text-transform: uppercase;
}
.ves-livechat-container .ves-tabs-chatlive .page-bottom{height: 200px;border: 1px solid #D6D6D6;overflow: auto;}
.ves-livechat-container .ves-tabs-chatlive .page-bottom h5{
background: none repeat scroll 0 0 #F2F2F2;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    text-transform: uppercase;
}
.ves-livechat-container .ves-tabs-chatlive .page-bottom table{width: 100%;}
.ves-livechat-container .ves-tabs-chatlive .page-bottom tr{height: 25px;line-height: 25px;background: none repeat scroll 0 0 #EFF5FF;cursor: pointer}
.ves-livechat-container .ves-tabs-chatlive .page-bottom tr:hover{background: none repeat scroll 0 0 #c7d9e7; }
.ves-livechat-container .ves-tabs-chatlive .page-bottom td{padding-left: 10px;}
.vendors-livechat-history-view .columns {
    background-position: 280px 0px;
}
.vendors-livechat-history-view .side-col{
    width: 280px;
}
.vendors-livechat-history-view .side-col ul{overflow: hidden}
.vendors-livechat-history-view .side-col ul li .label{float: left;width: 100px}
.vendors-livechat-history-view .side-col ul li span{
    display: block;
    min-height: 36px;
    border: none
}
.vendors-livechat-history-view .side-col ul li{
    height: 45px;
    line-height: 35px;
    overflow: hidden;
    border-bottom: 1px dotted #6B6B6B;
}

.vendors-livechat-history-view .main-col{
    margin-left: 280px;
}

#ves_livechat_content_loading{ opacity: 1;
    position: absolute;
    top: 35%;
    z-index: 100000;
}
#ves_livechat_content_overlay{
    opacity: 0.2;
    z-index: 9999
}