<?php $usedAttributes = $this->getUsedAttributes();?>
<?php $childProducts = $this->getChildProducts();?>
<?php $additionalInfo = $this->getAdditionalInfo();?>

<div class="grid product-options-container">
    <table id="product-options-tbl" class="data" cellspacing="0">
        <colgroup>
            <col width="50" />
            <?php foreach($usedAttributes as $attribute):?>
                <col width="250" />
            <?php endforeach;?>
            <col width="200" />
            <col />
        </colgroup>
        <thead>
            <tr class="headings">
                <th>&nbsp;</th>
                <?php foreach($usedAttributes as $attribute):?>
                    <th><?php echo $attribute->getStoreLabel()?></th>
                <?php endforeach;?>
                <th><?php echo Mage::helper('pricecomparison2')->__('Qty')?></th>
                <th><?php echo Mage::helper('pricecomparison2')->__('Price')?></th>
            </tr>
        </thead>
        
        <tbody>
        <?php foreach($childProducts as $simpleProduct):?>
            <?php $checked = isset($additionalInfo[$simpleProduct->getId()]) && isset($additionalInfo[$simpleProduct->getId()]['enabled']) &&  $additionalInfo[$simpleProduct->getId()]['enabled'];?>
            <?php $addInfo = $additionalInfo[$simpleProduct->getId()];?>
            <?php $productId = $simpleProduct->getId();?>
            <tr>
                <td>
                    <input type="checkbox"<?php if($checked):?> checked="checked"<?php endif;?> name="super_attribute[<?php echo $productId;?>][enabled]" value="1" class="option-checkbox" id="product-option-checkbox-<?php echo $simpleProduct->getId()?>" data-product-id="<?php echo $simpleProduct->getId()?>" />
                </td>
                <?php foreach($usedAttributes as $attribute):?>
                <td>
                    <?php echo $simpleProduct->getAttributeText($attribute->getAttributeCode(), 0)?>
                    <input type="hidden" name="super_attribute[<?php echo $productId;?>][<?php echo $attribute->getId()?>]" value="<?php echo $simpleProduct->getData($attribute->getAttributeCode())?>"/>
                </td>
                <?php endforeach;?>
                <td class="no-event"><input type="text" value="<?php if($checked) echo isset($addInfo['qty'])?$addInfo['qty']:0; ?>" name="super_attribute[<?php echo $productId;?>][qty]" class="input-text required-entry validate-number option-qty" id="product-option-qty-<?php echo $simpleProduct->getId()?>"></td>
                <td class="no-event"><input type="text" value="<?php if($checked) echo isset($addInfo['price'])?$addInfo['price']:0; ?>" name="super_attribute[<?php echo $productId;?>][price]" class="input-text required-entry validate-number option-price" id="product-option-price-<?php echo $simpleProduct->getId()?>"></td>
            </tr>
        <?php endforeach;?>
        </tbody>
    </table>
    <script type="text/javascript">
    var productOptions = new ConfigurableProductOptions('product-options-tbl',{});
    decorateTable('product-options-tbl');
    </script>
</div>